.wrapper {
  padding: 20px 10px;

  &__logo {
    color: $orange;
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
  }

  &__content {
    font-size: 15px;
    line-height: 28px;
    color: #7b7b7b;
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 20px;

    p {
      margin: 0;
      margin-bottom: 5px;
    }
  }

  &__footer {
    text-align: center;
    line-height: 22px;
    font-size: 14px;
    color: #bfbfbf;
    padding: 20px 0;
  }
}
