<div class="nested-fields">
  <div md="24" lg="12" class="ant-row"><b>Address Name</b></div>
  <div md="24" lg="12" class="ant-row"><%= f.text_field :name, placeholder: "Address Name", class: "ant-input", required: true %></div>
  <div md="24" lg="12" class="ant-row"><b>Street Address</b></div>
  <div md="24" lg="12" class="ant-row"><%= f.text_field :street_address, placeholder: "Street Address", class: "ant-input", required: true %></div>
  <div md="24" lg="12" class="ant-row"><b>Region</b></div>
  <div md="24" lg="12" class="ant-row"><%= f.text_field :region, placeholder: "Add Region", class: "ant-input", required: true %></div>
  <div md="24" lg="12" class="ant-row"><b>City</b></div>
  <div md="24" lg="12" class="ant-row"><%= f.text_field :city, placeholder: "city", class: "ant-input", required: true %></div>
  <div md="24" lg="12" class="ant-row"><b>Comuna</b></div>
  <div md="24" lg="12" class="ant-row"><%= f.text_field :comuna, placeholder: "comuna", class: "ant-input", required: true %></div>
  <div md="24" lg="12" class="ant-row"><b>Phone</b></div>
  <div md="24" lg="12" class="ant-row"><%= f.number_field :phone, placeholder: "phone", class: "ant-input", required: true %></div>
  <div md="24" lg="12" class="ant-row"><b>Primary</b></div>
  <div md="24" lg="12" class="ant-row"><%= f.check_box :primary%></div>

  <%= link_to_remove_association "Remove Address", f, class: "btn btn-danger" %>
</div>