<div class="" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog my-model-body modal-lg" role="document">
    <div class="enquiry_form main-model-content modal-content">
      <div class="modal-header editar  block-header bg-gd-primary">
        <h5 class="modal-title header_modtext text-white" id="exampleModalLabel">Add Address</h5>
      </div>

      <div class="modal-body quotes_pad">
        <div class="style_popup"> 
          <%= form_tag private_api_update_address_path, method: :post do |f| %>
            <div class="form-group row">
              <div class="col-md-6">
                <label class="" for="example-text-input-invalid">Address Name:</label>
                <%= text_field_tag 'address[name]', @address.name, placeholder: "Address Name", required: true , class: "form-control"%>
              </div>

              <div class="col-md-6">
                <label class="" for="example-text-input-invalid">Street Address:</label>
                <%= text_field_tag 'address[street_address]', @address.street_address, placeholder: "Street Address", required: true , class: "form-control"%>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6">
                <label class="" for="example-text-input-invalid">Add Region:</label>
                
                <%= select_tag 'address[region]', options_for_select(@regions.collect{|p| [p[1], p[1]]}, @address.region), placeholder: "Add Region", required: true , class: "form-control region"%>
              </div>

              <div class="col-md-6">
                <label class="" for="example-text-input-invalid">City:</label>
                
                <%= select_tag 'address[city]' ,options_for_select(@cities, @address.city), placeholder: "Add City", required: true , class: "form-control city"%>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-6">
                <label class="" for="example-text-input-invalid">Comuna:</label>
                <%= text_field_tag 'address[comuna]', @address.comuna, placeholder: "Add Comuna", required: true , class: "form-control"%>
              </div>
              <div class="col-md-6">
                <label class="" for="example-text-input-invalid">Phone:</label>
                <%= number_field_tag 'address[phone]', @address.phone, placeholder: "Phone", required: true , class: "form-control"%>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-6">
                <label class="" for="example-text-input-invalid">Primary:</label>
                <%= check_box_tag 'address[primary]',@address.primary, placeholder: "Add Primary", required: true , class: "form-control"%>
              </div>
            </div>

            <div class="modal-footer">
              <button type="submit" class="btn btn-alt-success"><i class="fa fa-check"></i> Guardar cambios</button>
              <button type="button" class="btn btn-alt-secondary" data-dismiss="modal">Cerrar</button>
            </div>
            
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

$('.region').change(function() {
    region = $(this).val();
    $.ajax({
      url: '/get_cities',
      type: 'GET',
      data: {
        region: region
      },
      contentType: 'application/json',
      dataType: 'json',
      success: function(data) {
        $('.city').empty();
        $.each(data, function(id, value) {
          $('.city').append("<option value=" + value + ">" + value);
        });
      }
    });
  });

</script>