<div class="" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog my-model-body" role="document">
    <div class=" enquiry_form main-model-content modal-content">
      <div class="modal-header editar">
        <h5 class="modal-title header_modtext" id="exampleModalLabel">Update Notify Preferences</h5>
      </div>
      <span class="close-icon-top close" data-dismiss="modal" aria-label="Close"><img src="<%= image_path('close-icon.png')%>"></span>
      <div class="modal-body mtbedit">
        <div class="popup">
          <%= form_tag private_api_update_notify_preference_path, method: 'post' do |f| %>
            <ul class="model_inputs">
              <li>
                Nuevas Contizaciones y envíos:
              </li>
              <li>
                <div class="popextra-check pul-left">
                  <label class="container">
                    <%= check_box_tag 'notify[new_conf_shipments]', true, (@preference.new_conf_shipments ? true : false) %>
                    <span class="checkmark"></span>
                  </label>
                </div>
              </li>
            </ul>
            <ul class="model_inputs">
              <li>
                Promociones y descuentos:
              </li>
              <li>
                <div class="popextra-check pul-left">
                  <label class="container">
                    <%= check_box_tag 'notify[promo_discount]', true, (@preference.promo_discount ? true : false) %>
                    <span class="checkmark"></span>
                  </label>
                </div>
              </li>
            </ul>
            <ul class="model_inputs">
              <li>
                Pagos:
              </li>
              <li>
                <div class="popextra-check pul-left">
                  <label class="container">
                    <%= check_box_tag 'notify[payment]', true, (@preference.payment ? true : false) %>
                    <span class="checkmark"></span>
                  </label>
                </div>
              </li>
            </ul>
            <ul class="model_inputs">
              <li>
                Despacho / Entrega:
              </li>
              <li>
                <div class="popextra-check pul-left">
                  <label class="container">
                    <%= check_box_tag 'notify[dispatch_delivery]', true, (@preference.dispatch_delivery ? true : false) %>
                    <span class="checkmark"></span>
                  </label>
                </div>
              </li>
            </ul>
            <%= submit_tag "Update", class: "model-footer-btn edit-model-btn", :"data-turbolinks" => false %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>