<div class="" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog my-model-body modal-lg" role="document">
    <div class="enquiry_form main-model-content modal-content">
      <div class="modal-header editar  block-header bg-gd-primary">
        <h5 class="modal-title header_modtext text-white" id="exampleModalLabel">Cambiar Perfil</h5>
      </div>
     
      <div class="modal-body quotes_pad">
        <div class="style_popup"> 
          <%= form_for current_user,  url: private_api_profile_update_path, method: :post, class: "registration" do |f| %>
            <div class="form-group row">
              <div class="col-md-6">
                <label class="" for="example-text-input-invalid">Nombre:</label>
                <%= f.text_field :name, placeholder: "Nombre", required: true , class: "form-control", id: "example-text-input-invalid"%>
              </div>

              <div class="col-md-6">
                <label class="" for="example-text-input-invalid">Apellido:</label>
                <%= f.text_field :last_name, placeholder: "Apellido", required: true , class: "form-control", id: "example-text-input-invalid"%>
              </div>
            </div>

            <div class="form-group row">

              <div class="col-md-4">
                <label class="" for="example-text-input-invalid">Cumpleaños:</label>
                <%= f.date_field :dob, placeholder: "Cumpleaños", required: true , class: "form-control", id: "example-text-input-invalid"%>
              </div>

              <div class="col-md-4">
                <label class="" for="example-text-input-invalid">Casa:</label>
                <%= f.number_field :phone, required: true, class: "form-control", id: "example-text-input-invalid" , placeholder: "Casa"%>
              </div>

              <div class="col-md-4">
                <label class="" for="example-text-input-invalid">Celular:</label>
                <%= f.number_field :cellular, placeholder: "celular", required: true , class: "form-control", id: "example-text-input-invalid", placeholder: "Celular"%>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-6">
                <label class="" for="example-text-input-invalid">Oficina:</label>
                <%= f.number_field :office, required: true, class: "form-control", id: "example-text-input-invalid" , placeholder: "Oficina"%>
              </div>

              <div class="col-md-6">
                <label class="" for="example-text-input-invalid">Contraseña actual:</label>
                <%= f.password_field :current_password, placeholder: "****************" , class: "form-control", id: "example-text-input-invalid"%>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-6">
                <label class="" for="example-text-input-invalid">Nueva contraseña:</label>
                <%= f.password_field :password, placeholder: "****************", class: "form-control", id: "example-text-input-invalid"%>
                <p class="comment_txt">Tu contraseña debe contener un mínimo de 8 digitos con al menos una letra mayúscula y un número. </p>
              </div>

              <div class="col-md-6">
                <label class="" for="example-text-input-invalid">Confirmar nueva contraseña:</label>
                <%= f.password_field :password_confirmation, placeholder: "****************" , class: "form-control", id: "example-text-input-invalid"%>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-12">
                <div class="custom-control custom-checkbox custom-control-inline mb-5">
                  <%= check_box_tag 'notify[new_conf_shipments]', true, (@preference.new_conf_shipments ? true : false), class: "custom-control-input", id: "example-inline-checkbox1" %>
                  <label class="custom-control-label" for="example-inline-checkbox1">Nuevas Contizaciones y envíos</label>
                </div>
                <div class="custom-control custom-checkbox custom-control-inline mb-5">
                  <%= check_box_tag 'notify[new_conf_shipments]', true, (@preference.new_conf_shipments ? true : false), class: "custom-control-input", id: "example-inline-checkbox2" %>
                  <label class="custom-control-label" for="example-inline-checkbox2">Promociones y descuentos</label>
                </div>

                <div class="custom-control custom-checkbox custom-control-inline mb-5">
                  <%= check_box_tag 'notify[new_conf_shipments]', true, (@preference.new_conf_shipments ? true : false), class: "custom-control-input", id: "example-inline-checkbox1" %>
                  <label class="custom-control-label" for="example-inline-checkbox1">Pagos</label>
                </div>
                <div class="custom-control custom-checkbox custom-control-inline mb-5">
                  <%= check_box_tag 'notify[new_conf_shipments]', true, (@preference.new_conf_shipments ? true : false), class: "custom-control-input", id: "example-inline-checkbox2" %>
                  <label class="custom-control-label" for="example-inline-checkbox2">Despacho / Entrega</label>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-alt-success"><i class="fa fa-check"></i> Guardar cambios</button>
              <button type="button" class="btn btn-alt-secondary" data-dismiss="modal">Cerrar</button>
            </div>
          <%end%>
        </div>
        
      </div>
    </div>
  </div>
</div>
<style>
  .enquiry_form .modal-header {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }
</style>