<div class="" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog my-model-body modal-lg" role="document">
    <div class="enquiry_form main-model-content modal-content">
      <div class="modal-header editar  block-header bg-gd-primary">
        <h5 class="modal-title header_modtext text-white" id="exampleModalLabel">Añadir Dirección</h5>
      </div>

      <div class="modal-body quotes_pad">
        <div class="style_popup"> 
          <%= form_tag private_api_create_address_path, method: :post do |f| %>
            <div class="form-group row">
              <div class="col-md-6">
                <label class="" for="example-text-input-invalid">Nombre de la dirección:</label>
                <%= text_field_tag 'address[name]', '', placeholder: "Nombre de la dirección", required: true , class: "form-control"%>
              </div>

              <div class="col-md-6">
                <label class="" for="example-text-input-invalid">Calle Dirección:</label>
                <%= text_field_tag 'address[street_address]', '', placeholder: "Calle Dirección", required: true , class: "form-control"%>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6">
                <label class="" for="example-text-input-invalid">Añadir región:</label>
                <% a = CS.states(:cl)%>
                <%= select_tag 'address[region]', options_for_select(a.collect{|p| [p[1], p[1]]}, ''), placeholder: "Añadir región", required: true , class: "form-control region"%>
              </div>

              <div class="col-md-6">
                <label class="" for="example-text-input-invalid">Ciudad:</label>
                <%= select_tag 'address[city]', '', placeholder: "Añadir Ciudad", required: true , class: "form-control"%>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-6">
                <label class="" for="example-text-input-invalid">Comuna:</label>
                <%= text_field_tag 'address[comuna]', '', placeholder: "Añadir Comuna", required: true , class: "form-control"%>
              </div>
              <div class="col-md-6">
                <label class="" for="example-text-input-invalid">Teléfono:</label>
                <%= number_field_tag 'address[phone]', '', placeholder: "Teléfono", required: true , class: "form-control"%>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-6">
                <label class="" for="example-text-input-invalid">Primaria:</label>
                <%= check_box_tag 'address[primary]', placeholder: "Añadir Primaria", required: true , class: "form-control"%>
              </div>
            </div>

            <div class="modal-footer">
              <button type="submit" class="btn btn-alt-success"><i class="fa fa-check"></i> Guardar cambios</button>
              <button type="button" class="btn btn-alt-secondary" data-dismiss="modal">Cerrar</button>
            </div>
            
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

$('#address_region').change(function() {
    region = $(this).val();
    $.ajax({
      url: '/get_cities',
      type: 'GET',
      data: {
        region: region
      },
      contentType: 'application/json',
      dataType: 'json',
      success: function(data) {
        $('#address_city').empty();
        $.each(data, function(id, value) {
          $('#address_city').append("<option value=" + value + ">" + value);
        });
      }
    });
  });
</script>