<div class="" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog my-model-body" role="document">
    <div class=" enquiry_form main-model-content modal-content">
      <div class="modal-header editar">
        <h5 class="modal-title header_modtext" id="exampleModalLabel">Update Password</h5>
      </div>
      <span class="close-icon-top close" data-dismiss="modal" aria-label="Close"><img src="<%= image_path('close-icon.png')%>"></span>
      <div class="modal-body">
        <div class="popup">
          <%= form_for current_user,  url: private_api_profile_update_path, method: :post, class: "registration" do |f| %>
            <ul class="model_inputs">
              <li>
                Contraseña:
              </li>
              <li>
                <%= f.password_field :password, placeholder: "****************", required: true %>
              </li>
            </ul>
             <ul class="model_inputs">
              <li>
                Confirmar contraseña:
              </li>
              <li>
                <%= f.password_field :password_confirmation, placeholder: "****************", required: true %>
              </li>
            </ul>
            <%= f.submit "Update", class: "model-footer-btn edit-model-btn", :"data-turbolinks" => false %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>