$("#edit-notify-preference-modal").html("<%= j(render 'edit_notify_preference')%>")
$("#edit-notify-preference-modal").modal("show")

$('#closeModal').click(function(){
  $('#edit-notify-preference-modal').modal("hide");
});