<div class="layout__body__content__screen">
  <div class="screen">
    <div class="screen__title">Mi Perfil
      <%= link_to private_api_profile_show_path, class: 'ant-btn float-right ant-btn-default' do %>
        <i class="anticon anticon-arrow-left"></i><span>Volver</span>
      <% end %>
    </div>
    <div class="screen__body">
      <%= form_for current_user,  url: private_api_profile_update_path, method: :post, class: "registration" do |f| %>
      <div class="ant-row" style="margin-left: -8px; margin-right: -8px;">
        <div class="ant-col-8" style="padding-left: 8px; padding-right: 8px;">
          <div class="ant-card">
            <div class="ant-card-head">
              <div class="ant-card-head-wrapper">
                <div class="ant-card-head-title">Datos personales</div>
              </div>
            </div>
            <div class="ant-card-body">Información personal que servirá para que nos pongamos en contacto contigo.</div>
          </div>
        </div>
        <div class="ant-col-16" style="padding-left: 8px; padding-right: 8px;">
          <div class="ant-card" style="padding: 8px;">
            <div class="ant-card-head">
              <div class="ant-card-head-wrapper">
                <div class="ant-card-head-title"> </div>
              </div>
            </div>
            <div class="ant-card-body">
              Información personal que servirá para que nos pongamos en contacto contigo.
              <div md="24" lg="12" class="ant-row"><b>Nombre</b></div>
              <div md="24" lg="12" class="ant-row"><%= f.text_field :name, placeholder: "", class: "ant-input", required: true %>
              </div>
              <div md="24" lg="12" class="ant-row"><b>Correo electrónico</b></div>
              <div md="24" lg="12" class="ant-row"><%= f.email_field :email, placeholder: "Correo electrónico", class: "ant-input", required: true %></div>
              <div md="24" lg="12" class="ant-row"><b>Teléfono</b></div>
              <div md="24" lg="12" class="ant-row"><%= f.number_field :phone, placeholder: "", class: "ant-input", required: true %></div>
            </div>
          </div>
        </div>
      </div>
      <div class="ant-row" style="margin-left: -8px; margin-right: -8px;">
        <div class="ant-col-8" style="padding-left: 8px; padding-right: 8px;">
          <div class="ant-card">
            <div class="ant-card-head">
              <div class="ant-card-head-wrapper">
                <div class="ant-card-head-title">Nueva contraseña</div>
              </div>
            </div>
            <div class="ant-card-body">Formulario para cambiar la contraseña</div>
          </div>
        </div>
        <div class="ant-col-16" style="padding-left: 8px; padding-right: 8px;">
          <div class="ant-card" style="padding: 8px;">
            <div class="ant-card-head">
              <div class="ant-card-head-wrapper">
                <div class="ant-card-head-title"> </div>
              </div>
            </div>
            <div class="ant-card-body">
              <div md="24" lg="12" class="ant-row"><b>Ingrese contraseña actual</b></div>
              <div md="24" lg="12" class="ant-row"><%= f.password_field :password_current, placeholder: "Contraseña actual", class: "ant-input"%></div>
              <div md="24" lg="12" class="ant-row"><b>Ingrese nueva contraseña</b></div>
              <div md="24" lg="12" class="ant-row"><%= f.password_field :password, placeholder: "Ingrese nueva contraseña", class: "ant-input" %></div>
              <div md="24" lg="12" class="ant-row"><b>Repita la nueva contraseña</b></div>
              <div md="24" lg="12" class="ant-row"><%= f.password_field :password_confirmation, placeholder: "Repita la nueva contraseña", class: "ant-input" %></div>
            </div>
          </div>
        </div>
      </div>
      <% unless current_user.suppliers_users.pluck(:role).include?("Vendedor") %>
        <div class="ant-row" style="margin-left: -8px; margin-right: -8px;">
          <div class="ant-col-8" style="padding-left: 8px; padding-right: 8px;">
            <div class="ant-card">
              <div class="ant-card-head">
                <div class="ant-card-head-wrapper">
                  <div class="ant-card-head-title">New Address</div>
                </div>
              </div>
              <div class="ant-card-body">Formulario de direccion</div>
            </div>
          </div>
            <div class="ant-col-16" style="padding-left: 8px; padding-right: 8px;">
              <div class="ant-card" style="padding: 8px;">
                <div class="ant-card-head">
                  <div class="ant-card-head-wrapper">
                    <div class="ant-card-head-title"> </div>
                  </div>
                </div>
                <div class="ant-card-body" id="addresses">
                  <font color="red"><%= @address_errors rescue "" %></font>
                  <%current_user.addresses.each do |address|%>
                    <%= f.fields_for :addresses, address do |address_f|%>
                      <%= render 'address_fields', f: address_f %>
                    <%end%>
                  <%end%>
                  <%= f.fields_for :addresses, Address.new do |add|%>
                    <%= render 'address_fields', f: add %>
                  <%end%>
                  <div class="links">
                    <%= link_to_add_association 'Add Address', f, :addresses, class: "btn btn-success", style: "margin-top: 20px;"%>
                  </div>
                </div>
              </div>
              <div class="ant-card">
                <div class="ant-card-body">
                  <%= f.button :submit, class: "ant-btn float-right ant-btn-success ant-btn-lg" do%>
                    <i class="anticon anticon-save"></i><span>Guardar</span>
                  <%end%>
                </div>
                  
              </div>
            </div>
          </div>
        <%end%>
        <% end %>
      </div>
    </div>
  </div>
</div>