<!-- Main Container -->
<main id="main-container">
  <!-- Hero -->
  <div class="bg-gd-dusk">
    <div class="bg-black-op-25">
      <div class="content content-top content-full text-center">
        <div class="mb-20">
          <a class="img-link" href="be_pages_ecom_customer.html">
            <img class="img-avatar img-avatar-thumb" src="<%= asset_path('avatar15.jpg') %>" alt="">
          </a>
        </div>
        <h1 class="h3 text-white font-w700 mb-10">
          <%= current_user.name%> <i class="fa fa-star text-warning"></i>
        </h1>
      </div>
    </div>
  </div>
  <!-- END Hero -->

  <!-- Breadcrumb -->
  
  <!-- END Breadcrumb -->

  <!-- Page Content -->
  <div class="content">
    <!-- Overview -->
    <h2 class="content-heading">Visión general</h2>
    <div class="row gutters-tiny">
      <!-- Orders -->
      <div class="col-md-6 col-xl-4">
        <a class="block block-rounded block-link-shadow" href="javascript:void(0)">
          <div class="block-content block-content-full block-sticky-options">
            <div class="block-options">
              <div class="block-options-item">
                <i class="fa fa-line-chart fa-2x text-body-bg-dark"></i>
              </div>
            </div>
            <div class="py-20 text-center">
              <div class="font-size-h2 font-w700 mb-0" data-toggle="countTo" data-to="<%= current_user.orders.count%>">0</div>
              <div class="font-size-sm font-w600 text-uppercase text-muted">Pedidos</div>
            </div>
          </div>
        </a>
      </div>
      <!-- END Orders -->

      <!-- In Cart -->
      <div class="col-md-6 col-xl-4">
        <a class="block block-rounded block-link-shadow" href="javascript:void(0)">
          <div class="block-content block-content-full block-sticky-options">
            <div class="block-options">
              <div class="block-options-item">
                <i class="fa fa-shopping-cart fa-2x text-body-bg-dark"></i>
              </div>
            </div>
            <div class="py-20 text-center">
              <div class="font-size-h2 font-w700 mb-0" data-toggle="countTo" data-to="<%= current_user.cart.cart_items.count rescue ''%>">0</div>
              <div class="font-size-sm font-w600 text-uppercase text-muted">En el carrito</div>
            </div>
          </div>
        </a>
      </div>
      <!-- END In Cart -->

      <!-- Edit Customer -->
      <div class="col-md-6 col-xl-4">
        <%=link_to  private_api_profile_edit_path, remote: true, class: "block block-rounded block-link-shadow" do %>
          <div class="block-content block-content-full block-sticky-options">
            <div class="block-options">
              <div class="block-options-item">
                <i class="fa fa-user fa-2x text-info-light"></i>
              </div>
            </div>
            <div class="py-20 text-center">
              <div class="font-size-h2 font-w700 mb-0 text-info">
                <i class="fa fa-pencil"></i>
              </div>
              <div class="font-size-sm font-w600 text-uppercase text-muted">
                Editar Usuario
              </div>
            </div>
          </div>
        <%end%>
      </div>
      <!-- END Edit Customer -->
    </div>

    <h2 class="content-heading">Direcciones
    <%=link_to private_api_new_address_path, class: "btn btn-success mr-5 mb-5 right", remote: true do %>
      <i class="fa fa-plus mr-5"></i> Añadir dirección
    <% end %>
    </h2>

    <div class="row row-deck gutters-tiny">
      <!-- Billing Address -->
      <%current_user.addresses.each do |address|%>
        <div class="col-md-6">
          <div class="block block-rounded">
            <div class="block-header block-header-default">
            <h3 class="block-title">Dirección de residencia</h3>
            <div class="block-options">
              <%=link_to private_api_destroy_address_path(address.id),class: "btn-block-option", method: 'delete', :data => {:confirm => '¿Estás seguro?', title: "Alerta de confirmación!"} do %>
                <i class="fa fa-times text-danger"></i>
              <% end %>
            </div>
            <div class="block-options">
              <%=link_to private_api_edit_address_path(address.id), class: "btn-block-option", remote: true do %>
                <i class="fa fa-pencil"></i>
              <% end %>
            </div>
          </div>
          <div class="block-content">
            <div class="font-size-lg text-black mb-5"><%= address.name%></div>
            <address>
              <%= address.street_address%><br>
              <%= address.city%><br>
              <%= address.region%><br><br>
              <i class="fa fa-phone mr-5"></i> <%= address.phone%><br>
              <% if address.primary? %>
                <span class="badge badge-success">Primary</span>
              <% end %>
            </address>
          </div>
        </div>
      </div>
      <%end%>
    </div>
    <!-- END Addresses -->

    <!-- Cart -->
    
    <!-- END Cart -->

    <!-- Past Orders -->
    
  </div>

</main>

<div class="modal" id="profile-edit-modal">
  <div class="ant-modal-mask"></div>
</div>

<div class="modal" id="address-new-modal">
  <div class="ant-modal-mask"></div>
</div>

<div class="modal" id="address-edit-modal">
  <div class="ant-modal-mask"></div>
</div>
<style>
  .right{
    float: right;
  }
</style>