<main id="main-container">
  <div class="content">
    <div class="content-heading">       
    </div>

  
  <div class="content-heading">
    <div class="dropdown float-right mr-5">
      <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" id="ecom-orders-filter-drop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= get_status_lable(params[:status]) %>
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="ecom-orders-filter-drop">
        <a class="dropdown-item" href="<%= dashboard_index_path(:status => 'confirmation_pending', :time => params[:time]) %>">
          <i class="fa fa-fw fa-spinner fa-spin text-warning mr-5"></i>Pendientes
        </a>
        <a class="dropdown-item" href="<%= dashboard_index_path(:status => 'in_process', :time => params[:time]) %>">
          <i class="fa fa-fw fa-refresh fa-spin text-info mr-5"></i>En proceso
        </a>
        <a class="dropdown-item" href="<%= dashboard_index_path(:status => 'delivered', :time => params[:time]) %>">
          <i class="fa fa-fw fa-check text-success mr-5"></i>Entregado
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item active" href="<%= dashboard_index_path(:status => 'all', :time => params[:time]) %>">
          <i class="fa fa-fw fa-circle-o mr-5"></i>Todas
        </a>
      </div>
    </div>
    <div class="dropdown float-right">
      <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" id="ecom-orders-drop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= get_time_lable(params[:time]) %>
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="ecom-orders-drop">
        <a class="dropdown-item active" href="<%= dashboard_index_path(:time => 'today', :status => params[:status]) %>">
          <i class="fa fa-fw fa-calendar mr-5"></i>Hoy
        </a>
        <a class="dropdown-item" href="<%= dashboard_index_path(:time => 'week', :status => params[:status]) %>">
          <i class="fa fa-fw fa-calendar mr-5"></i>Esta semana
        </a>
        <a class="dropdown-item" href="<%= dashboard_index_path(:time => 'month', :status => params[:status]) %>">
          <i class="fa fa-fw fa-calendar mr-5"></i>Este Mes
        </a>
        <a class="dropdown-item" href="<%= dashboard_index_path(:time => 'year', :status => params[:status]) %>">
          <i class="fa fa-fw fa-calendar mr-5"></i>Este Año
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="<%= dashboard_index_path(:time => 'all', :status => params[:status]) %>">
          <i class="fa fa-fw fa-circle-o mr-5"></i>Todas
        </a>
      </div>
    </div>
      Últimas Ordenes
  </div>
    <div class="block block-rounded">
      <div class="block-content">
        <div class="table-responsive">
          <table class="table table-borderless table-striped">
            <thead>
              <tr>
                <th class="text-center">ID</th>
                <th class="text-justify" style="width: 1px;">Estado</th>
                <th class="text-center">Fecha</th>
                <th class="text-center">Productos</th>
                <th class="text-center" style="white-space:nowrap;">Cantidad Total</th>
              </tr>
            </thead>
            <tbody>
              <% unless @orders.blank? %>
                <%@orders.uniq.each do |order|%>
                  <tr>
                    <td class="text-center">
                      <%= link_to "#{order.id}", order_path(order.id), class: 'font-w600'%>
                    </td>
                    <td class="text-justify">
                      <span class="badge badge-<%= bootstrap_class_for order.status %> <%= order.status%> "><%= translate_for(order.status)%></span>
                    </td>
                    <td class="text-center"><%= order.purchased_at.strftime('%d/%m/%Y') rescue ''%></td>
                    <td class="text-center">
                      <a href="javascript:void(0)"><%= order.order_items.count%></a>
                    </td>
                    <td class="text-center">
                      <%if order.total_pay_amount.present? %>
                      <% price =  number_with_precision(order.total_pay_amount, :precision => 2, :delimiter => '.', strip_insignificant_zeros: true) %>
                      <%end%>
                      <span class="text-black">$ <%= order.total_pay_amount.present? ? price  : "0" %></span>
                    </td>
                  </tr>
                <%end%>
              <%else%>
                <tr><td class="text-center" colspan="6">ningún record fue encontrado</td></tr>  
              <%end%>
            </tbody>
          </table>
          <div class="pag_right_pa">
            <%= paginate @orders rescue '' %>
          </div>
        </div>
      </div>
    </div>
    <%unless current_user.addresses.present?%>
      <div class="modal fade" id="modal-onboarding" tabindex="-1" role="dialog" aria-labelledby="modal-onboarding" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-popout" role="document">
          <div class="modal-content rounded">
            <div class="block block-rounded block-transparent mb-0 bg-pattern" style="background-image: url('assets/media/various/bg-pattern-inverse.png');">
              <div class="block-header justify-content-end">
              </div>
              <div class="block-content block-content-full">
                <div class="js-slider slick-dotted-inner" data-dots="true" data-arrows="false" data-infinite="false">
                  <div class="pb-50 welcome">
                    <div class="row justify-content-center text-center">
                      <div class="col-md-10 col-lg-8">
                        <i class="si si-fire fa-4x text-primary"></i>
                        <h3 class="font-size-h2 font-w300 mt-20">Welcome to Codebase!</h3>
                        <p class="text-muted">
                          Este es un modo que puede mostrar a sus usuarios cuando inician sesión en su panel de control. Es un gran lugar para darles la bienvenida y presentarles su aplicación y su funcionalidad.
                        </p>
                        <button type="button" class="btn btn-sm btn-hero btn-noborder btn-primary mb-10 mx-5 key_feature">
                          Key features <i class="fa fa-arrow-right ml-5"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="slick-slide pb-50 backup">
                    <div class="row justify-content-center">
                      <div class="col-md-10 col-lg-8">
                        <h3 class="font-size-h2 font-w300 mb-5">Backup</h3>
                        <p class="text-muted">
                          Las copias de seguridad se realizan con cada nuevo cambio para garantizar una total tranquilidad. Se mantienen seguros para restauraciones inmediatas.
                        </p>
                        <h3 class="font-size-h2 font-w300 mb-5">Invoices</h3>
                        <p class="text-muted">
                          Se envían automáticamente a sus clientes con la finalización de cada proyecto, para que no tenga que preocuparse por recibir el pago.
                        </p>
                        <div class="text-center">
                          <button type="button" class="btn btn-sm btn-hero btn-noborder btn-primary mb-10 mx-5 complete">
                            Complete Profile <i class="fa fa-arrow-right ml-5"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="slick-slide pb-50 finally">
                    <div class="row justify-content-center text-center">
                      <div class="col-md-10 col-lg-8">
                        <i class="si si-note fa-4x text-primary"></i>
                        <h3 class="font-size-h2 font-w300 mt-20 finally">Por último, háganos saber su dirección.</h3>
                        <%= form_tag private_api_create_address_path, method: :post do |f| %>
                          <div class="form-group row">
                            <div class="col-md-6">
                              <label class="" for="example-text-input-invalid">Nombre de la dirección:</label>
                              <%= text_field_tag 'address[name]', '', placeholder: "Nombre de la dirección", required: true , class: "form-control"%>
                            </div>

                            <div class="col-md-6">
                              <label class="" for="example-text-input-invalid">Calle Dirección:</label>
                              <%= text_field_tag 'address[street_address]', '', placeholder: "Calle Dirección", required: true , class: "form-control"%>
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="col-md-6">
                              <label class="" for="example-text-input-invalid">Añadir Región:</label>
                              <% a = CS.states(:cl)%>
                              <%= select_tag 'address[region]', options_for_select(a.collect{|p| [p[1], p[1]]}, ''), placeholder: "Añadir Región", required: true , class: "form-control region"%>
                            </div>

                            <div class="col-md-6">
                              <label class="" for="example-text-input-invalid">Ciudad:</label>
                              <%= select_tag 'address[city]', '', placeholder: "Add Ciudad", required: true , class: "form-control"%>
                            </div>
                          </div>

                          <div class="form-group row">
                            <div class="col-md-6">
                              <label class="" for="example-text-input-invalid">Comuna:</label>
                              <%= text_field_tag 'address[comuna]', '', placeholder: "Add Comuna", required: true , class: "form-control"%>
                            </div>
                            <div class="col-md-6">
                              <label class="" for="example-text-input-invalid">Teléfono:</label>
                              <%= number_field_tag 'address[phone]', '', placeholder: "Teléfono", required: true , class: "form-control"%>
                            </div>
                          </div>

                          <div class="form-group row">
                            <div class="col-md-6" style="text-align: left">
                              <label class="primary-text" for="example-text-input-invalid">Primaria:</label>
                              <%= check_box_tag 'address[primary]', placeholder: "Añadir Primaria", required: true , class: "form-control"%>
                            </div>
                          </div>

                          <div class="modal-footer form-btn-full">
                            <button type="submit" class="btn btn-sm btn-hero btn-noborder btn-success mb-10 mx-5"><i class="fa fa-check"></i> Guardar cambios y empezar</button>
                          </div>
                          
                        <%end%>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <%end%>
</main>

<script>
  
  $(function () {
     $('.modal').modal({
      show:true,
      keyboard: false,
      backdrop: 'static'
    });
  });

  $('document').ready(function(){
    sendPush()
    $(".modal").modal("show")
    $(".backup").hide()
    $(".finally").hide()
  });
  $('.key_feature').click(function(){
    $(".backup").show()
    $(".welcome").hide()
    $(".finally").hide()
  });
  $('.complete').click(function(){
    $(".backup").hide()
    $(".welcome").hide()
    $(".finally").show()
  });

$('#address_region').change(function() {
  region = $(this).val();
  $.ajax({
    url: '/get_cities',
    type: 'GET',
    data: {
      region: region
    },
    contentType: 'application/json',
    dataType: 'json',
    success: function(data) {
      $('#address_city').empty();
      $.each(data, function(id, value) {
        $('#address_city').append("<option value=" + value + ">" + value);
      });
    }
  });
});

</script>

<style type="text/css">
  .primary-text {
    float: left !important; 
    padding-right: 5px;
    box-sizing: border-box;
  }
  .pag_right_pa {
    position: relative;
    margin-left: 83%;
  }
  .form-btn-full {
    display: block;
    text-align: center;
    padding-top: 40px;
    box-sizing: border-box;
  }

  .form-group .col-md-6 label {
    font-size: 12px;
    display: block;
    text-align: left;
  }
  .form-group .col-md-6 input, .form-group .col-md-6 select {
    border: 1px solid #e1e1e1;
    border-radius: 0;
    display: block;
  }
  .finally {
    font-size: 28px;
    color: #0d70ae;
    font-weight: bold !important;
    margin-bottom: 30px;
  }
</style>
