<div class="screen__title">Notices</div>
<div class="row">
  <div class="screen__body col-md-12">
    <ul>
      <% @notices.each do |notice|%>
        <li>
          <%= notice.title%>
        </li>
      <%end%>
    </ul>
  </div>
</div>
