<header id="page-header">
  <!-- Header Content -->
  <div class="content-header">
    <div class="content-header-section">
      <!-- Toggle Sidebar -->
      <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
      <button type="button" class="btn btn-circle btn-dual-secondary" data-toggle="layout" data-action="sidebar_toggle">
        <i class="fa fa-navicon"></i>
      </button>
      <!-- END Toggle Sidebar -->
    </div>
    <!-- END Left Section -->

    <!-- Right Section -->
    <div class="content-header-section">
      <!-- User Dropdown -->
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-rounded btn-dual-secondary" id="page-header-user-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user d-sm-none"></i>
            <span class="d-none d-sm-inline-block text-uppercase"><%= current_user.name%></span>
            <i class="fa fa-angle-down ml-5"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right min-width-200" aria-labelledby="page-header-user-dropdown">
          <h5 class="h6 text-center py-10 mb-5 border-b text-uppercase">User</h5>
          <%= link_to private_api_profile_show_path, class: "dropdown-item" do%>
            <i class="si si-user mr-5"></i> Perfil
          <%end%>
          <% unread_chat = get_unread_messages("message") %>
          <%= link_to notifications_path, class: "dropdown-item d-flex align-items-center justify-content-between" do%>
            <span><i class="si si-envelope-open mr-5"></i> Bandeja de entrada</span>
            <span class="badge badge-primary"><%= unread_chat.count%></span>
          <%end%>
          <div class="dropdown-divider"></div>
          <%=link_to destroy_user_session_path, class: "dropdown-item" do %>
            <i class="si si-logout mr-5"></i> Desconectar
          <%end%>
        </div>
      </div>
      <% if current_user.suppliers_users.pluck(:role).include?("Vendedor") %>
        <%# unread_notifications = get_unread_notification("quotation_request") %>
        <%# unread_messages = get_unread_messages("answer") %>
        <%# msg_count = unread_messages.count rescue 0%>
        <%# noti_count = unread_notifications.count%>
      <% else %>
        <%# unread_quote_notifications = get_unread_notification("quote") %>
        <%# unread_order_item_notifications = get_unread_notification("order_item") %>
        <%# unread_messages = get_unread_messages("question") %>
        <%# msg_count = unread_messages.count rescue 0%>
        <%# noti_count = unread_notifications.count rescue 0%>
      <% end %>
      <%# unread_chat = get_unread_messages("message") %>
      <%#  all_notifications = unread_quote_notifications.to_a << unread_order_item_notifications.to_a << unread_messages.to_a << unread_chat.to_a %>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-rounded btn-dual-secondary" id="page-header-notifications" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-bell"></i>
            <span class="badge badge-primary badge-pill"><%#= all_notifications.flatten.count%></span>
        </button>
        <div class="dropdown-menu dropdown-menu-right min-width-300" aria-labelledby="page-header-notifications">
          <h5 class="h6 text-center py-10 mb-0 border-b text-uppercase">Notificaciones</h5>
          <ul class="list-unstyled my-20">
            
          </ul>
          <div class="dropdown-divider"></div>
            <a class="dropdown-item text-center mb-0" href="javascript:void(0)">
              <i class="fa fa-bell mr-5"></i> Ver Todo
            </a>
        </div>
      </div>
      <% unless current_user.suppliers_users.present? %>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-rounded btn-dual-secondary" id="page-header-notifications" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-shopping-cart" style="font-size: 20px;"></i>
            <span class="badge badge-primary badge-pill"><%= current_user.cart.cart_items.count rescue ''%></span>
          </button>
          <div class="dropdown-menu dropdown-menu-right min-width-300" aria-labelledby="page-header-notifications">
            <h5 class="h6 text-center py-10 mb-0 border-b text-uppercase">CARRO DE COMPRAS</h5>
            <ul class="list-unstyled my-20">
              <%if current_user.cart.present?%>
                <% current_user.cart.cart_items.each do |cart|%>
                  <li>
                    <div class="media-body pr-10" style="display: inline-flex;">
                    <%= link_to delete_cart_path(id: cart.id), method: :delete, :"data-turbolinks"=> false, :data => {:confirm => '¿Estás seguro?', title: "Alerta de confirmación!", :commit=> "Confirmar", :cancel=> "Cancelar"}, class: 'text-body-color-dark mb-15' do %>
                      <div class="ml-5 mr-15">
                        <i class="fa fa-2x fa-times text-danger"></i>
                      </div>
                    <%end%>
                    <span class="mb-0" style="font-size: 18px; font-weight: bold;"><%= cart.quotation_part.quotation_request_part.description rescue ''%></span>
                    <span class="mb-0" style="padding: 3px 10px;box-sizing: border-box;">$<%= number_with_precision(cart.quotation_part.selling_price.present? ? cart.quotation_part.selling_price : cart.quotation_part.price , :precision => 2, :delimiter => '.', strip_insignificant_zeros: true)rescue '' %></h5></span>
                  </div>
                  </li>
                <%end%>
              <%end%>
            </ul>
            <div class="dropdown-divider"></div>
            <%if current_user.cart.present?%>
              <%unless current_user.cart.cart_items.blank?%>
                <%= link_to carts_path, class: 'dropdown-item text-center mb-0' do %>
                    <i class="fa fa-shopping-cart mr-5"></i> Ver Todo
                <%end%>
              <%end%>
            <%end%>
          </div>
        </div>
      <% end %>

      <!-- END Notifications -->
    </div>
    <!-- END Right Section -->
  </div>
  <!-- END Header Content -->

  <!-- Header Search -->
  <div id="page-header-search" class="overlay-header">
    <div class="content-header content-header-fullrow">
      <form action="be_pages_generic_search.html" method="post">
        <div class="input-group">
          <div class="input-group-prepend">
            <!-- Close Search Section -->
            <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
            <button type="button" class="btn btn-secondary" data-toggle="layout" data-action="header_search_off">
                <i class="fa fa-times"></i>
            </button>
            <!-- END Close Search Section -->
          </div>
          <input type="text" class="form-control" placeholder="Search or hit ESC.." id="page-header-search-input" name="page-header-search-input">
          <div class="input-group-append">
            <button type="submit" class="btn btn-secondary">
                <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- END Header Search -->

  <!-- Header Loader -->
  <!-- Please check out the Activity page under Elements category to see examples of showing/hiding it -->
  <div id="page-header-loader" class="overlay-header bg-primary">
    <div class="content-header content-header-fullrow text-center">
      <div class="content-header-item">
        <i class="fa fa-sun-o fa-spin text-white"></i>
      </div>
    </div>
  </div>
  <!-- END Header Loader -->
</header>