<nav id="sidebar">
  <div class="sidebar-content">
    <div class="content-header content-header-fullrow px-15">
      <div class="content-header-section sidebar-mini-visible-b">
        <span class="content-header-item font-w700 font-size-xl float-left animated fadeIn">
            <span class="text-dual-primary-dark">c</span><span class="text-primary">b</span>
        </span>
      </div>
      <div class="content-header-section text-center align-parent sidebar-mini-hidden">
        <button type="button" class="btn btn-circle btn-dual-secondary d-lg-none align-v-r" data-toggle="layout" dat  a-action="sidebar_close">
            <i class="fa fa-times text-danger close-side"></i>
        </button>
        <div class="content-header-item">
          <%= link_to dashboard_index_path do %>
            <%= image_tag('inparts_updated-logo.png')%>
          <%end%>
        </div>
      </div>
    </div>

    <div class="content-side content-side-full content-side-user px-10 align-parent">
      <div class="sidebar-mini-visible-b align-v animated fadeIn">
        <img class="img-avatar img-avatar32" src="<%= asset_path('avatar15.jpg') %>" alt="">
      </div>

      <div class="sidebar-mini-hidden-b text-center">
        <a class="img-link" href="javascript:void(0)">
          <img class="img-avatar" src="<%= asset_path('avatar15.jpg') %>" alt="">
        </a>
        <ul class="list-inline mt-10">
          <li class="list-inline-item">
            <%= link_to current_user.name, private_api_profile_show_path, class: 'link-effect text-dual-primary-dark font-size-xs font-w600 text-uppercase' %></a>
          </li>
          <li class="list-inline-item">
            <%= link_to destroy_user_session_path, class: 'link-effect text-dual-primary-dark' do %>
              <i class="fa fa-sign-out"></i>
            <%end%>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="content-side content-side-full">
      <ul class="nav-main">
        <li>
          <%= active_link_to dashboard_index_path do %>
            <i class="fa fa-coffee"></i><span class="sidebar-mini-hide">Escritorio</span>
          <%end%>
        </li>
        
        <% if current_user.suppliers_users.pluck(:role).include?("Vendedor")%>
          <li>
            <%= active_link_to private_api_suppliers_quotation_requests_path do %>
              <i class="fa fa-puzzle-piece"></i><span class="sidebar-mini-hide">Buscar pedidos</span>
            <% end %>
          </li>
          <li>
            <%= active_link_to orders_path do %>
              <i class="fa fa-bolt"></i><span class="sidebar-mini-hide">Ventas</span>
            <% end %>
          </li>
          <li>
            <%= active_link_to courier_jobs_path do %>
              <i class="fa fa-briefcase"></i><span class="sidebar-mini-hide">Trabajos de mensajería</span>
            <% end %>
          </li>
          <li>
            <%= active_link_to notifications_path do %>
              <i class="fa fa-bell"></i><span class="sidebar-mini-hide">Notificaciones</span>
            <% end %>
          </li>
          <li>
            <%= active_link_to private_api_suppliers_quotations_path do %>
              <i class="fa fa-quote-left"></i><span class="sidebar-mini-hide">Citas</span>
            <% end %>
          </li>
        <% else %>
          <li>
            <%= active_link_to user_vehicles_api_data_api_vehicles_path do %>
              <i class="fa fa-bus"></i><span class="sidebar-mini-hide">Vehículos</span>
            <% end %>
          </li>
          <li>
            <%= active_link_to private_api_quotation_requests_path do %>
              <i class="fa fa-puzzle-piece"></i><span class="sidebar-mini-hide">Cotizaciones</span>
            <% end %>
          </li>
          <li>
            <%= active_link_to orders_path do %>
              <i class="fa fa-bolt"></i><span class="sidebar-mini-hide">Compras</span>
            <% end %>
          </li>
          <li>
            <%= active_link_to notifications_path do %>
              <i class="fa fa-bell"></i><span class="sidebar-mini-hide">Notificaciones</span>
            <% end %>
          </li>
          <li>
            <%= active_link_to referral_links_path do %>
              <i class="fa fa-users"></i><span class="sidebar-mini-hide">Referencias</span>
            <% end %>
          </li>
          <li>
            <%= active_link_to api_data_catalog_types_path do %>
              <i class="fa fa-users"></i><span class="sidebar-mini-hide">Catalog Types Api</span>
            <% end %>
          </li>
        <% end %>
      </ul> 
    </div>
  </div>
</nav>
<style type="text/css">
  .sidebar-inverse #sidebar .nav-main a:hover > i {
    color: #f15a26 !important;
  }

  .sidebar-inverse #sidebar .nav-main a.active > i {
    color: #f15a26 !important;
  }
</style>

<script type="text/javascript">
  $(".close-side").click(function() {
    $("#page-container").removeClass("sidebar-o-xs");
  })
</script>