$orange: #f7885f;
$blue: #25293d;
$red: #d6341e;
$grey: #efefef;
$black: #25293d;
$dark: #1E262D;
$green: #5CB54F;

$sidebar-bg: $dark;
$footer-bg: #00204a;

$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

$container-tablet:             750px;
$container-sm:                 $container-tablet;
$container-desktop:            970px;
$container-md:                 $container-desktop;
$container-large-desktop:      1170px;
$container-lg:                 $container-large-desktop;
