.footer-social {
  display: flex;
  margin-bottom: 20px;
  color: white;

  @media (max-width: $screen-sm) {
    justify-content: flex-start; 
    margin-left: 15px; 
  } 

  &__image{
    background: transparent;
    display: flex;

    &__facebook{
      flex-direction: row;
      height: 45px;
      width: 45px;
      margin-right: 10px;
      background-repeat: no-repeat;
      background-image: asset-url("social_facebook.png");
    }

    &__tweeter{
      flex-direction: row;
      height: 45px;
      width: 45px;
      margin-right: 10px;
      background-repeat: no-repeat;
      background-image: asset-url("social_tweeter.png");
      
    }

    &__google{
      flex-direction: row;
      height: 45px;
      width: 45px;
      margin-right: 10px;
      background-repeat: no-repeat;
      background-image: asset-url("social_google.png");
      
    }

    &__instagram{
      flex-direction: row;
      height: 45px;
      width: 45px;
      margin-right: 10px;
      background-repeat: no-repeat;
      background-image: asset-url("social_instagram.png");
    }
  }

  &__webpay{
    flex-direction: row;
    background: transparent;
    width: 200px;
    height: 100px;
    background-repeat: no-repeat;
    background-image: asset-url("webpay.png");
  }
}
