$footer-title-color: #747e8f;
$footer-link-color: white;

.footer {
  position: relative;
  background: $footer-bg;
  font-family: "Muli", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;

  &__content {
    padding: 60px 0;

    @media(max-width: $screen-xs) {
      padding: 60px 15px;
    }
  }

  &__brand {
    font-weight: bold;
    font-size: 35px;
    color: #ff6600;
    line-height: 170px;
    
    @media (max-width: $screen-sm) {
      line-height: 50px;
    }
  }

  &__title {
    color: $footer-title-color;
    font-size: 15px;
    margin-bottom: 15px;
    overflow-x: hidden;
    
    @media (max-width: $screen-sm) {
        margin-top: 15px;
        margin-bottom: 20px;
    }
  }

  &__list {
    &__item {
      padding: 5px 0;

      &__action {
        font-size: 13px;
        text-decoration: none;
        color: $footer-link-color;

        @media (max-width: $screen-sm) {
          font-size: 16px;
        } 

        &:hover {
          color: $orange;
        }
      }
    }
  }

  &__row {
    display: flex;

    @media(max-width: $screen-sm) {
      flex-direction: column;
    }

    &__col {
      flex: 1 0;
    }
  }

  &__bottom {
    @extend .text-center;
    font-size: 11px;
    padding: 15px 0;
    border-top: 1px solid lighten($footer-bg, 5%);
    color: white;
  }

  &__scroll {
    position: absolute;
    bottom: 30px;
    right: 30px;
    background: white;
    width: 45px;
    height: 45px;
    border-radius: 100px;
    text-align: center;
    line-height: 45px;

    &__icon {
      color: #989898;
      font-size: 20px;
    }
  }
}