.footer-card {
  display: flex;
  margin-bottom: 20px;
  color: white;

  @media (max-width: $screen-sm) {
    justify-content: center;
  } 
  
  &__image {
    width: 40px;
    
    @media (max-width: $screen-sm) {
      display: none;
    } 
    
    &__icon {
      color: #ff6600;
      font-size: 30px;
    }
  }

  &__content {
    flex: 1 0;    

    &__title {
      font-size: 13px;
      
      @media (max-width: $screen-sm) {
        margin-top: 5px;
      } 
    }

    &__value {
      font-size: 18px;
    }
  }
}
