.form {
  &__title {
    font-size: 18px;
    margin-bottom: 15px;
  }

  &__group {
    margin-bottom: 10px;

    &__checkbox {
      margin-top: 10px;
      margin-left: 15px;
    }

    &--no-title {
      margin-top: 20px;
    }

    &__control {
      &--block {
        display: block;
      }
    }
  }

  &__actions {
    margin: 20px 0;
    margin-bottom: 0;
  }

  &__error {
    color: red;
    padding: 5px 5px;
  }
}
