$header-height: 80px;

.header {
  height: $header-height;

  @media (max-width: $screen-sm) {
    height: initial;
  }

  &__container {
    display: flex;

    @media (max-width: $screen-sm) {
      flex-direction: column;
    }
  }

  &__left {
    flex: 1 0;
    min-width: 100px;
    height: $header-height;
  }

  &__right {

  }

  &__brand {
    line-height: $header-height;
    display: inline-block;
  }

  &__toggle {
    display: none;
    float: right;
    padding: 24px;
    font-size: 23px;

    @media(max-width: $screen-sm) {
      display: inline-block;
    }
  }

  &__nav {
    @media(max-width: $screen-sm) {
      height: 0;
      overflow: hidden;

      &.header__nav--active {
        height: auto;
      }
    }

    &__item {
      display: inline-block;
      color: $black;
      padding: 29px 20px;

      @media (max-width: $screen-sm) {
        display: block;
        width: 100%;
      }

      &__link {
        color: $blue;

        &--active {
          color: $orange;
        }
      }
    }
  }
}
