$preheader-height: 40px;

.preheader {
  height: $preheader-height;

  &__container {
    border-bottom: 2px solid lighten($grey, 3%);
    height: 37px;
  }

  &__nav {
    display: flex;
    justify-content: flex-end;
    
    &__item {
      &__action {
        padding: 7px 10px;
        display: block;
        color: $black;

        &--orange {
          color: $orange;
        }
      }
    }
  }
}