.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__header {
    
  }

  &__content {
    flex: 1 0;
  }

  &__footer {
    
  }

  &__container {
    margin: 0 auto;
    width: 90%;
    
    @media (min-width: $screen-md-min) {
      width: $container-md;
    }
    
    @media (min-width: $screen-lg-min) {
      width: $container-lg;
    }
    @media (min-width: $screen-sm){
      .wrapper__container {
        width: 100% !important;
      }
    }
  }
}
