<div class="modal-dialog checkout_popup_dialog" role="document">
  <div class="main-model-content modal-content checkout_popup_dialog_inn">
    <div class="checkout_pop_inn">
      <div class="checkout_model_header">
        <div class="massege_suc_bdy">
          <i class="fa fa-check"></i>
          <span class="massege_suc"> Artículo agregado a su carrito</span>
        </div> 
        <div class="close_suc_bdy">
          <a href="javascript:;" class="add_cart_close" data-dismiss="modal"><i class="fa fa-times"></i></a>
        </div>
      </div>
      <%= form_tag '/cotizar', method: :post do %>
      <div class="checkout_model_midbdy">
        <div class="checkout_model_midbdy_inn row">
          <div class="col-md-4">
            <div class="checkout_img_bdy">
              <%if @sub_part.api_part.attachments.present?%>
                <img src="<%= image_path(@sub_part.api_part.attachments.last.attachment)%>">
              <%end%>
            </div>
          </div>
          <div class="col-md-8">
           <div class="chackout_detail_right_bdy">
             <div class="item_name">
               <h3 class="item_name_txt"><%= @sub_part.name%> en categoría <%= @sub_part.api_part.name rescue ""%></h3>
             </div>
             <div class="part_num_bdy">
               <div class="part_num">
                 <label class="txtpart_num">Nombre de Parte</label>
                 <span class="txtpart_num_value"><%= @sub_part.name%></span>
               </div>
               <div class="part_quantity">
                <label for="part_quantity_update" class="txtpart_qty">Cantidad</label>
                <input type="number" min="0" class="added_product_quantity" name="quote_param[quantity]"  value="" required="true">
              </div>
              </div>
              <div class="checkout_form_bdy">
               <div class="checkout_form_bdy_inn">
                 <div class="form__group">
                  <input id = "sub_part" type="hidden" name="quote_param[sub_part_id]" value="<%= @sub_part.id %>">
                  <input id = "model" type="hidden" name="quote_param[model_id]" value="<%= @model.id %>">
                  <input id = "sub_model" type="hidden" name="quote_param[sub_model_id]" value="<%= @sub_model.id %>">
                  <input id = "catalog" type="hidden" name="quote_param[catalog_id]" value="<%= @catalog.id %>">
                  <input id = "part_catalog" type="hidden" name="quote_param[part_catalog_id]" value="<%= @part_catalog.id %>">
                </div>
                <div class="form__group">
                  <div class="form__group__label">Tipo de repuesto:</div>
                  <div class="checkbox_checkout d-inline_sec">
                    <input type="checkbox" name="quote_param[original]">
                    <label>Original</label>
                  </div>
                  <div class="checkbox_checkout d-inline_sec">
                    <input type="checkbox" name="quote_param[alternative]">
                    <label>Alternativo</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="checkout_model_footer">
      <div class="checkout_model_footer_inn1">
        <button class="add_cart_close button" data-dismiss="modal">Seguir Comprando</button>
      </div>
      <div class="checkout_model_footer_inn1">
        <button type="submit" class="add_cart_checkout green button checkout-btn">Revisa</button>
      </div>
    </div>
    <%end%>
  </div>

</div>
</div>

<script>

  $(".checkout-btn").click(function(){
    $('#new_brand').val($('#brand').val())
    $('#new_category').val($('#category').val())
    $('#new_model').val($('#model').val())
    $('#new_year').val($('#year').val())
    $('#new_amount').val($('#amount').val())
  });


</script>

