<div class="wrapper__cta">
  <div class="cta">
    <div class="cta__content">
      <div class="cta__row">
        <div class="cta__row__col">
          <div class="cta__row__col__text">Mas de 10 millones de negocios </br> están usando nuestro MarketPlace</div>
        </div>
      </div>

      <div class="cta__row">
        <div class="cta-button-component">
          <button type="button" class="ant-btn cta__button ant-btn-primary ant-btn-lg"><span>Vamos a Empezar!</span></button>
        </div>
      </div>
    </div>
  </div>        
</div>