<div class="wrapper__faq">
  <div class="faq">
    <div class="wrapper__container">
      <div class="faq__content">
        <div class="faq__row">
          <div class="faq__row__col">
            <div class="faq__row__col__brand">Preguntas Frecuentes</div>
          </div>
        </div>
        <div class="faq__row">
          <div class="faq__row__col">
            <div>
              <div class="faq-item">
                <div class="faq-item__header">
                  <div class="faq-item__header__icon"><i class="fa fa-plus-circle"></i></div>
                  <div class="faq-item__header__text">¿Cómo puedo comprar?</div>
                </div>
                <div class="faq-item__body ">Debes seleccionar la marca, modelo e ingresar el vin de tu vehículo junto con el repuesto que necesitas. Luego recibirás una notificación en tu correo y podrás comparar los precios de muchos proveedores. Una vez elegido el que más te acomode, tendrás la opción de hacer el pago mediante webpay o transferencia bancaria. Seguido de esto, obtendrás un recibo de tu compra con los detalles del proveedor seleccionado para coordinar entrega.</div>
              </div>
            </div>
            <div>
              <div class="faq-item">
                <div class="faq-item__header">
                  <div class="faq-item__header__icon"><i class="fa fa-plus-circle"></i></div>
                  <div class="faq-item__header__text">¿Cuáles son las formas de pago?</div>
                </div>
                <div class="faq-item__body ">Puedes hacer el pago con tarjeta de crédito (Webpay), transferencia o deposito bancario.</div>
              </div>
            </div>
            <div>
              <div class="faq-item">
                <div class="faq-item__header">
                  <div class="faq-item__header__icon"><i class="fa fa-plus-circle"></i></div>
                  <div class="faq-item__header__text">¿Puedo pagar al retirar el repuesto?</div>
                </div>
                <div class="faq-item__body ">Todos los pagos deben ser realizados en inparts.cl . Si deseas hacer otra compra al momento de retirar, puedes hacerlo directamente con el proveedor.</div>
              </div>
            </div>
            <div>
              <div class="faq-item">
                <div class="faq-item__header">
                  <div class="faq-item__header__icon"><i class="fa fa-plus-circle"></i></div>
                  <div class="faq-item__header__text">¿Cómo puedo cancelar?</div>
                </div>
                <div class="faq-item__body ">Si deseas cambiar o cancelar un pedido, debes enviarnos un correo a contacto@inparts.cl contándonos tu caso.</div>
              </div>
            </div>
            <div>
              <div class="faq-item">
                <div class="faq-item__header">
                  <div class="faq-item__header__icon"><i class="fa fa-plus-circle"></i></div>
                  <div class="faq-item__header__text">¿Cómo califico al proveedor?</div>
                </div>
                <div class="faq-item__body ">Al momento de ser entregado el repuesto, el proveedor cambiará el estado de la orden a entregado y tu recibirás una notificación para calificar el servicio. Esto nos sirve a nosotros para saber calificar la experiencia de nuestro servicio.</div>
              </div>
            </div>
          </div>
          <div class="faq__row__col">
            <div>
              <div class="faq-item">
                <div class="faq-item__header">
                  <div class="faq-item__header__icon"><i class="fa fa-plus-circle"></i></div>
                  <div class="faq-item__header__text">¿Cuanto demoran en despachar mi repuesto?</div>
                </div>
                <div class="faq-item__body ">Al momento de recibir las cotizaciones de los proveedores podrás ver la fecha estimada de entrega.</div>
              </div>
            </div>
            <div>
              <div class="faq-item">
                <div class="faq-item__header">
                  <div class="faq-item__header__icon"><i class="fa fa-plus-circle"></i></div>
                  <div class="faq-item__header__text">El producto que me entregaron no es el que corresponde</div>
                </div>
                <div class="faq-item__body ">Cuando ocurra esto, te pedimos que nos contactes a la brevedad a contacto@inparts.cl contándonos tu caso y buscaremos la mejor  solución.</div>
              </div>
            </div>
            <div>
              <div class="faq-item">
                <div class="faq-item__header">
                  <div class="faq-item__header__icon"><i class="fa fa-plus-circle"></i></div>
                  <div class="faq-item__header__text">¿Cuanto debo pagar por este servicio?</div>
                </div>
                <div class="faq-item__body ">Este servicio es gratis para ti, no haremos ningún otro cargo mas que el valor de tu repuesto.</div>
              </div>
            </div>
            <div>
              <div class="faq-item">
                <div class="faq-item__header">
                  <div class="faq-item__header__icon"><i class="fa fa-plus-circle"></i></div>
                  <div class="faq-item__header__text">¿Cómo despachan mi repuesto?</div>
                </div>
                <div class="faq-item__body ">Al crear tu cuenta debes ingresar tu dirección donde quieres recibir el repuesto. El proveedor en la cotización ingresará el valor por despachar este repuesto y en lo posible te dará la opción de retirar en tienda.</div>
              </div>
            </div>
            <div>
              <div class="faq-item">
                <div class="faq-item__header">
                  <div class="faq-item__header__icon"><i class="fa fa-plus-circle"></i></div>
                  <div class="faq-item__header__text">¿Donde puedo encontrar el número de chasis ?</div>
                </div>
                <div class="faq-item__body ">Esto lo puedes encontrar en el padrón de tu vehículo. También lo puedes encontrar en la revisión técnica.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>