<div class="how-works">
  <div class="how-works__content">
    <%= image_tag "planet.png", class: "how-works__content__image-planet" %>

    <div class="wrapper__container">
      <div class="how-works__row">
        <div class="how-works__row__col how-works__row__col--fixed">
          <%= image_tag "phone-hand.png", class: "how-works__content__image-phone" %>
        </div>

        <div class="how-works__row__col devide">
          <div class="how-works__row__col__row__title">Como Funciona</div>
          <div class="how-works__row__col__row">
            <div class="how-works__row__col__row__circle__grey">
              <div class="how-works__row__col__row__circle__grey__text">1</div>
            </div>

            <div class="how-works__text__grey">Ingresa Tu Pedido</div>
          </div>
          
          <div class="how-works__row__col__row">
            <div class="how-works__row__col__row__circle__orange">
              <div class="how-works__row__col__row__circle__orange__text">2</div>
            </div>

            <div class="how-works__text__orange">Compara Presupuestos</div>
          </div>
          
          <div class="how-works__row__col__row">
            <div class="how-works__row__col__row__circle__grey">
              <div class="how-works__row__col__row__circle__grey__text">3</div>
            </div>

            <div class="how-works__text__grey">Contacta Al Proveedor</div>
          </div>
          
          <div class="how-works__row__col__row">
            <div class="how-works__row__col__row__circle__grey">
              <div class="how-works__row__col__row__circle__grey__text">4</div>
            </div>

            <div class="how-works__text__grey">Listo !</div>
          </div>

          <div class="how-works__row__col__row">
            <div class="how-works-button-component">
              <div>
                <button type="button" class="ant-btn how-works__button-try-now ant-btn-primary ant-btn-lg"><span>PRUEBALO</span>
                </button>
                <button type="button" class="ant-btn how-works__button-video ant-btn-primary ant-btn-lg"><span>VIDEO</span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
 .how-works__row__col {
    width: 50%;
    flex-wrap: wrap;
    float: left;
  }
  
  .add-gif {
    width: 50%;
    float: right;
    /*padding-top: 65px;*/
    box-sizing: border-box;
  }
  .add-gif img {
    width: 75%;
    float: right;
  }
  .how-works__row__col {
    width: 40%;
    float: left;
  }
  .how-works {
    min-height: 650px;
    overflow: hidden;
  }
  .modelo-numbers li p {
    margin-top: 10px;
  }
  @media only screen and (max-width: 768px) {
    .add-gif {
    width: 100%;
    float: none;
  }
  .how-works__row__col {
    width: 100%;
    float: none;
  }
  .add-gif img {
    width: 75%;
    float: none;
  }
  }
</style>

