<div class="" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog login_pop_bdy" role="document">
    <div class="modal-content">
      <div class="modal-header login_pop_bdy_header">
        <button type="button" class="close" aria-label="Close" data-dismiss="modal">
        <span aria-hidden="true">×</span>
      </button>
      </div>
      <%= form_tag landing_login_with_address_path, method: :post, class: " pop_log_bdy_form" do |f| %>
        <div class="modal-body">
          <div class="popup">
            <div class="heading_log">
              <h3 class="login-title">Ingresar</h3>
            </div>
            <div class="popup_login_form">
              <div class="form-group">
              <%= email_field_tag 'user[email]', '', placeholder: "Correo electrónico", class: "form-control for_email_log", required: true %>
            </div>

            <div class="form-group">
              <%= password_field_tag 'user[password]', '', placeholder: "********", class: "form-control for_email_log", required: true  %>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-alt-success btn_login_pop">Ingresa</button>
            </div>
            </div>
          </div>
        </div>
        
      <%end%>
    </div>
  </div>
</div>
