<div class="work__container">
  <div class="wrapper__container">
    <div class="work">
    <div class="work__content">
      <div class="row">
    <div class="col-md-12">
      <div class="row carousel-row slide">
      <div class="col-md-12">
        <div class="carousel-inner">
          <div class="carousel-page item text-center active">
            <div class="carousel-item width_full_animate_box">
            <i class="close-button fa fa-close pull-right"></i>
              
              <img class="carousel-item-image" src="<%= image_path('mk_18.jpg')%>" alt="">

              <div class="carousel-item-title">
                <% model = Model.find_by_id(params['model_id']) %>
                <% brand = Brand.find_by_id(params['brand_id']) %>
                <a href="/cars/acura" class="hidden"><%= model.name %></a>
                </div>
                <div class="carousel-item-details">
                  <div class="selection-text"> Select the year of your <b><%= brand.name%> - <%= model.name %></b></div>
                  <div class="selection-options">
                    <div class="options-column">
                      <span><%= link_to '1995', category_parts_path(model_id: params['model_id'], brand_id: params['brand_id'], year: 1995) %></a></span>
                    </div>
                    <div class="options-column">
                      <span><%= link_to '1996', category_parts_path(model_id: params['model_id'], brand_id: params['brand_id'], year: 1996) %></a></span>
                    </div>
                    <div class="options-column">
                      <span ><%= link_to '1997', category_parts_path(model_id: params['model_id'], brand_id: params['brand_id'], year: 1997) %> </a></span>
                    </div>
                    <div class="options-column">
                      <span><%= link_to '1998', category_parts_path(model_id: params['model_id'], brand_id: params['brand_id'], year: 1998) %> </a></span>
                    </div>
                    <div class="options-column">
                      <span><%= link_to '1999', category_parts_path(model_id: params['model_id'], brand_id: params['brand_id'], year: 1999) %> </a></span>
                    </div>
                  </div>
                </div>
            </div>
            
          </div>
        </div>
      </div>
        
      </div>
   
      
    </div>
  </div>
    </div>
      
    </div>
  </div>
</div>

<style type="text/css">
  .home_brand_sec{
    padding:25px 0px;
    box-sizing: border-box;

  }
  .heading_work_new{
    font-size: 36px;
    text-align: center;
  }
  .carousel-page .carousel-item,.carousel-page .carousel-item {
    background-color: #f0f5fe;
    color: #000;
    width: 15%;
    height: 190px;
    margin: 0 20px 20px 0;
    padding: 20px 0;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
    vertical-align: top;
}
.carousel-page .carousel-item .carousel-item-image,.carousel-page .carousel-item .carousel-item-image {
    width: 100px!important;
}
.carousel-page .carousel-item .carousel-item-title h4, #home-parts-section .carousel-page .carousel-item .carousel-item-title h4 {
    font-weight: 700;
}
.carousel-page .carousel-item:hover .carousel-item-title h4, #home-parts-section .carousel-page .carousel-item:hover .carousel-item-title h4 {
    text-decoration: underline;
}
.carousel-nav-row .carousel-nav,.carousel-nav-row .carousel-nav {
    display: inline-block;
    width: 5%;
    cursor: pointer;
}
.carousel-nav-row .carousel-nav img,.carousel-nav-row .carousel-nav img {
    width: 100%;
}
.carousel-nav-row .carousel-nav,.carousel-nav-row .carousel-nav {
    display: inline-block;
    width: 5%;
    cursor: pointer;
}
.carousel-nav-row .carousel-nav img,.carousel-nav-row .carousel-nav img {
    width: 100%;
}
.carousel-row .carousel-indicators,.carousel-row .carousel-indicators {
    bottom: 15px;
}
.carousel-row .carousel-indicators li.active,.carousel-row .carousel-indicators li.active {
    border-bottom: 10px solid #039!important;
}
.carousel-row .carousel-indicators li,.carousel-row .carousel-indicators li {
    display: inline-block;
    height: 10px;
    width: 100px;
    border-radius: 0!important;
    border: 0!important;
    border-bottom: 10px solid #ccc!important;
    margin: 0 10px;
}
.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    margin-left: -30%;
    padding-left: 0;
    list-style: none;
    text-align: center;
}
.work__container {
    background: #fff;
    padding-bottom: 50px;
   }
.wrapper__container {
    width: 1170px;
}
.work__content {
    padding: 60px;
}
.hidden{
  display: none!important;
}
.wk_heading {
    margin-bottom: 30px;
}
.carousel-indicators li {
    position: relative;
    flex: 0 1 auto;
    width: 100px;
    height: 7px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #f0f5fe;
}
.carousel-indicators .active {
    background-color: #0c63ff;
}

.carousel-page .carousel-item .carousel-item-details,.carousel-page .carousel-item .carousel-item-details {
    font-size: 2rem;
}
.carousel-page .carousel-item .carousel-item-details .selection-text,.carousel-page .carousel-item .carousel-item-details .selection-text {
    margin: 10px 0;
}
.carousel-page .carousel-item .carousel-item-details .selection-options .options-column, .carousel-page .carousel-item .carousel-item-details .selection-options .options-column {
    display: inline-block;
    vertical-align: top;
    padding-right: 5%;
    width: 24%;
}
.carousel-page .carousel-item .carousel-item-details .selection-options .options-column, .carousel-page .carousel-item .carousel-item-details .selection-options .options-column {
    display: inline-block;
    vertical-align: top;
    padding-right: 5%;
    width: 24%;
}
.carousel-item.width_full_animate_box {
    width: 84%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 0px;
    text-align: left;
}
.carousel-page .carousel-item .carousel-item-details .selection-text,.carousel-page .carousel-item .carousel-item-details .selection-text {
    margin: 10px 0;
    font-size: 18px;
    line-height: 18px;
}
.options-column span {
    display: block;
    font-size: 16px;
    color: #000;
}
.options-column span a{
  color: #05379b;
}
.options-column span a:hover{
  text-decoration: underline !important;
}
</style>