<div class="why__container">
  <div class="wrapper__container">
    <div class="why">
      <div class="why__content">
        <div class="why__row">
          <div class="why__row__col">
            <div class="why__row__col__title">Por qué elegirnos</div>
          </div>
        </div>

        <div class="why__row">
          <div class="why__row__col">
            <div class="why__row__col__card">
              <%= image_tag "get_quotes.png" %>
            </div>

            <div class="why__row__col__card">
              <div class="why__row__col__card__title">OBTIENE PRESUPUESTOS PARA TUS PEDIDOS PERSONALIZADOS</div>
            </div>

            <div class="why__row__col__card">
              <div class="why__row__col__card__detail">Conectarse con miles de proveedores se volvió fácil!</div>
            </div>
          </div>

          <div class="why__row__col">
            <div class="why__row__col__middle">
              <div class="why__row__col__card">
                <%= image_tag "right_supplier.png" %>
              </div>

              <div class="why__row__col__card">
                <div class="why__row__col__card__title">DEJA QUE LOS PROVEEDORES TE ENCUENTREN</div>
              </div>

              <div class="why__row__col__card">
                <div class="why__row__col__card__detail">Obtén cotizaciones de multiples proveedores en un sólo lugar!</div>
              </div>
            </div>
          </div>

          <div class="why__row__col">
            <div class="why__row__col__card">
              <%= image_tag "close_deal.png" %>
            </div>

            <div class="why__row__col__card">
              <div class="why__row__col__card__title">CIERRA ACUERDOS CON UN</br> CLICK</div>
            </div>

            <div class="why__row__col__card">
              <div class="why__row__col__card__detail">Nunca ha sido tan fácil seleccionar el proveedor correcto!</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>