
  <div class="modal-dialog" role="document">
    <div class="main-model-content modal-content">
    <div class="year_box">
      <div class="vp_head">
        <h2 class="vp_head_txt">Elige tu vehículo</h2>
      </div>
      <%if @year.present?%>
        <div class="vp_chooser_disp" >
      <%end%>
      <%if @year.present?%>
        <span class="step_display display_year"><%= @year%></span>
      <%end%>
      <%if @brand.present?%>
        <span class="step_display display_make"><%= @brand.name%></span></div>
      <%end%>
      <div class="vp_head_line"></div>
      <ul class="vp_breadcrumbs">
        <li class="vp_chooser_bc vp_chooser_bc_year selected active" data-step="year">Año</li>
        <%if @year.present?%>
          <li class="vp_chooser_bc vp_chooser_bc_make active" data-step="make">Marca</li>
        <%end%>
        <%if @brand.present?%>
          <li class="vp_chooser_bc vp_chooser_bc_model active" data-step="model">Modelo</li>
        <%end%>
        <li class="vp_chooser_bc vp_chooser_bc_trim" data-step="trim">Trim</li>
        <li class="vp_chooser_bc vp_chooser_bc_engine" data-step="engine">Engine/Trans</li>
      </ul>
      <%unless @brands.present? || @models.present? %>
        <div class="main_box_vp">
          <div class="vp_chooser_tab vp_chooser_tab_year active">
            <div class="vp_chooser_tab_options">
              <div class="vp_option_row row">
                <% QuotationRequest::YEAR.each do |year|%>
                  <div class="col-md-3">
                    <%= link_to year, get_brands_path(year: year, category_id: @category.id), remote:true %>
                  </div>
                <%end%>
              </div>
            </div>
          </div>
        </div>
      <%else%>
        <%if @brands.present?%>
          <div class="main_box_vp">
            <div class="vp_chooser_tab vp_chooser_tab_year active">
              <div class="vp_chooser_tab_options">
                <div class="vp_option_row row">
                  <%@brands.each do |brand|%>
                    <div class="col-md-3">
                      <%= link_to brand.name, get_models_path(brand_id: brand.id, year: @year, category_id: @category.id), remote: true%>
                    </div>
                  <%end%>
                </div>
              </div>
            </div>
          </div>
        <%end%>
      <%end%>
      <%if @models.present? %>
        <div class="main_box_vp">
          <div class="vp_chooser_tab vp_chooser_tab_year active">
            <div class="vp_chooser_tab_options">
              <div class="vp_option_row row">
                <%@models.each do |model|%>
                  <div class="col-md-3">
                    <%#= link_to model.name, get_fields_path(model_id: model.id, brand_id: @brand.id, year: @year, category_id: @category.id), remote: true%>

                    <%= link_to model.name, category_parts_path(model_id: model.id, brand_id: @brand.id, year: @year, category_id: @category.id)%>

                  </div>
                <%end%>
              </div>
            </div>
          </div>
        </div>
      <%end%>
      <div class="vp_control">
        <%if @category.present? %>
          <%= link_to "Comenzar de nuevo", get_date_path(category_id: @category.id), remote: true, class: "button vp_cancel_button"  %>
        <%else%>
          <%= link_to "Comenzar de nuevo", get_date_path, remote: true, class: "button vp_cancel_button"  %>
        <%end%>
        <a href="javascript:;" class="button vp_cancel_button" data-dismiss="modal" id="close">Cerrar</a>
      </div>
    </div>
      
    </div>
  </div>


<style type="text/css">
  .modal.year_model_pop.fade.show .main-model-content.modal-content {
      width: 90%;
  }
  .home_brand_sec{
    padding:25px 0px;
    box-sizing: border-box;

  }
  .heading_work_new{
    font-size: 36px;
    text-align: center;
  }
  .carousel-page .carousel-item,.carousel-page .carousel-item {
    background-color: #f0f5fe;
    color: #000;
    width: 15%;
    height: 190px;
    margin: 0 20px 20px 0;
    padding: 20px 0;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
    vertical-align: top;
}
.carousel-page .carousel-item .carousel-item-image,.carousel-page .carousel-item .carousel-item-image {
    width: 100px!important;
}
.carousel-page .carousel-item .carousel-item-title h4, #home-parts-section .carousel-page .carousel-item .carousel-item-title h4 {
    font-weight: 700;
}
.carousel-page .carousel-item:hover .carousel-item-title h4, #home-parts-section .carousel-page .carousel-item:hover .carousel-item-title h4 {
    text-decoration: underline;
}
.carousel-nav-row .carousel-nav,.carousel-nav-row .carousel-nav {
    display: inline-block;
    width: 5%;
    cursor: pointer;
}
.carousel-nav-row .carousel-nav img,.carousel-nav-row .carousel-nav img {
    width: 100%;
}
.carousel-nav-row .carousel-nav,.carousel-nav-row .carousel-nav {
    display: inline-block;
    width: 5%;
    cursor: pointer;
}
.carousel-nav-row .carousel-nav img,.carousel-nav-row .carousel-nav img {
    width: 100%;
}
.carousel-row .carousel-indicators,.carousel-row .carousel-indicators {
    bottom: 15px;
}
.carousel-row .carousel-indicators li.active,.carousel-row .carousel-indicators li.active {
    border-bottom: 10px solid #039!important;
}
.carousel-row .carousel-indicators li,.carousel-row .carousel-indicators li {
    display: inline-block;
    height: 10px;
    width: 100px;
    border-radius: 0!important;
    border: 0!important;
    border-bottom: 10px solid #ccc!important;
    margin: 0 10px;
}
.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    margin-left: -30%;
    padding-left: 0;
    list-style: none;
    text-align: center;
}
.work__container {
    background: #fff;
    padding-bottom: 50px;
   }
.wrapper__container {
    width: 1170px;
}
.work__content {
    padding: 60px;
}
.hidden{
  display: none!important;
}
.wk_heading {
    margin-bottom: 30px;
}
.carousel-indicators li {
    position: relative;
    flex: 0 1 auto;
    width: 100px;
    height: 7px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #f0f5fe;
}
.carousel-indicators .active {
    background-color: #0c63ff;
}

.carousel-page .carousel-item .carousel-item-details,.carousel-page .carousel-item .carousel-item-details {
    font-size: 2rem;
}
.carousel-page .carousel-item .carousel-item-details .selection-text,.carousel-page .carousel-item .carousel-item-details .selection-text {
    margin: 10px 0;
}
.carousel-page .carousel-item .carousel-item-details .selection-options .options-column, .carousel-page .carousel-item .carousel-item-details .selection-options .options-column {
    display: inline-block;
    vertical-align: top;
    padding-right: 5%;
    width: 24%;
}
.carousel-page .carousel-item .carousel-item-details .selection-options .options-column, .carousel-page .carousel-item .carousel-item-details .selection-options .options-column {
    display: inline-block;
    vertical-align: top;
    padding-right: 5%;
    width: 24%;
}
.carousel-item.width_full_animate_box {
    width: 84%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 0px;
    text-align: left;
}
.carousel-page .carousel-item .carousel-item-details .selection-text,.carousel-page .carousel-item .carousel-item-details .selection-text {
    margin: 10px 0;
    font-size: 18px;
    line-height: 18px;
}
.options-column span {
    display: block;
    font-size: 16px;
    color: #000;
}
.options-column span a{
  color: #05379b;
}
.options-column span a:hover{
  text-decoration: underline !important;
}
/**********popup_tab**********/
.vp_head_line {
    border-top: 1px solid #ccc;
    font-size: 14px;
    line-height: 20px;
    min-height: 35px;
    padding: 7px 10px;
}
.vp_breadcrumbs {
  color: #919191;
  display: block;
  font-size: 1.3em;
  line-height: 1.7em;
  margin: 0;
  padding: 0;
}
.vp_breadcrumbs li:first-child {
  margin-left: 10px;
}
.vp_breadcrumbs li {
  background-color: #ebebeb;
  border: 1px solid #999;
  border-radius: 5px 5px 0 0;
  color: #444;
  color: #a0a0a0;
  cursor: default;
  display: none;
  margin-bottom: 0;
  margin-right: 3px;
  padding: 2px 10px;
  position: relative;
  text-shadow: 1px 1px 1px #eee;
  top: 1px;
}
.vp_breadcrumbs li.active {
  background-color: #fff;
  border-bottom: 1px solid #fff;
  border-top: 3px solid #453eeb;
  color: #333;
  display: inline-block;
}
.year_box{
  background-image: linear-gradient(180deg,#f7f7f7 0,#e2e2e2);
  background-repeat: repeat-x;
  border-radius: 5px;
  text-align: left;
}
.main_box_vp {
    background-color: #fff;
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
    box-shadow: 0 -1px 10px #b1b1b1;
    padding-top: 10px;
}
.vp_chooser_tab {
    display: none;
}
.vp_chooser_tab_options {
    margin: 0 10px;
    max-height: 261px;
    min-height: 100px;
    overflow-y: auto;
    padding-bottom: 10px;
}
.vp_option_row:first-child {
    border-top: 0;
    padding-top: 0;
}
.vp_option_row ul {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 140px;
}
.vp_chooser_tab.active {
  display: block;
}
.vp_control {
    box-sizing: content-box;
    font-weight: 700;
    padding: 5px;
    text-align: right;
}
.vp_control a, .vp_control a:link, .vp_control a:visited {
    border: 1px solid #b1b1b1;
    color: #165588;
    font-size: 14px!important;
    margin: 2px 3px;
    padding: 4px 10px!important;
    text-decoration: none;
}
.vp_control .vp_reset_button,.vp_cancel_button {
    display: inline-block;
    margin-right: 10px;
    -webkit-font-smoothing: antialiased;
    background-image: linear-gradient(180deg,#fff 0,#d8d8d8);
    background-repeat: repeat-x;
    border-radius: .2em;
    color: #333!important;
    cursor: pointer;
}
h2.vp_head_txt {
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    margin: 0;
    padding: 5px 10px;
}
.vp_breadcrumbs li.selected {
    background-color: #fff;
    border-top: 3px solid #0fa30f;
    color: #333;
    cursor: pointer;
    display: inline-block;
}
.vp_chooser_disp {
    border-top: 1px solid #ccc;
    font-size: 14px;
    line-height: 20px;
    min-height: 35px;
    padding: 7px 10px;
}
@media (min-width: 768px){
 .wrapper__container2{
  width: 100% !important;

 }
}
@media (min-width: 480px){
 .wrapper__container2{
  width: 100%;

 }
}
</style>