<%= form_tag private_api_suppliers_quotations_path, method: 'post' do %>
<div class="screen__body2">
  <div class="bdy_tb_model">
    <div class="ant-card ant-card-bordered tb_leftp full_bx" >
      <div class="ant-card-head">
        <div class="ant-card-head-wrapper">
          <div class="ant-card-head-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Piezas Solicitadas ()</font></font></div>
        </div>
      </div>
      <div class="">
        <div class="ant-table-wrapper no-border">
          <div class="ant-spin-nested-loading">
            <div class="ant-spin-container">
              <div class="ant-table ant-table-small ant-table-scroll-position-left">
                <div class="ant-table-content centr_table">
                  <div class="table_first_small">
                    <table class="table table-responsive">
                      
                      <thead class="table_inpt2">
                        <tr>
                          <th><span><font><font>Descripción</font></font></span></th>
                          <th><span><font><font>Original</font></font></span></th>
                          <th><span><font><font>Alternativa</font></font></span></th>
                          <th><span><font><font>Cantidad</font></font></span></th>
                        </tr>
                      </thead>
                      <tbody class="ant-table-tbody">
                      
                      <% @quotation_request['parts'].each_with_index do |part, i| %>
                        <tr class="request-part" id="request_part-<%= i%>" style="display: <%= i.zero? ? 'flex block' : 'none'%>;">
                          <td>
                            <%= part["description"] %>
                          </td>
                          <td>
                            <%= !part["original"].nil? ? 'Yes' : 'Do not' %>
                          </td>
                          <td>
                            <%= !part["alternative"].nil? ? 'Yes' : 'Do not' %>
                          </td>
                          <td>
                            <%= part["amount"] %>
                          </td>
                        </tr>
                      <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ant-card ant-card-bordered full_bx">
      <div class="ant-card-head">
        <div class="ant-card-head-wrapper">
          <div class="ant-card-head-title">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Cotización</font>
            </font>
          </div>
        </div>
      </div> 
      <div class="ant-card-body" style="border-top: 1px solid rgb(235, 234, 235); padding: 0px;">
        <div class="ant-table-wrapper no-border">
          <div class="ant-spin-nested-loading">
            <div class="ant-spin-container">
              <div class="ant-table ant-table-small ant-table-scroll-position-left">
                <div class="ant-table-content">
                  <div class="ant-table-body">
                    <table class="table table-responsive">
                      <colgroup>
                        <col>
                        <col>
                        <col>
                      </colgroup>
                      <thead class="table_inpt">
                        <tr>
                          <th class=""><span> Precio por pieza</span></th>
                          <th class=""><span> Cantidad</span></th>
                          <th class=""><span> Descuento</span></th>
                          <th class=""><span> Subtotalnt</span></th>
                          <th class=""><span> Tipo de Requesto</span></th>
                          <th class=""><span> Garantía</span></th>
                          <th class=""><span>Envío</span></th>
                          <th class=""><span>Disponibilidad</span></th>
                        </tr>
                      </thead>
                      <tbody class="ant-table-tbody">
                      <% @quotation_request['parts'].each_with_index do |part, i| %>
                        <%= hidden_field_tag "quotation_parts[#{i}][quotation_request_part_id]", part["id"] %>
                        <tr class="ant-table-row  ant-table-row-level-0 parts-row", id = "quote_request_part-<%= i %>" style="display: <%= i.zero? ? 'flex block' : 'none'%>;">
                          <td class="">
                            <span class="ant-table-row-indent indent-level-0" style="padding-left: 0px;"></span>
                            <div class="ant-input-number">
                              <div class="ant-input-number-input-wrap" role="spinbutton" aria-valuemin="0" aria-valuemax="100000000" aria-valuenow="0">
                              <%= number_field_tag "quotation_parts[#{i}][price]", '', class: "ant-input-number-input price", autocomplete: "off", max: 100000000, min: 0, required: true %>
                              </div>
                            </div>
                          </td>
                          <td class="">
                            <div class="ant-input-number">
                              <div class="ant-input-number-input-wrap" role="spinbutton" aria-valuemin="0" aria-valuemax="100000000" aria-valuenow="0">
                                <%= number_field_tag "quotation_parts[#{i}][amount]", part['amount'], class: "ant-input-number-input amount", autocomplete: "off", max: "100000000", min: "0", step: 1, required: true, readonly: true %>
                              </div>
                            </div>
                          </td>
                          <td class="">
                            <div class="ant-input-number">
                              <div class="ant-input-number-input-wrap" role="spinbutton" aria-valuemin="0" aria-valuemax="100000000" aria-valuenow="0">
                                <%= number_field_tag "quotation_parts[#{i}][discount]", '', class: "ant-input-number-input discount", autocomplete: "off", max: "100000000", min: "0", step: 1 %>
                              </div>
                            </div>
                          </td>
                          <td class="">
                            <span>
                              <div class="ant-input-number ant-input-number-disabled">
                                <div class="ant-input-number-input-wrap" role="spinbutton" aria-valuemin="0" aria-valuemax="100000000" aria-valuenow="0">
                                  <%= number_field_tag "quotation_parts[#{i}][subtotal]", '', class: "ant-input-number-input subtotal", autocomplete: "off", max: "100000000", min: "0", step: 1, readonly: true %>
                                </div>
                              </div>
                            </span>
                          </td>
                          <td class="">
                            <div class="">
                              <div class="ant-input-number-input-wrap">
                                <%= select_tag "quotation_parts[#{i}][tipo_de_requesto]", options_for_select(['original', 'alternative']), {include_blank: false, class: "form_request ant-input required", style: "width:100%"}%>
                              </div>
                            </div>
                          </td>
                          <td class="">
                            <div class="">
                              <div class="">
                                <%= text_field_tag "quotation_parts[#{i}][warranty]",'',class: "ant-input-text inp_fullwidth warranty" %>
                              </div>
                            </div>
                          </td>
                          <td class="">
                            <div class="">
                              <div class="">
                                <%= date_field_tag "quotation_parts[#{i}][shipping]",'', class: "ant-input-text" %>
                              </div>
                            </div>
                          </td>
                          <td class="" id="available_<%=i%>">
                            <div class="">
                              <div class="ant-input-number-input-wrap">
                                <%= check_box_tag "quotation_parts[#{i}][availability]", true%>
                              </div>
                            </div>
                          </td>
                        </tr>
                      <% end %>
                      </tbody>
                    </table>
                  </div>
                  <div class="ant-table-footer">
                    <div>
                      <div>
                        <!-- <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Subtotal:</font></font></p>
                        <div class="ant-input-number ant-input-number-disabled">
                          <div class="ant-input-number-input-wrap" role="spinbutton" aria-valuemin="-9007199254740991" aria-valuenow="0">
                            <%#= number_field_tag "subtotal", '', class: "ant-input-number-input", autocomplete: "off", min: "-9007199254740991", step: 1, readonly: true%>
                          </div> -->
                        <!-- <h4><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Discount:</font></font></h4>
                        <div class="ant-input-number">
                          <div class="ant-input-number-input-wrap" role="spinbutton" aria-valuemin="0" aria-valuemax="0" aria-valuenow="0">
                            <%#= number_field_tag "discount", "", class: "ant-input-number-input", autocomplete: "off", step: 1 %>
                          </div>-->
                        </div>
                        <h4><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Total Final:</font></font></h4>
                        <div class="ant-input-number ant-input-number-disabled width_inpt">
                          <div class="ant-input-number-input-wrap" role="spinbutton" aria-valuemin="-9007199254740991" aria-valuenow="0">
                            <%= number_field_tag "total", '', class: "ant-input-number-input", min: "-9007199254740991", step: 1, autocomplete: "off", readonly: true %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <input type="hidden" name="quotation_request_id" value="<%= @quotation_request['parts'].first["quotation_request_id"] %>">
  <input type="hidden" name="quotation[quotation_request_id]" value="<%= @quotation_request['parts'].first["quotation_request_id"] %>">
  <div class="screen__footer screen__footer--padding">
    <button type="submit" class="ant-btn float-right ant-btn-success mb-18 submt", style="display: none;">
      <i class="anticon anticon-check"></i>
      <span>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Enviar cotización</font>
        </font>
      </span>
    </button>

    <button type="button" class="ant-btn float-right ant-btn-default mb-18" id="clean">
      <i class="anticon anticon-delete"></i>
      <span>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Limpiar</font>
        </font>
      </span>
    </button>
    <button type="button" class="ant-btn float-right ant-btn-default mb-18", id="next">
      <i class="anticon"></i>
      <span>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Siguiente</font>
        </font>
      </span>
    </button>
  </div>
<% end %>
    

<script type="text/javascript">
  $( document).ready(function() {
    $(".price").keyup(function() {
      var value = parseInt($(this).val())
      var index = parseInt($(this).attr('id').split('_')[2])
      amount = parseInt($("#quotation_parts_"+index+"_amount").val())
      if (amount != 0 && !isNaN(amount) && value != 0 && !isNaN(value)){
        var total = value * amount
        var final_total = 0
        discount = parseInt($("#quotation_parts_"+index+"_discount").val())

        if ((discount > 0) && !isNaN(discount)){
          total = total - discount
        }

        $("#quotation_parts_"+index+"_subtotal").val(total)

        $('.subtotal').each(function( index ) {
          var line_total = parseInt($(this).val())
          if (!isNaN(line_total)) {
            final_total += line_total
          }
        });

        // $("#subtotal").val(final_total)
        $("#total").val(final_total)
      }
      if(value>0){
        $("#available_"+index).show();
        $("#available_th").show();
      }else{
        $('#available_'+index).hide();
        $("#available_th").hide();
      }
    });


    $("#next").click(function() {
      len = $(".parts-row").length
      a = parseInt($(".parts-row:visible").attr('id').split('-')[1])
      if (a < len-1){
        $("#request_part-"+a+"").hide()
        $("#quote_request_part-"+a+"").hide()
        b = a+1
        $("#request_part-"+b+"").show()
        $("#quote_request_part-"+b+"").show()
      }
      else{
        $('#next').hide();
        $('.submt').show();
      }
    });

    $("#clean").click(function() {
      $('.price').val("");
      $('.discount').val("")
      $('.warranty').val("")
    });

    $(".discount").keyup(function() {
      index = parseInt($(this).attr('id').split('_')[2])

      value = parseInt($(this).val())
      amount = parseInt($("#quotation_parts_"+index+"_amount").val())
      price = parseInt($("#quotation_parts_"+index+"_price").val())
      subtotal = (amount * price) - value
      $("#quotation_parts_"+index+"_subtotal").val(subtotal)

      final_total = 0
      $('.subtotal').each(function( index ) {
        var line_total = parseInt($(this).val())
        if (!isNaN(line_total)) {
          final_total += line_total
        }
      });

      if (final_total != 0){
        $("#total").val(final_total)
      }
    });
  });
</script>