<div class="" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog style_popup_bdy modal-lg" role="document">
    <div class="modal-content alertify">
      <div class="modal-header">
        <h1 class="modal-title header_modtext" id="exampleModalLabel">Nueva cotización orden </h1>
      </div>
      <div class="modal-body">
        <span class="show-errors" style="color: red;"></span>
      <div class="style_popup"> 
      <%= form_tag private_api_suppliers_quotations_path, method: 'post' do %>
        <tbody class="ant-table-tbody">
          <% @quotation_request_parts.each_with_index do |part, i| %>
            <span class="part-name-<%=i%>" style="display: none;"><%=part.description%></span>
            <%= hidden_field_tag "quotation_parts[#{i}][quotation_request_part_id]", part["id"] %>

            <div style="display: <%= i.zero? ? 'flex block' : 'none'%>;", class = "parts-row box-<%= i %>" >
              <div class="form-group row">
                <div class="col-md-6">
                  <label for="inputEmail3" class="col-form-label">  Precio neto: </label>
                  <%= number_field_tag "quotation_parts[#{i}][price]", '', class: " form-control ant-input-number-input price", autocomplete: "off", max: 100000000, min: 0, required: true %>  
                </div>
                <div class="col-md-6">
                  <label for="inputEmail3" class="col-form-label">  Cantidad: </label>
                  <%= number_field_tag "quotation_parts[#{i}][amount]", part['amount'], class: " form-control ant-input-number-input amount", autocomplete: "off", max: "100000000", min: "0", required: true, readonly: true %>  
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-6">
                  <label for="inputEmail3" class="col-form-label">  Tipo de Requesto: </label>
                  <% if part.original == true && part.alternative == true %>
                    <%= select_tag "quotation_parts[#{i}][type_of_request]", options_for_select(['original', 'alternative']), {include_blank: false, class: " form-control form_request ant-input required", style: "width:100%"}%>
                  <%elsif part.original == false && part.alternative == true %>
                    <%= select_tag "quotation_parts[#{i}][type_of_request]", options_for_select(['alternative']), {include_blank: false, class: " form-control form_request ant-input required", style: "width:100%", readonly: true}%>
                  <%elsif part.original == true && part.alternative == false %>
                    <%= select_tag "quotation_parts[#{i}][type_of_request]", options_for_select(['original']), {include_blank: false, class: " form-control form_request ant-input required", style: "width:100%", readonly: true}%>
                  <%elsif part.original == nil && part.alternative == nil %>
                    <%= select_tag "quotation_parts[#{i}][type_of_request]", options_for_select(['original', 'alternative']), {include_blank: false, class: " form-control form_request ant-input required", style: "width:100%"}%>
                  <%end%>
                </div>
                <div class="col-md-6">
                  <label for="inputEmail3" class="col-form-label">  Garantía: </label>
                  <%= number_field_tag "quotation_parts[#{i}][warranty]",'', {include_blank: false, class: " form-control form_request ant-input required", style: "width:100%"} %>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-6">
                  <label for="inputEmail3" class="col-form-label">  Forma de Entrega: </label>
                  <%= select_tag "quotation_parts[#{i}][shipping_type]", options_for_select(Supplier::DELIVERY_OPTION), {include_blank: false, class: " form-control form_request ant-input required type_of_delivery #{i}", style: "width:100%"}%>
                </div>
                <div class="col-md-6">
                  <label for="inputEmail3" class="col-form-label">  Precio despacho: </label>
                  <%= number_field_tag "quotation_parts[#{i}][shipping_price]",'', {include_blank: false, class: " form-control form_request ant-input required shipping deliver-#{i}", style: "width:100%", :step => 0.01} %>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-6">
                  <label for="inputEmail3" class="col-form-label">  Descuento: </label>
                  <%= number_field_tag "quotation_parts[#{i}][discount]",'', {include_blank: false, class: " form-control form_request ant-input required discount", style: "width:100%", :step => 0.01} %>
                </div>
                <div class="col-md-6">
                  <label for="inputEmail3" class="col-form-label">  Sub Total: </label>
                  <%= number_field_tag "quotation_parts[#{i}][subtotal]",'', {include_blank: false, class: " form-control form_request ant-input required subtotal ", style: "width:100%", :step => 0.01, readonly: true } %>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-6">
                  <label for="inputEmail3" class="col-form-label">  Fecha de Despacho: </label>
                  <%= date_field_tag "quotation_parts[#{i}][shipping_date]",'', class: " form-control ant-input-text required date_field", style: "width:100%" %>
                </div>
                <div class="col-md-6">
                  <label for="inputEmail3" class="col-form-label">  Marca: </label>
                  <%= text_field_tag "quotation_parts[#{i}][brand]",'', {include_blank: false, class: " form-control form_request ant-input required", style: "width:100%"} %>
                </div>
              </div>
            </div>
          <% end %>

          <div class="form-group row">
            <div class="col-md-6">
              <label for="inputEmail3" class="col-form-label">  Total: </label>
              <%= number_field_tag "quotation_parts[price]",'', {include_blank: false, class: " form-control form_request ant-input required", id: 'total', style: "width:100%", :step => 0.01, readonly: true } %>
              <%= @markup.input%> will be deducted from this as a Markup.

              <input type="hidden" name="quotation_request_id" value="<%= @quotation_request_parts.first["quotation_request_id"] %>">
              <input type="hidden" name="quotation[quotation_request_id]" value="<%= @quotation_request_parts.first["quotation_request_id"] %>">
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-alt-primary" id="clean">Limpiar</button>
            <button type="button" class="btn btn-alt-secondary" id="next">Siguiente</button>
            <button type="submit" style="display: none;" class="btn btn-alt-success submt"><i class="fa fa-check"></i> Enviar cotización</button>
            <button type="button" class="btn btn-alt-danger" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
        </tbody>
      <%end%>

<script type="text/javascript">
  $( document).ready(function() {

    $('#exampleModalLabel').text("Nueva cotización - <%= @quotation_request_parts.first.description%>")
    if ($(".parts-row").length ==1 ){
      $('#next').hide();
      $('.submt').show();
    }

    $(".type_of_delivery").change(function() {
      array = this.className.split(' ')
      id = array[array.length - 1]
      if (this.value == 'pickup'){
        $(".deliver-"+id).prop('disabled', true);
        $(".deliver-"+id).val('');
      }else{
        $(".deliver-"+id).prop('disabled', false);
      }
    });

    $(".price").keyup(function() {
      var value = parseFloat($(this).val())
      var index = parseFloat($(this).attr('id').split('_')[2])
      amount = parseFloat($("#quotation_parts_"+index+"_amount").val())
       if (isNaN(value)){
        $("#total").val('')        
        $("#quotation_parts_"+index+"_subtotal").val('')        
       }
      if (amount != 0 && !isNaN(amount) && value != 0 && !isNaN(value)){
        var total = value * amount
        var final_total = 0
        discount = parseFloat($("#quotation_parts_"+index+"_discount").val())
        shipping = parseFloat($("#quotation_parts_"+index+"_shipping_price").val())

        if ((discount > 0) && !isNaN(discount) ){
          total = (total - discount)
        }
        if ((shipping > 0) && !isNaN(shipping)) {
          total = (total + shipping) 
        }

        $("#quotation_parts_"+index+"_subtotal").val(total)

        $('.subtotal').each(function( index ) {
          var line_total = parseFloat($(this).val())
          if (!isNaN(line_total)) {
            final_total += line_total
          }
        });
        
        $("#total").val(final_total)
      }
    });

    $("#next, .submt").click(function(event) {
      a = parseFloat($(".parts-row:visible").attr('class').split(' ')[1].split('-')[1])

      error_text = ""
      if ($("#quotation_parts_"+a+"_price").val() == ""){
        error_text = error_text + "por favor indique el precio"
      }
      if ($("#quotation_parts_"+a+"_warranty").val() == ""){
        error_text = error_text + " por favor proporcione garantía"
      }
      if ($(".date_field").val() == ""){
        error_text = error_text + "por favor indique la fecha"
        $('.show-errors').text(error_text)
        return false
      } 
      if ($("#quotation_parts_"+a+"_shipping_date").val() == ""){
        error_text = error_text + " por favor indique la fecha de envío"
      }

      $('.show-errors').text(error_text)
      if (error_text != ""){
        return
        event.preventDefault();
      }
      part_name = $(".part-name-"+ (a+1)).text()
      $('#exampleModalLabel').text("Nueva cotización - " + part_name)
      len = $(".parts-row").length

      if (a < len-1){
        $(".box-"+a+"").hide()
        b = a+1
        $(".box-"+b+"").show()
        if (b == len-1){
          $('#next').hide();
          $('.submt').show();  
        }
      }

      else{
        $('#next').hide();
        $('.submt').show();
      }
    });

    $("#clean").click(function() {
      $('.price').val("");
      $('.discount').val("")
      $('.warranty').val("")
      $('.shipping').val("")
    });

    $(".discount").keyup(function() {
      index = parseFloat($(this).attr('id').split('_')[2])

      value = parseFloat($(this).val())
      discount = parseFloat($("#quotation_parts_"+index+"_discount").val())
      amount = parseFloat($("#quotation_parts_"+index+"_amount").val())
      price = parseFloat($("#quotation_parts_"+index+"_price").val())
      shipping = parseFloat($("#quotation_parts_"+index+"_shipping_price").val())

      if (!isNaN(value) && !isNaN(shipping)){
        subtotal = (amount * price) + shipping - value
        $("#quotation_parts_"+index+"_subtotal").val(subtotal)
      }
      else if (isNaN(value) && !isNaN(shipping)){
        subtotal = (amount * price) + shipping
        $("#quotation_parts_"+index+"_subtotal").val(subtotal)
      }
      else if (!isNaN(discount) && isNaN(shipping)){
        subtotal = (amount * price) - discount
        $("#quotation_parts_"+index+"_subtotal").val(subtotal)
      } 
      else {
        subtotal = (amount * price)
        $("#quotation_parts_"+index+"_subtotal").val(subtotal)
      }
      final_total = 0
      $('.subtotal').each(function( index ) {
        var line_total = parseFloat($(this).val())
        if (!isNaN(line_total)) {
          final_total += line_total
        }
      });
      if (final_total != 0){
        
        $("#total").val(final_total)
      }
    });

    $(".shipping").keyup(function() {
      index = parseFloat($(this).attr('id').split('_')[2])

      value = parseFloat($(this).val())
      amount = parseFloat($("#quotation_parts_"+index+"_amount").val())
      price = parseFloat($("#quotation_parts_"+index+"_price").val())
      discount = parseFloat($("#quotation_parts_"+index+"_discount").val())

      if (!isNaN(value) && !isNaN(discount)){
        subtotal = (amount * price) + value - discount
        $("#quotation_parts_"+index+"_subtotal").val(subtotal)
      }

      else if (!isNaN(value)){
        subtotal = (amount * price) + value
        $("#quotation_parts_"+index+"_subtotal").val(subtotal)
      }
      else {
        subtotal = (amount * price)
        $("#quotation_parts_"+index+"_subtotal").val(subtotal)
      }

      final_total = 0
      $('.subtotal').each(function( index ) {
        var line_total = parseFloat($(this).val())
        if (!isNaN(line_total)) {
          final_total += line_total
        }
      });

      if (final_total != 0){
        $("#total").val(final_total)
      }
    });
  });
</script>