<div class="layout__body__content__screen">
  <div class="screen">
    <div class="screen__content p-10right">
      <div class="screen__title">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">
            Nueva Cita # 
          </font>
        </font>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">
            <%= @quotation_request["parts"].first["quotation_request_id"]%>
          </font>
        </font>
        <p>
          <h3>Piezas Solicitadas para <%= @quotation_request["parts"].first["brand_name"]%> / <%=@quotation_request["parts"].first["model_name"]%> / <%=@quotation_request["parts"].first["year"]%> / <%=@quotation_request["parts"].first["chasis_number"] %></h3>
        </p>
      </div>
        <%= render 'form' %>
      </div>
  </div>
</div>