<main id="main-container">
  <div class="bg-body-light border-b">
    <div class="content py-5 text-center">
      <nav class="breadcrumb bg-body-light mb-0">
        <%= link_to 'Escritorio', landing_index_path, class: "breadcrumb-item" %>
        <span class="breadcrumb-item active">Cotizaciones</span>
      </nav>
    </div>
  </div>
  <!-- END Breadcrumb -->
  <div class="content">
    <div class="content-heading">
      Cotizaciones(<%=@quotations.count%>)
    </div>
    <div class="block block-rounded">
      <div class="block-content">
        <!-- Orders Table -->
        <div class="table-responsive">
          <table class="table table-borderless table-striped">
          <thead>
            <tr>
              <th class="text-center">Código cotización</th>
              <th class="text-center">Fecha de creación</th>
              <th class="text-center">Ver</th>
              <th class="text-center">Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <%@quotations.each do |quote|%>
              <tr>
                <td class="text-center">
                  <%=quote.id %>
                </td>
                <td class="text-center">
                  <%= quote.created_at.strftime('%d/%m/%Y')%>
                </td>
                <td class="text-center">
                  <%= link_to private_api_suppliers_quotation_path(quote.quotation_request_id) do%>
                    Ver
                  <% end %>
                </td>
                <td class="d-none d-sm-table-cell text-center">
                  Remove
                </td>
              </tr>
            <%end%>
          </tbody>
          </table>
        </div>
        <div class="pag_right_pa">
          <%= paginate @quotations %>
        </div>
      </div>
    </div>
  </div>
</main>
<style type="text/css">
  .pag_right_pa {
    position: relative;
    margin-left: 83%;
  }
</style>
