<div class="" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog my-model-body" role="document">
    <div class="enquiry_form main-model-content modal-content">
      <div class="modal-header editar  block-header bg-gd-primary">
        <h5 class="modal-title header_modtext" id="exampleModalLabel">Elige las sub partes que quieras</h5>
      </div>
      <div class="modal-body">
        <%= form_tag '/cotizar', method: 'post', id: "my_modal_form" do %>
          <input type="hidden" name="quote_param[category_id]" value="<%=@brand.category_id rescue ''%>">
          <input type="hidden" name="quote_param[brand_id]" value="<%=@brand.id rescue '' %>">
          <input type="hidden" name="quote_param[model_id]" value="<%=@model.id rescue '' %>">
          <input type="hidden" name="quote_param[year]" value="<%=@year rescue '' %>">
          <input type="hidden" name="quote_param[amount]" value="1">
          <input id = "description" type="hidden" name="quote_param[description]" value="<%= @category_part_item.name %>">
          <div class="form-group row" style="margin-left: 12px;">
            <label class="col-12">¿Lo que quieras?</label>
            <div class="col-12">
              <% @sub_parts.each do |sub_part| %>
                <% opt = CategorySubOption.find sub_part.category_sub_option_id %>
                <label for="<%= opt.name %>" class="check_box_label">
                  <input type="checkbox" id="<%= opt.name %>" name="<%= opt.name %>" class="option_checked" data-name="<%= opt.name %>" >
                  <span class="checkmark"></span> <%= opt.name %>
                </label>
              <% end %>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-alt-success part_name success_btn"><i class="fa fa-check"></i> Enviar</button>
      <% end %>
        <button type="button" class="btn btn-alt-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<style type="text/css">
  .check_box_label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .check_box_label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 3px solid #4f80bc !important;
  }

  /* On mouse-over, add a grey background color */
  .check_box_label:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .check_box_label input:checked ~ .checkmark {
    background-color: #2196F3;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .check_box_label input:checked ~ .checkmark:after {
    display: block;
  }

  .check_box_label .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .success_btn{
    background: #4f80bc;
    color: white;
  }
</style>
<script type="text/javascript">
  $(".part_name").click(function(){
    var desc = $('#my_modal_form').find('input[name="quote_param[description]"]').val();
    $('#my_modal_form').find('.option_checked:checkbox:checked').each(function(item){
      desc += ', '+$('#my_modal_form').find('.option_checked')[item].name
    });

    $('#my_modal_form').find('input[name="quote_param[description]"]').val(desc);
    $("#my_modal_form").submit();
  });
</script>