<div class="wrapper__container">
  <div id="landing-piece-table" class="landing-piece-table">
    <div>
      <div class="landing-piece-table__title">Detalle de la cotización</div>
      <div class="landing-piece-table__actions"><button class='ant-btn float-right btn btn_primary' id="quote-model">
        <i class="fa fa-plus"></i> Agregar repuesto
      </button></div>
      <div class="ant-table-wrapper">
        <div class="ant-spin-nested-loading">
          <div class="ant-spin-container">
            <div class="ant-table ant-table-default ant-table-scroll-position-left">
              <div class="ant-table-content">
                <div class="ant-table-body">
                  <table class="" id="quote_request_table">
                    <colgroup>
                      <col>
                      <col>
                      <col>
                      <col>
                      <col>
                      <col>
                      <col>
                    </colgroup>
                    <thead class="ant-table-thead">
                      <tr>
                        <th class=""><span>Marca</span></th>
                        <th class=""><span>Modelo</span></th>
                        <th class=""><span>Año</span></th>
                        <th class=""><span>Número de chasis</span></th>
                        <th class=""><span>Descripción</span></th>
                        <th class=""><span>Cantidad</span></th>
                        <th class="" colspan="2"><span></span></th>
                      </tr>
                    </thead>
                    <tbody class="ant-table-tbody" id="new_quotation_request_data">
                      <%btn=1%>
                      <% session["quote_data"].each do |data|%>
                        <tr class="ant-table-row  ant-table-row-level-0">
                          <td class=""><span class="ant-table-row-indent indent-level-0" style="padding-left: 0px;"></span><%= get_brand(data['brand_id']).name%></td>
                          <td class=""><%= get_model(data['model_id']).name%></td>
                          <td class=""><%= data['year']%></td>
                          <td class=""><%= data['chasis_number']%></td>
                          <td class=""><%= data['description'] %></td>
                          <td class=""><%= data['amount'] %></td>
                          <td class=""><button id="tbl_quotation_request_remove" data-remove="1">Retirar</button></td>
                          <% if current_user %>
                            <td class="">
                              <%= form_tag quote_with_current_user_path, method: :post do %>
                                <div class="quotation-request-hidden-login">
                                  <div id="div_remove" data-remove="1">
                                    <input type="hidden" name="pieces[][model_id]" value="<%= @model.id %>">
                                    <input type="hidden" name="pieces[][year]" value="<%= data['year']%>">
                                    <input type="hidden" name="pieces[][amount]" value="<%= data['amount'] %>">
                                    <input type="hidden" name="pieces[][chasis_number]" value="<%= data['chasis_number']%>">
                                    <input type="hidden" name="pieces[][description]" value="<%= data['description'] %>">
                                  </div>
                                </div>
                              <% if btn==1%>
                                <button type="submit" class="ant-btn wide login__control__submit ant-btn-primary ant-btn-lg"><span>Send Request</span></button>
                              <% end %>
                            </td>
                            <% end %>
                            <%btn+=1%>
                          <% end %>
                        </tr>
                      <%end%>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% unless current_user.present? %>
    <div class="row log-reg-form">
      <div class="col-md-6">      
        <div class="wrapper__container">
          <%= form_tag landing_quote_with_session_path, method: :post, class: "login" do |f| %>
            <div class="form login-form">
              <div class="form__title">Ingresar</div>
              <div class="quotation-request-hidden-login">
                <% session["quote_data"].each do |data|%>
                  <div id="div_remove" data-remove="1">
                    <input type="hidden" name="pieces[][model_id]" value="<%= data["model_id"] %>">
                    <input type="hidden" name="pieces[][year]" value="<%= data['year']%>">
                    <input type="hidden" name="pieces[][amount]" value="<%= data['amount'] %>">
                    <input type="hidden" name="pieces[][chasis_number]" value="<%= data['chasis_number']%>">
                    <input type="hidden" name="pieces[][description]" value="<%= data['description'] %>">
                  </div>
                <% end %>
              </div>
              <div class="form__group">
                <div class="form__group__label">Correo electrónico</div>
                <%= email_field_tag 'user[email]', '', placeholder: "Correo electrónico", class: "form__group__control login__control__email", required: true %>
              </div>

              <div class="form__group">
                <div class="form__group__label">Contraseña</div>
                <%= password_field_tag 'user[password]', '', placeholder: "********", class: "form__group__control login__control__password", required: true  %>
              </div>

              <div class="form__actions"><button type="submit" class="ant-btn wide login__control__submit ant-btn-primary ant-btn-lg"><span>Ingresar</span></button><button type="button" class="ant-btn wide login__control__submit ant-btn-default ant-btn-lg"><i class="fa fa-facebook-square"></i><span> Ingresar con Facebook</span></button><button type="button" class="ant-btn wide login__control__submit ant-btn-default ant-btn-lg"><i class="fa fa-google"></i><span> Ingresar con Google</span></button></div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="wrapper__container">
          <%= form_tag landing_quote_with_registration_path, method: :post, class: "registration" do |f| %>
            <div class="form">
              <div class="form__title">Registro</div>
              <div class="quotation-request-hidden-registration">
                <% session["quote_data"].each do |data|%>
                  <div id="div_remove_reg" data-remove="1">
                    <input type="hidden" name="pieces[][model_id]" value="<%= data["model_id"] %>">
                    <input type="hidden" name="pieces[][year]" value="<%= data['year']%>">
                    <input type="hidden" name="pieces[][amount]" value="<%= data['amount'] %>">
                    <input type="hidden" name="pieces[][chasis_number]" value="<%= data['chasis_number']%>">
                    <input type="hidden" name="pieces[][description]" value="<%= data['description'] %>">
                  </div>
                 <% end %>
              </div>
              <div class="form__group">
                <div class="form__group__label">Nombre</div>
                  <%= text_field_tag 'user[name]', '', placeholder: "Nombre completo", class: "ant-input ant-input-lg form__group__control registration__control__name", required: true %>
              </div>

              <div class="form__group">
                <div class="form__group__label">Correo electrónico</div>
                <%= email_field_tag 'user[email]', '', placeholder: "Correo electrónico", class: "ant-input ant-input-lg form__group__control registration__control__name", required: true %>
              </div>

              <div class="form__group">
                <div class="form__group__label">Teléfono</div>
                <%= text_field_tag 'user[phone]', '', placeholder: "Teléfono", class: "ant-input ant-input-lg form__group__control registration__control__phone", required: true %>
              </div>

              <div class="form__group">
                <div class="form__group__label">Contraseña</div>
                <%= password_field_tag 'user[password]', '', placeholder: "********", class: "ant-input ant-input-lg form__group__control registration__control__password", required: true  %>
              </div>

              <div class="form__group">
                <div class="form__group__label">Confirmar contraseña</div>
                <%= password_field_tag 'user[password_confirmation]', '', placeholder: "********", class: "ant-input ant-input-lg form__group__control registration__control__password_confirmation", required: true %>
              </div>

                <div className="form__actions">
                  <%= submit_tag "Enviar", class: " wide registration__control__submit" %>
                  <%= link_to  user_google_oauth2_omniauth_authorize_path, class: " btn btn-primary wide registration__control__submit" do %>
                    <i class="fa fa-google"></i> Ingresar con Google 
                  <%end%>
                  <%= link_to  user_facebook_omniauth_authorize_path, class: " btn btn-primary wide registration__control__submit" do %>
                    <i class="fa fa-facebook-square"></i> Ingresar con Facebook 
                  <%end%>
                </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

</div>

<div id="myModal" class="modal" style="display: none;">
  <div class="ant-modal-mask"></div>
  <div tabindex="-1" class="ant-modal-wrap " role="dialog" aria-labelledby="rcDialogTitle0" style="">
    <div role="document" class="ant-modal" style="width: 520px; transform-origin: 564px 4px 0px;">
      <div class="ant-modal-content">
        <button aria-label="Close" class="ant-modal-close close" id="closeModal"><span class="ant-modal-close-x"></span></button>
        <div class="ant-modal-header">
          <div class="ant-modal-title" id="rcDialogTitle0">Agregar pieza</div>
        </div>
        <div class="ant-modal-body">
          <div>
            <%= form_tag cotizar_path, method: :post, remote: true%>
              <div class="form__group">
              <div class="form__group__label">Marca:</div>
                <%= select_tag 'quote_param[brand_id]', options_for_select(@brands), {include_blank: "Marca del vehiculo", class: "form_request ant-input", style: "width:100%"}%>
              </div>
            <div></div>
            <div class="form__group">
              <div class="form__group__label">Modelo:</div>
                <%= select_tag 'quote_param[model_id]', options_for_select([]), {include_blank: "Modelo", class: "form_request ant-input", style: "width:100%"}%>
             </div>
            <div></div>
            <div class="form__group">
              <div class="form__group__label">Año:</div>
                <%= select_tag 'quote_param[year]', options_for_select(QuotationRequest::YEAR), {include_blank: "Año", class: "form_request ant-input", style: "width:100%"}%>
            </div>
            <div></div>
            <div class="form__group">
              <div class="form__group__label">Número de chasis:</div>
              <%= text_field_tag 'quote_param[chasis_number]', '', placeholder:"0123-2345-3456", class: "form_request ant-input", style: "width: 100%"%>
            </div>
            <div class="form__group">
              <div class="form__group__label">Descripción/Nro de pieza:</div>
              <%= text_field_tag 'quote_param[description]', '', placeholder:"Pieza ubicada en...", class: "form_request ant-input", style: "width: 100%" %>
            <div></div>
            </div>
            <div class="form__group">
              <div class="form__group__label">Cantidad:</div>
              <div class="select-amount">
                <%= number_field_tag 'quote_param[amount]', 1, placeholder:"1" , class: "form_request", style: "width: 100%"%>
               </div>
              <div></div>
            </div>
            <div class="form__group">
              <div class="form__group__label">Tipo de repuesto:</div>
              <label class="form__group__checkbox quote__control__original ant-checkbox-wrapper">
            <span class="ant-checkbox">
              <input name="quote_param[original]" id= "original" type="checkbox" class="ant-checkbox-input" value="false" style= "opacity: 1;">
              <span class="ant-checkbox-inner"></span>
            </span>
            <span>Original</span>
          </label>
          <label class="form__group__checkbox quote__control__alternative ant-checkbox-wrapper">
            <span class="ant-checkbox">
              <input name="quote_param[alternative]" id="alternative" type="checkbox" class="ant-checkbox-input" value="false" style= "opacity: 1;">
              <span class="ant-checkbox-inner"></span>
            </span>
            <span>Alternativo</span>
          </label>
            </div>
          </div>
        </div>
        <div class="ant-modal-footer">
          <div><button type="button" class="ant-btn" id="closeModal">Cancel</button><button type="submit" class="ant-btn ant-btn-primary" id= "quote-req" data-turbolinks='false' ><span>Ok</span></button></div>
        </div>
      </div>
      <div tabindex="0" style="width: 0px; height: 0px; overflow: hidden;">sentinel</div>
    </div>
  </div>
</div>
<script type="text/javascript">

  if($('#tbl_quotation_request_remove').length > 0){
    $('#tbl_quotation_request_remove').click(function() {

    });
  }
  $('#quote-model').click(function() {
    $('#myModal').css("display", "block");
  });

  $('#quote_param_brand_id').change(function() {
    brand = $(this).children("option:selected").val();
    $.ajax({
      url: '/models',
      type: 'GET',
      data: {
        brand_id: brand
      },
      contentType: 'application/json',
      dataType: 'json',
      success: function(data) {
        $('#quote_param_model_id').empty();
        $('#quote_param_model_id').append("<option value=''>modelo</option>");
        $.each(data, function(id, value) {
          $('#quote_param_model_id').append("<option value=" + value[1] + ">" + value[0]);
        });
      }
    });
  });

  $('#quote-req').click(function() {
    var prev_no = $('#tbl_quotation_request_remove').data('remove');
    var current_no = prev_no+1;
    $('#new_quotation_request_data').prepend($('<tr><td>'+$('#quote_param_brand_id option:selected').html()+'</td><td>'+$('#quote_param_model_id option:selected').html()+'</td><td>'+$('#quote_param_year').val()+'</td><td>'+$('#quote_param_description').val()+'</td><td>'+$('#quote_param_chasis_number').val()+'</td><td>'+$('#quote_param_amount').val()+'</td><td><button id="tbl_quotation_request_remove" data-remove="'+current_no+'">Retirar</button></td></tr>'));
    $('.quotation-request-hidden-registration').prepend($('<div id="div_remove_reg" data-remove="'+current_no+'"><input type="hidden" name="pieces[][model_id]" value="'+$('#quote_param_model_id').val()+'"><input type="hidden" name="pieces[][year]" value="'+$('#quote_param_year').val()+'"><input type="hidden" name="pieces[][amount]" value="'+$('#quote_param_amount').val()+'"><input type="hidden" name="pieces[][chasis_number]" value="'+$('#quote_param_chasis_number').val()+'"><input type="hidden" name="pieces[][description]" value="'+$('#quote_param_description').val()+'"></div>'));
    $('.quotation-request-hidden-login').prepend($('<div id="div_remove" data-remove="'+current_no+'"><input type="hidden" name="pieces[][model_id]" value="'+$('#quote_param_model_id').val()+'"><input type="hidden" name="pieces[][year]" value="'+$('#quote_param_year').val()+'"><input type="hidden" name="pieces[][amount]" value="'+$('#quote_param_amount').val()+'"><input type="hidden" name="pieces[][chasis_number]" value="'+$('#quote_param_chasis_number').val()+'"><input type="hidden" name="pieces[][description]" value="'+$('#quote_param_description').val()+'"></div>'));
    $('#myModal').css("display", "none");

  });

  $('#closeModal').click(function(){
    $('#myModal').css("display", "none");
  });

  $('#quote_request_table').on('click', '#tbl_quotation_request_remove', function() {
    var div_to_remove = $('#tbl_quotation_request_remove').data('remove');
    $('#div_remove').filter(function(){
      return $(this).data('remove') === div_to_remove;
    }).remove();
    $('#div_remove_reg').filter(function(){
      return $(this).data('remove') === div_to_remove;
    }).remove();
    $(this).closest("tr").remove();
  });

</script>