<div class="wrapper__container">
	<div class="search_box_wrapper_bdy">
		<div class="search_box_wrapper_bdy_inn">
			<form>
				<input type="txt" name="" class="search_input_txt" placeholder="Part Number(s), Keywords, or VIN">
				<button type="submit" class="btn_search_checkout"> <i class="fa fa-search"></i></button>
			</form>
		</div>
		
	</div>
	<div class="wrapper_cart_checkout_bdy">
		<div class="wrapper_cart_checkout_bdy_inner">
			<div class="checkout_bdy_inner_heading">
				<h3 class="checkout_bdy_inner_heading_txt">
					YOUR CART
				</h3>
			</div>
			<div class="checkout_bdy_inner_table_bdy">
				<table class="checkout_bdy_inner_table">
				  <thead>
				  	<tr>
				  		<th></th>
				  		<th>Product Description</th>
				  		<th>Price</th>
				  		<th>Quantity</th>
				  		<th class="text-right">Total</th>
				  	</tr>
				  </thead>
					<tbody>
						<tr>
							<td class="cart_img_td">
								<a href="#" class="cart_check_out_img">
									<img src="<%= image_path('bonut.png')%>" class="checkout_img">
								</a>
							</td>
							<td class="cart-description">
								<div class="item-description">
									<a href="#" class="bumper_txt">Bumper Cover</a>
								</div>
								<div class="product-notes">
									<span class="product-id">Product ID: FT4Z-17D957-BPTM</span>
									<div class="core-charge-message"> Price includes refundable core charge ($75.00 per item) </div>
								</div>
								<div class="remove_link">
									<a href="#" class="remove_link_txt">
										<i class="fa fa-minus-circle"></i>
										Remove
									</a>
								</div>
							</td>
							<td class="cart-price">
								<span> $660.38 </span>
							</td>
							<td class="cart-quty">
								<span> 11 </span>
							</td>
							<td class="cart-tprice text-right">
								<span> $7,264.18</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="continue_btn_bdy">
				<a href="#" class="btn btn_continue_bt_tble">Continue</a>
			</div>
		</div>	
	</div>
</div>