$("#sub-parts-modal").html("<%= j(render 'category_sub_parts')%>")
$("#sub-parts-modal").modal("show")

$('#closeModal').click(function(){
  $('#sub-parts-modal').modal("hide");
});

$('.top-arrow').css('z-index','0')
$('.interior_wrapper_dropdown').css('z-index','0')