<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/animatecss/3.5.2/animate.min.css">
<section class="breadcrum_section_body1">
  <div class="row">
    <div class="col-sm-4">
      
    </div>
    <div class="col-md-8 col-sm-8">
      <div class="search_box_wrapper_bdy">
        <div class="search_box_wrapper_bdy_inn">
          <%#= form_tag part_items_path, method: :get do %>
            <div class="row">
              <div class="col-lg-12">
                <%#= autocomplete_field_tag 'part_item[item_name]', '', autocomplete_category_part_item_name_category_part_items_path, placeholder:"Pieza ubicada en...", class: "form_request ant-input", :size => 75, required: true %>
                <input type="text" name="" class="form_request ant-input" size = "75" placeholder= "Search">
                <button class=" btn_search_checkout2">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          <%# end %>
        </div>  
      </div>
    </div>
  </div>
<div class="wrapper__container">
  <!-- start -->
  <div class="row navigation-row white_bg" >
    <div class=" col-sm-4">
      <div class="pml_sidebar_garage_heading" style="border: 1px solid #d9d9d9;">
        <div class="stuff_selected">
          <div class="pml_sidebar_garage_txt_in">
            <div class="selection-text">
              <img src=" <%= image_path('car.png')%>" alt="">
              <div>
                <span>
                  <a href="#">
                    <span><%= @brand.name %></span>
                  </a>
                </span>
                <span class="next-symbol">&gt;</span>
                <span>
                  <a href="#">
                    <span><%= @model.name %></span>
                  </a>
                </span>
                <span class="next-symbol">&gt;</span>
                <span>
                  <a href="#">
                    <span><%= @year %></span>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div> 
      </div>
      <div class="pml_grey_border pml_sidebar_categories" style="margin-top: 10px;">
        <div class="pml_sidebar_categories_heading">
          <h2 class="pml_sidebar_categories_heading_txt">Categorias</h2>
          <ul class="pml_sidebar_categories_list">
            <li>
              <a href="#" >Todas</a>
            </li>
            <li>
              <a href="#" class="active_cate">Partes</a>
            </li>
            <li>
              <a href="#">Accesorios</a>
            </li>
          </ul>
        </div>
        <div class="category_parts">
          <div class="cate_group">
            <div class="pml_categories desktop_categories">
              <div class="tab_list">
                <% @category_parts.each do |part|%>
                  <div class="card_part">
                    <div class="card_header part-<%=part.id%> cat_part-<%= params['category_part_id']%>">
                      <%= link_to (part.name + "(" +(part.item_types.count.to_s rescue '0') + ")"), "javascript:void(0)", class: "category togl-#{part.id}" %>
                    </div>
                    <%part.item_types.each_with_index do |item, ind|%>
                      <div class="auto_part subcategories_list item-<%=part.id%>" >
                        <ul class="sub_cate_list">
                          <li class= "item-hover itm_cat-<%= ind %>">
                            <%= link_to item.name, part_items_path(category_part_id: part.id, item_type_id: item.id, brand_id: @brand.id, model_id: @model.id, year: @year, menu: ind), :data => {"turbolinks": false} %>
                          </li>
                        </ul>
                      </div>
                    <%end%>
                  </div>
                <%end%>
              </div> 
            </div>
          </div>
        </div>
      </div>
    </div>    
    <div class="col-md-8 col-sm-8" style="float: right;" >
      <div class="wth-100 ">
        <div class="heading_interior">
          <h3 class="heading_interior_txt">Categorías de autopartes</h3>
        </div>
        <% @category_parts.each_slice(4) do | batch | %>
          <div class="interior_list body">
            <% batch.each_with_index do |category_part, i|%>
              <div class="interior_wrapper cat_open part-<%= category_part.id %>">
                <a href="javascript:void(0)" class="interior_category">
                  <%if category_part.attachments.present?%>
                    <img src="<%= image_path(category_part.attachments.last.attachment.url(:category))%>">
                  <%end%>
                  <span class="interior_title"><%= category_part.name%></span>
                  <div class="top-arrow"></div>
                </a>
              </div>
              <div class="interior_wrapper_dropdown prt" id="part-<%= category_part.id %>">
                <h4><%= category_part.name%>Subcategorias</h4>
                <div class="interior_category_item row">
                  <%if category_part.item_types.present? %>
                    <%category_part.item_types.order('name asc').each do |item_type|%>
                      <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="interior_category_item_in">
                          <h3 class="interior_category_item_heading" style="font-weight: 400;line-height: 0px;font-size: 14px;">
                            <%= link_to item_type.name, part_items_path(category_part_id: category_part.id, item_type_id: item_type.id, brand_id: @brand.id, model_id: @model.id, year: @year), :data => {"turbolinks": false} %>
                          </h3>
                        </div>
                      </div>
                    <%end%>
                  <%else%>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                      <div class="interior_category_item_in">
                        <h3 class="interior_category_item_heading" style="font-weight: 400;line-height: 0px;font-size: 14px;">
                          No presente
                        </h3>
                      </div>
                    </div>
                  <%end%>
                </div>
              </div>
            <%end%>
          </div>
          <div style="display: none;" class="after_list_body"></div>
        <%end%>
      </div>
    </div>
    <input type="hidden" name="quote_param[category_id]"value="<%=@brand.category_id rescue''%>">
    <input type="hidden" name="quote_param[brand_id]" value="<%=@brand.id rescue '' %>">
    <input type="hidden" name="quote_param[model_id]" value="<%=@model.id rescue '' %>">
    <input type="hidden" name="quote_param[year]" value="<%=@year rescue '' %>">
    <input type="hidden" name="quote_param[amount]" value="1">
    <input id = "description" type="hidden" name="quote_param[description]" value="">
  </div>
  <!-- end -->
</div>
  
</section>
<section class="search_sec_body search-field-section ">
  <div class="wrapper__container">
    <div class="row serch_field_row">
      <div class="col-md-12">
        <div class="search-field">
          <div>
            <h1 class="search-field_h1">Buscar por tipo de pieza</h1>
            <button class="btn pmr-grey-button pull-right help-button hidden-xs">AYUDA</button>
          </div>
          <div class="composite-field-container">
            <div class="field-title">Ingrese su tipo de pieza</div>
            <%= autocomplete_field_tag 'name', '',autocomplete_category_part_item_name_category_part_items_url, placeholder:"Pieza ubicada en...", class: "form_request ant-input", :size => 75 %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  $( document ).ready(function() {
    $(".1").show();
  }); 

  $(".cat_open").click(function(){
    $('.prt').removeClass('open_int');
    $('.cat_open').removeClass('open_arrow');
    id = this.classList[2]
    $(id).addClass('open_int');
    $("#"+id).addClass('open_int')
    $("."+id).addClass('open_arrow')
  });

  $(".card_header").click(function(){
    a = parseInt(this.className.split(' ')[1].split('-')[1])
    $(".auto_part").hide(200);
    if ($(".item-"+a).is(":hidden")){
      $(".item-"+a).show(200);
      $(".togl-"+a).addClass("down-arrow");
    }else{
      $(".item-"+a).hide(200);
      
      $(".togl-"+a).removeClass("down-arrow");
    }
  });

  $('.cat_open').click(function(){
    $(this).next('div.prt').append('<div class="top-arrow"></div>')
  });

  $('.interior_wrapper').click(function(){
    if ($(window).width() <= 320 ){
      current_div_height = this.nextElementSibling.offsetHeight
    }else if ($(window).width() <= 360 ){
      current_div_height = this.nextElementSibling.offsetHeight/2 + 30
    }else if ($(window).width() <= 480 ){
      current_div_height = this.nextElementSibling.offsetHeight/2 + 20
    }else if ($(window).width() <= 767 ){
      current_div_height = this.nextElementSibling.offsetHeight/2 + 10
    }else{
      current_div_height = this.nextElementSibling.offsetHeight/2      
    }
    $('.after_list_body').css({"display": "block","margin-top": "10px", "margin-bottom": current_div_height+"px" })
  })
</script> 
<style type="text/css">
.breadcrum_section_body{
  background-color: #f0f5fe;
}

.navigation-row {
    background-color: #f0f5fe;
    padding: 10px 0;
}
.navigation-row .selection-text {
    font-weight: 700;
    display: inline-block;
}
.navigation-row .selection-text img {
    height: 40px;
    margin-right: 10px;
    vertical-align: top;
}
.navigation-row .selection-text div span {
    display: inline-block;
}
.navigation-row a {
    /*color: #337ab7 !important;*/
}
.navigation-row .selection-text div span {
    display: inline-block;
    font-size: 13px;
    line-height: 13px;
}
.navigation-row .selection-text div {
    display: inline-block;
    margin-top: 10px;
}
.navigation-row .navigation_23 {
    display: inline-block;
    width: 100%;
    text-align: right;
    font-weight: 700;
}
.navigation-row .navigation_23 div {
    margin: 10px 1.1% !important;
    display: inline-block;
    cursor: pointer;
}
.sub-navigation_23{
    background-color: #f0f5fe;
    padding-top: 20px;
    margin-bottom: 30px;
}
 .column {
    display: inline-block;
    width: 48%;
    font-size: 13px;
    line-height: 20px;
}
.column a:hover{
  text-decoration: underline !important;
}

.navigation-row .sub-navigation_23 .column a{
  color: #337ab7;
}
.sub-navigation_23_h2 {
    font-size: 1.7rem;
    border-bottom: 1px solid #d3d3d3;
    margin: 10px 0 5px;
    font-weight: 700;
    padding: 5px 5px 5px 0;
}
.search-field-section {
    margin-top: 20px;
}
.search-field {
    background-color: #f0f5fe;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 30px;
}
.search-field_h1 {
    margin-top: 0;
    font-weight: 700;
    color: #039;
    display: inline-block;
}
.pmr-grey-button {
    background: #6f6f6f;
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}
.composite-field-container {
    border: 2px solid #ffd;
        margin-top: 16px;
}

.field-title {
    color: #6f6f6f;
    border-radius: 5px 5px 0 0;
    background: #fff;
    padding: 5px 5px 5px 10px;
    border-bottom: 1px solid #fff;
}
 .field {
    color: #6f6f6f;
    border-radius: 0 0 5px 5px;
    border: none;
    outline: 0;
    box-shadow: none;
    font-size: 14px;
    color: #6f6f6f;
}
.border-anim {
  border: 2px solid #039 !important;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/*new interial */
.interior_list.body {
  display: flex !important;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-bottom: 30px !important;
  position: relative;
}
.interior_wrapper {
  flex-basis: 25%;
  max-width: 25%;
}
a.interior_category {
  display: block;
  font-weight: 500;
  overflow: hidden;
  padding: 10px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
a.interior_category img {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  min-height: 157px;
  pointer-events: none;
  width: 250px;
}
.interior_wrapper_dropdown {
  background: #f7f7f7;
  border-bottom: 1px solid #cfcfcf;
  border-top: 1px solid #cfcfcf;
  display: block;
  left: 0;
  padding: 30px;
  position: absolute;
  width: 100%;
  top: 207px;
  display: none;
}
.wth-100{
  width: 100%;
}
.top-arrow{
  border-bottom: 19px solid #cfcfcf;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  height: 0;
  left: 44%;
  position: relative;  
  width: 0;
  z-index: 1;
  display: none;
}
.top-arrow:after {
  border-bottom: 18px solid #f7f7f7;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  content: "";
  height: 0;  
  position: absolute;
  top: 2px;
  width: 0;
  left: -14px;
}
.interior_wrapper.cat_open.open_arrow .top-arrow {
  display: block;
}
.interior_wrapper_dropdown h4 {
  font-size: 18px;
  margin-bottom: 20px !important;
}
ul.interior_category_item li {
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}
ul.interior_category_item li a {    
    font-size: 14px;
    padding: 4px 0;
}

.interior_wrapper_dropdown.open_int {
    display: block;
    z-index: 99;
}
.navigation-row.white_bg {
    background-color: #fff;
}
h3.heading_interior_txt {
    font-size: 18px;
}
.heading_interior {
    padding: 24px;
    box-sizing: border-box;
}
ul.int_list_img li {
    width: 24.3%;
    display: inline-block;
    text-align: center;
}
.interior_wrapper.cat_open.open_arrow {
    margin-bottom: 150px;
}
.interior_category_item_in {
  display: inline-block;
}
ul.interior_category_item li {
    display: block;
}
ul.interior_category_item>li {
    display: inline;
    padding: 0px 20px;
    box-sizing: border-box;
}
@media screen and (max-width: 480px){
  
}
@media screen and (max-width: 360px){
  .interior_wrapper_dropdown{
        top: 145px;
  }
  a.interior_category img{
    min-height: 96px;
  }
  
}
ul.pml_sidebar_categories_list li a {
    color: #bababa;
    display: block;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 0;
    position: relative;
}
.search_box_wrapper_bdy_inn{
  float: none !important;
}
</style>
