<div class="wrapper__container">
  <div class="final_cart_bdy">
  <div class="final_cart_bdy_inner row">
    <div class="col-md-8 col-sm-12 col-xs-12">
      <div class="final_cart_bdy_inner_inn">
        <div class="final_cart_bdy_inner_heading">
          <h3 class="final_cart_bdy_inner_heading_txt">Contacto</h3>
        </div>
        <form>
          <div class="final_cart_bdy_inner_row">
            <div class="col-md-6">
              <div class="form-group">
                <%unless current_user.present?%>
                  <input type="email" name="" placeholder="Correo electronico" class="form-control text_email_final_cart">
                <%else%>
                  <input type="email" name="" placeholder="Correo electronico" class="form-control text_email_final_cart", value="<%= current_user.email%>">
                <%end%>
                <%unless current_user.present?%>
                  <small class="btm_txt_final">
                    <span class="btm_txt_final_txt">¿Ya tienes una cuenta?</span>
                    <%= link_to 'Ingresa', login_popup_path, remote: true, class: "btm_txt_final_btn_login" %>
                  </small>
                <%end%>
              </div>
            </div>
          </div>
          <div class="final_cart_bdy_inner_row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="number" name="" placeholder="No de chassis (Mandatory)" class="form-control text_email_final_cart">
              </div>
            </div>
          </div>
        </form>
          <div class="final_cart_bdy_inner_heading">
            <h3 class="final_cart_bdy_inner_heading_txt sec_final">Direccion de despacho</h3>
          </div>
        <%= form_tag create_quotation_request_path, method: :post do %>
            <div class="final_cart_bdy_inner_row row">
              <div class="col-md-6">
                <div class="form-group">
                  <%= text_field_tag 'address[name]', (current_user.addresses.last.name rescue ''), placeholder: "Nombre de la dirección", required: true , class: "form-control text_email_final_cart"%>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%= text_field_tag 'address[apellidos]', '', placeholder: "Apellidos", required: true , class: "form-control text_email_final_cart"%>
                </div>
              </div>
            </div>

            <div class="final_cart_bdy_inner_row row">
              <div class="col-md-12">
                <div class="form-group">
                  <%= text_field_tag 'address[street_address]',  (current_user.addresses.last.street_address rescue ''), placeholder: "Dirección", required: true , class: "form-control text_email_final_cart"%>
                </div>
              </div>
            </div>

            <!-- <div class="final_cart_bdy_inner_row">
              <div class="col-md-12">
                <div class="form-group">
                  <%#= text_field_tag 'address[company_name]', '', placeholder: "Nombre de Empresa (opcional)", required: true , class: "form-control text_email_final_cart"%>
                </div>
              </div>
            </div> -->

            <div class="final_cart_bdy_inner_row row">
              <div class="col-md-6">
                <div class="form-group">
                  <% a = CS.states(:cl)%>
                  <%= select_tag 'address[region]', options_for_select(a.collect{|p| [p[1], p[1]]},  (current_user.addresses.last.region rescue '')), placeholder: "Añadir Región", required: true , class: "form-control text_email_final_cart region"%>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%= select_tag 'address[city]',(current_user.addresses.last.city rescue ''), placeholder: "Add Ciudad", required: true , class: "form-control text_email_final_cart"%>
                </div>
              </div>
            </div>


            <div class="final_cart_bdy_inner_row row">
              <div class="col-md-6">
                <div class="form-group">
                  <%= number_field_tag 'address[phone]', (current_user.addresses.last.phone rescue ''), placeholder: "Teléfono", required: true , class: "form-control text_email_final_cart"%>
                </div>
              </div>

              </div>
            </div>
              <div class="final_cart_bdy_inner_row row">
              <div class="col-md-12">
                <div class="form-group">
                  <% if current_user %>
                      <% if session["quote_data"].present? %>
                        <% session["quote_data"].each do |data|%>
                          <div class="quotation-request-hidden-login">
                            <div id="div_remove" data-remove="1">
                              <input type="hidden" name="pieces[][sub_part_id]" value="<%= data['sub_part_id'] %>">
                              <input type="hidden" name="pieces[][model_id]" value="<%= data['model_id']%>">
                              <input type="hidden" name="pieces[][sub_model_id]" value="<%= data['sub_model_id'] %>">
                              <input type="hidden" name="pieces[][catalog_id]" value="<%= data['catalog_id']%>">
                              <input type="hidden" name="pieces[][part_catalog_id]" value="<%= data['part_catalog_id']%>">
                            </div>
                          </div>
                        <% end %>
                      <% end %>
                      <button type="submit" class="ant-btn login__control__submit ant-btn-primary ant-btn-lg" ><span>ENVIAR</span></button>
                  <%end%>
                </div>
              </div>
              
              </div>
            </div>
        <%end%>
      
    <div class="col-md-4 col-sm-12 col-xs-12">
      <div class="final_cart_right_bdy">
      <div class="final_cart_right_bdy_inn">
        <a href="#" class="row cart-head">
          <div class="col-md-8 ">
          <div class="cart-head-text">
            <i class="fa fa-shopping-cart"></i>
            <span class="cart-head-title">ORDEN COTIZACION</span>
            <span class="cart-head-count-wrap">(<span class="cart-head-count">21</span>)</span> 
            <i class="fa cart-head-toggle-icon fa-chevron-down"></i>
          </div>
            
          </div>
          <div class="col-md-4">
            <span class="cart-head-desktop-count"> <span class="cart-head-count"><%= session["quote_data"].count rescue 0 %></span> items</span>
          </div>
        </a>
        <div class="row cart_body  animated">
          <div class="col-md-12">
          <div class="final_cart_items">
            <ul class="final_cart_item_list">
              <li class="final_cart_item">
                <div class="cart-item-row">
                </div>
                <%if session["quote_data"].present? %>
                  <% session["quote_data"].each_with_index do |data, idx|%>
                    <div class="cart-item-row">
                      <% sub_part = ApiSubPart.find data['sub_part_id'] if data['sub_part_id'].present? %>
                      <div class="cart-item-name"><%= sub_part.name%></div>
                      <div class="cart-item-name"><%= data["quantity"]%></div>
                    </div>
                  <%end%>
                <%end%>
              </li>
            </ul>
          </div>
            
          </div>
          
        </div>
      </div>
        
      </div>
    </div>
  </div>
    
  </div>
</div>

<div class="modal year_model_pop fade" id="login_form"></div>

<style type="text/css">

</style>

<script type="text/javascript">
  $(document).ready(function() { 
    $(window).resize(function() { 
      if ($(window).width() <= 767){
        $('.cart_body').hide();
        $('.cart-head').data('event','show');
      }
      else{
        $('.cart_body').show();
        $('.cart-head').data('event','hide'); 
      }
    });

    $('#address_region').change(function() {  
      region = $(this).val();
      $.ajax({
        url: '/get_cities',
        type: 'GET',
        data: {
          region: region
        },
        contentType: 'application/json',
        dataType: 'json',
        success: function(data) {
          $('#address_city').empty();
          $.each(data, function(id, value) {
            $('#address_city').append("<option value=" + value + ">" + value);
          });
        }
      });
    });
  });

</script>