<%unless @model.present? %>
  $("#models_pop").html("<%= escape_javascript(render 'public/landing/sections/work_description') %>")
  $("#models_pop").modal("show")
<%else%>
  $("#models_pop").html("<%= escape_javascript(render 'public/landing/sections/model_date') %>")
  $("#models_pop").modal("show")
<%end%>