$('#brand_name').val("<%= @brand.name %>");
$('#quote_param_brand_id').val("<%= @brand.id %>");
$('#model_name').val("<%= @model.name %>");
$('#quote_param_model_id').val("<%= @model.id %>");
$('#quote_param_year').val("<%= @year %>");
$('#close').click();