<link href="https://fonts.googleapis.com/css?family=Roboto:700&display=swap" rel="stylesheet">
<div id="content-index">
  <div class="jumbotron">
    <div class="wrapper__container">
      <div class="jumbotron__title">Cotiza tu repuesto y nosotros <br>encontraremos el proveedor <br><span class="jumbotron__title__orange">mas conveniente</span><div class="portal"></div></div>
    </div>
  </div>

  <div class="quote-component">
    <%= form_tag '/cotizar', method: 'post' do %>
    <div class="form quote">
      <div class="quote__row">
        <div class="quote__row__col">
          <div class="form__group">
          <div class="form__group__label">Categoría:</div>
            <%= select_tag 'quote_param[category_id]', options_for_select(@categories), {include_blank: "Categoría", class: "form_request"}%>
          </div>
        </div>

        <div class="quote__row__col">
          <div class="form__group">
            <div class="form__group__label">Año:</div>
            <%= text_field_tag 'quote_param[year]', '', placeholder: "Año", class: "form_request ant-input" %>
          </div>
        </div>

        <div class="quote__row__col">
          <div class="form__group">
          <div class="form__group__label">Marca:</div>
            <%= text_field_tag 'brand_name', '', placeholder: "Marca del vehiculo", class: "form_request ant-input" %>
            <%= hidden_field_tag 'quote_param[brand_id]', ''%>
          </div>
        </div>
        <div class="quote__row__col">
          <div class="form__group">
            <div class="form__group__label">Modelo:</div>
            <%= text_field_tag 'model_name', '', placeholder: "Modelo", class: "form_request ant-input" %>
            <%= hidden_field_tag 'quote_param[model_id]', ''%>
          </div>
        </div>

   <!-- <div class="quote__row__col">
          <div class="form__group">
            <div class="form__group__label">Descripción/Nro de pieza:</div>
          <%#= text_field_tag 'quote_param[description]', '', placeholder:"Pieza ubicada en...", class: "form_request ant-input", maxlength: 20 %>
          
            <%#= autocomplete_field_tag 'quote_param[description]', '', autocomplete_category_part_item_name_category_part_items_path, placeholder:"Pieza ubicada en...", class: "form_request ant-input", :size => 75 %>
          </div>
        </div> -->

      </div>
      <div class="quote__row">
        <div class="quote__row__col">
          <div class="form__group">
          <div class="form__group__label">Número de chasis:</div>
          <%= text_field_tag 'quote_param[chasis_number]', '', placeholder:"0123-2345-3456", class: "form_request ant-input"%>
        </div>
        </div>
        <div class="quote__row__col">
          <div class="form__group">
          <div class="form__group__label">Cantidad:</div>
          <%= number_field_tag 'quote_param[amount]', 1, placeholder:"1" , class: "form_request"%>
        </div>
        </div>
        <div class="quote__row__col">
          <div class="form__group">
            <div class="form__group__label">Tipo de repuesto:</div>
            <div class="custom-control custom-checkbox  ">
              <input type="checkbox" class="custom-control-input" id="signup-terms" name="quote_param[original]">
              <label class="custom-control-label" for="signup-terms">Original</label>
            </div>

            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="signup-terms1" name="quote_param[alternative]" >
              <label class="custom-control-label" for="signup-terms1">Alternativo</label>
            </div>
          </div> 
        </div>
        <div class="quote__row__col">
          <div class="form__actions text-center">
            <input type="submit" class="ant-btn wide quote__control__submit ant-btn-primary ant-btn-lg" value="Enviar">
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>

<div class="modal year_model_pop fade" id="models_pop"></div>

  <%= render partial: "public/landing/sections/how-works" %>
  <%= render partial: "public/landing/sections/why" %>
  <div id = "models">
    <%= render partial: "public/landing/sections/work_slider" %>
  </div>
  <%= render partial: "public/landing/sections/cta" %>
  <%= render partial: "public/landing/sections/faq" %>

</div>

<script>
  // $('#quote_param_category_id').change(function() {
  //   category = $(this).children("option:selected").val();
  //   $.ajax({
  //     url: '/brands',
  //     type: 'GET',
  //     data: {
  //       category_id: category
  //     },
  //     contentType: 'application/json',
  //     dataType: 'json',
  //     success: function(data) {
  //       $('#quote_param_brand_id').empty();
  //       $('#quote_param_brand_id').append("<option value=''>Marca del vehiculo</option>");
  //       $.each(data, function(id, value) {
  //         $('#quote_param_brand_id').append("<option value=" + value[1] + ">" + value[0]);
  //       });
  //     }
  //   });
  // });


  $('#quote_param_category_id').change(function() {
    category_id = $('#quote_param_category_id').val()
    if (category_id != ''){
      $.ajax({
        url: '/get_date.js',
        type: 'GET',
        data: {
          category_id: category_id
        },
      });
    }
  });

  // $("form").submit(function(){
  //   $('#quote_param_brand_id').val('Acura');
  //   $('#quote_param_model_id').val($('#quote_param_model_id').text());
  //   $('#quote_param_year').val($('#quote_param_year').text());
  // }); 
</script>

<style>
  .quote {
    box-shadow: 1px 5px 15px #ccc !important;
  }
  .how-works__content__image-planet {
    display: none;
  }
  .custom-control-label::before, .custom-control-label::after {
    width: 2rem;
    height: 2rem;
    left: -2.5rem;
  }
  .custom-control {
    padding-left: 2.5rem;
    box-sizing: border-box;
    display: inline;
  }
  .custom-control-label {
    margin-left: 10px;
  }
  .header__nav__item__link {
    font-weight: bold;
  }
  .jumbotron__title, .header__nav__item__link, .form__group__label, .how-works__row__col__row__title, .how-works__text__grey, button, html [type="button"], [type="reset"], [type="submit"], .why__row__col__title, .why__row__col__card__title, .why__row__col__card__detail, .cta__row__col__text, .faq__row__col__brand, .faq-item__header__text, .footer__list__item__action, .footer-card__content__title, .footer-card__content__value, .footer__bottom, .preheader__nav__item__action {
    font-family: 'Roboto', sans-serif !important; 
  }
</style>
