<div class="search_box_wrapper_bdy">
  <div class="search_box_wrapper_bdy_inn">
    <%= form_tag part_items_path, method: :get do %>
      <div class="row">
        <div class="col-lg-12">
          <%= autocomplete_field_tag 'part_item[item_name]', '', autocomplete_category_part_item_name_category_part_items_path, placeholder:"Pieza ubicada en...", class: "form_request ant-input", :size => 75, required: true %>
          <button class=" btn_search_checkout2">
            <i class="fa fa-search"></i>
          </button> 
          <input type="hidden" name="quote_param[category_id]" id="category" value="<%=@brand.category_id rescue ''%>">
          <input type="hidden" name="quote_param[brand_id]" id="brand" value="<%=@brand.id rescue '' %>">
          <input type="hidden" name="quote_param[model_id]" id="model" value="<%=@model.id rescue '' %>">
          <input type="hidden" name="quote_param[year]" id="year" value="<%=@year rescue '' %>">
        </div>
      </div>
    <% end %>
  </div>  
</div>
<div class="container_img_process">
<div class="container_img_process_inner">
  <div class="container_img_process_left">
     <div class="img_process_side_bar_body">
       <div class="img_process_side_bar_body full_height_wrapper">
        <div class="page_builder_layout_module">
          <div class="pml_sidebar_module">
            <%if params["part_item"] && params["part_item"]["item_name"].present?%>
              <div class="result-orange">
                Results for <%= @year%> <%= @model.name%> <%= @brand.name%>
                <span class="text-orange"><%=  '"' + "#{@item_type.name}" + '"' %></span>
              </div>
              <div class="search-orange"> <%= @category_part_items.count %> Results for <%= @year%> <%= @model.name%> <%= @brand.name%>
                <span class="text-orange"><%=  '"' + "#{@item_type.name}" + '"' %></span>
              </div>
            <%end%>
            <%unless params["part_item"] && params["part_item"]["item_name"].present?%>
              <div class="pml_grey_border pml_sidebar_categories">
                <div class="pml_sidebar_categories_heading">
                  <h2 class="pml_sidebar_categories_heading_txt">Categorias</h2>
                  <ul class="pml_sidebar_categories_list">
                    <li>
                      <a href="#" >Todas</a>
                    </li>
                    <li>
                      <a href="#" class="active_cate">Partes</a>
                    </li>
                    <li>
                      <a href="#">Accesorios</a>
                    </li>
                  </ul>
                </div>
                <div class="category_parts">
                  <div class="cate_group">
                    <div class="pml_categories desktop_categories">
                      <div class="tab_list">
                        <%if @category_parts.present?%>
                          <% @category_parts.each do |part|%>
                            <div class="card_part">
                              <div class="card_header part-<%=part.id%> cat_part-<%= params['category_part_id']%>">
                                <%= link_to (part.name + "(" +(part.item_types.count.to_s rescue '0') + ")"), "javascript:void(0)", class: "category togl-#{part.id}" %>
                              </div>
                              <%part.item_types.each_with_index do |item, ind|%>
                                <div class="auto_part subcategories_list item-<%=part.id%>" >
                                  <ul class="sub_cate_list">
                                    <li class= "item-hover itm_cat-<%= ind %>">
                                      <%= link_to item.name, part_items_path(category_part_id: part.id, item_type_id: item.id, brand_id: @brand.id, model_id: @model.id, year: @year, menu: ind), :data => {"turbolinks": false} %>
                                    </li>
                                  </ul>
                                </div>
                              <%end%>
                            </div>
                          <%end%>
                        <%end%>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <%end%>
            <div class="pml_grey_border pml_sidebar_button pml_sidebar_mobile_wrapper">
              <a  class="mobile_sidebar_button" href="#mobile-sidebar-modal" data-toggle="modal" data-target="#myModal">Browse Categories <i class="fa fa-chevron-down"></i></a>
              <div class="modal pml_sidebar_model" id="myModal">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-body">
                    <div class="pml_sidebar_model_info">
                      <h5 class="modal-title" id="exampleModalLabel">Select category</h5>           
                    </div>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div class="sidebar_wrapper_details">
                     <div class="sidebar_wrapper_details_heading_mb">
                       <ul>
                         <li>
                           <a href="#"> Todas</a>
                         </li>
                         <li>
                           <a href="#"  class="active_cate"> Partes</a>
                         </li>
                          <li>
                           <a href="#" > Accesorios</a>
                         </li>
                       </ul>
                     </div>
                     <div class="category_parts">
                      <div class="cate_group">
                        <div class="pml_categories desktop_categories">
                          <div class="tab_list">
                            <%if @category_parts.present?%>
                              <% @category_parts.each do |part|%>
                                <div class="card_part">
                                  <div class="card_header part-<%=part.id%> cat_part-<%= params['category_part_id']%>">
                                    <a class="category"><%= part.name%>
                                    </a>
                                  </div>
                                  <div class="auto_part subcategories_list" >
                                    <ul class="sub_cate_list">
                                      <li>
                                        <a href="#">Automatic Transmission</a>
                                      </li>
                                      <li>
                                        <a href="#" class="active_subcate">Automatic Transmission</a>
                                      </li>
                                      <li>
                                        <a href="#">Automatic Transmission</a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              <%end%>
                            <%end%>
                          </div>
                        </div>
                      </div>
                     </div>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
       </div>
     </div>
  </div>
    <div class="container_img_process_right">
      <%if @attachment.present? %>
        <div class="diagram_body">
          <div class="diagram_body_inner">
            <div class="diagram_body_img">
              <img src="<%= image_path("#{@attachment.attachment}")%>" id="image" width: 50%>
            </div>
          </div>
        </div>
      <%end%>

<div class="img_table_bdy">   
<table class="img_table_bdy_table">
<thead>
  <tr>
    <th>No.</th>
    <th></th>
    <th>Parte # / Descripción</th>
  </tr>
</thead>
  <tbody>
    <% if @category_part_items.present?%>
      <% @category_part_items.each do |part_item|%>
        <%if part_item.category_sub_part_items.count > 1%>
          <% part_item.category_sub_part_items.each do |sub_part_item| %>
            <tr class="hovr-<%= part_item.id rescue '' %>">
              <% part = CategorySubOption.find(sub_part_item.category_sub_option_id) %>
              <td><%#= part_item.hot_spot.nil? ? part_item.id : part_item.hot_spot.hot_spot_no %></td>
              <td>
                <%if part_item.attachments.present?%>
                  <a href="#">
                  <div class="img_bdy" >
                    <% attachment = part_item.attachments.where.('from_year <= ? AND to_year >= ? AND model_id = ?', @year.to_i, @year.to_i, @model.id).last rescue ''%>
                    <%if attachment.present?%>
                      <img src="<%= image_path("#{attachment.attachment}")%>", class="img-responsive img_process">
                    <%end%>
                  </div>
                  </a>
                <%end%>
              </td>
              <td>  
                <a href="#">  
                  <div class="img_with_description">
                    <div class="description_product">
                      <%if !part_item.category_sub_part_items.blank? %>
                        <h2 class="img_process_name"> <%= link_to (part_item.name+ '-'+ (part.name rescue '')),checkout_path(id: part_item.id, model_id: @model.id, brand_id: @brand.id, year: @year, sub_option_id: sub_part_item.category_sub_option_id), remote: true %></h2>
                      <%else%>
                        <h2 class=""> <%= link_to part_item.name, checkout_path(id: part_item.id), remote: true %>-<%= part.name%></h2>
                      <%end%>
                      <!-- <h3 class="img_process_subname">FT4Z-17D957-BPTM</h3>
                      <p class="img_proces_para">2015-18, W/AUTO PARK, W/O TOW HOOK</p> -->
                    </div>
                  </div>
                  </a>
              </td>
              <td>
                <div class="img_process_price_bdy">
                  <%if !part_item.category_sub_part_items.blank? %>
                    <%= link_to "Cotizar", checkout_path(id: part_item.id, model_id: @model.id, brand_id: @brand.id, year: @year, sub_option_id: sub_part_item.category_sub_option_id), class: "btn btn_add_cart_img_pro", remote: true%>
                  <%else%>  
                    <%= link_to "Cotizar", checkout_path(id: part_item.id), class: "btn btn_add_cart_img_pro", remote: true%>
                  <%end%>
                </div>
              </td>
            </tr>
          <%end%>
        <%else%>
          <tr class="hovr-<%= part_item.id rescue '' %>">
            <td><%#= part_item.hot_spot.nil? ? part_item.id : part_item.hot_spot.hot_spot_no %></td>
            <td>
              <%if part_item.attachments.present?%>
                <a href="#">
                <div class="img_bdy" >
                  <% attachment = part_item.attachments.where('from_year <= ? AND to_year >= ? AND model_id = ?', @year.to_i, @year.to_i, @model.id).last%>
                  <%if attachment.present?%>
                    <img src="<%= image_path("#{attachment.attachment}")%>", class="img-responsive img_process">
                  <%end%>
                </div>
                </a>
              <%end%>
            </td>
            <td>  
              <a href="#">  
                <div class="img_with_description">
                  <div class="description_product">
                    <%if !part_item.category_sub_part_items.blank? %>
                      <h2 class="img_process_name"> <%= link_to part_item.name,checkout_path(id: part_item.id, model_id: @model.id, brand_id: @brand.id, year: @year), remote: true %></h2>
                    <%else%>
                      <h2 class=""> <%= link_to part_item.name, checkout_path(id: part_item.id), remote: true %></h2>
                    <%end%>
                    <!-- <h3 class="img_process_subname">FT4Z-17D957-BPTM</h3>
                    <p class="img_proces_para">2015-18, W/AUTO PARK, W/O TOW HOOK</p> -->
                  </div>
                </div>
                </a>
            </td>
            <td>
              <div class="img_process_price_bdy">
                <% if part_item.active%>
                  <%= link_to "Cotizar", checkout_path(id: part_item.id), class: "btn btn_add_cart_img_pro", remote: true%>
                <%end%>
              </div>
            </td>
          </tr>
        <%end%>
      <%end%>
    <%end%>
  </tbody>
</table>
</div>
   </div>
</div>

</div>
<%= form_tag '/cotizar', method: 'post', id: "my_form" do %>
  <input type="hidden" name="quote_param[category_id]" id="category" value="<%=@brand.category_id rescue ''%>">
  <input type="hidden" name="quote_param[brand_id]" id="brand" value="<%=@brand.id rescue '' %>">
  <input type="hidden" name="quote_param[model_id]" id="model" value="<%=@model.id rescue '' %>">
  <input type="hidden" name="quote_param[year]" id="year" value="<%=@year rescue '' %>">
  <input type="hidden" name="quote_param[amount]" id="amount" value="1">
  <input id = "description" type="hidden" name="quote_param[description]" value="">
  <input id = "category_part_item_id" type="hidden" name="quote_param[category_part_item_id]" value="">
  <input id = "chasis_number" type="hidden" name="quote_param[chasis_number]" value="">
  <input id = "quantity" type="hidden" name="quote_param[quantity]" value="">

<% end %>

<div class="modal" id="sub-parts-modal">
  <div class="ant-modal-mask"></div>
</div>

<div class="modal" id="checkout-modal">
  <div class="ant-modal-mask"></div>
</div>

<script>
  $(".part_name").click(function(){
    name = $(this).find('a').text();
    $("#description").val(name);
    $("#my_form").submit();
  });

  $(".card_header").click(function(){
    a = parseInt(this.className.split(' ')[1].split('-')[1])
    $(".auto_part").hide(200);
    if ($(".item-"+a).is(":hidden")){
      $(".item-"+a).show(200);
      $(".togl-"+a).addClass("down-arrow");
    }else{
      $(".item-"+a).hide(200);
      
      $(".togl-"+a).removeClass("down-arrow");
    }
  });

  $( document ).ready(function() {
    name = $(".card_header").attr('class');
    a = parseInt(name.split(' ')[2].split('-')[1])
    $(".item-"+a).show(200);
    $(".togl-"+a).addClass("down-arrow");

    name = $(".item-hover").attr('class');
    a = parseInt(name.split(' ')[1].split('-')[1])
    var menu = getUrlParameter('menu');
    $(".itm_cat-"+menu).addClass("active_submenu")

  });


  $(".num_bdy_container").on("mouseover", function () {
    a = parseInt(this.className.split(' ')[1])
    $(".test-"+a).addClass("on_hover")
    $(".hovr-"+a).toggleClass('hover-tr');
    $(".clr-"+a).addClass("blue-color")
  });
  $(".num_bdy_container").on("mouseout", function () {
    a = parseInt(this.className.split(' ')[1])
    $(".test-"+a).removeClass("on_hover")
    $(".hovr-"+a).removeClass('hover-tr');
    $(".clr-"+a).removeClass("blue-color")
  });
//$('.img_process_one').toggleClass('flip');

  var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = window.location.search.substring(1),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
        }
    }
  };
</script>


<style type="text/css">
.flip {
  transform: rotate(45deg);
}
.hover-tr{
  background: #daf5ff;
}
.blue-color{
  color: white;
  background: #2588c4;
}
.marker{
  width: 24px;
  height: 24px;
  line-height: 24px;
}
.marker-text{
  display: block;
  font-weight: 800;
  margin: -1px;
  width: 24px;
  height: 24px;
  text-align: center;
  color: #2588c4;
  outline-width: 0;
  text-decoration: none;
  font-size: 14px;
}
.viewport{
  height: 372px !important;
}
.active_submenu{
  background: #e8d1d1;
}

</style>
<script type="text/javascript">
  var show = '';
  <% if (current_user.nil? || current_user.suppliers_users.blank?) %>
    show = 'Yes';
  <% else %>
    show = 'No';
  <% end %>
  ;(function($) {
    var notes = new Array();

    
  $(window).load(function() {

    var $img = $("#image").imgNotes({
      onEdit: function(ev, elem) {
        var $elem = $(elem);
        $('#NoteDialog').remove();
        return $('<div id="NoteDialog"></div>').dialog({
          title: "Note Editor",
          resizable: false,
          modal: true,
          height: "300",
          width: "450",
          position: { my: "left bottom", at: "right top", of: elem},
          buttons: {
            "Save": function() {
              var txt = $('textarea', this).val();
              $elem.data("note").note = txt;
              $(this).dialog("close");
            },
            "Delete": function() {
              $elem.trigger("remove");
              $(this).dialog("close");
            },
            Cancel: function() {
              $(this).dialog("close");
            }
          },
          open: function() {
            $(this).css("overflow", "hidden");
            var textarea = $('<textarea id="txt" style="height:100%; width:100%;">');
            $(this).html(textarea);
            textarea.val($elem.data("note").note);
          }
        });
      }
    });

    $img.imgNotes("import", notes);

    var $toggle = $("#toggleEdit");
    if ($img.imgNotes("option","canEdit")) {
      $toggle.text("View");
    } else {
      $toggle.text("Edit");
    }
    $toggle.on("click", function() {
      var $this = $(this);
      if ($this.text()=="Edit") {
        $this.text("View");
        $img.imgNotes("option", "canEdit", true);
      } else {
        $this.text('Edit');
        $img.imgNotes('option', 'canEdit', false);
      }
    });

    var $export = $("#export");
    $export.on("click", function() {
      var $table = $("<table/>").addClass("gridtable");
      var notes = $img.imgNotes('export');
      $table.append("<th>X</th><th>Y</th><th>NOTE</th>"); 
      $.each(notes, function(index, item) {
        $table.append("<tr><td>" + item.x + "</td><td>" + item.y + "</td><td>" + item.note + "</td></tr>");
      });
      $('#txt').html($table);
      $('#submit_hot_spots').css('display','block');
    });

    var $clear = $("#clear");
    $clear.on("click", function() {
      $img.imgNotes('clear');
    });

    var $toggleZ = $("#toggleZoom");
    if ($img.imgNotes("option","zoomable"))
      $toggleZ.text("Zoom Off");
    else
      $toggleZ.text("Zoom On");
    
    $toggleZ.on("click", function() {
      var $this = $(this);
      if ($this.text()=="Zoom On") {
        $this.text("Zoom Off");
        $img.imgNotes("option","zoomable", true);
      } else {
        $this.text("Zoom On");
        $img.imgNotes("option","zoomable", false);
      }
    });

    var $toggleD = $("#toggleDrag");
    if ($img.imgNotes("option","dragable"))
      $toggleD.text("Drag Off");
    else
      $toggleD.text("Drag On");
    
    $toggleD.on("click", function() {
      var $this = $(this);
      if ($this.text()=="Drag On") {
        $this.text("Drag Off");
        $img.imgNotes("option","dragable", true);
      } else {
        $this.text("Drag On");
        $img.imgNotes("option","dragable", false);
      } 
    });

  });
})(jQuery);
</script>

<script type="text/javascript">
  if ($(".marker").length>0) {
    $(window).on('load', function() {
      if ($(".marker").data("note").hot_spot_no === false ){
        $('.marker-text').remove();
        $('.marker').find('img').css("opacity", "0.5");
      }
    });
  }
</script>
<style type="text/css">
.btn_search_checkout2 {
  border: 0;
  border-radius: 0;
  bottom: 0;
  display: block;
  filter: none;
  font-size: 18px;
  line-height: 18px;
  outline: none;
  position: absolute;
  right: 16px;
  top: 0;
  z-index: 3;
  background-color: #14477D;
  color: #fff;
  padding: 8px 18px 7px;
}


</style>