<div class="search_box_wrapper_bdy">
  <div class="search_box_wrapper_bdy_inn2">
    <!-- <%#= form_tag part_items_path, method: :get do %>
      <div class="row">
        <div class="col-lg-12">
          <%#= autocomplete_field_tag 'part_item[item_name]', '', autocomplete_category_part_item_name_category_part_items_path, placeholder:"Pieza ubicada en...", class: "form_request ant-input", :size => 75, required: true %>
          <button class=" btn_search_checkout2">
            <i class="fa fa-search"></i>
          </button> 
        </div>
      </div>
    <%# end %> -->
  </div>  
</div>
<div class="wrapper__container">  
  <div class="wrapper_cart_checkout_bdy">
    <div class="wrapper_cart_checkout_bdy_inner">
      <div class="checkout_bdy_inner_heading">
        <!-- <h3 class="checkout_bdy_inner_heading_txt">
          Tu carro
        </h3> -->
      </div>
      <%= link_to "Agregar", api_data_api_parts_path(part_id: @api_part.id), :data => {"turbolinks": false} , class: "back_btn"%>

      <span class="items-count lbl_bg_grey_item">
        <%= session["quote_data"].count%> Items
      </span>
      <div class="checkout_bdy_inner_table_bdy">
        <table class="checkout_bdy_inner_table">
          <thead>
            <tr>
              <th class=""><span>Descripcion produto</span></th>
              <th class=""><span>Repuesto</span></th>
              <th class=""><span>Cantidad</span></th>
            </tr>
          </thead>
          <tbody>
            <% if session["quote_data"].present? %>
              <% session["quote_data"].each_with_index do |data, idx|%>
                <% sub_part = ApiSubPart.find data['sub_part_id'] if data['sub_part_id'].present? %>
                <tr>
                  <td class="cart-description">
                    <% if sub_part.present? %>
                      <div class="item-description">
                        <a href="#" class="bumper_txt"><%= sub_part.name %></a>
                      </div>
                    <%end%>
                    <div class="product-notes">
                      <span class="product-id">Descripcion</span>
                      <div class="core-charge-message"> Detail </div>
                    </div>
                    <div class="remove_link">
                      <%= link_to remove_cart_path(indexing: idx), class: "remove_link_txt" do%>
                        <i class="fa fa-minus-circle">Eliminar</i>
                      <%end%>
                    </div>
                  </td>
                  <td class="cart-price">
                    <% if data['original'] == "on" && data['alternative'] == "on"%>
                      <span>Original/Alternative</span>
                    <%else%>
                      <span><%= data['original'] == "on" ? "Original" : "Alternative"%></span>
                    <%end%>
                  </td>
                  <td class="cart-quty">
                    <%= form_tag update_quantity_path, id: "quantity_form-#{idx}", method: :get do %>
                      <div class="row">
                        <div class="col-lg-12">
                          <%= number_field_tag "data[quantity]", data["quantity"], required: true, class: "quant quantiti-#{idx}"%>

                          <%= hidden_field_tag "data[index]", "", class: "hidden_index-#{idx}" %>
                          <%= link_to "Actualizar", "javascript:void(0)", class: "submit-link submit-#{idx}" %>
                        </div>
                      </div>
                    <%end%>
                    <!-- <span> <%#= data["quantity"]%> </span> -->
                  </td>
                </tr>
              <%end%>  
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="continue_btn_bdy">
        <%= link_to "Destruye todo", empty_cart_path, class: "btn btn_continue_bt_tble", style: "float: left;" %>
        <%= link_to "Hacer continuación", final_cart_path, method: :get, class: "btn btn_continue_bt_tble" %>
      </div>
    </div>  
  </div>
</div>

<script>

  $('document').ready(function(){
    $('.submit-link').hide();
  });

  $('.quant').on('keyup', function() {
    a = parseInt(this.classList[1].split("-")[1])
    if ($(".quantiti-"+a).val() > 0 && $(".quantiti-"+a).val() != ""){
      $(".submit-"+a).show();
    }
    else{
     $('.submit-link').hide(); 
    }
  });

  $(".submit-link").click(function(){
    a = parseInt(this.classList[1].split("-")[1])
    $(".hidden_index-"+a).val(a)
    $("#quantity_form-"+a).submit();
  });
</script>