<%= form_tag add_supplier_brand_path(params["supplier_id"]), class: "formtastic", multipart: true do %>
  <ol>
    <li>
      <%= hidden_field_tag 'supplier_user_id', params["supplier_user_id"]%>
      <%= label_tag  "Please Select Brand"%>
      <% ids = @supplier.api_catalogs_suppliers.pluck :part_catalog_id %>
      <%= select_tag 'api_catalog_id', options_for_select(@catalogs.map { |s| [s.name, s.id] }, ids)%>
    </li>
    <li>
    <%= label_tag  "Please Select Part"%>
    <%= select_tag 'part_catalog_id', options_for_select([])%>
    </li>
  </ol>

  <%= submit_tag 'Add Brand' %>
<%end%>

<script>

$('#api_catalog_id').change(function() {
    api_catalog = $(this).val();
    $.ajax({
      url: '/get_part_catalogs',
      type: 'GET',
      data: {
        api_catalog_id: api_catalog
      },
      contentType: 'application/json',
      dataType: 'json',
      success: function(data) {
        $('#part_catalog_id').empty();
        $('#part_catalog_id').append("<option value=''>Modelo</option>");
        $.each(data, function(id, value) {
          $('#part_catalog_id').append("<option value=" + value[1] + ">" + value[0]);
        });
      }
    });
  });
</script>