<div class="layout__body__content__screen">
  <div class="screen">
    <div class="screen__content">
      <div class="screen__title">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">
            New quote # 
          </font>
        </font>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">
            <%= @quotation_request["parts"].first["quotation_request_id"]%>
          </font>
        </font>
        <p>
          <h3>Parts requested for <%= @quotation_request["parts"].first["brand_name"]%> / <%=@quotation_request["parts"].first["model_name"]%> / <%=@quotation_request["parts"].first["year"]%> / <%=@quotation_request["parts"].first["chasis_number"] %></h3>
        </p>
      </div>
      <div class="screen__body">
        <div style="display: flex; flex: 1 0 0%;">
          <div class="ant-card ant-card-bordered" style="width: 30%;">
            <div class="ant-card-head">
              <div class="ant-card-head-wrapper">
                <div class="ant-card-head-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Parts requested ()</font></font></div>
              </div>
            </div>
            <div class="ant-card-body" style="border-top: 1px solid rgb(235, 234, 235);">
              <div class="ant-table-wrapper no-border">
                <div class="ant-spin-nested-loading">
                  <div class="ant-spin-container">
                    <div class="ant-table ant-table-small ant-table-scroll-position-left">
                      <div class="ant-table-content">
                        <div class="ant-table-body">
                          <table class="">
                            <colgroup>
                              <col>
                              <col>
                              <col>
                              <col>
                              <col>
                              <col>
                              <col>
                              <col>
                            </colgroup>
                            <thead class="ant-table-thead">
                              <tr>
                                <th class="" style="padding: 5px 3px;"><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Description</font></font></span></th>
                                <th class="" style="padding: 5px 3px;"><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Original</font></font></span></th>
                                <th class="" style="padding: 5px 3px;"><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Alternative</font></font></span></th>
                                <th class="" style="padding: 5px 3px;"><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Quantity</font></font></span></th>
                              </tr>
                            </thead>
                            <tbody class="ant-table-tbody">
                            <% @quotation_request["parts"].each do |part| %> 
                              <tr class="ant-table-row  ant-table-row-level-0">
                                <td class="">
                                  <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"><%= part["description"] %></font>
                                  </font>
                                </td>
                                <td class="">
                                  <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"><%= !part["original"].nil? ? 'Yes' : 'Do not' %></font>
                                  </font>
                                </td>
                                <td class="">
                                  <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"><%= !part["alternative"].nil? ? 'Yes' : 'Do not' %></font>
                                  </font>
                                </td>
                                <td class="">
                                  <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"><%= part["amount"] %></font>
                                  </font>
                                </td>
                              </tr>
                            <% end %>  
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ant-card ant-card-bordered" style="width: 70%;">
            <div class="ant-card-head">
              <div class="ant-card-head-wrapper">
                <div class="ant-card-head-title">
                  <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Quotation </font>
                  </font>
                </div>
              </div>
            </div>
            <%= form_tag private_api_suppliers_quotations_path, method: 'post' do %> 
            <div class="ant-card-body" style="border-top: 1px solid rgb(235, 234, 235); padding: 0px;">
              <div class="ant-table-wrapper no-border">
                <div class="ant-spin-nested-loading">
                  <div class="ant-spin-container">
                    <div class="ant-table ant-table-small ant-table-scroll-position-left">
                      <div class="ant-table-content">
                        <div class="ant-table-body">
                          <table class="">
                            <colgroup>
                              <col>
                              <col>
                              <col>
                            </colgroup>
                            <thead class="ant-table-thead">
                              <tr>
                                <th class="" style="padding: 5px 3px;"><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Amount to be quoted</font></font></span></th>
                                <th class="" style="padding: 5px 3px;"><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Value per piece</font></font></span></th>
                                <th class="" style="padding: 5px 3px;"><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Discount</font></font></span></th>
                                <th class="" style="padding: 5px 3px;"><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Subtotal</font></font></span></th>
                                <th class="" style="padding: 5px 3px;"><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Genuine</font></font></span></th>
                                <th class="" style="padding: 5px 3px;"><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Alternativo</font></font></span></th>
                                <th class="" style="padding: 5px 3px;"><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Warranty</font></font></span></th>
                                <th class="" style="padding: 5px 3px;"><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Shipping</font></font></span></th><th class="" style="padding: 5px 3px;"><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Availability</font></font></span></th>
                              </tr>
                            </thead>
                            <tbody class="ant-table-tbody">
                            <% @quotation_request["parts"].each_with_index do |part, i| %>
                              <%= hidden_field_tag "quotation_parts[#{i}][quotation_request_part_id]", part["id"]%>
                              <tr class="ant-table-row  ant-table-row-level-0">
                                <td class="">
                                  <span class="ant-table-row-indent indent-level-0" style="padding-left: 0px;"></span>
                                  <div class="ant-input-number">
                                    <div class="ant-input-number-input-wrap" role="spinbutton" aria-valuemin="0" aria-valuemax="100000000" aria-valuenow="0">
                                    <%= number_field_tag "quotation_parts[#{i}][price]", '', class: "ant-input-number-input price", autocomplete: "off", max: 100000000, min: 0%>
                                    </div>
                                  </div>
                                </td>
                                <td class="">
                                  <div class="ant-input-number">
                                    <div class="ant-input-number-input-wrap" role="spinbutton" aria-valuemin="0" aria-valuemax="100000000" aria-valuenow="0">
                                      <%= number_field_tag "quotation_parts[#{i}][amount]", '', class: "ant-input-number-input amount", autocomplete: "off", max: "100000000", min: "0", step: 1 %>
                                    </div>
                                  </div>
                                </td>
                                <td class="">
                                  <div class="ant-input-number">
                                    <div class="ant-input-number-input-wrap" role="spinbutton" aria-valuemin="0" aria-valuemax="100000000" aria-valuenow="0">
                                      <%= number_field_tag "quotation_parts[#{i}][discount]", '', class: "ant-input-number-input amount", autocomplete: "off", max: "100000000", min: "0", step: 1 %>
                                    </div>
                                  </div>
                                </td>
                                <td class="">
                                  <span>
                                    <div class="ant-input-number ant-input-number-disabled">
                                      <div class="ant-input-number-input-wrap" role="spinbutton" aria-valuemin="0" aria-valuemax="100000000" aria-valuenow="0">
                                        <%= number_field_tag "quotation_parts[#{i}][subtotal]", '', class: "ant-input-number-input subtotal", autocomplete: "off", max: "100000000", min: "0", step: 1, readonly: true %>
                                      </div>
                                    </div>
                                  </span>
                                </td>
                                <td class="">
                                  <div class="">
                                    <div class="ant-input-number-input-wrap">
                                      <%= check_box_tag "quotation_parts[#{i}][original]"%>
                                    </div>
                                  </div>
                                </td>
                                <td class="">
                                  <div class="">
                                    <div class="ant-input-number-input-wrap">
                                      <%= check_box_tag "quotation_parts[#{i}][alternative]"%>
                                    </div>
                                  </div>
                                </td>
                                <td class="">
                                  <div class="">
                                    <div class="">
                                      <%= text_field_tag "quotation_parts[#{i}][warranty]",'',class: "ant-input-text" %>
                                    </div>
                                  </div>
                                </td>
                                <td class="">
                                  <div class="">
                                    <div class="">
                                      <%= date_field_tag "quotation_parts[#{i}][shipping]",'', class: "ant-input-text" %>
                                    </div>
                                  </div>
                                </td>
                                <td class="">
                                  <div class="">
                                    <div class="ant-input-number-input-wrap">
                                      <%= check_box_tag "quotation_parts[#{i}][availability]"%>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            <% end %>

                            </tbody>
                          </table>
                        </div>
                        <div class="ant-table-footer">
                          <div>
                            <div>
                              <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Subtotal:</font></font></p>
                              <div class="ant-input-number ant-input-number-disabled">
                                <div class="ant-input-number-input-wrap" role="spinbutton" aria-valuemin="-9007199254740991" aria-valuenow="0">
                                  <%= number_field_tag "subtotal", '', class: "ant-input-number-input", autocomplete: "off", min: "-9007199254740991", step: 1, readonly: true%>
                                </div>
                              </div>
                              <h4><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Total Final:</font></font></h4>
                              <div class="ant-input-number ant-input-number-disabled">
                                <div class="ant-input-number-input-wrap" role="spinbutton" aria-valuemin="-9007199254740991" aria-valuenow="0">
                                  <%= number_field_tag "total", '', class: "ant-input-number-input", min: "-9007199254740991", step: 1, autocomplete: "off", readonly: true %>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <input type="hidden" name="discount" id="discount" >
      <input type="hidden" name="quotation_request_id" value="<%= @quotation_request["parts"].first["quotation_request_id"] %>">
      <input type="hidden" name="quotation[discount]" id="discount" >
      <input type="hidden" name="quotation[quotation_request_id]" value="<%= @quotation_request["parts"].first["quotation_request_id"] %>">
      <div class="screen__footer screen__footer--padding">
        <button type="submit" class="ant-btn float-right ant-btn-success">
          <i class="anticon anticon-check"></i>
          <span>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Send quote</font>
            </font>
          </span>
        </button>

        <button type="button" class="ant-btn float-right ant-btn-default">
          <i class="anticon anticon-delete"></i>
          <span>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Clean</font>
            </font>
          </span>
        </button>
      </div>
    </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $( document).ready(function() {
    $(".price").keyup(function() {
      var value = parseInt($(this).val())
      var index = parseInt($(this).attr('id').split('_')[2])
      amount = parseInt($("#quotation_parts_"+index+"_amount").val())
      if (amount != 0 && !isNaN(amount) && value != 0 && !isNaN(value)){
        var total = value * amount
        var final_total = 0
        $("#quotation_parts_"+index+"_subtotal").val(total)

        $('.subtotal').each(function( index ) {
          var line_total = parseInt($(this).val())
          if (!isNaN(line_total)) {
            final_total += line_total
          }
        });

        $("#subtotal").val(final_total)
        $("#total").val(final_total)
      }
    });

    $(".amount").keyup(function() {
      var value = parseInt($(this).val())
      var index = parseInt($(this).attr('id').split('_')[2])
      amount = parseInt($("#quotation_parts_"+index+"_price").val())
      if (amount != 0 && !isNaN(amount) && value != 0 && !isNaN(value)){
        var total = value * amount
        var final_total = 0
        $("#quotation_parts_"+index+"_subtotal").val(total)
        $('.subtotal').each(function( index ) {
          var line_total = parseInt($(this).val())
          if (!isNaN(line_total)) {
            final_total += line_total
          }
        });
        $("#subtotal").val(final_total)
        $("#total").val(final_total)
      }
    });


    $("#discount").keyup(function() {
      var discount_value = parseInt($(this).val())
      var final_total = 0
      $('.subtotal').each(function( index ) {
        var line_total = parseInt($(this).val())
        if (!isNaN(line_total)) {
          final_total += line_total
        }
      });

      if (final_total != 0 && discount_value != 0 && !isNaN(discount_value)) {
        var last_total = final_total - discount_value
        $("#total").val(last_total)
      }
    });
  });
</script>