<div class="container_img_process">
  <div class="container_img_process_inner">
    <div class="container_img_process_left">
     <div class="img_process_side_bar_body">
       <div class="img_process_side_bar_body full_height_wrapper">
        <div class="page_builder_layout_module">
          <div class="pml_sidebar_module">
            <div class="pml_grey_border pml_sidebar_garage">
              <div class="pml_sidebar_garage_heading">
                <div class="stuff_selected">
                  <div class="pml_sidebar_garage_txt_in">
                    <h3 class="pml_sidebar_garage_txt"><%= @api_catalog.name%>-<%= @api_model.name%>-<%= @api_vehicle.vin%></h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="pml_grey_border pml_sidebar_categories">
              <div class="pml_sidebar_categories_heading">
                <h2 class="pml_sidebar_categories_heading_txt">Categories</h2>
                <ul class="pml_sidebar_categories_list">
                  <!-- <li>
                    <a href="#" >All</a>
                  </li> -->
                  <li>
                    <a href="#" class="active_cate">Parts</a>
                  </li>
                  <!-- <li>
                    <a href="#">Accessories</a>
                  </li> -->
                </ul>
              </div>
              <div class="category_parts">
                <div class="cate_group">
                  <div class="pml_categories desktop_categories">
                    <div class="tab_list">
                      <% first = 1 %>
                      <% @api_sub_parts.each do |part|%>
                        <div class="card_part">
                          <div class="card_header part-<%=part.id%> cat_part-<%= part.id%>">
                            <%= link_to part.name, "javascript:void(0)", class: "category togl-#{part.id}" %>
                          </div>
                        </div>
                      <%end%>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pml_grey_border pml_sidebar_button pml_sidebar_mobile_wrapper">
              <a  class="mobile_sidebar_button" href="#mobile-sidebar-modal" data-toggle="modal" data-target="#myModal">Browse Categories <i class="fa fa-chevron-down"></i></a>
              <div class="modal pml_sidebar_model" id="myModal">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-body">
                      <div class="pml_sidebar_model_info">
                        <h5 class="modal-title" id="exampleModalLabel">Select category</h5>           
                      </div>
                      <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                      </button>
                      <div class="sidebar_wrapper_details">
                       <div class="sidebar_wrapper_details_heading_mb">
                         <ul>
                           <li>
                             <a href="#"> All</a>
                           </li>
                           <li>
                             <a href="#"  class="active_cate"> Parts</a>
                           </li>
                           <li>
                             <a href="#" > Accessories</a>
                           </li>
                         </ul>
                       </div>
                       <div class="category_parts">
                        <div class="cate_group">
                          <div class="pml_categories desktop_categories">
                            <div class="tab_list">
                              <% @api_sub_parts.each do |part|%>
                              <div class="card_part">
                                <div class="card_header part-<%=part.id%> cat_part-<%= part.id%>">
                                  <a class="category"><%= part.name%>
                                  </a>
                                </div>
                                <div class="auto_part subcategories_list" >
                                  <ul class="sub_cate_list">
                                    <li>
                                      <a href="#">Automatic Transmission</a>
                                    </li>
                                    <li>
                                      <a href="#" class="active_subcate">Automatic Transmission</a>
                                    </li>
                                    <li>
                                      <a href="#">Automatic Transmission</a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                              <%end%>
                            </div>

                          </div>
                        </div>
                      </div>
                      
                    </div>

                  </div>
                </div>
              </div>
            </div>
            
          </div>

        </div>
      </div>


    </div>
  </div>
</div>
<div class="container_img_process_right">
  <%@attachments = []%>
  <% @attachments.each do |attachment_item| %>
    <% if !attachment_item.blank? %>
      <div class="diagram_body show_hide_attachment-<%= attachment_item.attached_item_id rescue '' %>">
        <div class="diagram_body_inner">
          <div class="diagram_body_img">
            <img src="<%= image_path("#{attachment_item.attachment rescue ''}")%>" id="image" class="dig_img" width: 50%>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
</div>

<%= form_tag private_api_suppliers_quotations_path, id: "quote_form", method: 'post' do %>
  <% @quotation_request_parts.each_with_index do |part, i|%>
    <%= part.api_sub_part.name %>
    <div class="ant-table-tbody">
      <div class="for_hide_item" data-item-id="<%= part.api_sub_part_id %>">
      <span class="part-name-<%=i%>" style="font-weight: bold;font-size: 20px;color: #00309a;"><b><%=part.description%></b></span>

      <%= check_box_tag "quotation_parts[#{i}][check]", true , false, class: "part_quote-#{part.id} checkbox"%>
      
      <%= hidden_field_tag "quotation_parts[#{i}][quotation_request_part_id]", part["id"] %>
        <div class="form-row part_quote-<%= part.id%> quote_part_form hovr-<%= part.category_part_item_id rescue '' %> part_border">

          <div class="col-md-2">
            <label for="inputEmail3" class="col-form-label">  Precio neto: </label>
            
            <%= number_field_tag "quotation_parts[#{i}][price]", '0', class: " form-control form_request ant-input price price_"+i.to_s, autocomplete: "off", max: 100000000, min: 0, required: true, style: "height: 37px;", min: 0, id: i %>

            <label for="inputEmail3" class="col-form-label">  Cantidad: </label>
            <%= number_field_tag "quotation_parts[#{i}][amount]", part['amount'].present? ? part['amount'] : 1, class: " form-control ant-input-number-input amount form_request ant-input quantity_"+i.to_s, autocomplete: "off", max: "100000000", min: "0", required: true, readonly: true, style: "height: 39px;" %>
          </div>
          <div class="col-md-2">
            <label for="inputEmail3" class="col-form-label">  Tipo de Requesto: </label>
            <% if part.original == true && part.alternative == true %>
            <%= select_tag "quotation_parts[#{i}][type_of_request]", options_for_select(['original', 'alternative']), {include_blank: false, class: " form-control form_request ant-input required", style: "width:100%"}%>
            <%elsif part.original == false && part.alternative == true %>
            <%= select_tag "quotation_parts[#{i}][type_of_request]", options_for_select(['alternative']), {include_blank: false, class: " form-control form_request ant-input required", style: "width:100%", readonly: true}%>
            <%elsif part.original == true && part.alternative == false %>
            <%= select_tag "quotation_parts[#{i}][type_of_request]", options_for_select(['original']), {include_blank: false, class: " form-control form_request ant-input required", style: "width:100%", readonly: true}%>
            <%elsif part.original == nil && part.alternative == nil %>
            <%= select_tag "quotation_parts[#{i}][type_of_request]", options_for_select(['original', 'alternative']), {include_blank: false, class: " form-control form_request ant-input required", style: "width:100%"}%>
            <%end%>
            <label for="inputEmail3" class="col-form-label">  Garantía: </label>
            <%= number_field_tag "quotation_parts[#{i}][warranty]",'', {include_blank: false, class: " form-control form_request ant-input required", style: "width:100%"} %>
          </div>
          <div class="col-md-2">
            <label for="inputEmail3" class="col-form-label">  Forma de Entrega: </label>
            <%= select_tag "quotation_parts[#{i}][shipping_type]", options_for_select(Supplier::DELIVERY_OPTION), {include_blank: false, class: " form-control form_request ant-input required type_of_delivery #{i}", style: "width:100%"}%>
            <label for="inputEmail3" class="col-form-label">  Precio despacho: </label>
            <%= number_field_tag "quotation_parts[#{i}][shipping_price]",'', {include_blank: false, class: " form-control form_request ant-input required shipping deliver-#{i}", style: "width:100%", :step => 0.01} %>
          </div>
          <div class="col-md-2">
            <label for="inputEmail3" class="col-form-label">  Descuento: </label>
            <%= number_field_tag "quotation_parts[#{i}][discount]",'0', {include_blank: false, class: " form-control form_request ant-input required discount discount_"+i.to_s, style: "width:100%", :step => 0.01, id: i} %>
            <label for="inputEmail3" class="col-form-label">  Fecha de Despacho: </label>
            <%= date_field_tag "quotation_parts[#{i}][shipping_date]",'', class: " form-control ant-input-text required date_field", style: "width:100%; height: 39px;" %>
          </div>
          <div class="col-md-2">
            <label for="inputEmail3" class="col-form-label">  Marca: </label>
            <%= text_field_tag "quotation_parts[#{i}][brand]",'', {include_blank: false, class: " form-control form_request ant-input required", style: "width:100%"} %>
            <label for="inputEmail3" class="col-form-label">  SubTotal: </label>
            
            <input type="number" value="0" class="form-control form_request ant-input required total_btm subtotal subtotal_<%= i %>" min="0" readonly="true">

            <input type="hidden" name="quotation_request_id" value="<%= @quotation_request_parts.first["quotation_request_id"] %>">
            <input type="hidden" name="quotation[quotation_request_id]" value="<%= @quotation_request_parts.first["quotation_request_id"] %>">
          </div>
        </div>
      </div>
    </div>
  <%end%>
  <div class="total_bdy">
    <div class="row">    
      <div class="col-md-8 col-sm-6">
       <div class="total_bdy_left">
        <label for="inputEmail3" class="col-form-label">  Total: </label>
        <%= number_field_tag "quotation_parts[price]",'', {include_blank: false, class: " form-control form_request ant-input required total_btm", id: 'total',  :step => 0.01, readonly: true } %>
      
      <span class="inpt_btm_txt_totl">
        <% if @markup.present? %>
          <%= @markup.input rescue ''%> will be deducted from this as a Markup.
        <%end%>
      </span>
       </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="total_bdy_right">
          <button type="submit" class="ant-btn login__control__submit submt ant-btn-primary ant-btn-lg" ><span>Enviar Cotización</span></button>
        </div>
      </div>
    </div>
  </div>
  
<%end%>

<%if @quotations.present? %>
<div class="block block-rounded">
  <div class="block-content tb_ttl_bd">
    <!-- Orders Table -->
    <table class="table table_total_update">
      <thead>
        <tr>
          <th class="text-center">Name</th>
          <th class="text-center">Precio</th>
          <th class="text-center">Cantidad</th>
          <th class="text-center">Garantía</th>
          <th class="text-center">Descuento</th>
          <th class="text-center">Envío</th>
          <th class="text-center">Tipo de solicitud</th>
          <th class="text-center">Tipo de envío</th>
          <th class="text-center">Precio de envío</th>
        </tr>
      </thead>
      <tbody>
        <%@quotations.each_with_index do |quote, i|%>
          <%quote.quotation_parts.each do |part|%>
            <tr>
              <td class="text-center">
                <%= part.sub_part_name rescue ""%>
              </td>
              <td class="text-center">
                <%if @markup.present?%>
                  <%= number_with_precision((part.price + @markup.input rescue ""), :precision => 2, :delimiter => '.', strip_insignificant_zeros: true)%>
                <%else%>
                  <%= number_with_precision(part.price, :precision => 2, :delimiter => '.', strip_insignificant_zeros: true)%>
                <%end%>
              </td>
              <td class="text-center">
                <%= part.amount%>
              </td>
              <td class="text-center">
                <%= part.warranty%> dias
              </td>
              <td class="text-center">
                <%= number_with_precision(part.discount, :precision => 2, :delimiter => '.', strip_insignificant_zeros: true) %>
              </td>
              <td class="text-center">
                <%= part.shipping.strftime("%d-%m-%Y") rescue ''  %>
              </td>
              <td class="text-center">
                <%= part.type_of_request.capitalize rescue '' %>
              </td>
              <td class="text-center">
                <%= part.shipping_type.capitalize rescue ''%>
              </td>
              <td class="text-center">
                <%= number_with_precision(part.shipping_price, :precision => 2, :delimiter => '.', strip_insignificant_zeros: true) %>
              </td>
            </tr>
          <%end%>
        <%end%>
      </tbody>
    </table>
    </div>
  </div>
<%end%>

<div class="modal" id="sub-parts-modal">
  <div class="ant-modal-mask"></div>
</div>

<div class="modal" id="checkout-modal">
  <div class="ant-modal-mask"></div>
</div>
<script>
  $(".part_name").click(function(){
    name = $(this).find('a').text();
    $("#description").val(name);
    $("#my_form").submit();
  });

  $(".card_header").click(function(){
    a = parseInt(this.className.split(' ')[1].split('-')[1])
    $(".auto_part").hide(200);
    if ($(".item-"+a).is(":hidden")){
      $(".item-"+a).show(200);
      $(".togl-"+a).addClass("down-arrow");
    }else{
      $(".item-"+a).hide(200);
      
      $(".togl-"+a).removeClass("down-arrow");
    }
  });

  $( document ).ready(function() {
    $(".quote_part_form :input").attr("disabled", true);
    name = $(".card_header").attr('class');
    a = parseInt(name.split(' ')[2].split('-')[1])
    $(".item-"+a).show(200);
    $(".togl-"+a).addClass("down-arrow");

    name = $(".item-hover").attr('class');
    a = parseInt(name.split(' ')[1].split('-')[1])
    var menu = getUrlParameter('menu');
    $(".itm_cat-"+menu).addClass("active_submenu");
  
  });
  

  $(".num_bdy_container").on("mouseover", function () {
    a = parseInt(this.className.split(' ')[1])
    $(".test-"+a).addClass("on_hover")
    $(".hovr-"+a).toggleClass('hover-tr');
    $(".clr-"+a).addClass("blue-color")
  });
  $(".num_bdy_container").on("mouseout", function () {
    a = parseInt(this.className.split(' ')[1])
    $(".test-"+a).removeClass("on_hover")
    $(".hovr-"+a).removeClass('hover-tr');
    $(".clr-"+a).removeClass("blue-color")
  });
//$('.img_process_one').toggleClass('flip');

var getUrlParameter = function getUrlParameter(sParam) {
  var sPageURL = window.location.search.substring(1),
  sURLVariables = sPageURL.split('&'),
  sParameterName,
  i;

  for (i = 0; i < sURLVariables.length; i++) {
    sParameterName = sURLVariables[i].split('=');

    if (sParameterName[0] === sParam) {
      return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
    }
  }
};

$(".checkbox").change(function() {
  if(this.checked) {
    class_name = $(this).attr('class');
    class_name = class_name.split(' ')[0]
    class_name = parseInt(class_name.split('-')[1])
    $(".part_quote-"+class_name+" :input").attr("disabled", false);
    $(".part_quote-"+class_name+" :input").attr("required", true);
  }
  else{
    class_name = $(this).attr('class');
    class_name = class_name.split(' ')[0]
    class_name = parseInt(class_name.split('-')[1])
    $(".part_quote-"+class_name+" :input").attr("disabled", true);
    $(".part_quote-"+class_name+" :input").attr("required", false);
  }
});

$(".submt").click(function(event) {
  if (!$('input.checkbox').is(':checked')) {
    alert('Give Atleast one Quote')
    return false
  }
});

</script>


<style type="text/css">
  .flip {
    transform: rotate(45deg);
  }
  .hover-tr{
    background: #daf5ff;
  }
  .blue-color{
    color: white;
    background: #2588c4;
  }
  .marker{
    width: 24px;
    height: 24px;
    line-height: 24px;
  }
  .marker-text{
    display: block;
    font-weight: 800;
    margin: -1px;
    width: 24px;
    height: 24px;
    text-align: center;
    color: #2588c4;
    outline-width: 0;
    text-decoration: none;
    font-size: 14px;
  }
  .viewport{
    height: 372px !important;
  }
  .active_submenu{
    background: #e8d1d1;
  }
  .part_border{
    padding: 2px 0px 5px 0px;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 5px #e2dfdf;
    border-radius: 5px;
  }
</style>
<script type="text/javascript">
  var show = '';
  <% if (current_user.nil? || current_user.suppliers_users.blank?) %>
    show = 'Yes';
  <% else %>
    show = 'No';
  <% end %>
  ;(function($) {
    var notes = new Array();

    <% if @request_parts.present? %>
      <% @request_parts.each do |requested_part| %>
      <% spot = CategoryPartItem.find(requested_part.category_part_item_id).hot_spot%>
        <% if !spot.blank? %>  
          var note = {x: "<%=spot.x_position%>", y: "<%=spot.y_position%>", note: "<%=spot.note.squish %>", id: "<%=spot.id%>", category_part_item_name: "<%= CategoryPartItem.find(spot.category_part_item_id).name%>", show_cart: show, category_part_item_id: <%=spot.category_part_item_id%>, hot_spot_no: <%=spot.item_type.hot_spot_no%> }
          notes.push(note)
        <% end %>
      <% end %>
    <% end %>
    $(window).load(function() {

      var $img = $("#image").imgNotes({
        onEdit: function(ev, elem) {
          var $elem = $(elem);
          $('#NoteDialog').remove();
          return $('<div id="NoteDialog"></div>').dialog({
            title: "Note Editor",
            resizable: false,
            modal: true,
            height: "300",
            width: "450",
            position: { my: "left bottom", at: "right top", of: elem},
            buttons: {
              "Save": function() {
                var txt = $('textarea', this).val();
                $elem.data("note").note = txt;
                $(this).dialog("close");
              },
              "Delete": function() {
                $elem.trigger("remove");
                $(this).dialog("close");
              },
              Cancel: function() {
                $(this).dialog("close");
              }
            },
            open: function() {
              $(this).css("overflow", "hidden");
              var textarea = $('<textarea id="txt" style="height:100%; width:100%;">');
              $(this).html(textarea);
              textarea.val($elem.data("note").note);
            }
          });
        }
      });

      $img.imgNotes("import", notes);

      var $toggle = $("#toggleEdit");
      if ($img.imgNotes("option","canEdit")) {
        $toggle.text("View");
      } else {
        $toggle.text("Edit");
      }
      $toggle.on("click", function() {
        var $this = $(this);
        if ($this.text()=="Edit") {
          $this.text("View");
          $img.imgNotes("option", "canEdit", true);
        } else {
          $this.text('Edit');
          $img.imgNotes('option', 'canEdit', false);
        }
      });

      var $export = $("#export");
      $export.on("click", function() {
        var $table = $("<table/>").addClass("gridtable");
        var notes = $img.imgNotes('export');
        $table.append("<th>X</th><th>Y</th><th>NOTE</th>"); 
        $.each(notes, function(index, item) {
          $table.append("<tr><td>" + item.x + "</td><td>" + item.y + "</td><td>" + item.note + "</td></tr>");
        });
        $('#txt').html($table);
        $('#submit_hot_spots').css('display','block');
      });

      var $clear = $("#clear");
      $clear.on("click", function() {
        $img.imgNotes('clear');
      });

      var $toggleZ = $("#toggleZoom");
      if ($img.imgNotes("option","zoomable"))
        $toggleZ.text("Zoom Off");
      else
        $toggleZ.text("Zoom On");

      $toggleZ.on("click", function() {
        var $this = $(this);
        if ($this.text()=="Zoom On") {
          $this.text("Zoom Off");
          $img.imgNotes("option","zoomable", true);
        } else {
          $this.text("Zoom On");
          $img.imgNotes("option","zoomable", false);
        }
      });

      var $toggleD = $("#toggleDrag");
      if ($img.imgNotes("option","dragable"))
        $toggleD.text("Drag Off");
      else
        $toggleD.text("Drag On");

      $toggleD.on("click", function() {
        var $this = $(this);
        if ($this.text()=="Drag On") {
          $this.text("Drag Off");
          $img.imgNotes("option","dragable", true);
        } else {
          $this.text("Drag On");
          $img.imgNotes("option","dragable", false);
        } 
      });

    });
  })(jQuery);
</script>

<script type="text/javascript">
  if ($(".marker").length>0) {
    $(window).on('load', function() {
      if ($(".marker").data("note").hot_spot_no === false ){
        $('.marker-text').remove();
        $('.marker').find('img').css("opacity", "0.5");
      }
    });
  }

</script>

<script type="text/javascript">
  $(".price").keyup(function() {
    number_of_price_rows = $('.price');
    total_price = 0;

    current_price = parseInt($(this).val())
    price_id = $(this).attr('id')

    subtotal_prv = parseInt($('.subtotal_'+price_id).val())
    discount_amnt_prv = parseInt($('.discount_'+price_id).val())
    quantity_amnt_prv = parseInt($('.quantity_'+price_id).val())
    
    multiply_quantity_price = quantity_amnt_prv*current_price
    now_sub_total = 0
    if(discount_amnt_prv!==0){
      now_sub_total = multiply_quantity_price - discount_amnt_prv
    }else{
      now_sub_total = multiply_quantity_price
    }

    $('.subtotal_'+price_id).val(now_sub_total)

    number_of_subtotal_rows = $('.subtotal');
    for(var i = 0; i < number_of_subtotal_rows.length; i++){
      total_price += parseInt($(number_of_subtotal_rows[i]).val());
    }
    $("#total").val(total_price)    
  });

  $(".discount").keyup(function() {
    total_price = 0;
    d_id = $(this).attr('id')  
    current_price = parseInt($('.price_'+d_id).val())

    subtotal_prv = parseInt($('.subtotal_'+d_id).val())
    discount_amnt_prv = parseInt($('.discount_'+d_id).val())
    quantity_amnt_prv = parseInt($('.quantity_'+d_id).val())
    
    multiply_quantity_price = quantity_amnt_prv*current_price
    now_sub_total = 0
    if(discount_amnt_prv!==0){
      now_sub_total = multiply_quantity_price - discount_amnt_prv
    }else{
      now_sub_total = multiply_quantity_price
    }
    $('.subtotal_'+d_id).val(now_sub_total)
    
    number_of_subtotal_rows = $('.subtotal');
    
    for(var i = 0; i < number_of_subtotal_rows.length; i++){
      total_price += parseInt($(number_of_subtotal_rows[i]).val());
    }
    $("#total").val(total_price)    
  });
</script>

<script type="text/javascript">
  $(".diagram_body").hide();

  $('.sub_menu_click').click(function(){
    var current_item_type = $(this).data("item-id");
    $(".for_hide_item").hide();
    $(".diagram_body").hide();
    $(".for_hide_item[data-item-id="+current_item_type+"]").show();
    $(".show_hide_attachment-"+current_item_type).show();
    $(this).addClass("active_submenu");
  });
  if($("li").hasClass("active_submenu")){
    var current_item_type = $('.active_submenu').data("item-id");
    $(".for_hide_item").hide();
    $(".diagram_body").hide();
    $(".for_hide_item[data-item-id="+current_item_type+"]").show();
    $(".show_hide_attachment-"+current_item_type).show();
    $(this).addClass("active_submenu");
  }
</script>