.about {
  &__content {
    padding: 60px 0;
  }  

   &__row {
    display: flex;

    @media (max-width: $screen-sm) {
      flex-direction: column;
    }

    &__col {
      flex: 1 0;

      &__image{
        height: 500px;
        background-image: asset-url("testimonial.png");
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
}

