.cta {
  background-image: asset-url("cta.jpg");
  height: 450px;
  display: flex;
  font-family: "Muli", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1 0;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: center;

    &__col {      
      flex: 1 0;
      margin: 10px;

      &__line{
        width: 60px;
        height: 5px;
        align-items: center;
        background:white;
      }

      &__text{
        font-weight: bold;
        position: relative;
        text-align: center;
        font-size: 35px;
        color:white;
        padding-top: 20px;

        @media(max-width: $screen-xs) {
          font-size: 30px;
        }

        &:before {
          position: absolute;
          content: '';
          width: 60px;
          height: 5px;
          background-color: white;
          border-radius: 100px;
          top: 0;
          left: 50%;
          margin-left: -30px;
        }
      }

    }
  }

  &__button{
    margin-top: 10px;
    width: 300px;
    height: 50px;
    border-color: transparent;
    border-radius: 5px;
    background-color: #00204a;
    color:white;
    font-weight: bold;
  } 
}
