$faq-item-color: #f2f4f6;

.faq-item {

  &__header {
    display: flex;
    background: $faq-item-color;
    margin:10px;
    padding:10px;
    border: 2px solid white;
    border-radius: 7px;

     &__icon {
      text-align: center;
      width:40px;
      font-size: 18px;

      &--open{
        color: orange;
        text-align: center;
        width:40px;
        font-size: 18px;
      }
    }

    &__text{
      flex: 1 0;
    }

   
  }

  &__body {
    display: none;
    background: $faq-item-color;
    margin:10px;
    padding:10px;
    &__text{
      flex: 1 0;
    }

    &--open{
      display:flex;
    }
  }
}
