$faq-brand-color: rgb(58, 56, 56);
$faq-color: white;

.faq {
  background: $faq-color;

  &__content {
    padding: 60px 0;
  }

  &__row {
    display: flex;

    @media(max-width: $screen-sm) {
      flex-direction: column;
    }

    &__col {
      margin: 10px;
      flex: 1 0;

      &__brand {
        font-weight: bold;
        font-size: 40px;
        color: $faq-brand-color;
        line-height: 50px;
        text-align: center; 
        margin-bottom: 20px;
        font-family: "Muli", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
      }
    }
  }
}
