.how-works{
  font-family: "Muli", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  
  &__content{
    position: relative;
    overflow: hidden;
    margin-top: -130px;

    @media(max-width: $screen-xs) {
      padding: 25px;
    }

    &__image-planet {
      position: absolute;
      top: 40px;
      right: 40px;
      margin-right: -160px;
      width: 400px;

      @media(max-width: $screen-md) {
        width: 320px;
      }
    }

    &__image-phone {
      width: 350px;

      @media(max-width: $screen-md) {
        width: 230px;
      }
    }
  }

  &__row {
    display: flex;
    margin-top:130px;

    &__col {
      display: flex;
      flex: 1 0; 
      flex-direction: column;
      justify-content: center;
      
      &__row {
        display: flex;
        padding: 15px;

        &__title{
          position: relative;
          font-weight: bold;
          font-size: 35px;
          color:#00204a;
          padding: 20px;
          font-family: "Muli", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;

          &:before {
            position: absolute;
            content: '';
            width: 60px;
            height: 5px;
            background-color: #ff6600;
            border-radius: 100px;
            top: 0;
          }
        }

        &__circle{ 
          &__orange{
            width: 45px;
            height:30px;
            background-color: #ff6600;
            border-radius: 50px;
            
            &__text{
              color:white;
              text-align: center;
              padding: 5px;
              font-weight: bold;
            }
          }

          &__grey{
            width: 45px;
            height:30px;
            background-color: #e5e8ed;
            border-radius: 50px;

            &__text{
              text-align: center;
              padding: 5px;
              font-weight: bold;
              color:#263c5c;
            }
          }
        }
      }

      &--fixed {
        max-width: 380px;
        flex-grow: 0;

        @media(max-width: $screen-xs) {
          display: none;
        }

        @media(min-width: $screen-lg) {
          margin-left: 100px;
        }
      }
    }
  }
  
  &__text{
    &__orange{
      flex: 1 0;
      text-align: start;
      margin-left: 30px;  
      color:#ff6600;
      font-weight: bold;
      font-size: 18px;
    }

    &__grey{
      flex: 1 0;
      text-align: start;
      margin-left: 30px;  
      color:#263c5c;     
      font-weight: bold;
      font-size: 18px;
    }
  }

  &__button-try-now{
    padding: 5px;
    margin-top: 10px;
    margin-left:5px;
    height: 50px;
    width: 164px;
    border-color: transparent;
    border-radius: 5px;
    background-color: #00204a;
    color:white;
    font-weight: bold;
  }

  &__button-video{
    padding: 5px;
    margin-top: 10px;
    margin-left:5px;
    height: 50px;
    width: 164px;
    border-color: transparent;
    border-radius: 5px;
    background-color: #ff6600;
    color:white;
    font-weight: bold;
  }
}
