.jumbotron {
  width: 100%;
  height: 580px;
  background: #efefef;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: asset-url("carousel1.png");
  background-position: 0 -200px;
  background-size: cover;
  font-weight: bold;

  @media(max-width: $screen-sm) {
    background-size: auto;
  }

  &__title {
    font-size: 45px;
    line-height: 55px;
    padding-bottom: 250px;
    color: white;

    @media(max-width: $screen-sm) {
      padding-bottom: 270px;
    }

    @media(max-width: $screen-xs) {
      font-size: 30px;
      line-height: 38px;
    }
    
    &__orange {
      color: $orange;
      position: relative;

      &:before {
        position: absolute;
        content: '';
        right: 0; bottom: -10px; 
        width: 60%;
        border-bottom: 5px solid $orange;
      }
    }
  }
}

.ant-carousel .slick-slide {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-end;
  line-height: 400px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.header__brand .brand a span {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}