.why{
  &__container {
    background: #f6f7f7;
    padding-bottom: 50px;
    margin-top: -160px;
    padding-top: 160px;

    @media(max-width: $screen-md) {
      margin-top: -90px;
      padding-top: 90px;
    }

    @media(max-width: $screen-xs) {
      margin-top: -170px;
      padding-top: 170px; 
    }
  }

  &__content{
    padding: 60px;
  }

  &__row{
    display: flex;

    @media(max-width: $screen-md) {
      flex-direction: column;      
    }

    &__col{
      flex: 1 0;

      &__title{
        position: relative;
        font-weight: bold;
        text-align: center;
        font-size: 35px;
        color:#00204a;
        padding-top: 20px;
        padding-bottom: 90px;
        font-family: "Muli", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;

        &:before {
          position: absolute;
          content: '';
          width: 60px;
          height: 5px;
          background-color: #ff6600;
          border-radius: 100px;
          top: 0;
          left: 50%;
          margin-left: -30px;
        }
      }

      &__middle{
        margin-top: -60px;

        @media(max-width: $screen-md) {
          margin-top: 0px;
        }
      }
      
      &__card{
        flex-direction: row;
        flex: 1 0;
        text-align: center;

        &__title{
          padding: 10px;
          color:#00204a;
          font-weight: bold;
          font-size: 16px;
          margin: 4 0;
        }

        &__detail{
          padding: 10px;
          color:#405664;
          font-size: 14px;
        }
      }
    }
  }
}