<!-- <div tabindex="-1" class="ant-modal-wrap " role="dialog" aria-labelledby="rcDialogTitle0" style="">
  <div role="document" class="ant-modal" style="width: 520px; transform-origin: 564px 4px 0px;">
    <div class="ant-modal-content">
      <button aria-label="Close" class="ant-modal-close close" id="closeModal"><span class="ant-modal-close-x"></span></button>
      <div class="ant-modal-header">
        <div class="ant-modal-title" id="rcDialogTitle0">Agregar pieza</div>
      </div>
      <div class="ant-modal-body" style="padding: 12px;">
        <%#= render 'form' %>  
      </div>
    </div>
  </div>
</div> -->
<div class="" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog my-model-body" role="document">
    <div class=" enquiry_form main-model-content modal-content">
      <div class="modal-header editar">
        <h5 class="modal-title header_modtext" id="exampleModalLabel">Mis Vehiculos Add</h5>
      </div>
      <span class="close-icon-top close" data-dismiss="modal" aria-label="Close"><img src="<%=image_path('close-icon.png')%>"></span>
      <div class="modal-body quotes_pad">
        <div class="popup">
          <%= render 'edit' %>
        </div>
      </div>
    </div>
  </div>
</div>