<%= form_tag private_api_quotation_request_path, method: :patch do |f| %>
  <% if @quotation_request_part.errors.present?%>
    <div class="errors">
      <ul>
        <% @quotation_request_part.errors.full_messages.each do |error| %>
          <li>
            <%= error %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <ul class="model_inputs">
    <li>
      Description:
    </li>
    <li>
      <%= text_field_tag "description", @quotation_request_part.description, {include_blank: "Description", class: "extra_select_width"} %>
    </li>
  </ul>
  <ul class="model_inputs">
    <li>
      Number:
    </li>
    <li>
      <%= number_field_tag "amount", @quotation_request_part.amount, {include_blank: "Amount", class: "extra_select_width"} %>
    </li>
  </ul>
  <div class="form__group">
    <div class="form__group__label">Tipo de repuesto:</div>
    <label class="form__group__checkbox quote__control__original ant-checkbox-wrapper">
    <span class="ant-checkbox">
    <%= check_box_tag 'original', true, (@quotation_request_part.original ? true : false), class: "ant-checkbox-input", style: "opacity: 1;" %>
    <span class="ant-checkbox-inner"></span>
    </span>
    <span>Original</span>
    </label>
    <label class="form__group__checkbox quote__control__alternative ant-checkbox-wrapper">
    <span class="ant-checkbox">
    <%= check_box_tag 'original', true, (@quotation_request_part.alternative ? true : false), class: "ant-checkbox-input", style: "opacity: 1;"%>
    <span class="ant-checkbox-inner"></span>
    </span>
    <span>Alternativo</span>
    </label>
  </div>
 

  <%= submit_tag "Submit", class: "model-footer-btn edit-model-btn", :"data-turbolinks" => false %>
<%end%>