<h2 class="screen__title">Select your request for: </h2>
<input type="radio" name="demo" value="other_vehicle" /> New request
<input type="radio" name="demo" value="my_vehicle"/> My vehicle
<div id="show_other_vehicle" class="myDiv" style="display: none;">
  <h2 class="screen__title">Form for new request:</h2>
  <div class="form__group">
    <div class="form__group__label">Marca:</div>
    <%= select_tag 'brand_id', options_for_select(@brands), {include_blank: "Marca del vehiculo", class: "form_request ant-input", style: "width:100%"}%>
  </div>
  <div></div>
  <div class="form__group">
    <div class="form__group__label">Modelo:</div>
    <%= select_tag 'model_id', options_for_select([]), {include_blank: "Modelo", class: "form_request ant-input", style: "width:100%"}%>
  </div>
  <div></div>
  <div class="form__group">
    <div class="form__group__label">Año:</div>
    <%= select_tag 'year', options_for_select(QuotationRequest::YEAR), {include_blank: "Año", class: "form_request ant-input", style: "width:100%"}%>
  </div>
  <div></div>
  <div class="form__group">
    <div class="form__group__label">Número de chasis:</div>
    <%= text_field_tag 'chasis_number', '', placeholder:"0123-2345-3456", class: "form_request ant-input", style: "width: 100%"%>
  </div>
  <div class="form__group">
    <div class="form__group__label">Descripción/Nro de pieza:</div>
    <%= text_field_tag 'description', '', placeholder:"Pieza ubicada en...", class: "form_request ant-input", style: "width: 100%" %><span class="error" style="display: none;">This field is required</span>
    <div></div>
  </div>
  <div class="form__group">
    <div class="form__group__label">Cantidad:</div>
    <div class="select-amount">
      <%= number_field_tag 'amount', 1, placeholder:"1" , class: "form_request", style: "width: 100%"%>
    </div>
    <div></div>
  </div>
  <div class="form__group">
    <div class="form__group__label">Tipo de repuesto:</div>
    <label class="form__group__checkbox quote__control__original ant-checkbox-wrapper">
    <span class="ant-checkbox">
    <input name="original" id= "original" type="checkbox" class="ant-checkbox-input" value="false" style= "opacity: 1;">
    <span class="ant-checkbox-inner"></span>
    </span>
    <span>Original</span>
    </label>
    <label class="form__group__checkbox quote__control__alternative ant-checkbox-wrapper">
    <span class="ant-checkbox">
    <input name="alternative" id="alternative" type="checkbox" class="ant-checkbox-input" value="false" style= "opacity: 1;">
    <span class="ant-checkbox-inner"></span>
    </span>
    <span>Alternativo</span>
    </label>
  </div>
  <div class="ant-modal-footer" id="add">
    <button type="button" class="ant-btn ant-btn-primary" id= "quote-req-modal" data-turbolinks='false' ><span>Add</span></button>
  </div>
  <div id="parts" style="display: none;">
    <table class="table">
      <thead>
        <th scope="col">Marca</th>
        <th scope="col">Modelo</th>
        <th scope="col">Año</th>
        <th scope="col">Desc</th>
        <th scope="col">chasis</th>
        <th scope="col" colspan="2">Cantidad</th>
      </thead>
      <tbody id="new_quotation_request_data">
      </tbody>
    </table>
    <%= form_tag private_api_quotation_requests_path, method: :post, class: "" do |f|%>
      <div class="quotation-request-hidden-form"></div>
      <div class="screen__footer screen__footer--padding">
        <button type="submit" class="ant-btn ant-btn-success">
        <i class="anticon anticon-check"></i>
        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Enviar pedido</font></font></span>
        </button>
      </div>
    <% end %>
  </div>
</div>
<div id="show_my_vehicle" class="myDiv" style="display: none;">
  <h2 class="screen__title">Form for my vehicles</h2>
  <% if !@user_vehicles.nil? %> 
  <div class="form__group">
    <div class="form__group__label">Mis Vehiculos:</div>
    <% @user_vehicles.each do |vehicle| %>
    <input type="radio" name="my-vehicle" value="<%= vehicle.brand_id%>" id="my_brand_id" /> <%=get_brand(vehicle.brand_id).name %> / <%=get_model(vehicle.model_id).name %> / <%=vehicle.year %> / <%=vehicle.chasis_number %><br>
    <% end %>
  </div>
  <input type="hidden" name="" id="model_id" class="model">
  <%= hidden_field_tag 'year', '',class: "form_request ant-input year", style: "width:100%", readonly:true%>
  <%= hidden_field_tag 'chasis_number', '', placeholder:"0123-2345-3456", class: "form_request ant-input chasis", style: "width: 100%", readonly:true%>

  <div class="form__group">
    <div class="form__group__label">Descripción/Nro de pieza:</div>
    <input type="text" name="description" id="my_description" placeholder= "Pieza ubicada en..." class= "form_request ant-input" style= "width: 100%">
    <div></div>
  </div>
  <div class="form__group">
    <div class="form__group__label">Cantidad:</div>
    <div class="select-amount">
      <input type="number" name="amount" id="my_amount" placeholder= "1" value="1" class= "form_request" style= "width: 100%">
    </div>
    <div></div>
  </div>
  <div class="form__group">
    <div class="form__group__label">Tipo de repuesto:</div>
    <label class="form__group__checkbox quote__control__original ant-checkbox-wrapper">
    <span class="ant-checkbox">
    <input name="original" id= "my_original" type="checkbox" class="ant-checkbox-input" value="false" style= "opacity: 1;">
    <span class="ant-checkbox-inner"></span>
    </span>
    <span>Original</span>
    </label>
    <label class="form__group__checkbox quote__control__alternative ant-checkbox-wrapper">
    <span class="ant-checkbox">
    <input name="alternative" id="my_alternative" type="checkbox" class="ant-checkbox-input" value="false" style= "opacity: 1;">
    <span class="ant-checkbox-inner"></span>
    </span>
    <span>Alternativo</span>
    </label>
  </div> 
  <div class="ant-modal-footer">
    <button type="button" class="ant-btn ant-btn-primary" id= "my-req-modal" data-turbolinks='false' ><span>Add</span></button>
  </div>
  <div id="my-parts" style="display: none;">
    <table class="table my_table">
      <thead>
        <th scope="col">Desc</th>
        <th scope="col" colspan="2">Cantidad</th>
      </thead>
      <tbody id="my_quotation_request_data">
      </tbody>
    </table>
    <%= form_tag private_api_quotation_requests_path, method: :post, class: "" do |f| %>
      <div class="my-request-hidden-form"></div>
      <div class="screen__footer screen__footer--padding">
        <button type="submit" class="ant-btn ant-btn-success">
        <i class="anticon anticon-check"></i>
        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Enviar pedido</font></font></span>
        </button>
      </div>
    <%end%>
  </div>
</div>
<% else %>
<div>
  No cars avilable please add your car first
</div>
<% end %>