<main id="main-container">

  <!-- Breadcrumb -->
  <div class="bg-body-light border-b">
    <div class="content py-5 text-center">
      <nav class="breadcrumb bg-body-light mb-0">
        <a class="breadcrumb-item" href="/api/quotation_requests">Cotizaciones</a>
        <span class="breadcrumb-item active">Nuevas cotizaciones</span>
      </nav>
    </div>
  </div>
  <!-- END Breadcrumb -->

  <!-- Page Content -->
  <div class="content">
    <%= form_tag get_vehicle_path, id: "vehicle_form", method: :post do |f|%>
      <!-- Update Product -->
      <%= hidden_field_tag "items", []%>
      <h2 class="content-heading">Solicitud de nueva solicitud</h2>
      <div class="row gutters-tiny">
        <!-- More Options -->
        <div class="col-md-5">
          <!-- Status -->
          <!-- END Status -->

          <!-- Meta Data -->
          <div class="block block-rounded block-themed">
            <div class="block-header bg-gd-primary">
              <h3 class="block-title">Detalles del vehículo</h3>
            </div>
            <div class="block-content existing-vehicle">
              <table class="js-table-checkable table table-hover">
                <tbody>
                  <%@user_vehicles.each_with_index do |vehicle, i|%>
                    <tr>
                      <td class="text-center">
                        <label class="css-control css-control-primary css-checkbox">
                          <input type="radio" class="css-control-input vehicle_ids" name="vehicles[ids][]", value="<%= vehicle.id%>" id="<%= i %>">
                          <span class="css-control-indicator"></span>
                        </label>
                      </td>
                      <td>
                        <p class="font-w600 text-muted mb-0"><%=vehicle.api_sub_model.name %> - <%=vehicle.api_sub_model.api_model.name %></p>
                      </td>
                    </tr>
                  <%end%>
                </tbody>
              </table>
            </div>
          </div>
          <!-- END Meta Data -->
        </div>
        <!-- END More Options -->
        <!-- Basic Info -->
        <!-- END Basic Info -->
      </div>
      <!-- END Update Product -->
    <%end%>
  </div>
  <!-- END Page Content -->
</main>

<script type="text/javascript">

$('input[type="radio"]').click(function(){
  $('#vehicle_form').submit();
});

</script>

<style type="text/css">

  .ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    _width: 160px;
    padding: 4px 10px 4px;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #f7885f;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;


    .ui-menu-item > a.ui-corner-all {
      display: block;
      padding: 3px 15px;
      clear: both;
      font-weight: normal;
      line-height: 18px;
      color: #555555;
      white-space: nowrap;

      &.ui-state-hover, &.ui-state-active {
        color: #f7885f;
        text-decoration: none;
        background-color: #0088cc;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        background-image: none;
      }
    }
  }
</style>