<div class="clearfix">
  <section>
    <contents>
      <div class="nombre">
        <div class="table-responsive">
          <table id="customers">
            <tr>
              <th>Código</th>
              <th>Fecha</th>
              <th>Marca</th>
              <th>Madelo</th>
              <th>Cotizaciones</th>
              <th>Nº de Piezas</th>
              <th>Estado</th>
              <th>Ver Detalle</th>
            </tr>
            <% @quotation_requests.each do |quotation_request|%>
              <tr>
                <td><%= quotation_request.id%></td>
                <td><%= quotation_request.created_at.strftime("%d-%m-%Y")%></td>
                <td class="blue-text"><%= get_brand(quotation_request.quotation_request_parts.first.model_id).name%></td>
                <td><%= quotation_request.quotation_request_parts.first.model.name%></td>
                <td><%= quotation_request.quotations.count %></td>
                <td><%= quotation_request.quotations.sum(& :quotation_total_amount) %></td>
                <td>Activo</td>
                <td>
                  <%= link_to  private_api_quotation_request_quotation_request_detail_path(quotation_request.id) do %>
                    <i class="fa fa-eye"></i>
                  <%end%>
                </td>
              </tr>
            <%end%>
          </table>
          <div class="pag_right_pa">
            <%= paginate @quotation_requests %>
          </div>
        </div>
      </div>
    </contents>
  </section>
  <%= render 'notice_tip'%>
</div>
<div class="modal" id="quotation-request-modal">
  <div class="ant-modal-mask"></div>
</div>
<div class="modal" id="question-modal">
  <div class="ant-modal-mask"></div>
</div>

<style type="text/css">
  .pag_right_pa {
    position: relative;
    margin-left: 83%;
  }
</style>