<div class="Cotizaciones">
  <div class="`total-bill">
    <div class="available text-center">
      <img src="<%= image_path('icon_info.png')%>" alt="img">
      <%@notices.each do |notice|%>
        <p><%= notice.discription%></p>
      <%end%>
    </div>
    <div class="un-available available text-center">
      <img src="<%= image_path('icon_right.png')%>" alt="img">
      <%@tips.each do |tip|%>
        <p><%= tip.discription%></p>
      <%end%>
    </div>
  </div>
</div>