<main id="main-container">
  <div class="bg-body-light border-b">
    <div class="content py-5 text-center">
      <nav class="breadcrumb bg-body-light mb-0">
        <%= link_to 'Cotizaciones', private_api_quotation_requests_path, class: "breadcrumb-item" %>
        <span class="breadcrumb-item active">Cotizaciones - <%= @request.id%></span>
      </nav>
    </div>
  </div>  
  <div class="content">
    <div class="block block-rounded block-themed col-md-6" style="padding: 0;">
      <div class="block-header bg-gd-primary">
        <h3 class="block-title">Vehículo</h3>
      </div>

      <div class="block-content existing-vehicle">
        <% if @vehicle.present? %>
          <p class="text-muted"><%=@vehicle.api_sub_model.name rescue ''%> - <%=@vehicle.api_sub_model.api_model.name rescue ''%> - <%=@vehicle.api_sub_model.api_model.api_catalog.name rescue ''%></p>
        <% else %>
          <p class="text-muted">No hay vehículos presentes</p>
        <% end %>
      </div>
    </div>
    <div class="row">
      <% @quotation_requests.each do |quotation| %>
        <div class="content">
          <div class="content-heading" style="padding-top: 0;">
            <%= quotation.description %> <small class="d-none d-sm-inline"></small>
          </div>
        </div>
        <% quotes = get_quotes_for_request(quotation.id)%>

        <%if quotes.present?%>
          <% quotes.each_with_index do |quote, i| %>
            <div class="col-md-6 col-xl-3">
              <a class="block block-link-pop block-rounded block-bordered text-center" href="javascript:void(0)">
              <%if quote.quotation.new_quote%>
                <div class="cnrflash">
                  <div class="cnrflash-inner">
                      <span class="cnrflash-label"> New
                          </span>
                  </div>
                </div>
              <%end%>
                <div class="block-header">
                  <h3 class="block-title"><%= quote.type_of_request.capitalize rescue''%></h3>
                </div>
                <div class="block-content bg-gray-lighter">
                  <%if quote.quotation.supplier.markups.present? %>
                    <% amount = quote.quotation.supplier.markups.where(active: true).last.input %>
                    <div class="h1 font-w700 mb-10">$ <%= number_with_precision(quote.selling_price - amount, :precision => 2, :delimiter => '.', strip_insignificant_zeros: true) rescue ''%></div>
                  <%else%>
                    <div class="h1 font-w700 mb-10">$ <%= number_with_precision(quote.price, :precision => 2, :delimiter => '.', strip_insignificant_zeros: true) %></div>
                  <%end%>
                </div>
                <div class="block-content">
                  <p> <%= quote.brand rescue ''%></p>
                  <%if quote.warranty.present? %>
                    <p> <%= quote.warranty%> dias </p>
                  <%else%>
                    <p> Sin garantía </p>
                  <%end%>
                  <p> <%= quote.shipping.strftime("%d-%m-%Y") rescue '' %></p>
                  <% if quote.shipping_type == "delivery"%>
                    <i class="fa fa-truck" style="font-size: 20px;"  data-toggle="tooltip" title="Despacho a domicilio"></i>
                  <%end%>
                  <% if quote.shipping_type == "pickup"%>
                    <i class="fa fa-home" style="font-size: 20px;" data-toggle="tooltip" title="Retiro en tienda"></i>
                  <%end%>
                  <% if quote.shipping_type == "both"%>
                    <i class="fa fa-truck" style="font-size: 20px;" data-toggle="tooltip" title="Despacho a domicilio"></i> &nbsp; &nbsp; <i class="fa fa-home" style="font-size: 20px;" data-toggle="tooltip" title="Retiro en tienda"></i>
                  <%end%>
                </div>
                <div class="block-content block-content-full bg-gray-lighter">
                  <%= form_tag carts_path, method: :post, :"data-turbolinks"=> false, remote: true do%>
                    <%= hidden_field_tag 'cart_items[quotation_part_id]', quote.id %>
                    <%= hidden_field_tag 'cart_items[price]', quote.selling_price %>
                    <%= hidden_field_tag 'cart_items[quantity]', quote.amount %>
                    <%ids = quotes.pluck :id%>
                    <%if current_user.cart.present? %>
                      <% part_id = current_user.cart.cart_items.pluck(:quotation_part_id) if current_user.cart.cart_items.present? rescue []%>
                      <% if current_user.cart.cart_items.present? && ids.any? { |o| part_id.include?(o) } %>
                        <button type="submit" class="btn btn-hero btn-sm btn-rounded btn-noborder btn-success sl-<%= quote.id%> sel-<%= quotation.id%>" data-confirm="Estás seguro del cambio?">
                          <span>
                            <%= current_user.cart.cart_items.present? && current_user.cart.cart_items.pluck(:quotation_part_id).include?(quote.id) ? 'Seleccionado'  : 'Seleccionar'%>
                          </span>
                        </button>
                      <%else%>
                        <button type="submit" class="btn btn-hero btn-sm btn-rounded btn-noborder btn-success sl-<%= quote.id%> sel-<%= quotation.id%>">
                          <span>
                            <%= current_user.cart.cart_items.present? && current_user.cart.cart_items.pluck(:quotation_part_id).include?(quote.id) ? 'Seleccionado'  : 'Seleccionar'%>
                          </span>
                        </button>
                    <%end%>  
                    <%end%>
                  <% end %>
                </div>
              </a>
            </div>
          <%end%>
        <%else%>
          <div class="content">
            <div class="block">
              <div class="block-content">
                <p class="font_color_smile">No item found <span class="sad_smiley">&#128557;</span></p>
              </div>
            </div>
          </div>
        <%end%>
      <%end%>
    </div>
  </div>
</main>

<style type="text/css">
  
  /* CSS-only ribbon styles    */
.cnrflash
{
    /*Position correctly within container*/
    position: absolute;
    top: -9px;
    right: 0px;
    z-index: 1; /*Set overflow to hidden, to mask inner square*/
    overflow: hidden; /*Set size and add subtle rounding      to soften edges*/
    width: 100px;
    height: 100px;
    border-radius: 3px 5px 3px 0;
}
.cnrflash-inner {

    position: absolute;
    bottom: 0;
    right: 0;
    width: 145px;
    height: 30px;
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    background-size: 4px,auto, auto,auto;
    background-color: #e03530;

}
.cnrflash-inner:before, .cnrflash-inner:after
{
    /*Use the border triangle trick to make         it look like the ribbon wraps round it's        container*/
    content: " ";
    display: block;
    position: absolute;
    bottom: -16px;
    width: 0;
    height: 0;
    border: 8px solid #800000;
}
.cnrflash-inner:before
{
    left: 1px;
    border-bottom-color: transparent;
    border-right-color: transparent;
}
.cnrflash-inner:after
{
    right: 0;
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.cnrflash-label
{
    /*Make the label look nice*/
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    padding-bottom: 3px;
    color: #fff;
    text-shadow: 0 1px 1px rgba(1,1,1,.8);
    font-size:18px;
    font-weight: bold;
    text-align: center;
}
.block.block-link-pop.block-rounded.block-bordered.text-center {

    position: relative;

}
.sad_smiley{
  font-size: 25px;
  color: #3f9ce8;
  line-height: 30px;
}
.font_color_smile{
  font-size: 25px;
  line-height: 30px;
  text-align: center;
}
</style>