$("ul.errors").html("")
$("h4#error_explanation").html("")
<% if @quotation_request.last.errors.any? %>
  $("ul.errors").show()
  $("h4#error_explanation").show()
  $("h4#error_explanation").html("<%= pluralize(@quotation_request.last.errors.count, 'Error') %> Occurred")
  <% @quotation_request.errors.full_messages.each do |message| %>
    $("ul.errors").append($("<li />").html("<%= message.html_safe %>"))
  <% end %>
<% else %>
  $(".quotation-requests").html("<%= j (render 'private/api/quotation_requests/index') %>")
  $("#quotation-request-modal").modal("hide")
<% end %>

