$("#quotation-request-modal").html("<%= j(render 'edit_request')%>")
$("#quotation-request-modal").modal("show")

$('#closeModal').click(function(){
  $('#quotation-request-modal').modal("hide");
});


$('#quote-req-modal').click(function() {
  var prev_no = $('#tbl_quotation_request_remove').data('remove');
  if(prev_no==undefined || prev_no == ''){
    var current_no = 1
  }else{
    var current_no = prev_no+1;
  }
  if($("#original").prop("checked") == true){
    var original = true;
  }else{
    var original = false;
  }
  if($("#alternative").prop("checked") == true){
    var alternative = true;
  }else{
    var alternative = false;
  }

  $('#new_quotation_request_data').prepend($('<tr style="font-size:12px; font-weight:bold;"><td>'+$('#brand_id option:selected').html()+'</td><td>'+$('#model_id option:selected').html()+'</td><td>'+$('#year').val()+'</td><td>'+$('#description').val()+'</td><td>'+$('#chasis_number').val()+'</td><td>'+$('#amount').val()+'</td><td><button id="tbl_quotation_request_remove" class="btn btn-sm btn-warning" data-remove="'+current_no+'">X</button></td></tr>'));
  $('.quotation-request-hidden-form').prepend($('<div id="div_remove" data-remove="'+current_no+'"><input type="hidden" name="pieces[][model_id]" value='+$("#model_id").val()+'><input type="hidden" name="pieces[][year]" value='+$("#year").val()+'><input type="hidden" name="pieces[][amount]" value='+$("#amount").val()+'><input type="hidden" name="pieces[][chasis_number]" value='+$("#chasis_number").val()+'><input type="hidden" name="pieces[][description]" value="'+$("#description").val()+'"><input type="hidden" name="pieces[][original]" value='+original+'><input type="hidden" name="pieces[][alternative]" value='+alternative+'></div>'));
  
  $('#parts').css('display','block');
});


$('#brand_id').change(function() {
  brand = $(this).children("option:selected").val();
  $.ajax({
    url: '/models',
    type: 'GET',
    data: {
      brand_id: brand
    },
    contentType: 'application/json',
    dataType: 'json',
    success: function(data) {
      $('#model_id').empty();
      $('#model_id').append("<option value=''>Modelo</option>");
      $.each(data, function(id, value) {
        $('#model_id').append("<option value=" + value[1] + ">" + value[0]);
      });
    }
  });
});

$('input[name="demo"]').click(function(){
  var demovalue = $(this).val(); 
  $("div.myDiv").hide();
  $("#show_"+demovalue).show();
});

$('input[name="my-vehicle"]').click(function(){
  brand = $(this).val();
  $.ajax({
    url: '/api/get_user_vehicle',
    type: 'GET',
    data: {
      brand_id: brand
    },
    contentType: 'application/json',
    dataType: 'json',
    success: function(data) {
      $.each(data, function(id, value) {
        if(id==0){
          $('.model').replaceWith("<input type='hidden' name='model' value="+value+" class= 'form_request ant-input model' readonly=true>");
        }else if(id==1){
          $('.year').replaceWith("<input type='hidden' name='year' value="+value+" class= 'form_request ant-input year' readonly=true>");
        }else{
          $('.chasis').replaceWith("<input type='hidden' name='chasis_number' value="+value+" class= 'form_request ant-input chasis_number' readonly=true>");
        }
      });
    }
  });
});

$('.table').on('click', '#tbl_quotation_request_remove', function() {
  var div_to_remove = $('#tbl_quotation_request_remove').data('remove');
  $('#div_remove').filter(function(){
    return $(this).data('remove') === div_to_remove;
  }).remove();
  $(this).closest("tr").remove();
  if ($("#new_quotation_request_data").children('tr').length <= 0){
    $("#parts").css('display', 'none');
  }
});


$('#my-req-modal').click(function() {
  var prev_no = $('#my_tbl_quotation_request_remove').data('remove');
  if(prev_no==undefined || prev_no == ''){
    var current_no = 1
  }else{
    var current_no = prev_no+1;
  }
  if($("#my_original").prop("checked") == true){
    var original = true;
  }else{
    var original = false;
  }
  if($("#my_alternative").prop("checked") == true){
    var alternative = true;
  }else{
    var alternative = false;
  }
 
  $('#my_quotation_request_data').prepend($('<tr style="font-size:12px; font-weight:bold;"><td>'+$('#my_description').val()+'</td><td>'+$('#my_amount').val()+'</td><td><button id="my_tbl_quotation_request_remove" class="btn btn-sm btn-warning" data-remove="'+current_no+'">X</button></td></tr>'));
  $('.my-request-hidden-form').prepend($('<div id="div_remove" data-remove="'+current_no+'"><input type="hidden" name="pieces[][model_id]" value='+$(".model").val()+'><input type="hidden" name="pieces[][year]" value='+$(".year").val()+'><input type="hidden" name="pieces[][amount]" value='+$("#my_amount").val()+'><input type="hidden" name="pieces[][chasis_number]" value='+$(".chasis_number").val()+'><input type="hidden" name="pieces[][description]" value="'+$("#my_description").val()+'"><input type="hidden" name="pieces[][original]" value='+original+'><input type="hidden" name="pieces[][alternative]" value='+alternative+'></div>'));
  
  $('#my-parts').css('display','block');
  $('#my_description').val("");
  $('#my_original').prop("checked", false);
  $('#my_alternative').prop("checked", false);
  $('#my_amount').val('1');
});

$('.my_table').on('click', '#my_tbl_quotation_request_remove', function() {
  var div_to_remove = $('#my_tbl_quotation_request_remove').data('remove');
  $('#div_remove').filter(function(){
    return $(this).data('remove') === div_to_remove;
  }).remove();
  $(this).closest("tr").remove();
  if ($("#my_quotation_request_data").children('tr').length <= 0){
    $("#my-parts").css('display', 'none');
  }
});



