<main id="main-container">
  <div class="content">
    <div class="bg-body-light border-b">
      <div class="content py-5 text-center">
        <nav class="breadcrumb bg-body-light mb-0">
          <%= link_to "Escritorio", dashboard_index_path, class: "breadcrumb-item"%>
          <span class="breadcrumb-item active">Cotizaciones</span>
        </nav>
      </div>
    </div>
    <!-- END Breadcrumb -->

    

  <div class="content">
    <div class="content-heading">
      <div class="block-header block-header-default display_bloc_hed">
        <h3 class="block-title">Cotizaciones(<%= @total_quotation_requests.count %>)</h3>
        <div class="dropdown float-right">
          <%= link_to new_private_api_quotation_request_path, class: "btn btn-success btn-sm" do%>
            <i class="fa fa-plus mr-5"></i> Nueva cotizacion
          <%end%>
          <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" id="ecom-orders-drop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= get_time_lable(params[:time]) %>
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="ecom-orders-drop">
            <a class="dropdown-item active" href="<%= private_api_quotation_requests_path(:time => 'today', :status => params[:status]) %>">
              <i class="fa fa-fw fa-calendar mr-5"></i>Hoy
            </a>
            <a class="dropdown-item" href="<%= private_api_quotation_requests_path(:time => 'week', :status => params[:status]) %>">
              <i class="fa fa-fw fa-calendar mr-5"></i>Esta semana
            </a>
            <a class="dropdown-item" href="<%= private_api_quotation_requests_path(:time => 'month', :status => params[:status]) %>">
              <i class="fa fa-fw fa-calendar mr-5"></i>Este Mes
            </a>
            <a class="dropdown-item" href="<%= private_api_quotation_requests_path(:time => 'year', :status => params[:status]) %>">
              <i class="fa fa-fw fa-calendar mr-5"></i>Este Año
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="<%= private_api_quotation_requests_path(:time => 'all', :status => params[:status]) %>">
              <i class="fa fa-fw fa-circle-o mr-5"></i>Todas
            </a>
          </div>
        </div>
        <div class="dropdown float-right mr-5">
          <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" id="ecom-orders-filter-drop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= get_status_lable(params[:status]) %>
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="ecom-orders-filter-drop">
            <a class="dropdown-item" href="<%= private_api_quotation_requests_path(:status => 'pending', :time => params[:time]) %>">
              <i class="fa fa-fw fa-spinner fa-spin text-warning mr-5"></i>Pendientes
            </a>
            <a class="dropdown-item" href="<%= private_api_quotation_requests_path(:status => 'in_process', :time => params[:time]) %>">
              <i class="fa fa-fw fa-refresh fa-spin text-info mr-5"></i>En Proceso
            </a>
            <a class="dropdown-item" href="<%= private_api_quotation_requests_path(:status => 'approved', :time => params[:time]) %>">
              <i class="fa fa-fw fa-check text-success mr-5"></i>Aprobado
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item active" href="<%= private_api_quotation_requests_path(:status => 'all', :time => params[:time]) %>">
              <i class="fa fa-fw fa-circle-o mr-5"></i>Todas
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="block block-rounded">
      <div class="block-content">
          <!-- Orders Table -->
        <div class="table-responsive">

          <table class="table table-borderless table-striped">
            <thead>
              <tr>
                <th  class="text-center">Código</th>
                <th  class="text-justify">Estado</th>
                <th class="text-center">Fecha</th>
                <th class="text-center">Vehículo</th>
                <th class="text-center">Cotizaciones</th>
                <th class="text-center">Nº de Piezas</th>
                <th class="text-center"></th>
              </tr>
            </thead>
            <tbody>
              <% unless @quotation_requests.blank? %>
                <%@quotation_requests.each do |quotation_request|%>
                  <tr>
                    <td class="text-center">
                      <%= quotation_request.id%>
                    </td>
                    <td class="text-justify">
                      <span class="badge badge-<%= bootstrap_class_for(quotation_request.status)%>"><%= translate_for(quotation_request.status) %></span>
                    </td>
                    <td class="text-center">
                      <%= quotation_request.created_at.strftime('%d/%m/%Y') rescue ''%>
                    </td>
                    <td class="text-center">
                      <%= QuotationRequestPart.vehicle_model_name(quotation_request.id) %>
                    </td>
                    <td class="text-center">
                      <%= quotation_request.quotations.count %>
                    </td>
                    <td class="text-center">
                      <%= quotation_request.quotation_request_parts.count %>
                    </td>
                    <td class="text-center">
                      <%= link_to private_api_quotation_request_quotation_request_detail_path(quotation_request.id) do %>
                        <% q = quotation_request.quotations.where(flag: false)%>
                        <% if q.present?%>
                          Ver detalle <span class="badge badge-danger"><%= q.count%></span>
                        <%else%>
                          Ver detalle
                        <%end%>
                        
                      <% end %>

                    </td>
                  </tr>
                <%end%>
              <% else %>
                <tr><td class="text-center" colspan="6">ningún record fue encontrado</td></tr>
              <% end %>
              <tr>
                <td colspan="7">
                  <%= paginate @quotation_requests %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
<style type="text/css">
  @media (max-width: 441px) {
    .block-header.block-header-default.display_bloc_hed{
      display: block!important;
      overflow: hidden!important;
    }
  }
</style>