<div class="screen screen--row">
<div class="screen__content">
    <div class="screen__title">
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Nuevo pedido </font>
        </font>
        <button class='ant-btn float-right btn btn_primary' id="myBtn">
            <i class="fa fa-plus"></i> Agregar repuesto
        </button>
    </div>
    <%= form_tag private_api_quotation_requests_path, method: :post, class: "" do |f| %>
    <div class="screen__body">
        <div class="ant-table-wrapper no-border">
            <div class="ant-spin-nested-loading">
                <div class="ant-spin-container">
                    <div class="ant-table ant-table-small ant-table-empty ant-table-scroll-position-left">
                        <div class="ant-table-content">
                            <div class="ant-table-body">
                            <div class="table-responsive">
                            <table class="table">
                            <thead>
                            <th scope="col">Marca</th>
                            <th scope="col">Modelo</th>
                            <th scope="col">Año</th>
                            <th scope="col">Número de chasis</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Cantidad</th>
                            </thead>
                            <tbody id="new_quotation_request_data">
                                
                            </tbody>
                            </table>
                            </div>
                            </div>
                                <div class="ant-table-placeholder">
                                  <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">No data</font>
                                  </font>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="quotation-request-hidden-form">
        </div>
        <div class="screen__footer screen__footer--padding">
            <button type="button" class="ant-btn float-right ant-btn-success">
                <i class="anticon anticon-check"></i>
                <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Enviar pedido</font></font></span>
            </button>
            <button type="button" class="ant-btn float-right ant-btn-default">
                <i class="anticon anticon-delete"></i><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Limpiar</font></font></span>
            </button>
        </div>
        <% end %>
    </div>
    <div class="screen__right-bar">
        <div class="advice ">
            <div class="advice__title">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">And here, what do I do?
                    </font>
                </font>
            </div>
            <div class="advice__content">
                <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">You are about to create an order </font><font style="vertical-align: inherit;">First you must add the spare parts you need and then click on Send order</font>
                </font>
            </div>
        </div>
        <div class="advice advice--green">
            <div class="advice__title">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">And later?</font>
                </font>
            </div>
            <div class="advice__content">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Your order will be informed to the suppliers. </font>
                    <font style="vertical-align: inherit;">They will send you quotes and you can choose the one that best suits your needs.</font>
                </font>
            </div>
        </div>
    </div>
</div>


<!-- The Modal -->
<div id="myModal" class="modal">
<div class="ant-modal-mask"></div>
<div tabindex="-1" class="ant-modal-wrap " role="dialog" aria-labelledby="rcDialogTitle0" style="">
<div role="document" class="ant-modal" style="width: 520px; transform-origin: 564px 4px 0px;">
  <div class="ant-modal-content">
    <button aria-label="Close" class="ant-modal-close close"><span class="ant-modal-close-x"></span></button>
    <div class="ant-modal-header">
      <div class="ant-modal-title" id="rcDialogTitle0">Agregar pieza</div>
    </div>
    <div class="ant-modal-body">
      <div>
        <div class="form__group">
          <div class="form__group__label">Marca:</div>
            <%= select_tag 'brand_id', options_for_select(@brands), {include_blank: "Marca del vehiculo", class: "form_request ant-input", style: "width:100%"}%>
        </div>
        <div></div>
        <div class="form__group">
          <div class="form__group__label">Modelo:</div>
            <%= select_tag 'moidel_id', options_for_select([]), {include_blank: "Modelo", class: "form_request ant-input", style: "width:100%"}%>
         </div>
        <div></div>
        <div class="form__group">
          <div class="form__group__label">Año:</div>
            <%= select_tag 'year', options_for_select(QuotationRequest::YEAR), {include_blank: "Año", class: "form_request ant-input", style: "width:100%"}%>
        </div>
        <div></div>
        <div class="form__group">
          <div class="form__group__label">Número de chasis:</div>
          <%= text_field_tag 'chasis_number', '', placeholder:"0123-2345-3456", class: "form_request ant-input", style: "width: 100%"%>
        </div>
        <div class="form__group">
          <div class="form__group__label">Descripción/Nro de pieza:</div>
          <%= text_field_tag 'description', '', placeholder:"Pieza ubicada en...", class: "form_request ant-input", style: "width: 100%" %>
        <div></div>
        </div>
        <div class="form__group">
          <div class="form__group__label">Cantidad:</div>
          <div class="select-amount">
            <%= number_field_tag 'amount', 1, placeholder:"1" , class: "form_request", style: "width: 100%"%>
          </div>
        <div></div>
        </div>
        <div class="form__group">
          <div class="form__group__label">Tipo de repuesto:</div>
          <label class="form__group__checkbox quote__control__original ant-checkbox-wrapper">
        <span class="ant-checkbox">
          <input name="original" id= "original" type="checkbox" class="ant-checkbox-input" value="false" style= "opacity: 1;">
          <span class="ant-checkbox-inner"></span>
        </span>
        <span>Original</span>
      </label>
      <label class="form__group__checkbox quote__control__alternative ant-checkbox-wrapper">
        <span class="ant-checkbox">
          <input name="alternative" id="alternative" type="checkbox" class="ant-checkbox-input" value="false" style= "opacity: 1;">
          <span class="ant-checkbox-inner"></span>
        </span>
        <span>Alternativo</span>
      </label>
        </div>
      </div>
    </div>
    <div class="ant-modal-footer">
      <div><button type="button" class="ant-btn"><span>Cancel</span></button><button type="button" class="ant-btn ant-btn-primary" id= "quote-req-modal" data-turbolinks='false' ><span>Ok</span></button></div>
    </div>
  </div>
  <div tabindex="0" style="width: 0px; height: 0px; overflow: hidden;">sentinel</div>
</div>
</div>
</div>