<div id = "main" class="clearfix">
  <%= render 'quotation_request_detail'%>
</div>

<div class="modal" id="quotation-request-modal">
  <div class="ant-modal-mask"></div>
</div>
<div class="modal" id="question-modal">
  <div class="ant-modal-mask"></div>
</div>
<div class="modal" id="cart-pop-modal">
  <div class="ant-modal-mask"></div>
</div>

<script type="text/javascript">
  $('#add_cart').on('click', function(){
    $('#add_cart').css('display','none');
    $('#loader').css('display','block');
    setTimeout(hide, 2000);
  });
  function hide(){
    $('#add_cart').css('display','block');
    $('#loader').css('display','none');
  }
</script>
<style>
li.active_blue >.white-head {

    background: #3c4d69;
    color: #fff;

}
li.active_blue >.list-detail >.select-btn button {

    background: #f6824d;
    border: 1px solid #e3671e;
    color: #fff;

}
</style>