<div class="layout__body__content__screen">
  <!-- Breadcrumb -->
  <div class="bg-body-light border-b">
    <div class="content py-5 text-center">
      <nav class="breadcrumb bg-body-light mb-0">
        <%= link_to "Quotation Request", private_api_quotation_requests_path, class: "breadcrumb-item"%>
        <span class="breadcrumb-item active">Quotation Requests</span>
      </nav>
    </div>
  </div>
  <!-- END Breadcrumb -->
  <div class="screen">
    <div class="screen__title">Detalle del pedido #<%= @quotation_request["parts"].first["quotation_request_id"]%></div>
    <div class="screen__body screen__body--padding">
      <div class="ant-card margin-bottom ant-card-bordered ant-card-wider-padding ant-card-padding-transition">
        <div class="ant-card-head">
          <div class="ant-card-head-wrapper">
            <div class="ant-card-head-title">Detalle</div>
          </div>
        </div>
        <div class="ant-card-body">
          <div>
            <div class="ant-row">
              <div class="ant-col-md-24 ant-col-lg-12">
                <b>Fecha de creación:</b> el sábado pasado a las 15:38
              </div>
              <div class="ant-col-md-24 ant-col-lg-12">
                <b>Estado:</b> 
                <div data-show="true" class="ant-tag">Pendiente</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ant-card margin-bottom ant-card-bordered ant-card-wider-padding ant-card-padding-transition">
        <div class="ant-card-head">
          <div class="ant-card-head-wrapper">
            <div class="ant-card-head-title">Piezas solicitadas (<%= @quotation_request["parts"].count%>)</div>
          </div>
        </div>
        <div class="ant-card-body" style="padding: 0px; border-top: 1px solid rgb(235, 234, 235);">
          <div class="ant-table-wrapper no-border">
            <div class="ant-spin-nested-loading">
              <div class="ant-spin-container">
                <div class="ant-table ant-table-small ant-table-scroll-position-left">
                  <div class="ant-table-content">
                    <div class="ant-table-body">
                      <table class="">
                        <colgroup><col><col><col><col><col><col><col><col></colgroup>
                        <thead class="ant-table-thead">
                          <tr>
                            <th class="">
                              <span>Marca</span>
                            </th>
                            <th class="">
                              <span>Modelo</span>
                            </th>
                            <th class="" style="text-align: center;">
                              <span>Año</span>
                            </th>
                            <th class="">
                              <span>Número de chasis</span>
                            </th>
                            <th class="">
                              <span>Descripción</span>
                            </th>
                            <th class="" style="text-align: center;">
                              <span>Original</span>
                            </th>
                            <th class="" style="text-align: center;">
                              <span>Alternativo</span>
                            </th>
                            <th class="" style="text-align: center;">
                              <span>Cantidad</span>
                            </th>
                          </tr>
                        </thead>
                        <tbody class="ant-table-tbody">
                          <% @quotation_request["parts"].each do |part| %>   
                            <tr class="ant-table-row  ant-table-row-level-0">
                              <td class="">
                                <span class="ant-table-row-indent indent-level-0" style="padding-left: 0px;">
                                </span><%= part['brand_name']%>
                              </td>
                              <td class="">
                                <%= part['model_name']%>
                              </td>
                              <td class="" style="text-align: center;">
                                <%= part['year'] %>
                              </td>
                              <td class="">
                                <%= part['chasis_number'] %>
                              </td>
                              <td class="">
                                <%= part['description']%>
                              </td>
                              <td class="" style="text-align: center;">
                                <%= part['original']==true ? 'Yes' : 'No'%>
                              </td>
                              <td class="" style="text-align: center;">
                                <%= part['alternative']==true ? 'Yes' : 'No'%>
                              </td>
                              <td class="" style="text-align: center;">
                                <%= part['amount'] %>
                              </td>
                            </tr>
                          <% end %> 
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ant-card ant-card-bordered ant-card-wider-padding ant-card-padding-transition">
        <div class="ant-card-head">
          <div class="ant-card-head-wrapper">
            <div class="ant-card-head-title">Cotizaciones recibidas (<%= @quotation_recived.count%>)</div>
          </div>
        </div>
        <div class="ant-card-body" style="padding: 0px; border-top: 1px solid rgb(235, 234, 235);">
          <div class="ant-table-wrapper no-border">
            <div class="ant-spin-nested-loading">
              <div class="ant-spin-container">
                <div class="ant-table ant-table-small ant-table-empty ant-table-scroll-position-left">
                  <div class="ant-table-content">
                    <% if !@quotation_recived.empty? %>
                    <div class="ant-table-body">
                      <table class="">
                        <colgroup><col><col><col><col></colgroup>
                        <thead class="ant-table-thead">
                          <tr>
                            <th class="" style="text-align: center;">
                              <span>Código cotización</span>
                            </th>
                            <th class="" style="text-align: center;">
                              <span>Fecha de creación</span>
                            </th>
                            <th class="" style="text-align: center;">
                              <span>Ver</span>
                            </th>
                            <th class="" style="text-align: center;">
                              <span>Eliminar</span>
                            </th>
                          </tr>
                        </thead>
                        <tbody class="ant-table-tbody">
                          <% @quotation_recived.each do |quote| %>  
                            <tr>
                              <td style="text-align: center;">
                                <%=quote.id %>
                              </td>
                              <td style="text-align: center;">
                                <%= quote.created_at.strftime('%d/%m/%Y')%>
                              </td>
                              <td style="text-align: center;">
                                <%= link_to private_api_quotation_path(quote.id) do%>
                                  Ver
                                <% end %>
                              </td>
                              <td style="text-align: center;">
                                Remove
                              </td>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                    </div>
                    <% else %>
                      <div class="ant-table-placeholder">No data</div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
