.header {
  background: white;
  border-bottom: 1px solid #e3e3e3;

  &__container {
    height: 60px;
    display: flex;
  }

  &__brand {
    font-size: 28px;
    font-weight: bolder;
    color: #f7885f;
    padding: 10px;
  }

  &__menu {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    text-alignt: right;

    &__item {
      &__action {
        color: $dark;
        padding: 20px 15px;
        display: block;

        &--orange {
          color: $orange;
        }
      }

      &--mobile-only {
        @media(min-width: $screen-xs) {
          display: none;
        }
      }
    }
  }
}
