$sidebar-width: 210px;

.layout {
  min-height: 100vh;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;

  &__breadcrumb {
    line-height: 50px;
  }

  &__header {
    padding: 0 20px;
  }

  &__body {
    display: flex;
    flex-grow: 1;

    &__wrapper {
      position: relative;
      width: 100%;
      display: flex;
    }

    &__sidebar {
      position: absolute;
      width: $sidebar-width;
      height: 100%;
      top: 0; left: 0;
      background: $sidebar-bg;

      @media(max-width: $screen-xs) {
        display: none;

        &--active {
          display: inherit;
        }
      }
    }

    &__content {
      display: flex;
      margin-left: $sidebar-width;
      flex-direction: column;
      padding: 20px;
      width: 100%;

      @media(max-width: $screen-xs) {
        margin-left: 0;
      }

      &__screen {
        flex: 1 0;
      }

      &__footer {
        border-top: 1px solid #ccc;
        line-height: 12px;
        font-size: 12px;
        padding-top: 20px;

        a {
          color: $orange;
        }
      }
    }

    &__menu {
      background-color: transparent;
    }

    &__display-col {
      padding-left: 30px;

      @media(max-width: $screen-xs) {
        padding-left: 0;
        padding-top: 30px;
      }
    }
  }
}