<table cellspacing="0" cellpadding="0" border="0" style="width: 100%; min-width: 320px;">
  <tr>
    <td style="padding: 10px">
      <h1 align="center" >Mark all hotspot here with description</h1>
      <div align="center">
        <img  id="image" src="<%= image_path("#{@item_attachment.attachment}")%>" width="50%" />
      </div>
    </td>
  </tr>
  <tr>
    <td style="padding: 10px">
      <div align="center">
        <button id="toggleEdit">Edit</button> <button id="export">Export</button> <button id="clear">Clear</button> <button id="toggleZoom">Zoom On</button>  <button id="toggleDrag">Drag On</button>
      </div>
    </td>
  </tr>
  <td class="api_part_val" style="display: none;"><%= @api_part.id%></td>
  <tr>
    <td style="text-align:center; padding: 10px">
      <div id=txt align="center">
      </div>
      <button id="submit_hot_spots" style="display: none;" type="submit" data-disable-with= "Saving...">Save Hot-Spots</button>
    </td>
  </tr>
</table>
<style type="text/css">
  .num_bdy_container_bdy {
    position: relative;
  }
  .num_bdy_container_bdy:before {
    content: "\f175";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #ada5a5;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 0px;
    left: 50%;    
  }
.num_bdy_container {
  background-color: #fff;
  border: 1px dashed #1c87c6;
  color: #2588c4;
  cursor: pointer;
  display: block;
  font-size: 14px;
  position: absolute;
  margin-top: 20px;
  margin-bottom: 4px;
  left: 47%;
}

.num_bdy_menu {
  padding-left: 7px;
  position: absolute;
  z-index: 11;
  top: 0;
  left: 13px;
  display: none;
}
.num_bdy_menu.on_hover{
  display: block;
}
.num_bdy_menu:before{
  border-color: transparent #2588c4 transparent transparent;
  border-style: solid;
  border-width: 7px 7px 7px 0;
  content: "\A";
  left: 0;
  position: absolute;
  top: 10px;
}
ul.num_bdy_menu_list {
  background-color: #2588c4;
  color: #fff;
  display: table;
  font-size: 12px;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: left;
  width: 250px;
  z-index: 11;
}
ul.num_bdy_menu_list li a:hover {
  color: #fff;
}

.hotspot-cart {
  border-right: 0px solid #5e9dc4 !important;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  width: 30px;
  padding: 10px 0px 0px 10px;
}

.hotspot-content {
  color: #fff;
  display: inline-block;
  line-height: normal;
  padding: 5px;
  text-decoration: none;
  vertical-align: top;
  width: 210px;
  border-bottom: 1px solid #5e9dc4;
}

.hotspot-description {
  display: inline;
}
.specific-description {
  display: block;
  font-size: 10px;
  margin-top: 5px;
}
  .marker{
    width: 24px;
    height: 24px;
  }
  .marker-text{
    display: block;
    font-weight: 800;
    margin: -1px;
    width: 24px;
    height: 24px;
    text-align: center;
    color: #2588c4;
    outline-width: 0;
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
  }

</style>
<script type="text/javascript">
  ;(function($) {
    var notes = new Array();
    <% @item_attachment.hot_spots.each do |spot| %>
      var note = {x: "<%=spot.x_position%>", y: "<%=spot.y_position%>", id: "<%=spot.id%>", ,api_part_id: "<%=spot.api_part_id%>", api_sub_part_id:"<%= ApiSubPart.find(spot.api_sub_part_id).name %>", hot_spot_no: "<%=spot.item_type.hot_spot_no%>"}
      notes.push(note)
    <% end %>
    $(window).load(function() {

      var $img = $("#image").imgNotes({
        onEdit: function(ev, elem) {
          var $elem = $(elem);
          $('#NoteDialog').remove();
          return $('<div id="NoteDialog"></div>').dialog({
            title: "Add Product",
            resizable: false,
            modal: true,
            height: "300",
            width: "450",
            position: { my: "left bottom", at: "right top", of: elem},
            buttons: {
              "Save": function(e) {
                var api_sub_part = $("#api_sub_part").val();
                $elem.data("note").api_sub_part = api_sub_part;

                // var txt = $('textarea', this).val();
                // var cat_name = $('input', this).val();
                // var available = $('#available').is(":checked")
                // if(cat_name === ''){
                //   $('.err').css('display','block');
                //   return;
                // }
                // var f = document.querySelector('#attachment').files[0];
                // if(f === undefined){
                // }else{
                // var reader = new FileReader();
                // // Closure to capture the file information.
                // reader.onload = (function(theFile) {
                //   return function(e) {
                //     var binaryData = e.target.result;
                //     //Converting Binary Data to base 64
                //     var base64String = window.btoa(binaryData);
                //     $elem.data("note").category_part_item_attachment = base64String
                //   };
                // })(f);
                // // Read in the image file as a data URL.
                // reader.readAsBinaryString(f);
                // }
                // var sub_item_ids = $('select',this).val();
                // $elem.data("note").note = txt;
                // $elem.data("note").category_part_item_name = cat_name;
                // $elem.data("note").category_sub_part_item_ids = sub_item_ids;
                // $elem.data("note").available = available;
                // var sub_option_names = new Array();
                // $("#category_sub_part_item_ids option:selected").each(function () {
                //   var $this = $(this);
                //   if ($this.length) {
                //     var selText = $this.text();
                //     sub_option_names.push(selText);
                //   }
                // });
                // $elem.data("note").category_sub_part_items = sub_option_names.toString();
                $(this).dialog("close");
              },
              "Delete": function() {
                to_delete_hot_spot = $elem.data("note").id;
                if( to_delete_hot_spot !== "undefined" && to_delete_hot_spot != ''){
                  jQuery.ajax({ 
                    async:true,
                    beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
                    type: "POST",
                    url: "/delete_hot_spot/" + to_delete_hot_spot,
                    dataType: "json",
                    data: {"_method":"delete"},
                    success: function(response){
                      // Moves to the next step
                      window.sweetAlertConfirmConfig = {
                        title: response.message,
                        type: 'success',
                        showCancelButton: true,
                        confirmButtonColor: '#DD6B55',
                        confirmButtonText: 'Ok'
                      };
                      sweetAlert(sweetAlertConfirmConfig);
                    },
                    error: function(response) {
                      window.sweetAlertConfirmConfig = {
                        title: response.message,
                        type: 'error',
                        showCancelButton: true,
                        confirmButtonColor: '#DD6B55',
                        confirmButtonText: 'Ok'
                      };
                      sweetAlert(sweetAlertConfirmConfig);
                    }
                  });
                }
                $elem.trigger("remove");
                $(this).dialog("close");
              },
              Cancel: function() {
                $(this).dialog("close");
              }
            },
            open: function() {
              $(this).css({"overflow": "hidden", "height": "250px"});
              var textarea = $('<label><b>Product Name <font style="color:red;">*</font>:</b></label><br><br>\
                <input type="hidden" name="api_part_id" value=<%= @api_part.id %> >\
                <select name="api_sub_part_id" id="api_sub_part"><br><span style="color:red; display: none;" class="err"> Please add sub part name!</span><br>\
                <% @api_part.api_sub_parts.all.each do |sub_part| %>\
                  <option value="<%=sub_part.id%>"><%=sub_part.name%></option>\
                <% end %>\
                ');
              $(this).html(textarea);
              textarea.val($elem.data("note").note);
              $("#category_sub_part_item_ids" ).select2();
            } 
          });
        }
      });

      $img.imgNotes("import", notes);

      var $toggle = $("#toggleEdit");
      if ($img.imgNotes("option","canEdit")) {
        $toggle.text("View");
      } else {
        $toggle.text("Edit");
      }
      $toggle.on("click", function() {
        var $this = $(this);
        if ($this.text()=="Edit") {
          $this.text("View");
          $img.imgNotes("option", "canEdit", true);
        } else {
          $this.text('Edit');
          $img.imgNotes('option', 'canEdit', false);
        }
      });

      var $export = $("#export");
      $export.on("click", function() {
        var $table = $("<table/>").addClass("gridtable");
        var notes = $img.imgNotes('export');
        $table.append("<th>X</th><th>Y</th><th>Api Part Id</th><th>Api SubPart Name</th><th style='display:none;'>");
        $.each(notes, function(index, item) {
          $table.append("<tr><td>" + item.x + "</td><td>" + item.y + "</td><td>" + item.api_part_id + "</td><td>"+item.api_sub_part_name+"</td><td style='display:none;'>");
        });
        $('#txt').html($table);
        $('#submit_hot_spots').css('display','block');

      });

      var $clear = $("#clear");
      $clear.on("click", function() {
        $img.imgNotes('clear');
      });

      var $toggleZ = $("#toggleZoom");
      if ($img.imgNotes("option","zoomable"))
        $toggleZ.text("Zoom Off");
      else
        $toggleZ.text("Zoom On");
      
      $toggleZ.on("click", function() {
        var $this = $(this);
        if ($this.text()=="Zoom On") {
          $this.text("Zoom Off");
          $img.imgNotes("option","zoomable", true);
        } else {
          $this.text("Zoom On");
          $img.imgNotes("option","zoomable", false);
        }
      });

      var $toggleD = $("#toggleDrag");
      if ($img.imgNotes("option","dragable"))
        $toggleD.text("Drag Off");
      else
        $toggleD.text("Drag On");
      
      $toggleD.on("click", function() {
        var $this = $(this);
        if ($this.text()=="Drag On") {
          $this.text("Drag Off");
          $img.imgNotes("option","dragable", true);
        } else {
          $this.text("Drag On");
          $img.imgNotes("option","dragable", false);
        } 
      });

    });
  })(jQuery);
</script>

<script type="text/javascript">

  $('#submit_hot_spots').click(function(){
    var hot_spots = new Array();
    $('.gridtable tr').each(function() {
      var hot_spot = {"x_position": $(this).find("td:eq(0)").text(),"y_position": $(this).find("td:eq(1)").text(),"api_part_id": $(this).find("td:eq(2)").text(),"api_sub_part_id": $(this).find("td:eq(3)").text()};
      hot_spots.push(hot_spot);
    });
    //make the request
    jQuery.ajax({ 
      async:true,
      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
      type: "POST",
      enctype: 'multipart/form-data',
      url: ("/create_hot_spot"), 
      data: {"hot_spots": hot_spots},
      dataType: "json",
      success: function(response){
        // Moves to the next step
        window.sweetAlertConfirmConfig = {
          title: response.message,
          type: 'success',
          showCancelButton: true,
          confirmButtonColor: '#DD6B55',
          confirmButtonText: 'Ok'
        };
        sweetAlert(sweetAlertConfirmConfig);

      },
      error: function(data) {}
    });
  });
</script>
<script type="text/javascript">
if($(".marker").length>0){
  $(window).on('load', function() {
    if ($(".marker").data("note").hot_spot_no === false ){
      $('.marker-text').remove();
      $('.marker').find('img').css("opacity", "0.5");
    }
  });
  $(window).on("click", function() {
    if ($(".marker").data("note").hot_spot_no === false ){
      $('.marker-text').remove();
      $('.marker').find('img').css("opacity", "0.5");
    }
  });
}
</script>
