<div id="page-container" class="main-content-boxed">
  <main id="main-container">
    <div class="bg-image">
      <div class="row mx-0 bg-pulse-op">
        <div class="hero-static col-md-6 col-xl-8 d-none d-md-flex align-items-md-end">
          <div class="p-30 invisible" data-toggle="appear">
              <p class="font-size-h3 font-w600 text-white">
                  <i class="fa fa-bell"></i> You have <a class="link-effect text-white-op font-w700" href="javascript:void(0)">5 new notifications</a>!
              </p>
              <p class="font-italic text-white-op">
                  Copyright &copy; <span class="js-year-copy">2017</span>
              </p>
          </div>
        </div>
        <div class="hero-static col-md-6 col-xl-4 d-flex align-items-center bg-white text-center">
          <div class="content content-full">
            <%= devise_error_messages! %>
            <div class="px-30 pt-10 pb-30">
              <%= link_to landing_index_path, class: "link-effect text-pulse font-w700" do %>
                <i class="fa fa-lg fa-fire"></i>
                <span class="font-size-xl text-pulse-dark">IN</span><span class="font-size-xl">PARTS</span>
              <% end %>
              <h1 class="h3 font-w700 mt-30 mb-10">Welcome back, Admin</h1>
              <h2 class="h5 font-w400 text-muted mb-30">Please enter your password</h2>
            </div>
            <%= form_for :user, url: user_password_path(reset_password_token: params[:reset_password_token]), method: :put, html: {class: "js-validation-signin px-30"} do |f| %>
              <%= hidden_field :user, :reset_password_token, value: params[:reset_password_token] %>
              <div class="form-group row">
                <div class="col-12">
                  <div class="form-material floating">
                    <%= f.password_field :password, class: "form-control", id: "lock-password", name: "user[password]", required: true %>
                    <%= f.label :password, 'Password' %>
                  </div>
                  <div class="form-material floating">
                    <%= f.password_field :password_confirmation, class: "form-control", id: "signup-password-confirm", required: true %>
                    <%= f.label :password_confirmation, 'Password Confirmation' %>
                  </div>

                </div>
              </div>
              <div class="form-group">
                <%= f.button :submit, class: "btn btn-sm btn-hero btn-alt-danger" do %>
                  <i class="fa fa-sign-in mr-10"></i> Unlock
                <% end %>
                <div class="mt-30">
                  <%= link_to new_user_session_path, class: "link-effect text-muted mr-10 mb-5 d-inline-block" do %>
                    <i class="fa fa-plus text-muted mr-5"></i> Not you? Sign In
                  <% end %>
                </div>
              </div>
            <%end%>
          
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
