<div id="page-container" class="main-content-boxed">
  <main id="main-container">
    <div class="bg-image">
      <div class="row mx-0 bg-default-op">
        <div class="hero-static col-md-6 col-xl-8 d-none d-md-flex align-items-md-end">
          <div class="p-30 invisible" data-toggle="appear">
            <p class="font-size-h3 font-w600 text-white">
              No se me ocurre nada!
            </p>
          </div>
        </div>
        <div class="hero-static col-md-6 col-xl-4 d-flex align-items-center bg-white">
          <div class="content content-full">
            <%= devise_error_messages! %>
            <%= render 'layouts/messages'%>
            <div class="px-30 py-10">
              <%= link_to landing_index_path, class: "link-effect font-w700" do %>
                <%= image_tag('inparts_updated-logo.png')%>
              <% end %>
              <h1 class="h3 font-w700 mt-30 mb-10">No te preocupes, nosotros te ayudaremos</h1>
              <h2 class="h5 font-w400 text-muted mb-0">Por favor ingresa tu nombre de usuario o contraseña</h2>
            </div>
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'js-validation-reminder px-30'}) do |f| %>
              <div class="form-group row">
                <div class="col-12">
                  <div class="form-material floating">
                    <%= f.email_field :email, class: "form-control", id: "reminder-credential", required: true %>
                    <%= f.label :email, 'Nombre de Usuario o Correo' %>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <%= f.button :submit, class: "btn btn-sm btn-hero btn-alt-primary" do %>
                  <i class="fa fa-asterisk mr-10"></i> Cambiar mi contraseña
                <% end %>
                
                <div class="mt-30">                  
                  <%= link_to new_user_session_path, class: "link-effect text-muted mr-10 mb-5 d-inline-block" do %>
                    <i class="fa fa-plus text-muted mr-5"></i> Recordé mi contraseña
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
