.advice {
  background: white;
  border: 1px solid #ccc;
  border-left: 3px solid $orange;
  padding: 10px;
  margin-bottom: 20px;

  &__title {
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__content {
    font-size: 90%;
  }

  &--green {
    border-left-color: $green;
  }
}
