.card {
  background: white;
  border: 1px solid #ccc;
  border-left: 3px solid $orange;
  padding: 10px;
  margin-bottom: 20px;

  &__title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__content {
    font-size: 45px;

    &__blue{
      color: $blue;
    }

    &__green{
      color: $green;
    }

    &__orange{
      color: $orange;
    }
    
  }

  &--green {
    border-left-color: $green;
  }

  &--orange {
    border-left-color: $orange;
  }

  &--blue {
    border-left-color: $blue;
  }
}