$border-color: #e8e8e8;

.screen {
  display: flex;
  flex-direction: column;

  &--row {
    flex-direction: row;
  }

  &__content {
    flex: 1 0;
  }

  &__right-bar {
    width: 220px;
    padding-left: 20px;
  }
  
  &__title {
    text-transform: uppercase;
    padding: 0 5px;
    padding-bottom: 5px;
    overflow: auto;
    line-height: 30px;
  }

  &__body {
    min-height: 200px;
    background-color: white;
    border: 1px solid $border-color; 
    margin-top: 10px;
    margin-bottom: 20px;

    .ant-pagination {
      margin-right: 20px;
    }

    &--padding {
      padding: 20px;
    }
  }

  &__footer {
    margin-bottom: 20px;

    .ant-btn {
      margin-left: 10px;
    }
  }
}