.quote {
  padding: 40px;
  margin-top: -180px;
  margin-bottom: 100px;
  background: white;
  border-radius: 20px;
  
  // @extend .elevation-16;

  -webkit-box-shadow: 0px 46px 194px -37px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 46px 194px -37px rgba(0,0,0,0.75);
  box-shadow: 0px 46px 194px -37px rgba(0,0,0,0.75);

  &__input {
    margin-bottom: 10px;
  }

  &__row {
    display: flex;
    
    @media(max-width: $screen-sm) {
      display: block;
    }

    &__col {
      flex: 1 0;
      margin-right: 15px;

      @media(max-width: $screen-sm) {
        margin-right: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
