.quote-detail {
  &__row {
    display: flex;
    margin: 80px 0;
    
    &__col {
      width: 50%;
      padding-right: 20px;
      padding-left: 20px;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }
}
