.select-amount {
  position: relative;
  
  &__input {
    
  }

  &__add,
  &__substract {
    position: absolute;
    top: 10px; right: 10px;
    width: 20px; height: 20px;
    background: grey;
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 100px;
    padding-left: 1px;

    &:hover {
      cursor: pointer;
    }
  }

  &__add {
    right: 35px;
    background: $orange;
  }
}