<div id="page-container" class="main-content-boxed">
  <main id="main-container">
    <div class="bg-image-register bg_style_img">
      <div class="row mx-0 bg-earth-op">
        <div class="hero-static col-md-6 col-xl-8 d-none d-md-flex align-items-md-end">
          <div class="p-30 invisible" data-toggle="appear">
            <p class="font-size-h3 font-w600 text-white mb-5">
              Estamos muy felices de que te unas a nuestro comunidad !
            </p>
            <p class="font-size-h5 text-white">
              <i class="fa fa-angles-right"></i> Regístrate hoy y obtendrás un 5% de descuento en tu primera compra.
            </p>
          </div>
        </div>
        <div class="hero-static col-md-6 col-xl-4 d-flex align-items-center bg-white">
          <div class="content content-full">
            <%= devise_error_messages! %>
            <div class="px-30 py-10">
              <%= link_to landing_index_path, class: "link-effect font-w700" do %>
                <%= image_tag('inparts_updated-logo.png')%>
              <% end %>
              </a>
              <h1 class="h3 font-w700 mt-30 mb-10">Crear nueva cuenta</h1>
              <h2 class="h5 font-w400 text-muted mb-0">Por favor rellena los campos</h2>
            </div>

            <%= form_for :user, url: user_registration_path, method: :post, html: {class: "js-validation-bootstrap px-30"} do |f| %>
              <div class="form-group row">
                <div class="col-12">
                  <div class="form-material floating">
                    <%= f.text_field :name, class: "form-control", id: "signup-username", required: true %>
                    <%= f.label :name, 'Nombre' %>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-12">
                  <div class="form-material floating">
                    <%= f.text_field :last_name, class: "form-control", id: "signup-lastname", required: true %>
                    <%= f.label :last_name, 'Apellido' %>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-12">
                  <div class="form-material floating">
                    <%= f.email_field :email, class: "form-control", id: "signup-email", required: true %>
                    <%= f.label :email, 'Correo' %>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-12">
                  <div class="form-material floating">
                    <%= f.password_field :password, class: "form-control", required: true %>
                    <%= f.label :password, 'Contraseña' %>
                  </div>
                  <div style="margin-top: 15px;" class="checkbox_body_panel">
                    <div class="custom-control custom-checkbox pd_0_auto ">
                    <input type="checkbox" id="capital" />
                    <label for="capital" class="check-box_new"></label> 
                    <span class="lbl_check_box_nw"> Letra mayúscula</span>
                      <!-- <input type="checkbox" class="custom-control-input" id="capital" name="capital">
                      <label class="custom-control-label" for="capital">Letra mayúscula</label> -->
                    </div>
                    <div class="custom-control custom-checkbox pd_0_auto ">
                    <input type="checkbox" id="min-six" />
                    <label for="min-six" class="check-box_new"></label> 
                    <span class="lbl_check_box_nw"> mínimo seis letras</span>
                      <!-- <input type="checkbox" class="custom-control-input" id="min-six" name="min-six">
                      <label class="custom-control-label_new " for="min-six">mínimo seis letras</label> -->
                    </div>
                    <div class="custom-control custom-checkbox pd_0_auto ">
                    <input type="checkbox" id="symbol" />
                    <label for="symbol" class="check-box_new"></label> 
                    <span class="lbl_check_box_nw"> Un mínimo de un símbolo debe estar presente</span>
                     <!--  <input type="checkbox" class="custom-control-input" id="symbol" name="symbol">
                      <label class="custom-control-label_new" for="symbol">Un mínimo de un símbolo debe estar presente</label> -->
                    </div>
                    <div class="custom-control custom-checkbox pd_0_auto ">
                    <input type="checkbox" id="integer" />
                    <label for="integer" class="check-box_new"></label> 
                    <span class="lbl_check_box_nw"> Debe estar presente como mínimo un entero.</span>
                      <!-- <input type="checkbox" class="custom-control-input" id="integer" name="integer">
                      <label class="custom-control-label_new" for="integer">Debe estar presente como mínimo un entero.</label> -->
                    </div>
                    
                  </div>
                <div>

                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-12">
                  <div class="form-material floating">
                    <%= f.password_field :password_confirmation, class: "form-control", required: true %>
                    <%= f.label :password_confirmation, 'Confirmación contraseña' %>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-12">
                  <div class="form-material floating">
                    <%= f.text_field :phone, class: "form-control", id: "signup-phone", required: true %>
                    <%= f.label :phone, 'Teléfono' %>
                  </div>
                </div>
              </div>
              
              <div class="form-group row">
                <div class="col-12">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="signup-terms" name="signup-terms">
                    <label class="custom-control-label" for="signup-terms">Estoy de acuerdo con los términos y condiciones</label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <%#= f.button :submit, class: "btn btn-sm btn-hero btn-alt-success" do %>
                  <!-- <i class="fa fa-plus mr-10"></i> Crear Cuenta -->
                <%# end %>

                <%= f.button "Crear Cuenta", class: "btn btn-sm btn-hero btn-alt-success", type: "submit" %>
                
                <div class="mt-30">
                  <%= link_to "javascript:void(0)", class: "btn btn-sm btn-hero btn-alt-success" do %>
                    <i class="fa fa-google mr-10"></i> Regístrate con Google
                  <% end %>
                </div>
                
                <div class="mt-30">    
                  <%= link_to "javascript:void(0)", class: "btn btn-sm btn-hero btn-alt-success" do %>
                    <i class="fa fa-facebook mr-10"></i> Regístrate con Facebook
                  <% end %>
                </div>
                
                <div class="mt-30">
                  <a class="link-effect text-muted mr-10 mb-5 d-inline-block" href="#" data-toggle="modal" data-target="#modal-terms">
                    <i class="fa fa-book text-muted mr-5"></i> Leer Terminos y Condiciones
                  </a>
                  
                  <%= link_to new_user_session_path, class: "link-effect text-muted mr-10 mb-5 d-inline-block" do %>
                    <i class="fa fa-plus text-muted mr-5"></i> Ya tengo cuenta
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<div class="modal fade" id="modal-terms" tabindex="-1" role="dialog" aria-labelledby="modal-terms" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-slidedown" role="document">
    <div class="modal-content">
      <div class="block block-themed block-transparent mb-0">
        <div class="block-header bg-primary-dark">
          <h3 class="block-title">Terms &amp; Conditions</h3>
          <div class="block-options">
            <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
              <i class="si si-close"></i>
            </button>
          </div>
        </div>
        <div class="block-content">
          <p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam bibendum ad feugiat magna accumsan dolor, nibh molestie cras hac ac ad massa, fusce ante convallis ante urna molestie vulputate bibendum tempus ante justo arcu erat accumsan adipiscing risus, libero condimentum venenatis sit nisl nisi ultricies sed, fames aliquet consectetur consequat nostra molestie neque nullam scelerisque neque commodo turpis quisque etiam egestas vulputate massa, curabitur tellus massa venenatis congue dolor enim integer luctus, nisi suscipit gravida fames quis vulputate nisi viverra luctus id leo dictum lorem, inceptos nibh orci.</p>
          <p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam bibendum ad feugiat magna accumsan dolor, nibh molestie cras hac ac ad massa, fusce ante convallis ante urna molestie vulputate bibendum tempus ante justo arcu erat accumsan adipiscing risus, libero condimentum venenatis sit nisl nisi ultricies sed, fames aliquet consectetur consequat nostra molestie neque nullam scelerisque neque commodo turpis quisque etiam egestas vulputate massa, curabitur tellus massa venenatis congue dolor enim integer luctus, nisi suscipit gravida fames quis vulputate nisi viverra luctus id leo dictum lorem, inceptos nibh orci.</p>
          <p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam bibendum ad feugiat magna accumsan dolor, nibh molestie cras hac ac ad massa, fusce ante convallis ante urna molestie vulputate bibendum tempus ante justo arcu erat accumsan adipiscing risus, libero condimentum venenatis sit nisl nisi ultricies sed, fames aliquet consectetur consequat nostra molestie neque nullam scelerisque neque commodo turpis quisque etiam egestas vulputate massa, curabitur tellus massa venenatis congue dolor enim integer luctus, nisi suscipit gravida fames quis vulputate nisi viverra luctus id leo dictum lorem, inceptos nibh orci.</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-alt-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-alt-success" data-dismiss="modal">
          <i class="fa fa-check"></i> Perfect
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  $("#user_password").keyup(function(event) {
    symbol = /[ !@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/;
    integer =  /\d/g
    capital = /[A-Z]/g
    val = this.value;
    if (val.length >= 6){
      $("#min-six").prop("checked", true);
    } 
    else{
      $("#min-six").prop("checked", false);
    }

    if (symbol.test(val)) {
      $("#symbol").prop("checked", true);
    } 
    else{
      $("#symbol").prop("checked", false);
    }

    if (integer.test(val)) {
      $("#integer").prop("checked", true);
    }
    else{
      $("#integer").prop("checked", false);
    }

    if (capital.test(val)) {
      $("#capital").prop("checked", true);
    } 
    else {
      $("#capital").prop("checked", false);
    }

  });
</script>
<style type="text/css">
  .checkbox_body_panel {

    background: #ebf5df;
    padding: 10px;
    box-sizing: border-box;

}

/* Checkmark style starts */
@-moz-keyframes dothabottomcheck {
  0% {
    height: 0;
  }
  100% {
    height: 10px;
  }
}
@-webkit-keyframes dothabottomcheck {
  0% {
    height: 0;
  }
  100% {
    height: 10px;
  }
}
@keyframes dothabottomcheck {
  0% {
    height: 0;
  }
  100% {
    height: 10px;
  }
}
@keyframes dothatopcheck {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 24px;
  }
}
@-webkit-keyframes dothatopcheck {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 24px;
  }
}
@-moz-keyframes dothatopcheck {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 24px;
  }
}
input[type=checkbox] {
  display: none;
}

.check-box_new {
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: border-color ease 0.2s;
  -o-transition: border-color ease 0.2s;
  -webkit-transition: border-color ease 0.2s;
  transition: border-color ease 0.2s;
  cursor: pointer;
}
.check-box_new::before, .check-box_new::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  height: 0;
  width: 4px;
  background-color: #34b93d;
  display: inline-block;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  border-radius: 5px;
  content: ' ';
  -webkit-transition: opacity ease .5;
  -moz-transition: opacity ease .5;
  transition: opacity ease .5;
}
.check-box_new::before {
  top: 14.4px;
  left: 8.2px;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.check-box_new::after {
  top: 7.4px;
  left: 1px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

input[type=checkbox]:checked + .check-box_new,
.check-box_new.checked {
  border-color: #34b93d;
}
input[type=checkbox]:checked + .check-box_new::after,
.check-box_new.checked::after {
  height: 10px;
  -moz-animation: dothabottomcheck 0.2s ease 0s forwards;
  -o-animation: dothabottomcheck 0.2s ease 0s forwards;
  -webkit-animation: dothabottomcheck 0.2s ease 0s forwards;
  animation: dothabottomcheck 0.2s ease 0s forwards;
}
input[type=checkbox]:checked + .check-box_new::before,
.check-box_new.checked::before {
  height: 24px;
  -moz-animation: dothatopcheck 0.4s ease 0s forwards;
  -o-animation: dothatopcheck 0.4s ease 0s forwards;
  -webkit-animation: dothatopcheck 0.4s ease 0s forwards;
  animation: dothatopcheck 0.4s ease 0s forwards;
}
.lbl_check_box_nw{
  font-weight: bold;
  margin-left: 3px;
  vertical-align: top;
  font-size: 11px;
  line-height: 20px;
}
.custom-control.custom-checkbox.pd_0_auto {

    padding-left: 0px !important;

}

  .bg-image-register.bg_style_img {
    background-color: #f8f9fa;
    background-size: 70% 100%;
    background-repeat: no-repeat;
    background-position: unset !important;
}


</style>