<div class="layout__body__content__screen">
  <div class="screen screen--row">
    <div class="screen__content">
      <div class="screen__title">Cotizaciones
      </div>
      <div class="screen__body">
        <div class="ant-table-wrapper">
          <div class="ant-spin-nested-loading">
            <div class="ant-spin-container">
              <div class="ant-table ant-table-middle ant-table-scroll-position-left">
                <div class="ant-table-content">
                  <div class="ant-table-body">
                    <table class="">
                      <colgroup>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                      </colgroup>
                      <thead class="ant-table-thead">
                        <tr>
                          <th class="" style="text-align: center;">
                            <span>Código cotización</span>
                          </th>
                          <th class="" style="text-align: center;">
                            <span>Fecha de creación</span>
                          </th>
                          <th class="" style="text-align: center;">
                            <span>Ver</span>
                          </th>
                          <th class="" style="text-align: center;">
                            <span>Eliminar</span>
                          </th>
                        </tr>
                      </thead>
                      <tbody class="ant-table-tbody">
                        <% @quotations.each do |quote| %>  
                          <tr>
                            <td style="text-align: center;">
                              <%=quote.id %>
                            </td>
                            <td style="text-align: center;">
                              <%= quote.created_at.strftime('%d/%m/%Y')%>
                            </td>
                            <td style="text-align: center;">
                              <%= link_to private_api_quotation_path(quote.id) do%>
                                Ver
                              <% end %>
                            </td>
                            <td style="text-align: center;">
                              Remove
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <ul class="ant-pagination ant-table-pagination mini" unselectable="unselectable">
                <li title="Previous Page" class="ant-pagination-disabled ant-pagination-prev" aria-disabled="true"><a class="ant-pagination-item-link"></a></li>
                <li title="1" class="ant-pagination-item ant-pagination-item-1 ant-pagination-item-active" tabindex="0"><a>1</a></li>
                <li title="Next Page" class="ant-pagination-disabled ant-pagination-next" aria-disabled="true"><a class="ant-pagination-item-link"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="screen__right-bar">
      <div class="advice ">
        <div class="advice__title">Notice</div>
        <div class="advice__content">
          <ul>
            <% @notices.each do |notice|%>
              <li>
                <%= notice.title%>
              </li>
            <%end%>
          </ul>
        </div>
      </div>
      <div class="advice advice--green">
        <div class="advice__title">Buyers Tips</div>
        <div class="advice__content">
          <ul>
            <% @tips.each do |tip|%>
              <li>
                <%= tip.title%>
              </li>
            <%end%>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
