<div class="layout__body__content__screen">
  <div class="screen screen--row">
    <div class="screen__content">
      <div class="screen__title" style="font-weight: bold; font-size: 24px; padding: 0px; overflow: -webkit-paged-x;">
        $Name of the provider
      </div>
      <hr>
      <div>
        <p style="font-weight: bold;font-size: 14px;"> Water Pump(Name of the part)</p>
      </div>
      <div style="margin-bottom: 20px;">
        <div>
          <font style="font-size: 30px;">
            $ <%=@data[:quotation_parts_detail].first[:price] %>
          </font>
          <button style="float: right;" class="ant-btn float-right ant-btn-primary">
            <i class="fa fa-plus"> </i>
            PAGR
          </button>
        </div>
      </div>
      <div class="layout__body__content__screen" align="center" style="background-color: #e8e6e6;">
        <img src="../../machine.png">
      </div>
      <div style="padding-top: 25px;">
        <table>
          <tr>
            <th style="padding-right: 186px;">Marca</th>
            <th style="padding-right: 186px;">Garantia</th>
            <th style="padding-right: 186px;">Entrega</th>
          </tr>
          <tr>
            <td style="font-size: 18px;font-weight: bold;">Original</td>
            <td style="font-size: 18px;font-weight: bold;">3 meses</td>
            <td style="font-size: 18px;font-weight: bold;">Despacho / Entrega en local</td>
            <td style="font-size: 18px;font-weight: bold;">Entrega inmediata</td>
          </tr>
        </table>
      </div>
      <font style="font-size: 16px;color: #867c7c;">TOTAL</font>
      <hr>
      <div class="row">
      <div class="col-lg-6">
        <table>
          <tr style="">
            <td><font style="font-size: 16px;color: #867c7c;">Valor Neto</font></td>
            <td style="padding-left: 359px;float: right;">
                <font>Price of parts - 19% of taxes</font>
                <font style="font-size: 16px;color: #867c7c;">$ <%=@data[:quotation_parts_detail].first[:price] %></font>
            </td>
          </tr>
          <tr style="border-bottom: 1px solid #000;">
            <td>
              <font style="font-size: 16px;color: #867c7c;">IVA</font>
            </td>
            <td>
              <font style="padding-left: 340px;">$19% of the total</font>
            </td>
          </tr>
          <tr>
            <td style="font-size: 16px;">Total</td>
            <td style="padding-left: 364px; font-size: 16px; font-weight: bold;">$ <%= ((@data[:quotation_parts_detail].first[:price] * 19 / 100) + @data[:quotation_parts_detail].first[:price]) %></td>
          </tr>
        </table>
      </div>
      <div style="border: 1px solid #c3c6cc;height: 122px;position: absolute;left: 759px;"></div>
      <div class="col-lg-6">
        Nota: La kdsfskfsdfs  kfdskfdsfdsfs  kfdskfdskds fdskfdsf dsk dskf dsf dsfkds dsf ds f dskf dskfds fds fdsf
        fdsf dskfds dsfdsf 
        dsf dsfdsfdsfds
        f
        dsf ksdkdsfds  dsfdskfkds 
        dsfds
        fds fdsf dsf 
      </div>
      </div>
      
      <div>
        <a style="padding-left: 426px;" class="action">Descargar PDF</a>
        <%= link_to private_api_quotation_path(params[:id]), style: "padding-left: 20px;", class: "action" do%>
          Ir a cotizaciones
        <% end %>
      </div>
      <div class="screen__body">
        <div class="ant-table-wrapper">
          <div class="ant-spin-nested-loading">
            <div class="ant-spin-container">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>