
<div class="layout__body__content__screen">
<div class="screen screen--row">
  <div class="screen__content">
    <div class="screen__title" style="font-weight: bold; font-size: 24px;">
      Cotizaciones
    </div>
    <div>
      <input type="text" placeholder = "Buscar cotizacion.." name="search_for" class="form_request ant-input" style="background: url(../../search.png) no-repeat scroll 7px 7px;padding-left:30px;background-size: 16px auto;">
    </div>
    <div>
      <p style="font-weight: bold;font-size: 20px;margin: 0px;color: #6161c1;">
        Title
      </p>
      <p style="font-weight: bold;font-size: 14px;color: #6b6565;">
        Order #<%=params[:id] rescue nil %>
      </p>
    </div>
    <div class="screen__body">
      <div class="ant-table-wrapper">
        <div class="ant-spin-nested-loading">
          <div class="ant-spin-container">
            <div class="ant-table ant-table-middle ant-table-scroll-position-left">
              <div class="ant-table-content">
                <div class="ant-table-body">
                <% @quotation_request_parts.each do |quotation_request_part| %>
                  <div class="advice">
                    <%model = get_model(quotation_request_part.model_id)%>
                    <%brand = get_brand(model.brand_id) %>
                    <div class="advice__title"><u>Quotation part requested (<%= brand.name%> / <%= model.name%> / <%= quotation_request_part.year%> / <%= quotation_request_part.chasis_number%> / <%= quotation_request_part.description %>)</u></div>
                    <div class="advice__content">
                      <table class="">
                      <colgroup>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                      </colgroup>
                      <thead class="ant-table-thead">
                        <tr>
                          <th class=""><span>Marco</span></th>
                          <th class=""><span>Modelo</span></th>
                          <th class=""><span>Alternative</span></th>
                          <th class=""><span>Original</span></th>
                          <th class=""><span>Quantity</span></th>
                          <th class=""><span>Year</span></th>
                          <th class=""><span>Discription</span></th>
                          <th class=""><span>Chasis number</span></th>
                        </tr>
                      </thead>
                      <tbody class="ant-table-tbody">
                        <tr class="ant-table-row  ant-table-row-level-0">
                          <td>
                            <span class="ant-table-row-indent indent-level-0" style="padding-left: 0px;"></span>
                            <%= brand.name%>
                          </td>
                          <td>
                            <span class="ant-table-row-indent indent-level-0" style="padding-left: 0px;"></span>
                            <%= model.name%>
                          </td>
                          <td>
                            <span class="ant-table-row-indent indent-level-0" style="padding-left: 0px;"></span>
                            <%= quotation_request_part.alternative===true ? 'Alternative' : 'Do not'%>
                          </td>
                          <td>
                            <span class="ant-table-row-indent indent-level-0" style="padding-left: 0px;"></span>
                            <%= quotation_request_part.original===true ? 'Original' : 'Do not'%>
                          </td>
                          <td>
                            <span class="ant-table-row-indent indent-level-0" style="padding-left: 0px;"></span>
                            <%= quotation_request_part.amount%>
                          </td>
                          <td>
                            <span class="ant-table-row-indent indent-level-0" style="padding-left: 0px;"></span>
                            <%= quotation_request_part.year%>
                          </td>
                          <td>
                            <span class="ant-table-row-indent indent-level-0" style="padding-left: 0px;"></span>
                            <%= quotation_request_part.description%>
                          </td>
                          <td>
                            <span class="ant-table-row-indent indent-level-0" style="padding-left: 0px;"></span>
                            <%= quotation_request_part.chasis_number%>
                          </td>
                        </tr>
                      </tbody>
                      </table> 
                    </div>
                    <% @quotes = get_quotes_for_request(quotation_request_part.id)%>
                    <% if !@quotes.empty? %>
                    <div class="advice__content">
                    <div class="advice__title"><u>Quotes recived (<%=@quotes.count%>)</u></div>
                    <table class="">
                      <colgroup>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                      </colgroup>
                      <thead class="ant-table-thead">
                        <tr>
                          <th class=""><span>Fecha</span></th>
                          <th class=""><span>Alternative</span></th>
                          <th class=""><span>Type of Request</span></th>
                          <th class=""><span>Quantity</span></th>
                          <th class=""><span>Garantia</span></th>
                          <th class=""><span>Discount</span></th>
                          <th class=""><span>Precio</span></th>
                          <th class=""><span>Entrega</span></th>
                          <th><span>Status</span></th>
                          <th class="" style="text-align: center;" colspan="2"><span></span></th>
                        </tr>
                      </thead>
                      <tbody class="ant-table-tbody">
                        <% @quotes.each do |quote| %>
                          <tr class="ant-table-row  ant-table-row-level-0">
                            <td>
                              <span class="ant-table-row-indent indent-level-0" style="padding-left: 0px;"></span>
                              <%= quote.created_at.strftime('%d/%m/%Y')%>
                            </td>
                            <td>
                              <span>
                                <%= quote.type_of_request %>
                              </span>
                            </td>
                            <td>
                              <span>
                              <%= quote.amount %>
                              </span>
                            </td>
                            <td>
                              <span>
                              <%= quote.warranty %>
                              </span>
                            </td>
                            <td>
                              <span>
                              <%= quote.discount %>
                              </span>
                            </td>
                            <td>
                              <%= quote.price.present? ? "$"+quote.price.to_s : 'No disponible' %>
                            </td>
                            <td>Entrega</td>
                            <td>
                              <%if quote.accepted==true %>
                                <span class="badge badge-success"><i class="fa fa-check">Accepted </i> </span>
                              <% else %>
                                <%=link_to private_api_suppliers_approve_quote_path(quote.id,quotation_id: params[:id]) do %>
                                  Accept
                                <% end %>
                              <% end %>  
                            </td>
                            <td>
                              <span>
                                <%= link_to private_api_show_details_path(quote.quotation_id, part_id: quote.id) do %> 
                                  Ver cotizacion
                                <% end %>
                              </span>
                            </td>
                            <td>
                              <span>
                                <i class="fa fa-trash"></i>  
                              </span>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                    </div>
                    <%else%>
                    <br>
                      <div align="center"><h2>No quotes avilable!</h2></div>
                    <% end %>
                    </div>
                  </div>
                <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
