<div class="layout__body__content__screen">
  <div class="screen screen--row">
    <div class="screen__content">
      <div class="screen__title">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">
            Brands 
          </font>
        </font>
        <button class='ant-btn float-right btn btn_primary' id="quote-model">
          <i class="anticon anticon-plus"></i>
            <span>
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">
                  Add brand
                </font>
              </font>
            </span>
        </button>
      </div>
      <div class="screen__body">
        <div class="ant-table-wrapper no-border">
          <div class="ant-spin-nested-loading">
            <div class="ant-spin-container">
              <div class="ant-table ant-table-middle ant-table-scroll-position-left">
                <div class="ant-table-content">
                  <div class="ant-table-body">
                    <table class="">
                      <colgroup>
                        <col>
                        <col>
                        <col>
                      </colgroup>
                      <thead class="ant-table-thead">
                        <tr>
                          <th class=""><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Code</font></font></span></th>
                          <th class=""><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">First name</font></font></span></th>
                          <th class="" style="text-align: right;"><span></span></th>
                        </tr>
                      </thead>
                      <tbody class="ant-table-tbody">
                        <% @supplier_brands.each do |brand| %>  
                          <tr class="ant-table-row  ant-table-row-level-0">
                            <td class="">
                              <span class="ant-table-row-indent indent-level-0" style="padding-left: 0px;"></span>
                              <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                  <%=brand.id%>
                                </font>
                              </font>
                            </td>
                            <td class="">
                              <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                  <%= brand.name %>
                                </font>
                              </font>
                            </td>
                            <td class="" style="text-align: right;">
                              <%= link_to private_api_suppliers_brand_path(brand.id), method: 'delete', class: "ant-btn ant-btn-default ant-btn-circle ant-btn-icon-only" do%>
                                <i class="anticon anticon-close"></i>
                              <% end %>
                            </td>
                          </tr>
                        <% end %>  
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="screen__right-bar">
      <div class="advice ">
        <div class="advice__title">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">
              What does this list indicate?
            </font>
          </font>
        </div>
        <div class="advice__content">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">
              The list of brands allows you to configure which quotation requests will reach you as a supplier
            </font>
          </font>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="myModal" class="modal" style="display: none;">
  <div class="ant-modal-mask"></div>
  <div tabindex="-1" class="ant-modal-wrap " role="dialog" aria-labelledby="rcDialogTitle0" style="">
    <div role="document" class="ant-modal" style="width: 520px; transform-origin: 564px 4px 0px;">
      <div class="ant-modal-content">
        <button aria-label="Close" class="ant-modal-close close"><span class="ant-modal-close-x"></span></button>
        <div class="ant-modal-header">
          <div class="ant-modal-title" id="rcDialogTitle0">Marcas</div>
        </div>
        <%= form_tag private_api_suppliers_brands_path, method: :post do %>
        <div class="ant-modal-body">
          <div>
              <div class="form__group">
              <div class="form__group__label">Marca:</div>
                <%= select_tag 'brand_id', options_for_select(@brands), {include_blank: "Marca del vehiculo", class: "form_request ant-input", style: "width:100%"}%>
              </div>
            <div></div>
          </div>
        <div class="ant-modal-footer">
          <div>
           <button type="submit" class= 'ant-btn ant-btn-primary'>Add</button>
          </div>
        </div>
      </div>
      <% end %>
      <div tabindex="0" style="width: 0px; height: 0px; overflow: hidden;">sentinel</div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('#quote-model').click(function() {
    $('#myModal').css("display", "block");
  });
</script>