<%= form_tag add_supplier_category_path(params["supplier_id"]), class: "formtastic" do %>
  <ol>
    <li>
      <%= hidden_field_tag 'supplier_user_id', params["supplier_user_id"]%>
      <%= label_tag  "Please Select Category"%>
      <%= select_tag 'category_id', options_for_select(Category.pluck(:name, :id))%>
    </li>
  </ol>

  <%= submit_tag 'Add Category' %>
<%end%>