<div class="header">
  <div class="header__container wrapper__container">
    <div class="header__left">
      <div class="header__brand brand">
        <%#= link_to "INPARTS", landing_index_path, style: "color: #FF6347; font-weight: bold;"%>
        <%= link_to landing_index_path do %>
          <%= image_tag('inparts_3011.png')%>
        <% end %>

      </div>
      <div class="header__toggle menu-header">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
    </div>
    
  </div>
</div>

<script type="text/javascript">
  $(".menu-header").click(function() {
    $(".navigation").toggleClass("test_nav");
  });
</script>
<style type="text/css">
  .header__nav.navigation.test_nav {
    height: auto !important;
}
.bar1 {

    background: #ddd;
    height: 4px;
    width: 30px;
    margin-bottom: 5px;

}
.bar2 {

    background: #ddd;
    height: 4px;
    width: 30px;
    margin-bottom: 5px;

}
.bar3 {

    background: #ddd;
    height: 4px;
    width: 30px;
    margin-bottom: 5px;

}

</style>