<div class="preheader">
  <div class="wrapper__container preheader__container">
    <div class="preheader__nav">
      <% unless current_user %>
        <div class="preheader__nav__item">
          <%= link_to new_user_session_path, class: "preheader__nav__item__action" do %>
            <%= fa_icon "unlock" %>
              Ingresar
          <% end %>
        </div>

        <div class="preheader__nav__item">
          <%= link_to user_registration_path, class: "preheader__nav__item__action preheader__nav__item__action--orange" do %>
            <%= fa_icon "user" %>
              Registro
          <% end %>
        </div>
      <% else %>
        <div class="preheader__nav__item">
          <%= link_to dashboard_index_path, class: "preheader__nav__item__action preheader__nav__item__action--orange" do %><%= fa_icon "user" %> Mi cuenta
          <% end %>
        </div>

        <div class="preheader__nav__item">
          <%= link_to destroy_user_session_path, class: "preheader__nav__item__action" do %><%= fa_icon "sign-out" %> Cerrar sesión<% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>