// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
// @import "active_admin/mixins";
// @import "active_admin/base";
$primary-color: #0080bf;
@import "jquery-ui";
@import 'formadmin/formadmin';
@import "font-awesome";
@import "imgNotes";
@import "sweetalert2";
@import "active_admin/select2/base";

body {
  font-size: 11px;
}

.site_title {
  font-size: 18px;
}

.cke_chrome {
  width: 79.5% !important;
  overflow: hidden;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid #d2d2d2 1px !important;
  outline: 0;
}
.select2{
  width: 50% !important;
}