/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_self
 *= require font-awesome-4.7.0/css/font-awesome.min
 *= require style_mis_up
 *= require referidos
 *= require producto
 *= require finalizer
 *= require entrega
 *= require userdrop_down
 *= require mis_comras_detail
 *= require fancybox
 *= require mi-cuenta
 *= require notification
 *= require mis_pedodos_popup
 *= require quotes_new
 *= require_tree ./packs/css/
 *= require jquery-ui
 *= require bootstrap-glyphicons
 *= require sweetalert2
 */
@import "bootstrap";
@import "imgNotes";
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-family: "Muli", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  overflow-x: hidden;
}
a:hover {
  text-decoration: none !important;
}
h1 {
  font-size: auto !important; 
  margin: auto !important; 
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.header {
  position: static;
  width: 100%;
  box-sizing: border-box;
  z-index: 9;
}
.sidenav {
  height: 100%;
  width: 210px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #1e262d;
  overflow-x: hidden;
  padding: 61px 0 0 0;
}
.accordion .link {
  cursor: pointer;
  display: block;
  padding: 0 16px 0 20px;
  height: 40px;
  line-height: 40px;
  color: rgba(255, 255, 255, 0.65);
  font-size: 14px;
  position: relative;
  transition: all 0.5s;
  text-decoration: none;
}
.accordion li {
  margin: 6px 0px;
}
.accordion li a i {
  position: absolute;
  top: 12px;
  left: 12px;
  font-size: 13px;
  color: #595959;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.accordion li a:hover, .accordion li a:hover .fa  { 
  color: #fff;
}
.accordion li a:focus {
  background: #F89440;
  color: #fff;
}
.accordion li a:focus .fa {
  color: #fff;
}
.accordion li .link-drop {
  background: none !important;
}
.icons {
  position: static !important;
  margin: 0 8px 0 0;
  font-size: 15px;
}
.accordion li i.fa-chevron-down {
  right: 12px;
  left: auto;
  font-size: 16px;
}
.accordion li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
/**
 * Submenu
 -----------------------------*/
.submenu {
  display: none;
  background: #000c17;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45) inset;
  padding: 5px 0 1px;
}
.submenu li {
  margin: 0;
}
.submenu li a {
  display: block;
  margin: 0 0 5px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.65);
  padding: 12px;
  font-size: 14px;
  padding-left: 42px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.submenu li a:hover {
  background: none;
  color: #FFF;
}
.submenu li a:focus {
  background: #F89440;
  color: #fff;
}
/*
===================*/
.main {
  margin: 0 0 0 210px;
  padding: 80px 20px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.form_request{
  display: block;
  width: 50%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form_checkbox{
  position: absolute;
  left: 0;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.btn_primary{
  color: #fff;
  background-color: #F89440;
  border-color: #F89440;
}


.modal-backdrop{
  z-index: 0;
}

.ventas-form ul li input[type="email"] {
  display: block;
  width: 90%;
  border: none;
  border-bottom: 1px solid #c2c2c2;
  height: 40px;
  line-height: 40px;
}

.ant-input-text {
  font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  list-style: none;
  position: relative;
  padding: 4px 11px;
  width: 100%;
  height: 32px;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, .65);
  background-color: #fff;
  background-image: none;
  transition: all .3s;
  margin: 0;
  padding: 0;
  display: inline-block;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  width: 90px;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px;
}
.panel-default {
    border-color: #ddd;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-group .panel-heading {
    border-bottom: 0;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

.panel-group {
  margin-bottom: 20px;
}
a.active {
  background-color: #314f71;
}
a.active font{
  color: white;
}

.no-data{
  text-align: center;
  font-size: 16px;
  border-bottom: 1px solid #333;
}
.dropdown-toggle::after{
  display:none!important;
}
.model.modal-content.alertify {
  border: 10px solid rgba(0,0,0,.2);
  border-radius: 15px;
  /* background: #FFF; */
  box-shadow: 0 3px 7px rgba(0,0,0,.3);
}
.modal-dialog.style_popup_bdy {
  max-width: 767px !important;
  display: flex;
}
.modal-content.alertify {
  width: 100%;
  margin: auto !important;
   border: 10px solid rgba(0,0,0,.2);
  border-radius: 15px;
  /* background: #FFF; */
  box-shadow: 0 3px 7px rgba(0,0,0,.3);
}
.modal{
  background-color: rgba(162, 157, 157, 0.4)!important;
}
.but_cancel_lft {
  background: #f2f1f0;
  display: block;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  color: #333333;
  font-weight: bold;
  letter-spacing: 1px;
  border: none;
  width: 100%;
}
.form-control.style_inpt {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 21px;
  border: 1px solid #ced4da;
}
.popextra-check.styl_chek {
  padding: 5px 0 0 4px;
  box-sizing: border-box;
  vertical-align: middle;
}
.comment_txt {
  font-size: 11px;
  color: #5081bc;
  font-weight: bold;
  line-height: 21px;
}
.strength{
  display: block;
  overflow: hidden;
  height: 40px;
  width: 100%;
  font-size: 16px;
  line-height: 40px;
}
.weak{
  color: #FF0000;
}
.good{
  color: #008000;
}
.strong{
  color: #008000;
}

#error_explanation {
  padding: 10px;
  color:#721c24;
  background-color:#f8d7da;
  border-color:#f5c6cb;
  h2{
    color:#721c24 !important;
  }
  ul{
    margin-bottom: 0px !important;
  }
  margin-bottom: 10px;
}
.top-head-pedido {
  font-weight: bold;
  font-size: 14px;
  line-height: 35px;
  color: #171717;
  padding: 0  22px;
  box-sizing: border-box;
}
.top-head-pedido .fa {
  font-size: 15px;
  font-weight: bold;
  margin-right: 5px;
}
.detalle-compra-order {
  background: #f8f9fa;
  padding: 20px 15px !important;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.detalle-compra-content {
  background: #fff;
  border: 2px solid #f2f2f2;
  margin-bottom: 20px;
}
table.a {
  table-layout: auto;
  width: 100%;  
}
table.a th {
  color: #7c7c7c;
  padding: 15px 0;
  box-sizing: border-box;
  border-bottom: 1px solid #f2f2f2;
  font-size: 12px;
}
table.a tr td{
  padding: 10px 0;
  box-sizing: border-box;
}
.table-responsive {

}
.text-right-design {
  text-align: right;
}
.tax-color {
  color: #2b89c3;
  font-weight: bold;
}
.pd-left {
  padding-left: 20px !important;
  box-sizing: border-box;
}
.pd-right {
  padding-right: 20px !important;
  box-sizing: border-box;
}
.border-bottom {
  border-bottom: 1px solid #f2f2f2;
}
.total-baclground {
  background: #f5f5f5;
  font-weight: bold;
  font-size: 16px;
}
/*second*/

/*historial*/
.historial {
  background: #fff;
  padding: 20px 20px 20px 20px;
  box-sizing: border-box;
  margin-top: 20px;
}
.rigt_align_div .dropdown {
  padding: 0;
  font-size: 14px;
  margin: 0;
}
.rigt_align_div .dropdown button, .rigt_align_div .pop_btn_div a {
  font-size: 14px;
  letter-spacing: 1px;
}
.full-dropdown .full-input .input-group-btn .btn {
  padding: 8px 12px;
  box-sizing: border-box;
  border: 1px solid #f4f4f4;
  background: #fff;
}
.full-dropdown .full-input .input-group-btn .btn .fa {
  font-size: 16px;
  font-weight: bold;
  color: #9d9d9d;
}
.date {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  margin: 15px 0;
}
.historial-devide {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
.historial-devide .historial-time {
 width: 23%;
 color: #b0b0b0;
 display: flex;
 align-items: center;
}
.historial-devide .historial-inputs {
  width: 77%;
}
.historial .form-control, .historial select {
  border: 1px solid #f4f4f4;
  box-shadow: none;
  -webkit-box-shadow: none;
   -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none; 
}
.historial .input-group-addon {
  border: 1px solid #f4f4f4;
  background: #fff;
}
.historial select {
  width: 100%;
  position: relative;
  color: #b0b0b0;
}
.historial select + i.fa-angle-down {
  float: right;
  margin-top: -22px;
  margin-right: 10px;
  pointer-events: none;
  background-color: transparent;
  color: #ccc!important;
  font-weight: bold;
  transform: translate(0, 0);
  cursor: pointer;
  font-size: 15px;
}
/*right*/
.detalle-compras-right, .info-de-pago {
  background: #fff;
  padding: 18px 16px;
  box-sizing: border-box;
  border: 2px solid #f2f2f2;
}
.detalle-compras-right h2 {
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
  margin-bottom: 20px !important;
  color: #212121;
}
.detalle-compras-right p {
  font-size: 13px;
  line-height: 28px;
}
.detalle-compras-right p img {
  vertical-align: middle;
  padding-right: 10px;
}
.text-color {
  color: #2b89c3;
}
.info-de-pago {
  background: #fff;
  padding: 18px 16px;
  box-sizing: border-box;
  border: 2px solid #f2f2f2;
  margin-top: 20px;
}
.info-de-pago p {
  font-size: 12px;
  line-height: 22px;
}
.info-de-pago p img {
  margin-right: 10px;
  vertical-align: middle;
}
.right-text-pera {
  padding-left: 25px;
  box-sizing: border-box;
}
/*********************heading***************/
.heading_with_btn {
    border-top: 2px solid #272a2c;
    overflow: hidden;
}
.headin_in_left {
    float: left;
}
.headin_in_rigt {
    float: right;
    overflow: hidden;
}
ul.btn_group_bx> li {
    display: inline-block;
}
.heading_btn_green{
  background-color: #94b100;
  color:#fff;
}
.heading_btn_grey{
  background-color: #c3cad0;
  color:#fff;
}
/**********img frame*********/
img.img_fram {
    margin-right: 8px;
}
/**********chat**********/
.chat .chat-history {
  padding: 30px 30px 20px;
  height: 300px !important;
  /*border-bottom: 2px solid white;*/
}
.chat .chat-history .message-data {
  margin-bottom: 15px;
}
.chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
}
.chat .chat-history .message {
  color: white;
  padding: 18px 20px;
  line-height: 24px;
    font-size: 14px;
  border-radius: 5px;
  margin-bottom: 30px;
  width: 90%;
  position: relative;
}
.chat .chat-history .message:after {
   content: "";
    position: absolute;
    top: -15px;
    left: 20px;
    border-width: 0 15px 15px;
    border-style: solid;
    border-color: #86ba71 transparent;
    display: block;
    width: 0;
}
.chat .chat-history .you-message {
  background: #86ba71;
  color:#fff;
}
.chat .chat-history .me-message {
  background: #94c1ed;
}
.chat .chat-history .me-message:after {
  border-color: #94c1ed transparent;
    right: 20px;
    top: -15px;
    left: auto;
    bottom:auto;
}
.chat .chat-message {
  padding: 30px;
}
.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
  font-size: 16px;
  color: gray;
  cursor: pointer;
}

.chat-ul li{
    list-style-type: none;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.you {
  color: #86ba71;
}

.me {
  color: #93c1ed;
}
img.img_usr {
    width: 68px;
    height: 68px;
    border-radius: 100%;
    border: 3px solid #7cc88d;
}
.user_img_txt {
    float: left;
    margin-right: 20px;
}
h3.heading_name_chat {
    color: #373b46;
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
}
span.paragp_bt {
    font-size: 16px;
    color: #8b8f98;
}
.chat_desc {
    float: left;
}

.icon_str{
  font-size: 22px;
    line-height: 25px;
    color: #d7dade;
}
.right_star {
    float: right;
}
.modal-header.chat_popup {
    border-bottom: 2px solid #fff;
}
.enquiry_form.modal-content.grey_chat_pop {
    background-color: #f1f5f8;
}
.replay_box {
  
    padding-top: 20px;
}
.modal-body {
    position: relative;
    padding: 15px 0px!important;
}
.chat {
    border-bottom: 2px solid #fff!important;
}
.replay_box {
    /* padding-top: 20px; */
    padding: 20px;
    box-sizing: border-box;
}
.chat_btn_box_lft {
    float: left;
}
.chat_btn_box_right {
    float: right;
}
.chat_btn_box{
    margin-top: 10px;
}
.typing_div {
    padding: 0px 0px 0px 6px;
    box-sizing: border-box;
}
.you1{
  color:#aed1a6;
}
.you2{
  color:#d9e9da;
}
/********************/

/*click-btn*/
.dropbtn {
 background-color: #3498DB;
 color: white;
 padding: 16px;
 font-size: 16px;
 border: none;
 cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
 background-color: #2980B9;
}

.dropdown {
 position: relative;
 display: inline-block;
}

.dropdown-content {
 display: none;
 position: absolute;
 background-color: #f1f1f1;
 min-width: 160px;
 overflow: auto;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

.dropdown-content a {
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
/*end*/
.heading_div.rigt_align_div {
  float: right;
  padding: 7px;
  box-sizing: border-box;
}
.left_align_div {
    float: left;
}
.pop_btn_div {
    display: inline-block;
}
.div_full_align.clearfix {
  /* border-top: 2px solid #272a2c; */
}
a.btn.heading_btn_green:hover{
  color:#fff;
}
button.dropbtn1.btn.btn_grey_hvr.heading_btn_grey {
    color: #000;
}
/************popup*********/
/*model green*/
.main-model-despacho {
  width: 650px;
}
.despacho-model {
  padding: 0 20px;
  box-sizing: border-box;
}
.despacho-model select {
  width: 100%;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid #ccc;
  -webkit-box-shadow: none;
   -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none; 
}
.despacho-model select + i.fa-angle-down {
  float: right;
  margin-top: -22px;
  margin-right: 10px;
  pointer-events: none;
  background-color: transparent;
  color: #ccc!important;
  font-weight: bold;
  transform: translate(0, 0);
  cursor: pointer;
  font-size: 15px;
}
.fields-with-label {
  margin: 15px 0;
  width: 100%;
}
.fields-with-label label, .fecha label {
  font-size: 12px;
  color: #515151;
  font-weight: normal;
}
.fields-with-label small {
  padding: 5px 0;
  box-sizing: border-box;
  display: inline-block;
  color: #515151;
}
.fecha h2{
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 13px;
}
.fecha p {
  font-size: 12px;
  color: #515151;
  margin-bottom: 20px;
}
.fecha-devide form  {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.fields-with-label textarea {
 width: 100%;
}
.fecha-devide .fecha-left {
  width: 47%;
}
.modal-title {
  text-align: left;
  font-weight: bold;
}
/*checkbox blue*/
.container {
  display: block;
  position: relative;
  padding-left: 27px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #eee;
  border-radius: 5px;
}
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 6px;
  top: 3px;
  width: 4px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
hr {
  margin: 5px 0;
}
.no-mr {

}
/*end check*/
.confirmar-green-btn {
  text-align: right;
  padding: 15px 10px;
  box-sizing: border-box;
}
.confirmar-green-btn input[type="submit"] {
  display: inline-block;
  width: 200px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  background: #94b100;
  border-radius: 5px;
  font-size: 16px;
  border: none;
}
.close-icon-top {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}
.chat-ul li {
  overflow: hidden;
  clear: both;
}
.chat .chat-history .message {
  width: 70% !important;
}
.sent {
  text-align: right;
}
.sent .message-data {
  text-align: right;
}
.sent .you-message {
  background: #94c1ed !important;
  float: right;
 /* width: 100% !important;*/
}
.sent .message::after {
  left: 90% !important;
  border-bottom-color: #94c1ed !important;
}
.sent .you {
  color: #93c1ed !important;
  float: right;
  padding-top: 4px;
  box-sizing: border-box;
}
.sent .message-data-name b {
  float: right;
  padding: 0 7px;
  box-sizing: border-box;
}

/*For Ventas*/

.back_grey{
    background: #f7f9fa;
}
.nombre_full {
    width: 100%;
}
.heading_dell h3 {
    font-size: 18px;
    line-height: 25px;
    color: #152024;
    font-weight: bold;
    box-sizing: border-box;
    margin: 0 0 26px;
}
.back_grey.box_shadow_dell {
    padding: 18px 11px;
    box-sizing: border-box;
}
.back_white{
    background: #fff;
}
.inner_white {
    padding: 18px 0px;
    box-sizing: border-box;
    /*box-shadow: 2px 1px 1px #ccc;*/
    border-radius: 5px;
    border: 1px solid #ddd;

}

.search_body_pnl form {
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 26px;
}
.search-sec{
    padding: 2rem;
}
.search-slt{
   width: 100%;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border-radius: 0;
    font-size: 12px;
    position: relative;
    padding: 0 35px;
    box-sizing: border-box;
}
.border-add {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.pd-none {
    padding: 0 20px;
    box-sizing: border-box;
}
.icon_cont{
    position: absolute;
    left: 10px;
    top: 10px;
}
span.icon_cont img {
    width: 19px;
    margin-top: -2px;
}
.input_body_dell {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 24.05%;
  position: relative;
}
.input_body_dell_btn {
  display: flex;
  flex-wrap: wrap;
  width: 3.8%;
}
.inpt_pnel_body_group {
   display: flex;
    clear: both;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.wrn-btn {
   width: 100%;
    border-radius: 0 5px 5px 0px;
    box-sizing: border-box;
    /* border-left: none; */
}
.input_body_dell_btn .wrn-btn .fa {
    font-size: 12px;
}
.table_pannel {
    padding: 40px 0px 0px 0px;
    box-sizing: border-box;
    overflow-x: auto;
}
table.table.custom_tble_ventas>thead>tr>th {
    border: none;
    white-space: nowrap;
}
td.font_green {
    color: #a6bf34;
    font-weight: bold;
}
table.table.custom_tble_ventas > tbody>tr>td{
    padding: 18px 10px;
    box-sizing: border-box;
    font-size: 13px;
    line-height: 22px;
}
.yellow_btn {
  background: #ffeb3b;
  width: 60px;
  padding: 5px 9px;
  box-sizing: border-box;
  border-radius: 3px;
  color: #000;
  /* font-weight: bold; */
  font-size: 14px;
  line-height: 21px;
}
.yellow_btn:hover{
    color:#000;
}
.red_btn {
    background: #d22f2e;
    width: 60px;
    padding: 5px 7px;
    box-sizing: border-box;
    border-radius: 3px;
    color: #fff;
    /* font-weight: bold; */
    font-size: 14px;
    line-height: 21px;
}
.grey_btn_del:hover{
    color:#000;
}
.green_btn {
    background: #94b100;
    width: 60px;
    padding: 5px 9px;
    box-sizing: border-box;
    border-radius: 3px;
    color: #fff;
    /* font-weight: bold; */
    font-size: 14px;
    line-height: 21px;
}

.blue_btn {
  background: #0000FF;
  width: 60px;
  padding: 5px 9px;
  box-sizing: border-box;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  line-height: 21px;
}
.grey_btn_del {
    background: #ebeff1;
    width: 60px;
    padding: 5px 9px;
    box-sizing: border-box;
    border-radius: 3px;
    color: #000;
    /* font-weight: bold; */
    font-size: 14px;
    line-height: 21px;
}
.gold_btn_del {
    background: #fff9c4;
    width: 60px;
    padding: 5px 9px;
    box-sizing: border-box;
    border-radius: 3px;
    color: #000;
    /* font-weight: bold; */
    font-size: 14px;
    line-height: 21px;
}
.gold_btn_del:hover{
    color:#000;
}
.bott_txtf {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    box-sizing: border-box;
    padding-top: 11px;
}
.model-footer-btn {
    background: #5081bc;
    display: block;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
}
.modal-body {
    position: relative;
    padding: 15px 0px 0px 0px;
}
ul.model_inputs2 {
    margin: 0 0 30px 0;
    overflow: hidden;
}
ul.model_inputs2 li:first-child {
    width: 35%;
    text-align: right;
    font-weight: bold;
}
ul.model_inputs2 li:nth-child(2) {
    width: 65%;
}
ul.model_inputs2 li {
    float: left;
}
.popup_new2{
 text-align: center;
}
.popup_new2 input[type=text], select, textarea {
    width: 245px;
    padding: 4px 5px;
    border: 1px solid #314455;
    border-radius: none;
    box-sizing: border-box;
    resize: vertical;
}
.txt_in{
    text-indent:26px!important;
}
ul.dropdown-menu.drop_btn_tb {
    right: 0;
    left: auto;
    margin: 18px 0 0 !important;
    max-width: 208px !important;
}
ul.dropdown-menu.drop_btn_tb >li> a{
 font-size: 12px !important;
 padding: 3px 10px;
}
button.drop_btn.dropdown-toggle {
    background: #fff;
    vertical-align: top;
    outline: none;
    font-size: 20px;
    line-height: 0px;
    color: #000;
    border: none;
}
.txt_al_right{
    text-align: right!important;
    min-width: 94px;
}
button.btn.drop_btn.dropdown-toggle {
    outline: none;
}
button.btn.drop_btn.dropdown-toggle:active{
    box-shadow: none !important;
}
.icon_down{
    position: absolute;
    right: 6px;
    font-size: 17px;
    top:9px;
    color: #8c8c8c;
}
select.form-control.search-slt {
    -webkit-appearance:none;
}
/*responsive*/
@media screen and (max-width: 1150px){
  table.table.custom_tble_ventas > tbody>tr>td {
    padding: 18px 3px;
    box-sizing: border-box;
    font-size: 13px;
    line-height: 22px;
}
}
@media screen and (max-width: 1024px){
  
    table.table.custom_tble_ventas > tbody>tr>td {
    padding: 18px 3px;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 22px;
}
/*.search_body_pnl form {
    padding: 0px 2px 3px 5px;
    box-sizing: border-box;
}*/
}
@media screen and (max-width: 992px){
    
    table.table.custom_tble_ventas > tbody>tr>td {
    padding: 18px 3px;
    box-sizing: border-box;
    font-size: 10px;
    line-height: 20px;
}

}
@media screen and (max-width: 768px){
   .grey_btn_del {
    background: #ebeff1;
    width: 60px;
    padding: 5px 6px;
    box-sizing: border-box;
    border-radius: 3px;
    color: #000;
    /* font-weight: bold; */
    font-size: 10px;
    line-height: 21px;
}
.gold_btn_del {
    background: #fff9c4;
    width: 60px;
    padding: 5px 5px;
    box-sizing: border-box;
    border-radius: 3px;
    color: #000;
    /* font-weight: bold; */
    font-size: 10px;
    line-height: 20px;
}
.green_btn {
    background: #94b100;
    width: 60px;
    padding: 5px 5px;
    box-sizing: border-box;
    border-radius: 3px;
    color: #fff;
    /* font-weight: bold; */
    font-size: 10px;
    line-height: 21px;
}
.red_btn {
    background: #d22f2e;
    width: 60px;
    padding: 5px 5px;
    box-sizing: border-box;
    border-radius: 3px;
    color: #fff;
    /* font-weight: bold; */
    font-size: 10px;
    line-height: 21px;
}
.yellow_btn {
    background: #ffeb3b;
    width: 60px;
    padding: 5px 5px;
    box-sizing: border-box;
    border-radius: 3px;
    color: #000;
    /* font-weight: bold; */
    font-size: 10px;
    line-height: 21px;
}
/*.search-slt {
    width: 294px;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    padding: 1px 21px;
    box-sizing: border-box;
    height: 36px;
    position: relative;
    font-size: 11px;
}*/
/*.search_body_pnl form {
    padding: 0px 2px 3px 16px;
    box-sizing: border-box;
}*/
/*.wrn-btn {
    padding: 8px 13px;
    border-radius: 0 5px 5px 0px;
    height: 35px;
}*/
  .wrn-btn {
    padding: 0;
  }
}
@media screen and (max-width: 600px){

.search_body_pnl form {
  padding: 0 10px;
  box-sizing: border-box;
}
.input_body_dell_btn, .input_body_dell {
  width: 100%;
  margin-bottom: 10px;
}
/*.search-slt {
        width: 100%;
    font-size: 12px;
    padding: 1px 22px;
}
*/
.wrn-btn {
  padding: 10px 0;
  box-sizing: border-box;
  border-radius: 0;
  background: #ed7a5e;
  color: #fff;
  border: none;
  cursor: pointer;
}
.wrn-btn:focus, .wrn-btn:hover {
  background: #ed7a5e;
  color: #fff;
}
.border-add {
  border-radius: 0;
}
.inpt_pnel_body_group {
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;
}
  .bott_txtf {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-right: 7px;
    box-sizing: border-box;
    padding-top: 11px;
  }
}
@media screen and (max-width: 540px){
/*    .search_body_pnl form {
    padding: 0px 2px 3px 9px;
    box-sizing: border-box;
}*/
/*.input_body_dell {
    display: inline-flex;
    justify-content: center;
    width: 88%;
    position: relative;
}*/
.input_body_dell_btn {
    width: 100%;
}
}
@media screen and (max-width: 480px){
 /*   .search_body_pnl form {
    padding: 0px 2px 3px 9px;
    box-sizing: border-box;
}
.input_body_dell {
    display: inline-flex;
    justify-content: center;
    width: 88%;
    position: relative;
}*/
.input_body_dell_btn {
    width: 100%;
  }
}
@media screen and (max-width: 360px){
/*    .search_body_pnl form {
    padding: 0px 2px 3px 9px;
    box-sizing: border-box;
}
.input_body_dell {
    display: inline-flex;
    justify-content: center;
    width: 88%;
    position: relative;
}
.input_body_dell_btn {
    display: inline-flex;
    width: 8%;
}*/
}



.dropdown-menu3 {
  display: none;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.back_grey{
  background: #f7f9fa;
}
.nombre_full {
  width: 100%;
}
.heading_dell h3 {
  font-size: 18px;
  line-height: 25px;
  color: #152024;
  font-weight: bold;
  box-sizing: border-box;
  margin: 0 0 26px;
}
.back_grey.box_shadow_dell {
  padding: 18px 11px;
  box-sizing: border-box;
}
.back_white{
  background: #fff;
}
.inner_white {
  padding: 18px 0px;
  box-sizing: border-box;
  /*box-shadow: 2px 1px 1px #ccc;*/
  border-radius: 5px;
  border: 1px solid #ddd;

}

.search_body_pnl form {
  box-sizing: border-box;
  overflow: hidden;
  padding: 0 26px;
}
.search-sec{
  padding: 2rem;
}
.search-slt{
  width: 100%;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  border-radius: 0;
  font-size: 12px;
  position: relative;
  padding: 0 35px;
  box-sizing: border-box;
  height: 34px;
}
.border-add {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.pd-none {
  padding: 0 20px;
  box-sizing: border-box;
}
.icon_cont{
  position: absolute;
  left: 10px;
  top: 10px;
}
span.icon_cont img {
  width: 19px;
  margin-top: -2px;
}
.input_body_dell {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 24.05%;
  position: relative;
}
.input_body_dell_btn {
  display: flex;
  flex-wrap: wrap;
  width: 3.8%;
}
.inpt_pnel_body_group {
  display: flex;
  clear: both;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.wrn-btn {
  width: 100%;
  border-radius: 0 5px 5px 0px;
  box-sizing: border-box;
}
.input_body_dell_btn .wrn-btn .fa {
  font-size: 12px;
}
.table_pannel {
  padding: 40px 0px 0px 0px;
  box-sizing: border-box;
  overflow-x: auto;
}
table.table.custom_tble_ventas>thead>tr>th {
  border: none;
  white-space: nowrap;
}
td.font_green {
  color: #a6bf34;
  font-weight: bold;
}
table.table.custom_tble_ventas > tbody>tr>td{
    padding: 18px 10px;
    box-sizing: border-box;
    font-size: 13px;
    line-height: 22px;
}
.yellow_btn {
  background: #ffeb3b;
  width: 60px;
  padding: 5px 9px;
  box-sizing: border-box;
  border-radius: 3px;
  color: #000;
  /* font-weight: bold; */
  font-size: 14px;
  line-height: 21px;
}
.yellow_btn:hover{
    color:#000;
}
.red_btn {
    background: #d22f2e;
    width: 60px;
    padding: 5px 7px;
    box-sizing: border-box;
    border-radius: 3px;
    color: #fff;
    /* font-weight: bold; */
    font-size: 14px;
    line-height: 21px;
}
.grey_btn_del:hover{
    color:#000;
}
.green_btn {
    background: #94b100;
    width: 60px;
    padding: 5px 9px;
    box-sizing: border-box;
    border-radius: 3px;
    color: #fff;
    /* font-weight: bold; */
    font-size: 14px;
    line-height: 21px;
}
.grey_btn_del {
    background: #ebeff1;
    width: 60px;
    padding: 5px 9px;
    box-sizing: border-box;
    border-radius: 3px;
    color: #000;
    /* font-weight: bold; */
    font-size: 14px;
    line-height: 21px;
}
.gold_btn_del {
    background: #fff9c4;
    width: 60px;
    padding: 5px 9px;
    box-sizing: border-box;
    border-radius: 3px;
    color: #000;
    /* font-weight: bold; */
    font-size: 14px;
    line-height: 21px;
}
.gold_btn_del:hover{
    color:#000;
}
.bott_txtf {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    box-sizing: border-box;
    padding-top: 11px;
}
.model-footer-btn {
    background: #5081bc;
    display: block;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
}
.modal-body {
    position: relative;
    padding: 15px 0px 0px 0px;
}
ul.model_inputs2 {
    margin: 0 0 30px 0;
    overflow: hidden;
}
ul.model_inputs2 li:first-child {
    width: 35%;
    text-align: right;
    font-weight: bold;
}
ul.model_inputs2 li:nth-child(2) {
    width: 65%;
}
ul.model_inputs2 li {
    float: left;
}
.popup_new2{
 text-align: center;
}
.popup_new2 input[type=text], select, textarea {
  width: 245px;
  padding: 4px 5px;
  border: 1px solid #314455;
  border-radius: none;
  box-sizing: border-box;
  resize: vertical;
}
.txt_in{
    text-indent:26px!important;
}
ul.dropdown-menu.drop_btn_tb {
    right: 0;
    left: auto;
    margin: 18px 0 0 !important;
    max-width: 208px !important;
}
ul.dropdown-menu.drop_btn_tb >li> a{
 font-size: 12px !important;
 padding: 3px 10px;
 color: #262626;
}
button.drop_btn.dropdown-toggle {
    background: #fff;
    vertical-align: top;
    outline: none;
    font-size: 20px;
    line-height: 0px;
    color: #000;
    border: none;
}
.txt_al_right{
    text-align: right!important;
    min-width: 94px;
}
button.btn.drop_btn.dropdown-toggle {
    outline: none;
}
button.btn.drop_btn.dropdown-toggle:active{
    box-shadow: none !important;
}
.icon_down{
    position: absolute;
    right: 6px;
    font-size: 17px;
    top:9px;
    color: #8c8c8c;
}
select.form-control.search-slt {
    -webkit-appearance:none;
}
/*responsive*/
@media screen and (max-width: 1150px){
  table.table.custom_tble_ventas > tbody>tr>td {
    padding: 18px 3px;
    box-sizing: border-box;
    font-size: 13px;
    line-height: 22px;
}
}
@media screen and (max-width: 1024px){
  
    table.table.custom_tble_ventas > tbody>tr>td {
    padding: 18px 3px;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 22px;
}
/*.search_body_pnl form {
    padding: 0px 2px 3px 5px;
    box-sizing: border-box;
}*/
}
@media screen and (max-width: 992px){
    
    table.table.custom_tble_ventas > tbody>tr>td {
    padding: 18px 3px;
    box-sizing: border-box;
    font-size: 10px;
    line-height: 20px;
}

}
@media screen and (max-width: 768px){
   .grey_btn_del {
    background: #ebeff1;
    width: 60px;
    padding: 5px 6px;
    box-sizing: border-box;
    border-radius: 3px;
    color: #000;
    /* font-weight: bold; */
    font-size: 10px;
    line-height: 21px;
}
.gold_btn_del {
    background: #fff9c4;
    width: 60px;
    padding: 5px 5px;
    box-sizing: border-box;
    border-radius: 3px;
    color: #000;
    /* font-weight: bold; */
    font-size: 10px;
    line-height: 20px;
}
.green_btn {
    background: #94b100;
    width: 60px;
    padding: 5px 5px;
    box-sizing: border-box;
    border-radius: 3px;
    color: #fff;
    /* font-weight: bold; */
    font-size: 10px;
    line-height: 21px;
}
.red_btn {
    background: #d22f2e;
    width: 60px;
    padding: 5px 5px;
    box-sizing: border-box;
    border-radius: 3px;
    color: #fff;
    /* font-weight: bold; */
    font-size: 10px;
    line-height: 21px;
}
.yellow_btn {
    background: #ffeb3b;
    width: 60px;
    padding: 5px 5px;
    box-sizing: border-box;
    border-radius: 3px;
    color: #000;
    /* font-weight: bold; */
    font-size: 10px;
    line-height: 21px;
}

  .wrn-btn {
    padding: 0;
  }
}
@media screen and (max-width: 600px){

.search_body_pnl form {
  padding: 0 10px;
  box-sizing: border-box;
}
.input_body_dell_btn, .input_body_dell {
  width: 100%;
  margin-bottom: 10px;
}
/*.search-slt {
        width: 100%;
    font-size: 12px;
    padding: 1px 22px;
}
*/
.wrn-btn {
  padding: 10px 0;
  box-sizing: border-box;
  border-radius: 0;
  background: #ed7a5e;
  color: #fff;
  border: none;
  cursor: pointer;
}
.wrn-btn:focus, .wrn-btn:hover {
  background: #ed7a5e;
  color: #fff;
}
.border-add {
  border-radius: 0;
}
.inpt_pnel_body_group {
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;
}
  .bott_txtf {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-right: 7px;
    box-sizing: border-box;
    padding-top: 11px;
  }
}
@media screen and (max-width: 540px){
/*    .search_body_pnl form {
    padding: 0px 2px 3px 9px;
    box-sizing: border-box;
}*/
/*.input_body_dell {
    display: inline-flex;
    justify-content: center;
    width: 88%;
    position: relative;
}*/
.input_body_dell_btn {
    width: 100%;
}
}
@media screen and (max-width: 480px){
 /*   .search_body_pnl form {
    padding: 0px 2px 3px 9px;
    box-sizing: border-box;
}
.input_body_dell {
    display: inline-flex;
    justify-content: center;
    width: 88%;
    position: relative;
}*/
.input_body_dell_btn {
    width: 100%;
  }
}
@media screen and (max-width: 360px){
/*    .search_body_pnl form {
    padding: 0px 2px 3px 9px;
    box-sizing: border-box;
}
.input_body_dell {
    display: inline-flex;
    justify-content: center;
    width: 88%;
    position: relative;
}
.input_body_dell_btn {
    display: inline-flex;
    width: 8%;
}*/
}
.new_close_img{
  position: absolute;
  right: -15px;
  top: -15px;
  cursor: pointer;
  opacity: 1;
}

.main-model-despacho.modal-dialog.my-model-body {
  max-width: 650px !important;
  width: 650px;
}
.main-model-despacho.modal-dialog.my-model-body .modal-header{
  padding: 15px!important;
  margin-bottom: 20px;
  }
  .main-model-despacho.modal-dialog.my-model-body .modal-content{
    padding: 0px;
  }
  .despacho-model select {
    width: 100%;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #ccc;
    -webkit-box-shadow: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;
}
.despacho-model select + i.fa-angle-down {
    float: right;
    margin-top: -22px;
    margin-right: 10px;
    pointer-events: none;
    background-color: transparent;
    color: #ccc!important;
    font-weight: bold;
    transform: translate(0, 0);
    cursor: pointer;
    font-size: 15px;
}
.fecha h2 {
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 13px !important;
}
hr {
    margin: 0px 0;
    width: 100%;
}
.text_form_new{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .fecha p {
    font-size: 12px;
    color: #515151;
    margin-bottom: 20px!important;
}
.main-model-despacho.modal-dialog.my-model-body .modal-content .modal-body{
 padding:5px 0px;
}
small {
    font-size: 96%;
}
.main-model-despacho.modal-dialog.my-model-body .modal-header {
  margin-bottom: 0;
}
.main-model-despacho.modal-dialog.my-model-body .modal-content .modal-body {
  padding-top: 0 !important;
}
.fecha-devide {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.fecha-devide .fecha-left input[type="date"] {
  border: 1px solid #ccc;
}

.midd_menu_new {
  padding: 20px 0;
  box-sizing: border-box;
}
.midd_menu_new ul {
  margin: 0;
  padding: 0;
}
.midd_menu_new ul li {
  display: table-cell;
  width: 404px;
  border-bottom: 2px solid #9c9c9c;
}
.midd_menu_new ul li a {
  text-align: center;
  color: #000;
  font-weight: bold;
}
span.count_value_new {
  padding: 0px 30px;
  text-transform: uppercase;
  color:#9c9c9c;
}
.count_nu_new {
 color:#9c9c9c;
}
li.active_red {
  border-bottom: 2px solid #ed7b5e!important;
}
li.active_red > a >.count_value_new {
  color: red;
}
li.active_red > a >.count_nu_new {
  color: red;
}
.nombre.full_width_section {
  width: 100%;
}
.carro_heding > h3 {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}
.carro {
  padding-top: 34px;
  box-sizing: border-box;
}
.container_new {
  display: block;
  position: relative;
  padding-left: 26px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default radio button */
.container_new input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 19px;
  width: 19px;
  background-color: transparent;
  border-radius: 50%;
  border: 3px solid #ce2b2b;
}
/* When the radio button is checked, add a blue background */
.container_new input:checked ~ .checkmark {
  background-color: white;
  border: 3px solid #ce2b2b;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the indicator (dot/circle) when checked */
.container_new input:checked ~ .checkmark:after {
  display: block;
}
/* Style the indicator (dot/circle) */
.container_new .checkmark:after {
  top: 2px;
  left: 1px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: red;
}
h1,h2,h3,h4,h5,h6,p,ul,li{
  margin: 0;
  padding: 0;
}
.carro_heding h3{
  font-weight: 600;
}
.carro_tble-step-2 {
  margin-top: 20px;
}
.text-color {
  color: #e1910d;
  font-weight: bold;
  font-size: 16px;
}
.bold {
  font-weight: 600;
  font-size: 16px;
}
.carro_tble_style-step-2 tr {
  box-shadow: 0px 0px 3px #ccc;
  border: 1px solid #ccc;
}
table tr td {
  border: none !important;
}
.carro_tble-step-2 table {
  border-collapse: separate;
  border-spacing: 0 1em;
}
.carro_tble-step-2 table tr td {
  padding: 17px 10px 10px 10px !important;
  box-sizing: border-box;
  display: table-cell;
}
.carro_tble-step-2 .checkmark:after {
  top: 2px;
  left: 2px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: red;
}
.solid {
  border: 2px solid #ccc;
  border-radius: 5px;
}
.midd_menu_new ul li a {
  text-align: center;
  color: #000;
  font-weight: bold;
  display: block;
  padding: 20px;
  box-sizing: border-box;
}
.next-btn {
  display: block;
  text-align: right;
  margin-bottom: 100px;
}
.next-btn .next {
  width: 150px;
  background: #314f70;
  border: none;
  border-radius: 5px;
  line-height: 30px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;  
}

/*media queries*/
@media screen and (max-width: 768px){
  .midd_menu_new ul li {
    display: block;
    width: 100%;
  }
  .midd_menu_new ul li a {
    text-align: left;
  }
  .carro_tble-step-2 table tr td {
    white-space: nowrap;
  }
}
@media screen and (max-width: 480px){
  .carro_tble-step-2 table tr td img {
    width: 200px !important;
    max-width: none;
  }
  .carro_tble-step-2 {
    overflow-x: auto;
  }
}



.midd_menu_new {
    padding: 20px 0;
    box-sizing: border-box;
}
.midd_menu_new ul {
    margin: 0;
    padding: 0;
}
.midd_menu_new ul li {
    display: table-cell;
    width: 404px;
    border-bottom: 2px solid #9c9c9c;
}
.midd_menu_new ul li a {
    text-align: center;
    color: #000;
    font-weight: bold;
}
span.count_value_new {
    padding: 0px 30px;
    text-transform: uppercase;
    color:#9c9c9c;
}
.count_nu_new {
   color:#9c9c9c;
}
li.active_red {
    border-bottom: 2px solid #ed7b5e!important;
}
li.active_red > a >.count_value_new {
    color: red;
}
li.active_red > a >.count_nu_new {
    color: red;
}

.nombre.full_width_section {
    width: 100%;
}
.carro_heding > h3 {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}
.carro {
    padding-top: 34px;
    box-sizing: border-box;
}

.container_new {
    display: block;
    position: relative;
    padding-left: 26px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container_new input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 19px;
  width: 19px;
  background-color: transparent;
  border-radius: 50%;
  border: 3px solid #ce2b2b;
}

/* On mouse-over, add a grey background color */


/* When the radio button is checked, add a blue background */
.container_new input:checked ~ .checkmark {
  background-color: white;
    border: 3px solid #ce2b2b;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container_new input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container_new .checkmark:after {
    top: 2px;
    left: 1px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: red;
}

.carro_tble {
    margin-top: 20px;
    width: 100%;
    overflow-y: auto;
}
table.carro_tble_style>thead >tr {
    border-bottom: 2px solid #e9e9e9;
}
table.carro_tble_style>thead >tr >th{
  color:#3f4249;
  font-size: 14px;
  font-weight: bold;
}
.part_heding {
    color: #61594f;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}
span.brand_nm {
    display: block;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 32px;
}
a.close_btn_new > i {
    color: #ed4300;
    margin-right: 3px;
}
a.close_btn_new {
    color: #4b4b4b;
    font-weight: bold;
}
table.carro_tble_style>tbody >tr{
  border-bottom: 2px solid #e9e9e9;
}
table.carro_tble_style>tbody >tr > td {
    vertical-align: middle;
}
 

.s_total_in {
    float: right;
}
.sb_body {
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
}
.s_total_value {
    margin-left: 64px;
}
.txt_al{
 text-align: right;
}
.txt_al_side{
 text-align: right;
 padding-left: 30px!important;
 box-sizing:border-box;
}
.border_none_new{
  border:none!important;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
  border-top:none!important;
}
.nw_group_inp2{
float: right;
}
.nw_group_inp {
    padding: 20px 10px;
    border: 1px solid #000;
}
button.blue_ingre {
    background: #314f70;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 4px 10px;
}
.blue_ingre_2 {
    background: #314f70;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 9px 38px;
    box-sizing: border-box;
    font-weight: bold;
}
.btm_btn_sec {
    padding: 20px 0px;
}
.codigo_heading {
    font-weight: bold;
    margin-bottom: 6px;
}
select.cust_corgo_sel {
    width: 194px;
    border-radius: 5px;
    border: 2px solid #ddd !important;
}
.gr{
  background-color: #f8f8f8!important;
}
/**************************************************/
.full_box .navigatoins-list ul li.active {
    background: #ed7c5e;    
}
.view-table {
  display: block;
  background: #5081bc;
  text-align: center;
  font-size: 14px;
  width: 120px;
  color: #fff;
  margin-top: 2px;
  line-height: 23px;
  cursor: pointer;
}
.close-icon-table-list {
  position: relative;
  padding: 0 10px;
  box-sizing: border-box;
}
.close-icon-table {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
}
.producto-table-view tr td {
  border-top: none !important;
}
table tr .producto-table h2 {
  font-size: 18px;
  font-weight: bold;
}
table tr .producto-table h3 {
  font-size: 15px;
  color: #314f70;
  font-weight: bold;
  line-height: 30px;
}
table tr .producto-table p {
  font-size: 14px;
  color: #333;
  line-height: 30px;
}
.producto-table-view tr {
  margin-bottom: 30px;
  position: relative;
}
/*.producto-table-view tr td + td {
  width: 177px;
}*/
.table-inner-details {
  /*padding: 20px 20px;*/
  box-sizing: border-box;
}
.table-sec {
  padding-top: 53px !important;
  text-align: center;
}
.table-sec img {
  vertical-align: middle;
  box-shadow: 2px 2px 5px #ccc;
  border-radius: 50%;
}
.total-value {
  font-size: 18px !important;
  color: #5a91d2 !important;
  font-weight: normal;
}
.td-remove {
  background: transparent !important;
  box-shadow: none !important;
}
/*19-march*/
/*bredcrumb css here*/
.breadcrumb {
  float: left;
  overflow: hidden;
  border-radius: 5px; 
  counter-reset: flag; 
  padding: 10px 0 0 0;
  box-sizing: border-box;
  margin: 0;
  background: transparent;
}

.breadcrumb a {
  text-decoration: none;
  outline: none;
  display: block;
  float: left;
  font-size: 12px;
  line-height: 36px;
  color: white;
  padding: 0 10px 0 60px;
  background: #666;
  background: linear-gradient(#5080bc, #0c1f4a);
  position: relative;
}
/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
.breadcrumb a:first-child {
  padding-left: 46px;
  border-radius: 5px 0 0 5px; /*to match with the parent's radius*/
}
.breadcrumb a:first-child:before {
  left: 14px;
  text-align: center;
}
.breadcrumb a:last-child {
  border-radius: 0 5px 5px 0; /*this was to prevent glitches on hover*/
  padding-right: 20px;
}

/*hover/active styles*/
.breadcrumb a.active, .breadcrumb a:hover{
  color: #fff;
  background: linear-gradient(#ec9077, #d06146);
}
.breadcrumb a.active:after, .breadcrumb a:hover:after {
  background: #333;
  background: linear-gradient(#ec9077, #d06146);
}
.breadcrumb a:after {
  content: '';
  position: absolute;
  top: 0; 
  right: -18px; /*half of square's length*/
  width: 36px; 
  height: 36px;
  transform: scale(0.707) rotate(45deg);
  z-index: 1;
  background: #666;
  background: linear-gradient(135deg, #5080bc, #0c1f4a);
  /*stylish arrow design using box shadow*/
  box-shadow: 2px -2px 0 2px rgb(21, 47, 92), 3px -3px 0 2px rgb(66, 108, 165);
  border-radius: 0 5px 0 50px;
}
/*we dont need an arrow after the last link*/
.breadcrumb a:last-child:after {
  content: none;
}
/*we will use the :before element to show numbers*/
.breadcrumb a:before {
  content: counter(flag);
  counter-increment: flag;
  text-align: center;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin: 8px 0;
  position: absolute;
  top: 0;
  left: 30px;
  background: #444;
  background: linear-gradient(#db745a, #98351c);
  font-weight: bold;
}


/*footer*/
.footer-card__image__icon {
  color: #ff6600;
  font-size: 30px;
}
.fa-envelope:before {
  content: "\f0e0";
}
.fa-envelope:before {
  content: "";
}
.contact-first .fa {
  float: left;
}
.inner-footer .foot-box h3 {
  font-size: 15px;
  margin: 0 0 25px;
}
.inner-footer .foot-box {
  float: left;
  width: 25%;
}
.inner-footer .foot-box:nth-child(2) {
  width: 25%;
}
.inner-footer .foot-box:nth-child(3) {
  width: 30%;
}
.inner-footer .foot-box {
  float: left;
  width: 25%;
}
.inner-footer {
  padding: 60px 0;
  box-sizing: border-box;
}
.foot-line-one li {
  margin: 0 0 10px;
}
.contact-first {
  margin: 0 0 10px;
}
.copyright {
  font-size: 11px;
  padding: 15px 0;
  box-sizing: border-box;
}
.foot-line-one li a {
  font-size: 13px;
}
.foo-bottom {
  border-top: 1px solid #2a3448;
  max-width: 1150px;
  margin: 0 auto;
}
.copyright {
  border: none;
}
/*19-march-changes*/
.h4-heading {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 25px;
  padding-top: 10px;
  box-sizing: border-box;
}

.left-padding {
  padding-left: 20px !important;
}
.top-close-cion {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99999;
}
h3.add_hding {
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    color: #5c5c5c;
}


/***************cart details**************/

.car_dt.nombre {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 60.6382978723%;
}
.cart_detail_box {
    /* display: inline-block; */
    /* vertical-align: top; */
    /* position: relative; */
    background-color: #fff;
    display: inline-block;
    padding: 0;
    vertical-align: top;
    width: 100%;
}
.holder_cart {
    padding: 26px 30px 16px;
    border-bottom: 1px solid #ddd;
    margin: 0px 28px 10px 28px;
}
.holder_cart .text_title_cart{
    display: inline-block;
    margin: 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 27px;
}

.holder_cart .text_desc_cart {
    margin: 0;
    float: right;
    line-height: 2.7em;
    font-size: .88em;
    letter-spacing: .6px;
}
.cart_list_item ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cart_item_holder{
    padding: 0 30px;
    font-size: 1.2em;
    list-style: none;
    margin: 0;
    overflow: hidden;
    position: relative;
   }
.border_box_cart_top{
  border-top: 1px solid #eee;
}
.bg_grey_new{
  background-color: #eee;
}

.cart_body_new_list ul li {
    padding: 0 30px;
}
.image_holder {
   
    top: 0;
    vertical-align: top;
    width: 110px;
    float: left;
}
.des_cart_list {
    float: left;
    padding: 0px 20px;
}
.close_cat_btn i {
    font-size: 20px;
    font-weight: 100;
}
.bag-subtotal-subtotal {
    font-style: normal;
    font-weight: 700;
}
.bag-subtotal-price {
    font-style: normal;
    font-weight: 700;
    display: inline-block;
    min-width: 95px;
}
.cart_footer-subtotal {
    letter-spacing: 2px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: .9em;
    text-align: right;
    margin: 10px 0 14px;
    padding: 0 30px;
}
.abt_cart > p{
  color: #2d2d2d;
    letter-spacing: .5px;
    opacity: .9;
    overflow: hidden;
    padding: 0 25px 8px 0;
}
.abt_cart > p > a{
      color: #2d2d2d;
    text-decoration: none;
        letter-spacing: .3px;
}
.prc{
    color: #2d2d2d;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
}
.cart_price{
  line-height: .7em;
    padding: 0 0 10px;
}
.close_cat_btn button {
    background: transparent;
    border: none;
    position: absolute;
    right: 19px;
}

.icon_cart {
    float: left;
}
.heading_txt{
    font-style: normal;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0 0 3px;
    text-transform: uppercase;
}
.des_cart {
    padding: 10px 48px;
    box-sizing: border-box;
    margin: 0 0 0 3%;
}
.btn_more{
  text-decoration: underline;
  color:#000;
}
.btn_more:hover{
  color:#000!important;
}
.Cotizaciones.count_right {
    width: 35.3617021277%;
}
.count_inner {
    padding: 20px 20px 16px;
    background-color: #fcfcfc;
    display: inline-block;
    box-shadow: -1px 2px 11px #ddd;
    
    /* padding: 0; */
    vertical-align: top;
    width: 100%;
}
.count_head {
   padding: 8px 30px 16px 0px;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    
}
.text_count {
    display: block;
    margin: 0;
    font-size: 1.15em;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    /* letter-spacing: 2.5px; */
    /* line-height: 2em; */
}
.sub_price{
    font-style: normal;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 6px;
}
.count-total-title {
    font-style: normal;
    font-weight: 700;
}
.count-total-price {
    float: right;
    letter-spacing: 2px;
    font-weight: 400;
}
.delivery_sel {
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 6px;
}
.delivery_sel select{
  width:100%;
}
.delivery_sel select {
    width: 100%;
    border: none;
    border-bottom: 1px solid #848282;
    outline: none;
    background: transparent;
}
.btn_checkout {
    margin: 25px 0 0 0;
}
.btn_ch {
    max-width: 100%;
    background:#00aa5b;
    color: #fff;
    font-style: normal;
    font-weight: 700;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    cursor: pointer;
    display: block;
    /* font-size: .875em; */
    letter-spacing: .0857142857em;
    /* line-height: 1em; */
    margin: 0 auto;
    /* max-width: 20.5714285714em; */
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}
.checkout_btm {
    /* padding: 0 30px 10px; */
    margin-top: 6px;
}
h6.btm_ch_txt {
    text-transform: uppercase;
    font-size: .875em;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 2px;
}
.checkout_btm img {
    max-width: 100%;
    max-height: 20px;
    margin-top: 10px;
}

@media screen and (max-width: 1150px){
  /***************cart details**************/
.car_dt.nombre {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 100%;
}
.Cotizaciones.count_right {
    /* width: 39.361702%; */
    width: 100%;
    margin: 18px 0px 14px 0;
}
  /***************cart details**************/
}
@media screen and (max-width: 600px){
  .finalizer-inner ul li {
    width: 49%;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 480px){
  .finalizer-inner ul li {
    width: 100%;
    margin-bottom: 10px;
  }
  .details-finalizer .ingrasar {
    width: 100%;
  }
}

/**********************cart_detail***************/
 .holder_cart .text_desc_cart {
    margin: 0;
    float: right;
    line-height: 2.7em;
    font-size: 12px;
    /* letter-spacing: .6px; */
}
.des_cart_list {
    float: left;
    padding: 3px 0px;
    margin-bottom: 20px;
}
@media screen and (max-width: 360px){
  .holder_cart {
    padding: 0px;
    border-bottom: 1px solid #ddd;
    margin: 0px 12px 10px 23px;
  }

}

@media screen and (max-width: 600px){
  .entrega-page ul li {
    width: 50%;
  }
}
@media screen and (max-width: 480px){
  .full_box .navigatoins-list ul li a {
    padding: 15px 15px;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
  }
}
@media screen and (max-width: 480px){
  .entrega-page ul li {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 600px){
  
}

h1,h2,h3,h4,h5,h6,p,li,ul {
  margin-bottom: 0;
  padding: 0;
}
.question-from-user-section {
  overflow: hidden;
}
.question-from-user-head h2 {
  font-size: 18px;
  font-weight: bold;
  color: #272728;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0 0px 30px 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 30px;
}
.question-from-user-inner {
  padding-left: 15px;
  box-sizing: border-box;
}
.question-from-user-form {
  display: block;
  overflow: hidden;
}
.question-from-user-form form label {
  display: block;
  font-size: 14px;
  color: #272728;
  padding: 5px 0;
  box-sizing: border-box;
}
.question-from-user-form form textarea {
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  font-size: 14px;
  color: #333;
  width: 80%;
  padding: 15px 10px;
  box-sizing: border-box;
  float: left;
}
.question-from-user-form form p {
  display: block;
  text-align: right;
  width: 80%;
  padding-bottom: 5px;
  box-sizing: border-box;
}
.question-from-user-form form p a {
  text-decoration: underline;
  font-size: 12px;
  color: #314f71;
}
.question-from-user-form form input[type="submit"] {
  width: 18%;
  margin-left: 2%;
  background: #314f71;
  border-radius: 5px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  border: none;
  letter-spacing: 1px;
}
.question-form-content {
  overflow: hidden;
  margin-top: 8px;
  margin-bottom: 30px;
}
.question-form-content p {
  text-align: center;
  font-size: 12px;
  line-height: 18px;
}
.question-from-user-form form {
  overflow: hidden;
}
.question-form-content p a {
  text-decoration: underline;
  font-size: 12px;
  color: #314f71;
  font-weight: bold;
}
.question-from-user-paper h2 {
  display: block;
  font-size: 16px;
  margin-bottom: 20px;
}
.question-from-user-paper li {
  list-style-type: none;
  margin-bottom: 25px;
}
.question-from-user-paper li p {
  font-size: 14px;
  line-height: 30px;
}
.question-from-user-paper li p a {
  text-decoration: underline;
  font-size: 12px;
  color: #314f71;
  margin-left: 5px;
  font-weight: bold;
}
.question-from-user-paper li p img {
  margin-right: 10px;
  vertical-align: middle;
}
.question-from-user-paper li .question {
  color: #333;
}
.question-from-user-paper li .answer {
  color: #ababab;
}
/*responsive*/
@media screen and (max-width: 600px){
  .question-from-user-head h2 {
    padding: 20px 0;
    box-sizing: border-box;
  }
  .question-from-user-paper li p a {
    padding: 10px 0;
    box-sizing: border-box;
    display: block;
    text-align: right;
  }
  .question-from-user-form form input[type="submit"] {
    width: 23%
  }
  .question-from-user-form form textarea {
    width: 75%;
  }
}
@media screen and (max-width: 480px){
  .question-from-user-form form textarea {
    width: 100%;
    margin-bottom: 15px;
  }
  .question-from-user-form form input[type="submit"], .question-from-user-form form p {
    width: 100%;
    margin: 0;
  }
}

.ques-model-form {
  width: 750px !important;
}
  .question-popup-form-content {
    overflow: hidden;
  }
  /*.question-popup-form-head h2 {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
    text-transform: capitalize;
  }*/
  .question-popup-form-detail {
    
  }
  .question-popup-form-detail li {
    list-style: none;
    margin-bottom: 25px;
  }
  .question-popup-form-detail li p {
    font-size: 14px;
    line-height: 30px;
    overflow: hidden;
  }
  .question-popup-form-detail li p a {
    text-decoration: underline;
    font-size: 11px;
    color: #314f71;
    margin-left: 5px;
    font-weight: bold;
  }
  .question-popup-form-detail li p img {
    vertical-align: middle;
    margin-right: 10px;
  }
  .question-popup-form-detail li .question {
    color: #333;
  }
  .question-popup-form-detail li .answer {
    color: #ababab;
  }
  /*form*/
  .question-popupform textarea {
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    width: 80%;
    padding: 7px 10px;
    box-sizing: border-box;
     min-height: 47px;
    float: left;
  }
  .question-popupform p {
    display: block;
    text-align: right;
    width: 80%;
    padding-bottom: 5px;
    box-sizing: border-box;
  }
  .question-popupform p a {
    text-decoration: underline;
    font-size: 12px;
    color: #314f71;
  }
  .question-popupform input[type="submit"] {
    width: 18%;
    margin-left: 2%;
    background: #314f71;
    border-radius: 5px;
    line-height: 47px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    border: none;
    letter-spacing: 1px;
  }
  .question-popupform .pera {
    margin: 10px 0;
  }
  .question-popupform .pera p {
    text-align: center;
    font-size: 12px;
    line-height: 18px;    
  }
  .question-popupform .pera p a {
    text-decoration: underline;
    font-size: 12px;
    color: #314f71;
    font-weight: bold;
  }
@media screen and (max-width: 768px){
  .ques-model-form {
    width: 520px !important;
    margin: 0 auto;
  }
}
@media screen and (max-width: 600px){
  .question-from-user-paper li p a {
    padding: 10px 0;
    box-sizing: border-box;
    display: block;
    text-align: right;
  }
  .question-popupform input[type="submit"] {
    width: 23%
  }
  .question-popupform textarea {
    width: 75%;
  }
}
@media screen and (max-width: 530px){
  .ques-model-form {
    width: 450px !important;
    margin: 0 auto;
  }
  .question-popup-form-detail li p sub {
    display: block;
    text-align: right;
    padding: 10px 0;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 480px){
  .question-popupform textarea {
    width: 100%;
    margin-bottom: 15px;
  }
  .question-popupform input[type="submit"], .question-popupform p {
    width: 100%;
    margin: 0;
  }
  .ques-model-form {
    width: 400px !important;
    margin: 0 auto;
  }
  .question-popup-form-detail li p {
    font-size: 12px;
  }
}

.detalle-right h3 a{
  color:#212121;
}

.preguentas{
  background: #5bb54f;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  line-height: 35px;
  text-align: center;
  float: right;

}

.preguentas a{
  color: #fff;
  line-height: 25px;
}

.tx_calender{
  padding: 0 35px !important;
  border: 1px solid #ddd !important;
}

.popup_new2 {
  text-align: center;
}

ul.model_inputs2 {
  margin: 0 0 30px 0;
  overflow: hidden;
}

ul.model_inputs2 li:first-child {
  width: 35%;
  text-align: right;
  font-weight: bold;
}

ul.model_inputs2 li:nth-child(2) {
  width: 65%;
}

.popup_new2 input[type=text], select, textarea {
  width: 245px;
  padding: 4px 5px;
  border: 1px solid #314455;
  border-radius: none;
  box-sizing: border-box;
  resize: vertical;
}

.model-footer-btn {
  background: #5081bc;
  display: block;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
}

.mb-10{
  margin-bottom: 20px!important;
}

.enquiry_form.modal-content.mis_pop.ingresa_pd {

  padding: 20px 0px 0px;
}

.enquiry_form.modal-content.mis_pop.ingresa_pd > .modal-body {

  padding: 10px 0px 0px 0px !important;

}
  .enquiry_form.modal-content.mis_pop.ingresa_pd > .modal-header.vehículos >h5{
  width: 80%;
  margin: 0 auto !important;
}

.question-popupform textarea {
  width: 50%;
}
.question-popupform input[type="submit"] {
  width: 13%;
  line-height: 38px;
  font-size: 14px;
}
.question-popup-form-detail li {
  overflow: hidden;
  display: block;
}