/*
*= require font-awesome
*/

@import "fonts";
@import "public/variables";
@import "public/helpers";
@import "public/wrapper";
@import "public/footer";
@import "public/footer-card";
@import "public/footer-social";
@import "public/preheader";
@import "public/header";
@import "public/form.scss";

@import "public/landing/how-works";
@import "public/landing/why";
@import "public/landing/about";
@import "public/landing/cta";
@import "public/landing/faq";
@import "public/landing/jumbotron";
@import "public/landing/faq-item";
@import "public/landing/about-carousel";

@import "components/public/quote";
@import "components/public/landing-piece-table";
@import "components/public/registration";
@import "components/public/login";
@import "components/public/password";
@import "components/public/quote-detail";
@import "components/public/select-amount";


html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.brand {
  font-size: 28px;
  font-weight: bolder;
  color: $orange;
}
.form_request {
	transition: all 0.3s;
	outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  border-top-width: 1.02px;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  color: #bfbfbf;
	display: block;
	width: 100%;
	height: 38px;
	line-height: 38px;
	padding: 0 11px;
	font-size: 16px;
	box-sizing: border-box;
}
.form_request:hover, .form_request:focus {
  border-color: #40a9ff;
}
.quote-component {
	max-width: 1170px;
	margin: 0 auto;
}
.form__group {
	position: relative;
}
.select-amount__add, .select-amount__substract {
	top: 30px;
}
.form__group__label {
	font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, .65);
}
.ant-checkbox-wrapper {
	display: inline-block;
}
.faq-item__header {
  cursor: pointer;
}
.login-form input {
  position: relative;
  font-size: 14px;
  color: rgba(0, 0, 0, .65) !important;
  background: #fff !important;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  -webkit-transition: all .3s;
  transition: all .3s;
  width: 100%;
  display: block;
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  box-sizing: border-box;
  background: #fff;
}

.log-reg-form {
  margin: 80px 0;
}
.log-reg-form .wrapper__container {
  width: 100%;
}