@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
@font-face {
  font-family: 'Segoe UI';
  src: font-url('Segoe-UI.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI Bold';
  src: font-url('Segoe-UI-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins-Bold';
  src: font-url('Poppins-Bold_0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins-Medium';
  src: font-url('Poppins-Medium_0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
