/*
*= require font-awesome
*/

@import "fonts";

@import "public/_variables.scss";
@import "public/wrapper.scss";
@import "public/_helpers.scss";
@import "private/layout/header.scss";
@import "private/layout/layout.scss";
@import "private/screen.scss";
@import "private/advice.scss";
@import "private/card.scss";
@import "private/antd/button.scss";
@import "public/form.scss";

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  z-index: 9;
}
.screen__body {
  min-height: auto;
}
.screen__body.col-md-8 .col-md-4 .card {
  min-height: 150px;
  margin: 0;
}
.notice-board {
  position: relative;
}
.notice-board:before {
  position: absolute;
  content: "";
  left: -15px;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 35px 35px 0 0;
  border-color: #ef701e transparent transparent transparent;;
}
.notice-board ul li{
  list-style-type: disc;
  font-size: 13px;
  line-height: 25px;
}

.notice-board h4 a{
  font-size: 14px;
  float: right;
  padding-top: 10px;
}

/*.layout__body__content__footer {
	position: absolute;
	width: calc(98.5% - 235px);
	box-sizing: border-box;
	right: 1.5%;
	bottom: 20px;
	padding-right: 10px;
}
.layout__body__content__footer_position {
	position: static;
}*/


/* CSS used here will be applied after bootstrap.css */

.dropdown {
  display:inline-block;
  margin-left:20px;
  padding:20px;
}

.notifications {
  min-width: 350px;
  top: 40px; 
}
  
.notifications-wrapper {
  overflow:auto;
  max-height:250px;
}
    
.menu-title {
  color:#252121;
  font-size:16px;
  display:inline-block;
}
   
.notification-heading, .notification-footer  {
  padding:2px 10px;
}

.dropdown-menu.divider {
  margin:5px 0;          
}

.item-title {  
 font-size:12px;
 color:#000;
}

.notifications a.content {
 text-decoration:none;
 background:#ccc;
}
    
.notification-item {
 padding:10px;
 margin:5px;
 background:#f9f9f9;
 border-radius:4px;
 }

/* --Toggle css start-- */
.panel-heading .accordion-toggle:after {
  /* symbol for "opening" panels */
  font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
  content: "\e114";    /* adjust as needed, taken from bootstrap.css */
  float: right;        /* adjust as needed */
  color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  width: 74%;
  height: 50%;
  position: relative;
  overflow: hidden;
  margin-left: 150px;
  display: none;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
  text-align: center;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 21px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
  /* text-align: center; */
  border-radius: 10px;
  width: 50%;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}
.search{
  padding-top: 15px;
}
.place{
  padding-top: 15px;
}

#msg-block{
  display: none;
  margin-left: 150px;
  font-size: 30px;
}
#yes-no-button{
  display: none;
  text-align: center;
  margin-top: 5px;
}
#retry{
  font-size: 16px;
}
#yes{
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
}

/* Toggle css end */
.arr-right .breadcrumb-item+.breadcrumb-item::before {
  content: "›";
  vertical-align:top;
  color: gray;
  font-size:35px;
  line-height:14px;
}





@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

$green: #86BB71;
$blue: #94C2ED;
$orange: #E38968;
$gray: #92959E;

*, *:before, *:after {
  box-sizing: border-box;
}

.people-list {
  width:260px;
  float: left;
  
  .search {
    padding: 20px;
  }
  
  input {
    border-radius: 3px;
    border: none;
    padding: 14px;
    color: white;
    background: #6A6C75;
    width: 90%;
    font-size: 14px;
  }
  
  .fa-search {
    position: relative;
    left: -25px;
  }
  
  ul {
    padding: 20px;
    height: 770px;
 
    
    
    
    li {
      padding-bottom: 20px;
    }
  }
  
  img {
    float: left;
  }
  
  .about {
    float: left;
    margin-top: 8px;
  }
  
  .about {
    padding-left: 8px;
  }
  
  .status {
    color: $gray;
  }
  
}

.chat {
  width: 100%;
  float:left;
  background: #F2F5F8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  
  color: #434651;
  
  .chat-header {
    padding: 10px;
    border-bottom: 2px solid white;
    
    img {
      float: left;
    }
    
    .chat-about {
      float: left;
      padding-left: 10px;
      margin-top: 6px;
    }
    
    .chat-with {
      font-weight: bold;
      font-size: 16px;
    }
    
    .chat-num-messages {
      color: $gray;
    }
    
    .fa-star {
      float: right;
      color: #D8DADF;
      font-size: 20px;
      margin-top: 12px;
    }
  }
  
  .chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 575px;
    
    .message-data {
      margin-bottom: 15px;
    }
    
    .message-data-time {
      color: lighten($gray, 8%);
      padding-left: 6px;
    }
    
    .message {      
      color: white;
      padding: 18px 20px;
      line-height: 26px;
      font-size: 16px;
      border-radius: 7px;
      margin-bottom: 30px;
      width: 90%;
      position: relative;
      
      &:after {
        bottom: 100%;
        left: 7%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: $green;
        border-width: 10px;
        margin-left: -10px;
      }
    }
    
    .my-message {
      background: $green;
    }
    
    .other-message {
      background: $blue;
      
      &:after {
        border-bottom-color: $blue;
        left: 93%;
      }
    }
    
  }
  
  .chat-message {
    padding: 30px;
    
    textarea {
      width: 100%;
      border: none;
      padding: 10px 20px;
      font: 14px/22px "Lato", Arial, sans-serif;
      margin-bottom: 10px;
      border-radius: 5px;
      resize: none;
      
    }
    
    .fa-file-o, .fa-file-image-o {
      font-size: 16px;
      color: gray;
      cursor: pointer;
      
    }
    
    button {
      float: right;
      color: $blue;
      font-size: 16px;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      font-weight: bold;
      background: #F2F5F8;
      
      &:hover {
        color: darken($blue, 7%);
      }
    }
  }
}

.online, .offline, .me {
    margin-right: 3px;
    font-size: 10px;
  }
  
.online {
  color: $green;
}
  
.offline {
  color: $orange;
}

.me {
  color: $blue;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
ol, ul, dl {
  margin-bottom: 0px !important;
}

h1, h2, h3, h4, h5, h6, ul, li, p {
  margin: 0;
  padding: 0;
}
.detalle-order {
  background: #f8f9fa;
  padding: 20px 15px !important;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.detalle-order-final {

}
.detalle-content {
  background: #fff;
  border: 2px solid #f2f2f2;
}
.detalle-content .detalle-head {
  color: #7f7f7f;
  font-size: 14px;
  line-height: 20px;
  border-bottom: 1px solid #f2f2f2;
  padding: 17px 16px;
  box-sizing: border-box; 
}
.detalle-devide {
  padding: 20px 22px;
  box-sizing: border-box;
}
.background-grey {
  background: #c2c5cc;
  padding: 5px 8px;
  box-sizing: border-box;
}
.background-grey ul {
  width: 100%;
  overflow: hidden;
}
/*.full-hover {
  display: block;
  border: none !important;
  margin: 0 !important;
}*/
/*.full-hover:hover .select-btn-select {
  background: #f6824d;
}
*//*.background-grey ul li a:hover .price {
  background: #f6824d;
}*/

.background-grey ul li {
  background: #fff;
  border-radius: 3px;
  width: 24%;
  float: left;
  margin-left: 1.3%;
}
.background-grey ul li:hover .price {
  background: #f6824d;
  color: #fff;
}
.background-grey ul li:hover .white-head {
  background: #3c4d69;
  color: #fff;
}
.background-grey ul li:hover .select-btn button {
  background: #f6824d;
  border: 1px solid #e3671e;
  color: #fff; 
}
.white-head {
  font-size: 16px;
  text-align: center;
  text-transform: capitalize;
  line-height: 16px;
  color: #40526d;
  padding: 19px 0;
  box-sizing: border-box;
}
.price1 {
  background: #40526d;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #fff;
  padding: 11px 0;
  box-sizing: border-box;
}
.list-detail {
  padding: 13px 0;
  box-sizing: border-box;
  padding: 15px 15px;
  box-sizing: border-box;
}
.background-grey ul li p {
  font-size: 12px;
  line-height: 25px;
  color: #b3b3b3;
  text-align: center;
}
.background-grey ul li p span {
  color: #213553;
  font-weight: bold;
}
.select-btn {
  text-transform: uppercase;
  text-align: center;
}
.select-btn button {
  width: 100%;
  display: block;
  font-size: 12px;
  line-height: 30px;
  color: #213553;
  border: 1px solid #213553;
  border-radius: 3px;
  margin: 20px 0 5px 0;
  letter-spacing: 1.5px;
  font-weight: bold;
}

/*right section*/
.detalle-right {
  background: #fff;
  padding: 18px 16px;
  box-sizing: border-box;
  border: 2px solid #f2f2f2;
}
.detalle-right h3 {
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #212121;
}
.detalle-right li {
  font-size: 12px;
  line-height: 12px;
  color: #606060;
}

/*responsive */
@media screen and (max-width: 768px) {
  .background-grey ul li {
    width: 48%;
    float: left;
    margin: 0 1% 0 1%;
    margin-bottom: 10px;
  }
  .background-grey ul li:first-child {
    margin: 0 1% 0 1%;
  }
}
@media screen and (max-width: 520px) {
  .background-grey ul li {
    width: 100%;
    float: none;
    margin: 0;
    margin-bottom: 10px;
  }
  .background-grey ul li:first-child {
    margin: 0;
  }
}

.show-errors{
  color: red; 
  font-size: 14px; 
  display: block; 
  margin-bottom: 10px; 
  text-align: center; 
  line-height: 21px; 
  text-transform: capitalize;
}