/*
*= require font-awesome
*/

@import "fonts";
@import "public/variables";
@import "public/helpers";
@import "public/wrapper";
@import "public/footer";
@import "public/footer-card";
@import "public/footer-social";
@import "public/preheader";
@import "public/header";
@import "public/form.scss";
@import "public/category_items";

@import "public/landing/how-works";
@import "public/landing/why";
@import "public/landing/about";
@import "public/landing/cta";
@import "public/landing/faq";
@import "public/landing/jumbotron";
@import "public/landing/faq-item";
@import "public/landing/about-carousel";

@import "components/public/quote";
@import "components/public/landing-piece-table";
@import "components/public/registration";
@import "components/public/login";
@import "components/public/password";
@import "components/public/quote-detail";
@import "components/public/select-amount";


html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-family: "Muli", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

.brand {
  font-size: 23px;
  font-weight: bold;
  color: #f56729;
}
.form_request {
	transition: all 0.3s;
	outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  border-top-width: 1.02px;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  color: #bfbfbf;
	display: block;
	width: 100%;
	height: 38px;
	line-height: 38px;
	padding: 0 11px;
	font-size: 16px;
	box-sizing: border-box;
}
.form_request:hover, .form_request:focus {
  border-color: #40a9ff;
}
.quote-component {
	max-width: 1170px;
	margin: 0 auto;
}
.form__group {
	position: relative;
}
.select-amount__add, .select-amount__substract {
	top: 30px;
}
.form__group__label {
	font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, .65);
}
.ant-checkbox-wrapper {
	display: inline-block;
}
.btn_search_checkout2 {
  border: 0;
  border-radius: 0;
  bottom: 0;
  display: block;
  filter: none;
  font-size: 18px;
  line-height: 18px;
  outline: none;
  position: absolute;
  right: 16px;
  top: 0;
  z-index: 3;
  background-color: #14477D;
  color: #fff;
  padding: 8px 18px 7px;
}
.faq-item__header {
  cursor: pointer;
}
.login-form input {
  position: relative;
  font-size: 14px;
  color: rgba(0, 0, 0, .65) !important;
  background: #fff !important;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  -webkit-transition: all .3s;
  transition: all .3s;
  width: 100%;
  display: block;
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  box-sizing: border-box;
  background: #fff;
}

.log-reg-form {
  margin: 80px 0;
}
.log-reg-form .wrapper__container {
  width: 100%;
}


.nombre_full_login{
	max-width: 1024px;
    width: 100%;
    margin: 0 auto 20px auto;
}
.inner-header-one {
    box-shadow: none;
}
.sign_up_wrapper{
	display: -webkit-box;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 100px;
    padding: 0 20px;
   
}
.sign_up_inn{
  align-items: center;
}
div[column] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* -webkit-box-orient: vertical; */
    /* -webkit-box-direction: normal; */
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
} .inner_bx_sign{
  display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.ta-center {
    text-align: center;
}
.lh-140\% {
    line-height: 140%;
}
.KR .mb-30 {
    margin-bottom: 30px;
}
.h1_heading_txt{
    font-weight: 900;
    font-size: 34px;
    line-height: 54px;
}
.m_auto{
  margin:auto!important;
}
.fs-24 {
    font-size: 24px !important;
}
.h2_heading_txt {
    font-size: 16px;
    color: #8A9499;
    font-weight: 300;
    line-height: 34px;
    margin-bottom: 18px;
}
.mb-15 {
    margin-bottom: 15px;
}
.w-100\% {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}
.external-login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    text-decoration: none;
    padding: 8px 20px;
    box-sizing: border-box;
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.1);
    background-color: white;
    height: auto;
    cursor: pointer;
    font-weight: 600;
    font-size: 13px;
    line-height: 24px;
    color: #00AAFF;
}
.external-login img {
    border-radius: 3px;
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.h-block {
    display: block;
}
.c-lighter {
    color: #8A9499;
    text-decoration: underline;
}
.separator {
    background-color: #DCE2E6;
    width: 1px;
    margin: 0 70px;
    padding: 53px 0;
    position: relative;
}
.separator p {
    background-color: #DCE2E6;
    padding: 5px 10px;
    min-width: 48px;
    border-radius: 24px;
    font-size: 24px;
    color: white;
    text-align: center;
    display: inline-block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.field-with-icon {
    position: relative;
}
.mb-10 {
    margin-bottom: 10px !important;
}
.field-with-icon .icon-svg {
    display: block !important;
    position: absolute;
    fill: #8A9499;
    left: 10px;
    top: 6px;
}
.h-overflow {
    overflow: hidden;
}
.h-cp {
    cursor: pointer;
}
.h-24 {
    height: 24px;
    max-height: 24px;
    min-height: 24px;
}
.w-24 {
    width: 24px;
    max-width: 24px;
    min-width: 24px;
}
.field-with-icon input {
    padding-left: 42px;
}
.txt_box_inp{
    border: 1px solid #DCE2E6;
    font-size: 14px;
    border-radius: 5px;
    height: 36px;
}
.lbl_img{
	white-space: nowrap;
    font-weight: 500;
    display: none;
}
.formError {
    background-position: left 2px;
    background-size: 16px auto;
    vertical-align: top;
    padding-left: 22px;
    margin: 8px 3px;
    color: #FFAA00;
    display: block;
    line-height: 140%;
}
.mb-20 {
    margin-bottom: 20px;
}
.h-flex-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    min-height: 0;
}
label.checkbox_inpart {
    font-weight: 400;
}
.h-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 0;
}
.ws-normal,.is-fixed {
    white-space: normal;
    font-size: 13px;
    margin-left: 23px;
    font-weight: 200;
}

.h-19 {
    height: 19px;
    max-height: 19px;
    min-height: 19px;
}
label span {
    vertical-align: middle;
}
.s-16 {
    height: 16px;
    max-height: 16px;
    min-height: 16px;
    width: 16px;
    max-width: 16px;
    min-width: 16px;
    margin-left: auto!important;
}
.g-recaptcha{
    -webkit-appearance: none;
    font-weight: 500;
    background-color: white;
    color: #00AAFF;
    border: 1px solid #00AAFF;
    border-radius: 5px;
    font-size: 14px;
    line-height: 36px;
    height: 36px;
    padding: 0 15px;
    resize: none;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    overflow: visible;
    text-align: center;
    text-decoration: none;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    color: white;
    background-color: #00AAFF;
}
.mv-50 {
    margin-bottom: 50px;
    margin-top: 50px;
}
.justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: flex;
}
.h3_heading_txt2 {
    font-size: 17px;
    color: #8A9499;
    font-weight: normal;
    margin-top: 14px !important;
    margin-bottom: 13px !important;
}
span.ws-normal a {
    text-decoration: underline;
    color: #3faaff;
}
a.external-login:hover{
	color:#3faaff;
}
.w-260px {
    width: 280px;
    max-width: 280px;
    min-width: 280px;
}
.justify-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.btn_right_reg{
    background-color: rgb(4, 32, 74);
    color: white !important;
    border-color: white;
    -webkit-appearance: none;
    font-weight: 500;
    border-radius: 5px;
    font-size: 14px;
    line-height: 36px;
    height: 36px;
    padding: 0 15px;
    resize: none;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    overflow: visible;
    text-align: center;
    text-decoration: none;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.fs-11 {
    font-size: 11px;
}
.mt-15 {
    margin-top: 15px;
}
a.olv_btn {
    text-decoration: underline;
    color: #3faaff;
}
a.olv_btn:hover{
    color: #3faaff!important;

}
.c-lighter:hover{
  color: #8A9499 !important;
}
.maxw-250 {
    max-width: 270px;
    width: 270px;
}
.wth-600{
    width: 600px;
}
.search_box_wrapper_bdy_inn2 {
    width: 61%;
    margin: 0 auto;
}
  .total_bdy {
    padding: 1rem;
    border-top: 1px solid #e9ecef;
    margin-top: 20px;
  }
  .total_bdy_right {
    display: flex;
    justify-content: flex-end;
  }
  .total_bdy_left {
    width: 30%;
  }
  span.inpt_btm_txt_totl {
    font-size: 13px;
  }
  table.table.table_total_update thead tr {
    border: 1px solid #ddd;
  }
  table.table.table_total_update thead tr th{
    border: 1px solid #ddd;
  }
    table.table.table_total_update tbody tr {
    border: 1px solid #ddd;
  }
  table.table.table_total_update tbody tr td {
    border-right: 1px solid #ddd !important;
    background: transparent;
    box-shadow: none !important;
    padding: 10px !important;
    white-space: nowrap;
  }
  .block-content.tb_ttl_bd {
    overflow: auto;
  }
/**********************responsive***********************/
@media only screen and (max-width:1100px){
  .search_box_wrapper_bdy{
    width:90% !important;
  }
}
@media only screen and (max-width: 768px){
 .search_box_wrapper_bdy {
    width: 90% !important;
  }

.separator {
    background-color: #DCE2E6;
    width: 100%;
    margin: 70px 0px;
    padding: 0px;
    position: relative;
    height: 1px;
}
.separator p {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.sign_up_wrapper{
	display: flex;
}
.inner_bx_sign{
	width: 100%;
}
.h3_heading_txt2{
	    margin-top: 10px;
}
.container_img_process {
    max-width: 90% !important;
    margin: 0 auto;
}
img.img_process_one {
    max-width: 100%;
}
}




.mydro_user {
    margin: 0 !important;
    padding: 0 4px !important;
    border-radius: 0px !important;
    border: 1px solid #a7a5a7;
    top: 36px !important;
    left: -49px !important;
    min-width: 170px;
}
.mydro_user:before {
    background: url(../img/try.png);
    content: "";
    background-repeat: no-repeat;
    width: 28px;
    height: 10px;
    position: absolute;
    top: -10px;
    left: 50%;
    margin: 0 0 0 -14px;
}
.user_drop_body {
       width: 170px;
}

span.user_name {
    font-size: 14px;
    color: #545859;
    border-bottom: 2px solid #c0c1c1;
    line-height: 36px;
}
.mydro_user li{
  float: none!important;
    text-align: center;
    display: block;
}
.user_drop_body img {
    display: block;
    margin: 20px 0px 11px 52px;
}
a.btn_usrdrop {
    float: none!important;
    display: block;
    background: #5081bc !important;
    overflow: hidden;
    color: #fff!important;
    width: 146px;
    height: 24px;
    margin: 12px 15px;
    /* text-align: center; */
    font-size: 14px !important;
    line-height: 21px!important;
}
@media screen and (max-width: 991px){
  .mydro_user li .user_drop_body > a.btn_usrdrop {
    float: none!important;
    display: block;
    background: #5081bc !important;
    overflow: hidden;
    color: #fff!important;
    width: 146px;
    height: 24px;
    margin: 12px 15px;
    /* text-align: center; */
    font-size: 14px !important;
    line-height: 21px!important;
    border-radius: none!important;
    border-radius: 0px;    
}
.search_box_wrapper_bdy{
  width:90%!important;
}
    .wrapper__container {
        width: 100% !important;
    }
    .wrapper__container2 {
        width: 100% !important;
    }
    .modal.year_model_pop.fade.show .main-model-content.modal-content {
    width: 90%;
    }
    .container_img_process {
        max-width:90%!important;
        margin: 0 auto;
    }
}
@media screen and (max-width: 768px){
  .mydro_user li .user_drop_body > a.btn_usrdrop {
    float: none!important;
    display: block;
    background: #5081bc !important;
    overflow: hidden;
    color: #fff!important;
    width: 146px;
    height: 24px;
    margin: 12px 15px;
    /* text-align: center; */
    font-size: 14px !important;
    line-height: 21px!important;
    border-radius: 0px;
}
.mydro_user {
    margin: 0 !important;
    padding: 0 4px !important;
    border-radius: 0px !important;
    border: 1px solid #a7a5a7;
    top: 36px !important;
    left: -79px !important;
    min-width: 170px;
  }
  img.img_process_one {
    max-width: 100%;
 }

}
@media screen and (max-width: 767px){
    .vp_chooser_tab_options {
    margin: 0 10px;
    max-height: 261px;
    min-height: 100px;
    overflow: scroll !important;
    padding-bottom: 10px;
    line-height: 30px!important;
}
.vp_option_row.row .col-md-3 {
    text-align: center!important;
    border-bottom: 1px solid #ddd !important;
    font-size: 20px !important;
}
img.img_process_one {
    max-width: 100% !important;
}
.total_bdy_left {
    width: 76%;
}
.interior_wrapper {
  flex-basis: 50% !important;
  max-width: 50% !important;
}
}

.modelo {
  position: relative;
  padding: 376px 0 0 0;
  background: image-url('img_how_its_banner02.png') no-repeat scroll 0 0 / 100% 100%;
}

.part-one .arrow-direction {
  background: image-url('img_arrow01.png') no-repeat scroll 0 140px;
}
.part-one:hover .arrow-direction {
  background: image-url('img_arrow_hover01.png') no-repeat scroll 0 140px;
}
.part-two .arrow-direction {
  background: image-url('img_arrow02.png') no-repeat scroll -40px 140px;
}
.part-two:hover .arrow-direction {
  background: image-url('img_arrow_hover02.png') no-repeat scroll -40px 140px;
}
.part-three .arrow-direction {
  background: image-url('img_arrow03.png') no-repeat scroll -48px 140px;
}
.part-three:hover .arrow-direction {
  background: image-url('img_arrow_hover03.png') no-repeat scroll -48px 140px;
}
.part-four .arrow-direction {
  background: image-url('img_arrow04.png') no-repeat scroll -48px 140px;
}
.part-four:hover .arrow-direction {
  background: image-url('img_arrow_hover04.png') no-repeat scroll -48px 140px;
}

.Soluciones {
  padding: 170px 0 300px;
  background: image-url("img_banner01.png") no-repeat scroll 0 0 / 100% 100%;
}

.container_img_process {
  max-width: 1150px;
  margin: 0 auto;
}
img.img_process {
  border: 1px solid #ddd;
  height: 72px;
  width: 115px;
  overflow: hidden;
}
table.img_table_bdy_table {
  width: 100%;
  margin-bottom: 20px;
}
.img_with_description {
  display: flex;
}
.img_bdy {
  margin-right: 20px;
}
h2.img_process_name {
  font-size: 16px;
  font-weight: bolder;
  color: #2588c4;
}
.img_process_subname {
  font-size: 14px;
  margin: 6px 0;
  font-weight: normal;
  color: #2588c4;
}
p.img_proces_para {
  font-size: 9pt;
  margin-top: 5px;
  color: #383838;
}
span.old_price_txt {
  color: #bababa;
  font-size: 12px;
  line-height: 20px;
  text-decoration: line-through;
  display: block;
}
span.sale_price_txt {
  color: #333;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 3px;
  display: block;
}
.btn.btn_add_cart_img_pro {
  background-color: #00204a;
  color: #fff;
  margin-top: 10px;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-family: Open Sans,sans-serif;
  font-weight: 700;
  padding: 6px 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
table.img_table_bdy_table thead tr th {
  font-size: 12px;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  padding: 10px 0px;
  box-sizing: border-box;
}
table.img_table_bdy_table tbody tr td {
    border-bottom: 1px solid #ddd !important;
    padding: 10px 0px;
}
.img_table_bdy {
    overflow: auto;
}
.diagram_body {
  background-color: #fff;
  border: 1px solid #cfcfcf;
  margin: 0 0 10px;
  max-width: 100%;
  padding: 10px;
  z-index: 99!important;
  min-height: 400px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.diagram_body_inner {
    float: left;
    margin-right: 20px;
    margin-bottom:10px;
}

.num_bdy_menu:before{
    border-color: transparent #2588c4 transparent transparent;
  border-style: solid;
  border-width: 7px 7px 7px 0;
  content: "\A";
  left: 0;
  position: absolute;
  top: 10px;
}
.num_bdy_container {
  background-color: #fff;
  border: 1px dashed #1c87c6;
  color: #2588c4;
  cursor: pointer;
  display: block;
  font-size: 14px;
  position: absolute;
  margin-top: 20px;
  margin-bottom: 4px;
  left: 47%;
}
span.num_value {
  display: block;
  font-weight: 400;
  margin: -1px;
  text-align: center;  
  width: 15px;
  line-height: 28px;
}
 ul.num_bdy_menu_list {
  background-color: #2588c4;
  color: #fff;
  display: table;
  font-size: 12px;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: left;
  width: 250px;
  z-index: 11;
}
ul.num_bdy_menu_list li a:hover {
  color: #fff;
}
.num_bdy_menu {
  padding-left: 7px;
  position: absolute;
  z-index: 11;
  top: 0;
  left: 13px;
  display: none;
}
.num_bdy_menu.on_hover{
    display: block;
}
.hotspot-price {
    float: right;
    padding-left: 5px;
}
.hotspot-description {
  display: inline;
}
.specific-description {
  display: block;
  font-size: 10px;
  margin-top: 5px;
}
.hotspot-content {
  color: #fff;
  display: inline-block;
  line-height: normal;
  padding: 5px;
  text-decoration: none;
  vertical-align: top;
  width: 210px;
  border-bottom: 1px solid #5e9dc4;
}
.hotspot-cart {
  border-right: 1px solid #5e9dc4;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  width: 30px;
  padding: 0px 6px 0px 6px;

}

img.img_process_one {
    max-width: 150px;
    
}
.num_bdy_container_bdy {
    position: relative;
}
.num_bdy_container_bdy:before {
    content: "\f175";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #ada5a5;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 0px;
    left: 50%;    
}
.container_img_process_inner {
  display: flex;
  justify-content: space-between;
}
.pml_grey_border {
  border: 1px solid #cfcfcf;
}
.pml_sidebar_garage_heading {
  background-color: #f7f7f7;
  margin-bottom: 0;
  padding: 10px;
}
h3.pml_sidebar_garage_txt {
  font-size: 15px;
  font-weight: 700;
}
.container_img_process_left {
    width: 25%;
}
.container_img_process_right{
    width: 74%;
}
img.pml_cate_img {
  width: 20px;
}
a.pml_sidebar_garage_link {
  display: block;
  font-size: 14px;
  font-weight: 400;
  margin-top: 5px;
  position: relative;
}
span.img_pml_txt {
  font-size: 14px;
  font-weight: 400;
}
.pml_grey_border + .pml_grey_border{
  margin-top: 10px;
}
.pml_sidebar_categories_heading {
  background-color: #f7f7f7;
  margin-bottom: 0;
  padding: 10px;
}
h2.pml_sidebar_categories_heading_txt {
  font-size: 20px;
}
ul.pml_sidebar_categories_list {
    border-left: 2px solid #cfcfcf;
    margin-bottom: 6px;
    padding-left: 10px;
}
ul.pml_sidebar_categories_list li a {
    color: #bababa;
    display: block;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 0;
    position: relative;
}
ul.pml_sidebar_categories_list li a.active_cate{
    color: #2588c4;
    text-decoration: none;
}
ul.pml_sidebar_categories_list li a.active_cate:before{
  background-color: #2588c4;
  content: "";
  height: 100%;
  left: -12px;
  position: absolute;
  top: 0;
  width: 2px;
}
ul.pml_sidebar_categories_list li a:hover:before{
  background-color: #2588c4;
  content: "";
  height: 100%;
  left: -12px;
  position: absolute;
  top: 0;
  width: 2px;
}
ul.pml_sidebar_categories_list li a:hover{
  color: #2588c4;
  text-decoration: none;
}
.card_header a {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  overflow: hidden;
  padding-right: 20px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.cate_group {
    padding: 15px 0;
}
.card_header {
    padding: 5px 10px;
}
.card-header:after {
  clear: both;
  content: "";
  display: table;
}
.auto_part.subcategories_list {
    display: none;
}
.category.down-arrow:after{
  
  content: "\F107" !important;
  
}
.category:after {
  -webkit-font-smoothing: antialiased;
      content: "\F105";
  display: inline-block;
  font-family: FontAwesome;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  font-weight: 700;
  line-height: 1;
  padding-left: 20px;
  position: absolute;
  right: 0;
  text-align: center;
  width: 32px;
}
ul.sub_cate_list {
  border-left: 2px solid #cfcfcf;
  margin: 0 0 0 10px;
  padding-left: 10px;
}
ul.sub_cate_list li a{
  color: #95989a;
  display: block;
  font-size: 12px;
  font-weight: 500;
  padding: 5px 0;
  position: relative;
}
ul.sub_cate_list li a.active_subcate{
    color: #2588c4;
    text-decoration: none;
}
ul.sub_cate_list li a.active_subcate:before{
  background-color: #2588c4;
  content: "";
  height: 100%;
  left: -12px;
  position: absolute;
  top: 0;
  width: 2px;
}
ul.sub_cate_list li a:hover:before{
  background-color: #2588c4;
  content: "";
  height: 100%;
  left: -12px;
  position: absolute;
  top: 0;
  width: 2px;
}
ul.sub_cate_list li a:hover{
  color: #2588c4;
  text-decoration: none;
}
a.mobile_sidebar_button {
  -webkit-font-smoothing: antialiased;
  background-color: #2588c4;
  color: #fff;
  display: block;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 20px;
  padding: 14px 10px;
  text-align: center;
}
h5.modal-title {
  font-size: 16px;
  line-height: 16px;
  padding-right: 20px;
  text-transform: uppercase;
  font-weight: normal;
}
.modal.pml_sidebar_model.show .modal-dialog {
  max-width: 90%;
}
.modal.pml_sidebar_model.show  button {
    position: absolute;
    right: 10px;
    top: 1px;
}
.modal.pml_sidebar_model.show .modal-content{
 padding: 0px;
}
.modal.pml_sidebar_model.show .modal-content .modal-body{
 padding: 15px !important;
}
.sidebar_wrapper_details_heading_mb {
  background: transparent;
  border-bottom: 1px solid #cfcfcf;
  padding: 20px 10px;
}
.sidebar_wrapper_details_heading_mb ul {
  border-left: 2px solid #cfcfcf;
  margin-bottom: 0px;
  padding-left: 10px;
}
.sidebar_wrapper_details_heading_mb ul li a{
    color: #bababa;
    display: block;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 0;
    position: relative;
}
.sidebar_wrapper_details_heading_mb ul li a.active_cate{
    color: #2588c4;
    text-decoration: none;
}
.sidebar_wrapper_details_heading_mb ul li a.active_cate:before{
  background-color: #2588c4;
  content: "";
  height: 100%;
  left: -12px;
  position: absolute;
  top: 0;
  width: 2px;
}
.sidebar_wrapper_details_heading_mb ul li a:hover:before{
  background-color: #2588c4;
  content: "";
  height: 100%;
  left: -12px;
  position: absolute;
  top: 0;
  width: 2px;
}
.sidebar_wrapper_details_heading_mb ul li a:hover{
  color: #2588c4;
  text-decoration: none;
}
.pml_grey_border.pml_sidebar_button.pml_sidebar_mobile_wrapper {
  display: none;
}

.modal-dialog.checkout_popup_dialog {
    min-width: 455px!important;
  }
  .main-model-content.modal-content.checkout_popup_dialog_inn {
    width: 80%;
    background-image: linear-gradient(180deg,#f7f7f7 0,#e2e2e2);
    background-repeat: repeat-x;
    border-radius: 5px;
  }
  .checkout_model_header {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    box-sizing: border-box;
  }
  .massege_suc_bdy {
    color: green;
    font-size: 18px;
    line-height: 30px;
    padding: 5px 0px;
    box-sizing: border-box;
  }
  .close_suc_bdy {
    padding: 6px 0px;
    box-sizing: border-box;
  }
  div#checkout-modal {
    z-index: 99;
  }
  a.add_cart_close {
    color: #ccc;
    font-size: 20px;
    transition: color .25s ease;
  }
  .checkout_model_midbdy {
    background-color: #fff;
    border-bottom: 1px solid #b2b2b2;
    border-top: 1px solid #b2b2b2;
    box-sizing: border-box;
    margin: 5px 0 7px;
    padding-bottom: 7px;
    position: relative;
  }
  .checkout_model_midbdy_inn.row {
    padding: initial;
    margin: auto !important;
  }
  .checkout_img_bdy {
    height: 165px;
    box-sizing: border-box;
    margin: 6px auto;
    text-align: center;
  }
  h3.item_name_txt {
  -webkit-font-smoothing: antialiased;
  border-bottom: 1px solid #ccc;
  color: #333;
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  margin: 5px 0;
  padding: 3px 0;
}

.part_num_bdy {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0 0 15px;
}
.part_num {
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  width: 66.66667%;
}
label.txtpart_num {
  color: #666;
  display: block;
  margin-bottom: 2px;
  font-size: 12px;
  font-weight: 400;
}
.part_quantity {
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  text-align: right;
  width: 33.33333%;
}
label.txtpart_qty {
  color: #666;
  display: block;
  margin-bottom: 2px;
  font-size: 12px;
  font-weight: 400;
}
input.added_product_quantity {
  border: 1px solid #a9a9a9;
  border-radius: 2px;
  box-sizing: border-box;
  line-height: 16px;
  margin-bottom: 2px;
  outline-width: 0;
  padding: 2px 0 2px 2px;
  text-align: center;
  width: 45px;
}
span.txtpart_num_value {
  font-size: 12px;
  font-weight: 400;
}
ul.price_list_checkout_list {
  font-size: 13px;
  line-height: 18px;
  list-style: none;
  margin: 6px 0;
  padding: 0;
}
li.price_list_checkout_in {
  display: block;
  width: 100%;
  color: #777;
  overflow:hidden;
}
span.title_txt_checkvalue {
  float: right;
}
span.title_txt_check {
  float: left;
}
.part_num_bdy {
  overflow: hidden;
}
span.title_txt_checkvalueour {
  float: right;
  color: #000;
}
.check_out_cart_bdy {
  background: #efefef;
  border-radius: 3px;
  box-shadow: 0 5px 2px -4px #bdbdbd;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  margin: 10px 0;
  padding: 7px;
  overflow: hidden;
}
.cart_details_title {
  box-sizing: border-box;
  float: left;
  font-size: 13px;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  white-space: nowrap;
  width: 58.33333%;
}
.cart_details_subtotal {
  box-sizing: border-box;
  color: green;
  float: left;
  font-weight: 500;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: 41.66667%;
}
a.add_cart_checkout {
  border-bottom: 1px dotted #b1b1b1;
  color: #333;
  text-decoration: none;
}
span.cart-items-wrap {
  white-space: nowrap;
}
span.cart-total {
  font-size: 12px;
}
.checkout_model_footer {
  overflow: hidden;
  padding-bottom: 10px;
}
.checkout_model_footer_inn1 {
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  width: 50%;
}
.checkout_model_footer_inn2 {
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  width: 50%;
}
button.add_cart_close.button {
  display: block;
  font-size: 15px;
  padding: 5px 4px!important;
  width: 100%!important;
  background-image: linear-gradient(180deg,#fff 0,#d8d8d8);
  background-repeat: repeat-x;
  border: 1px solid #ccc;
  border-radius: .2em;
  color: #333!important;
  cursor: pointer;
}
.green.button {
  background-image: linear-gradient(180deg,#69ba3d 0,#299a0b);
  background-repeat: repeat-x;
  border: 1px solid #299a0b;
  color: #f7fcf5!important;
  text-shadow: #133509 0 1px 0;
}
button.add_cart_checkout.green.button {
    display: block;
    font-size: 15px;
    padding: 5px 4px!important;
    width: 100%!important;
}
.checkbox_checkout.d-inline_sec {
  display: inline-block;
}
  table.checkout_bdy_inner_table {
    width: 100%;
    border: 1px solid #cfcfcf;
    border-collapse: collapse;
    clear: both;
    font-size: 13px;
    font-weight: 700;
    width: 100%;
  }
  table.checkout_bdy_inner_table thead th {
  border: 1px solid #cfcfcf;
  font-size: 14px;
  padding: 10px 15px;
  font-weight: 700;
}
table.checkout_bdy_inner_table thead {
  background-color: #f7f7f7;
}
input.search_input_txt {
  border: 1px solid #ccc;
  height: 40px;
  border-radius: 2px;
  font-size: 12px;
  width: 80%;
  position: relative;
  padding: 5px 20px 5px 10px;
}
button.btn_search_checkout {
  padding: 8px 18px 7px;
  background-color: #14477D;
  border: none;
  color: #fff;
  height: 40px;
  position: absolute;
  font-size: 18px;
  line-height: 18px;
}
.search_box_wrapper_bdy_inn {
  width: 73.5%;
  float: right;
}
span.items-count.lbl_bg_grey_item {
  background-color: #f7f7f7;
  padding: 5px 10px;
  color: #6f6f6f;
  font-weight: bold;
  border-radius: 4px;
  border: 1px solid #ddd;
}
h3.checkout_bdy_inner_heading_txt {
  font-size: 20px;
  text-transform: capitalize;
  line-height: 20px;
}
a.back_btn {
  background: #00204a;
  margin-bottom: 20px;
  background-color: #00204a;
  margin-top: 10px;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-family: Open Sans,sans-serif;
  font-weight: 700;
  padding: 6px 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.checkout_bdy_inner_table_bdy {
  margin-top: 20px;
  margin-bottom: 50px;
}
table.checkout_bdy_inner_table tbody td {
    border: 1px solid #cfcfcf !important;
    font-size: 14px;
    padding: 10px 15px;
    font-weight: 700;
}
td.cart_img_td {
  text-align: center;
  vertical-align: middle;
  width: 180px;
}
img.checkout_img {
  max-height: 120px;
  max-width: 120px;
}
a.bumper_txt {
  font-size: 14px;
  font-weight: 700;
  color: #428bca;
}
.product-notes {
  font-size: 11px;
  font-weight: 400;
}
.product-id {
  font-weight: 700;
}
a.remove_link_txt {
  color: #383838;
  font-size: 12px;
  font-weight: 400;
}
a.remove_link_txt i{
  color: #e71a1f;
}
.remove_link {
  font-size: 11px;
  margin-top: 15px;
}
td.cart-price {
  width: 130px;
}
td.cart-quty {
  width: 120px;
}
.wrapper_cart_checkout_bdy_inner {
    margin-top: 20px;
}
.continue_btn_bdy {
    overflow: hidden;
}
a.btn.btn_continue_bt_tble {
  float: right;
  background: #00204a;
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 20px;
}
.search_box_wrapper_bdy {
  margin-top: 24px;
  margin-bottom: 28px;
  width: 1150px;
  margin: 24px auto;
  overflow: hidden;
}
  h3.final_cart_bdy_inner_heading_txt {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 15px;
  }
  input.form-control.text_email_final_cart {
    height: 41px;
    font-size: 15px;
  }
  small.btm_txt_final {
    margin-left: 3px;
    margin-top: 10px;
    display: block;
}
span.btm_txt_final_txt {
   color: #818a91 !important;
}
a.btm_txt_final_btn_login {
  text-transform: uppercase;
  font-weight: bold;
}
select.form-control.text_email_final_cart {
  height: 41px;
  font-size: 15px;
}
.final_cart_bdy_inner_row.row {
    margin: auto;
}
button.btn.btn_final_con_pay {
  float: right;
  color: #fff;
  background-color: #00204a;
  border-color: #00204a;
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 20px;
}
h3.final_cart_bdy_inner_heading_txt.sec_final {
   margin-top: 26px;
}
.cart-head-text .fa {
    display: none;
}
span.cart-head-count-wrap {
    display: none;
}
.cart-head-total-amount {
    display: none;
}
.final_cart_right_bdy_inn {
  background: #f9f9f9;
  padding: 2rem 0.5rem;
}
span.cart-head-title {
  color: #373a3c;
  text-transform: uppercase;
  font-weight: 600;
}
span.cart-head-desktop-count {
  color: #373a3c;
  text-align: right;
  float: right;
}
ul.final_cart_item_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 420px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-block-start: 1em;
  margin-block-end: 1em;
}
li.final_cart_item {
  display: table;
  width: 100%;
}
.cart-item-row {
   display: table-row;
}
.cart-item-name {
   display: table-cell;
   font-weight: 600;
}
.cart-item-amount {
  display: table-cell;
  text-align: right;
  font-weight: 600;
}
.cart-item-part-number {
  font-weight: 300;
  display: table-cell;
}
.cart-item-part-sum-quantity {
  text-align: right;
  color: #bababa;
  display: table-cell;
  font-size: 11px;
}
.final_cart_items {
    border-top: 1px solid #ccc;
}
.final_cart_bdy_inner.row {
    margin: auto;
}
 
  .modal-header.login_pop_bdy_header {
    border: none !important;
    padding: 0px;
    box-sizing: border-box;
  }
  .login-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
  }
  .form-control.for_email_log {
    font-size: 15px;
    padding: 0.75rem 0.75rem;
    line-height: 18px;
    height: 40px;
    width: 100%;
    border-radius: 6px;

  }
  .modal-dialog.login_pop_bdy .modal-content {
    display: block;
    padding: 20px 10px;
    width: 80%;
  }
  .modal-dialog.login_pop_bdy .modal-body {
    padding: 10px 30px !important;
  }
  .btn.btn-alt-success.btn_login_pop {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
  font-size: 15px;
  text-align: center;
  display: block;
  width: 100%;
  padding: 10px 20px;
  border-radius: 3px;
  text-transform: uppercase;
  }
  .heading_log {
    margin-bottom: 34px;
  }

@media screen and (max-width: 767px){
.container_img_process_inner {
    display: block !important;
}
.container_img_process_left {
    width: 100%!important;
}
.checkout_img_bdy img{
  width: 200px;
  height: 130px;
}
.add_cart_close{
  font-size: 11px !important;
}
.add_cart_checkout{
  font-size: 11px !important;
}
.pml_grey_border {
    border: none!important;
}
.container_img_process_right {
    width: 100% !important;
}
.pml_grey_border.pml_sidebar_garage {
    display: none !important;
}
.pml_grey_border.pml_sidebar_categories {
    display: none !important;
}
.pml_grey_border.pml_sidebar_button.pml_sidebar_mobile_wrapper {
    display: block !important;
}
.modal.pml_sidebar_model.show .modal-dialog .modal-content{
  width:100%!important;
  border-radius: 0px !important;

}
.wrapper_cart_checkout_bdy_inner {
  width: 90%;
  margin: 0 auto;
  overflow-y: auto;
}
.modal-dialog.login_pop_bdy .modal-content{
  width:70%;
}
}
@media screen and (max-width: 600px){
  img.img_process_one {
  max-width: 100% !important;
}
}
@media screen and (max-width: 575px){
  img.img_process_one {
  max-width: 100% !important;
}
.interior_wrapper_dropdown {
    background: #f7f7f7;
    border-bottom: 1px solid #cfcfcf;
    border-top: 1px solid #cfcfcf;
    display: block;
    left: 0;
    padding: 30px;
    position: absolute;
    width: 100%;
    top: 164px !important;
    display: none;
}
a.interior_category img {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  min-height: 115px !important;
  pointer-events: none;
  width: 250px;
  height: auto!important;
}
}
@media screen and (max-width: 480px){
  img.img_process_one {
  max-width: 100% !important;
}
.modal.pml_sidebar_model.show .modal-dialog {
  max-width: 100%!important;
}
.modal-dialog.checkout_popup_dialog {
    min-width: 100% !important;
}
.massege_suc_bdy {
  color: green;
  font-size: 14px;
  line-height: 30px;
  padding: 5px 0px;
  box-sizing: border-box;
}
}
@media screen and (max-width: 360px){
  img.img_process_one {
    max-width: 100% !important;
}
  a.interior_category img {
    min-height: 81px !important;
    height: auto !important;
}
.interior_wrapper_dropdown {
  top: 131px !important;
} 
.modal-dialog.checkout_popup_dialog {
    min-width: 100% !important;
}
.massege_suc_bdy {
  color: green;
  font-size: 14px;
  line-height: 30px;
  padding: 5px 0px;
  box-sizing: border-box;
}
}
@media screen and (max-width: 320px){
  img.img_process_one {
  max-width: 100% !important;
  }
}

.items-count{
  margin: 5px;
  font-size: 16px;
  float: right;
}
.checkout_bdy_inner_table_bdy{
  width: 100%;
  overflow-y: auto !important;
}
span.text-orange {
  color: #ea952b;
}
.search-orange {
  font-weight: bold;
  color: rgba(0, 0, 0, .85);
  margin-bottom: 20px;
}
.result-orange{
  color: rgba(0, 0, 0, .85);
  margin-bottom: 20px;
  font-size: 12px;
}