
/*tweak style on sweet alert pops*/

.swal2-overlay--show-modal .swal-modal {
  border-radius: 1px !important;
}

.swal2-button {
  border-radius: 1px !important;
  background-color: #1bdeea !important;
  outline: none !important;
}

