header, footer, nav, section, aside, article {
  display: block;
}
/* !Reseting
---------------------------------------------------------- */
body {
  font-size: 14px;
  -webkit-text-size-adjust: none;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #000;
  background: #fff;
}
body.fontS {
  font-size: 10px;
}
body.fontM {
  font-size: 12px;
}
body.fontL {
  font-size: 14px;
}
body, div, pre, p, blockquote, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, th, td {
  margin: 0;
  padding: 0;
}
input, textarea {
  margin: 0;
  font-size: 100%;
}
label {
  cursor: pointer;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 100%;
}
fieldset, img {
  border: 0;
}
img {
  vertical-align: top;
  max-width: 100%;
}
address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: normal;
}
ol, ul {
  list-style: none;
}
caption, th {
  text-align: left;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}
q:after, q:before {
  content: '';
}
a:hover { /* outline: none; */
  color: #fff;
}
abbr, acronym {
  border: 0;
}
/* !Clearfix
---------------------------------------------------------- */
.clearfix {
  display: block;
  min-height: 1%;
}
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
* html .clearfix {
  height: 1%;
}
/* !Layout
---------------------------------------------------------- */
a {
  text-decoration: none;
  transition: all 0.5s !important;
  -moz-transition: all 0.5s !important; /* Firefox */
  -webkit-transition: all 0.5s !important; /* Chrome&Safari */
}
a:hover, a:focus {
  text-decoration: none;
  transition: all 0.5s !important;
  -moz-transition: all 0.5s !important; /* Firefox */
  -webkit-transition: all 0.5s !important; /* Chrome&Safari */
}
/* !wrapper
---------------------------------------------------------- */
#wrapper {
  min-width: 320px;
}

/******newbox***********************************************/

.full_box {
    width: 100%;
    background: #314f70;
}
.full_box_in {
    max-width: 1260px;
    box-sizing: border-box;
    padding: 10px;
    text-align: right;
    margin: 0 auto;
   
}
.nw-btn {
    width: 200px;
    /* height: 40px; */
    display: block;
    background: #ed7b5e;
    float: right;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    border: 1px solid #fff;
}
.right_border_style{
   display: inline-block;
    margin: 0 11px 0 0;
}
.border_none{
      border-right : none !important;
        }

.top_drop {
    position: relative;
    }

.mydrop {
    margin: 0 !important;
    padding: 0 4px !important;
    border-radius: 0px !important;
    border: 1px solid #a7a5a7;
    top: 36px !important;
    left: -70px !important;
    min-width: 170px;
}
.mydrop:before {
    background: url(../img/try.png);
    content: "";
    background-repeat: no-repeat;
    width: 28px;
    height: 10px;
    position: absolute;
    top: -10px;
    left: 50%;
    margin: 0 0 0 -14px;
}
.mydrop li {
    display: block !important;
    margin: 0 !important;
}

.mydrop li a {
    padding: 25px 13px !important;
    border-bottom: 1px solid #a7a5a7;
    box-sizing: border-box;
    border-bottom: 1px solid #a7a5a7;
    font-size: 12px !important;
}
.mydrop li a img {
    margin: 0px 12px 0 0;
}
.dropdown-menu li {
    border-right: none !important;
    padding: 0px 0px !important;
}

/* !header
---------------------------------------------------------- */
#header {
  position: relative;
  background: #fff;
}
.header-log, .logo-head {
  max-width: 1260px;
  box-sizing: border-box;
  margin: 0 auto;
}
.inner-header-one {
  box-shadow: 0 2px 10px -10px rgba(0,0,0,0.5);
}
/*.inner-header-two {
  border-bottom: 2px solid #314f71;
  box-shadow: 0 2px 10px -5px #000;
}*/
.header-log {
  padding: 16px 0;
}
.header-log ul {
  float: right;
}
.header-log ul li {
  float: left;
  border-right: 1px solid #b6b6b6;
}
.header-log ul li+li {
  margin: 0 0 0 18px;
}
.header-log ul li a {
  float: left;
  font-size: 14px;
  line-height: 19px;
  color: #314f71;
  text-transform: capitalize;
}
.header-log ul li a img {
  margin: 0 6px 0 0;
}
.color01 {
  color: #EC7B5E !important;
}
.header-log ul li a:hover, .color01:hover {
  color: #40a9ff !important;
}
.logo {
  float: left;
}
.logo-head  nav ul li {
  float: left;
  position: relative;
}
.logo-head nav ul li:first-child {
    margin: 0 0 0 -18px;
}
.logo-head  nav ul li a {
  font-size: 14px;
  line-height: 17px;
  color: #314f71;
  height: 45px;
  line-height: 42px;
  padding: 0 18px;
  display: block;
  text-transform: uppercase;
}
.logo-head #nav li a:hover, .logo-head #nav li a:focus {
  color: #fff;
  background: #314f71;
}
#nav li .dropdown-menu {
  display: none;
  position: absolute;
  left: 0;
  padding: 0;
  margin: 0;
  margin-top: 0;
  text-align: left;
  background: #324f71;
  width: 100%;
  border-radius: 0;
  z-index: 99;
}
#nav li .dropdown-menu.active {
  display: block;
}
#nav li a.dropdown-toggle.active {
  background-color: #324f71;
  color: #fff;
}
#nav li .dropdown-menu a {
  color: #fff;
}
.main-banner {
  position: relative;
}
.main-banner, .main-banner img {
  width: 100%;
}
.banner-text {
  font-size: 42px;
  line-height: 42px;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 100px;
  box-sizing: border-box;
  color: #fff;
  z-index: 9;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
}
#main {
  max-width: 1260px;
  margin: 0 auto;
  padding: 20px 15px 0;
  box-sizing: border-box;
}
.ventas {
  float: left;
  width: 66%;
}
.section-heading {
  color: #121d33;
  font-size: 30px;
  line-height: 1.17;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 40px;
}
.section-heading img {
  margin: 0 14px 0 0;
  width: 20px;
}
.ventas-form ul {
  float: left;
  width: 47%;
}
.ventas-form ul:nth-child(2) {
  margin: 0 0 0 6%;
}
.ventas-form ul li {
  margin: 0 0 10px;
}
.ventas-form ul li .label-head {
  display: block;
  color: #545859;
  line-height: 1.2em;
  font-size: 13px;
  margin: 0;
  cursor: default;
}
.ventas-form ul li input[type="text"] {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #c2c2c2;
  height: 40px;
  line-height: 40px;
}
.ventas-form ul li p {
  padding: 6px 0 0 0;
  line-height: 10px;
  font-size: 15px;
  color: #545859;
}
.ventas-form ul li.clearfix label {
  margin: 0 0 10px;
}
.ventas-form ul li p label {
  margin: 0 0 5px;
}
.ventas-form ul li input[type="radio"] {
  display: inline-block;
  margin: 2px 10px 0 0;
}
.ventas-text p {
  width: 47%;
  text-align: justify;
  color: #545859;
  line-height: 1.5;
  font-size: 12px;
}
.otros {
  float: left;
  width: 34%;
  box-sizing: border-box;
  padding: 0 0 0 42px;
}
.otros ul li {
  margin: 0 0 26px;
}
.otros ul li a {
  max-width: 250px;
  display: block;
  height: 54px;
  box-sizing: border-box;
  line-height: 52px;
  border: 1px solid #ec7b5e;
  text-align: center;
  color: #545859;
  font-size: 18px;
  text-transform: uppercase;
}
.otros ul li a:hover {
  background: #ec7b5e;
  color: #fff;
}
.contact-banner {
  margin: 190px 0 2px;
  position: relative;
}
.banner-margin {
  margin: 2px 0;
}
.contact-banner img {
  width: 100%;
  filter: grayscale(100%);
}
.contact-number {
  position: absolute;
  right:  50px;
  top: 10px;
  color: #fff;
  z-index: 9;
  font-size: 22px;
  line-height: 22px;
}
.contect-link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0 100px;
  background: rgba(0,0,0,0.7);
  box-sizing: border-box;
  align-items: center;
  justify-content: space-around;
}
.contect-link a {
  background: rgba(0,0,0,0.4);
  height: 54px;
  line-height: 54px;
  color: #fff ;
  font-size: 22px;
  border: 1px solid #fff;
  padding: 0 24px;
  display: inline-block;
  border-radius: 50px;
  transition: all 0.3s;
}
.contect-link a:hover {
  background: #fff;
  color: #000;
}
#footer {
  background: #00204a;
}
.inner-footer {
  max-width: 1150px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 40px 15px 10px;
  /*padding: 90px 15px 80px;*/
  display: flex;
  border-bottom: 1px solid #2a3448;
}
.inner-footer .foot-box {
  float: left;
  width: 20%;
}
.inner-footer .foot-box:nth-child(2) {
  width: 25%;
}
.inner-footer .foot-box:nth-child(3) {
  width: 35%;
}
.inner-footer .foot-box:nth-child(4) a {
  display: inline-block;
}
.inner-footer .foot-box h3 {
  font-size: 18px;
  line-height: 18px;
  margin: 0 0 30px;
  color: #7a7d85;
  font-weight: bold;
  text-transform: uppercase;
}
.foot-logo {
  display: flex;
  align-items: center;
}
.foot-line-one li {
  margin: 0 0 24px;
}
.foot-line-one li a {
  color: #fff;
  font-size: 14px;
  line-height: 14px;
}
.foot-line-one li a:hover {
  color: #ec7b5e;
}
.contact-first {
  margin: 0 0 23px;
}
.contact-first img {
  float: left;
}
.contact-first p {
  overflow: hidden;
  font-weight: bold;
  color: #fff;
  font-size: 18px;
  padding: 0 0 0 8px;
}
.contact-first p label {
  display: block;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}
.social-icons {
  margin: 0 0 24px;
}
.social-icons li {
  float: left;
}
.social-icons li+li {
  margin: 0 0 0 6px;
}
.mat-05 {
  margin: 5px 0;
  display: inline-block;
}
.copyright {
  font-size: 14px;
  line-height: 14px;
  padding: 22px 0;
  text-align: center;
  /*border-top: 1px solid #2a3448;*/
  color: #fff;
}
/* how its works
=================================================*/
.como-function {
  position: relative;
}
.como-function .function-banner-img {
  width: 100%;
  height: 100vh;
}
.inner-como-function {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.function-bars {
  max-width: 690px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}
.function-bars h2 {
  font-size: 42px;
  line-height: 42px;
  text-transform: uppercase;
  margin: 80px 0 30px 0;
  padding: 34px 0;
  border-bottom: 2px solid #fff;
  font-weight: bolder;
}
.function-text {
  font-size: 18px;
  line-height: 34px;
  margin: 0 0 100px;
}
.function-list {
  max-width: 1150px;
  margin: 0 auto;
}
.function-list ul li {
  float: left;
  width: 30%;
  margin: 0 1.5%;
  text-align: center;
}
.function-list ul li p {
  margin: 26px 0 0 0;
  font-size: 20px;
  line-height: 40px;
  color: #fff;
}
.function-list ul li p span {
  font-size: 15px;
  line-height: 24px;
  display: block;
}
.function-list ul li p span a {
  color: #fff;
  text-decoration: underline;
}
.platform-heading {
  border-spacing: 0 40px;
  color: #000;
}
.platform-heading h2 {
  font-size: 30px;
  line-height: 1.17;
  font-weight: bold;
  margin: 0 0 26px 0;
  text-transform: uppercase;
}
.platform-heading p {
  font-size: 20px;
  line-height: 34px;
  max-width: 800px;
  box-sizing: border-box;
}
.platform-heading p a {
  color: #ec7b5e;
  display: inline-block;
  margin: 10px 60px 0 0;
  font-size: 18px;
  line-height: 18px;
}
.beneficios h2 {
  font-size: 30px;
  line-height: 1.17;
  color: #000;
  font-weight: bold;
  text-align: center;
  margin: 120px 0 40px;
  text-transform: uppercase;
}
.beneficios ul {
  margin: 0 0 160px;
}
.beneficios ul li {
  float: left;
  width: 33.33%;
  box-sizing: border-box;
  border: 1px solid #fff;
  box-shadow: 0 0 10px -5px #fff;
  padding: 74px 0 0;
  transition: all 0.4s;
}
.beneficios ul li a {
  display: block;
  position: relative;
  transition: all 0.4s;
}
.beneficios ul li a .transparent {
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7));
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}
.beneficios ul li a .transparent .inner-trans {
  box-sizing: border-box;
  padding: 20px 32px;
  transition: all 0.4s;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
}
.beneficios ul li a .transparent .inner-trans h3 {
  font-size: 30px;
  line-height: 30px;
  color: #fff;
  transition: all 0.6s;
  padding: 12px 0 8px;
  width: 100%;
}
.beneficios ul li a .transparent .inner-trans h3 img {
  margin: 0 0 25px;
}
.beneficios ul li a .transparent .inner-trans h3 span {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}
.benef-text {
  display: none;
  margin: 30px 0 0 0;
  font-size: 18px;
  line-height: 24px;
  transition: all 0.4s;
  color: #000;
}
.beneficios ul li:hover {
  padding: 0px 0 0;
  box-shadow: 0 3px 10px -5px #000;
  border: 0;
}
.beneficios ul li:hover a .transparent {
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
}
.beneficios ul li:hover a .transparent .inner-trans {
  background: #fff;
  bottom: auto;
  top: 190px;
  height: 400px;
  align-items: flex-start;
  box-shadow: 0px 3px 14px -6px #000;
}
.beneficios ul li:hover a .transparent .inner-trans h3 {
  color: #000;
  padding: 12px 0 30px;
  border-bottom: 1px solid #bfbfbf;
}
.beneficios ul li:hover .benef-text {
  display: block;
}
.modelo {
  position: relative;
  padding: 376px 0 0 0;
  background: url(../img/img_how_its_banner02.png) no-repeat scroll 0 0 / 100% 100%;
}
.modelo-content {
  max-width: 1150px;
  margin: 0 auto;
}
.modelo-content h3 {
  font-size: 42px;
  line-height: 42px;
  color: #fff;
  margin: 0 0 115px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}
.modelo-content h3 span {
  display: inline-block;
  height: 2px;
  background: #fff;
  width: 260px;
  margin: 34px 0 0;
}
.modelo-numbers ul {
  padding: 0 0 130px;
}
.modelo-numbers ul li {
  float: left;
  width: 33.33%;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  padding: 0 10px;
  min-height: 312px;
}
.all-product {
  text-align: center;
  padding: 0 0 110px;
}
.all-product a {
  font-size: 20px;
  line-height: 20px;
  color: #a23c22;
  font-weight: bold;
}
.modelo-numbers li span {
  display: inline-block;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  color: #fff;
  line-height: 130px;
  font-size: 72px;
  border: 3px solid #fff;
  font-family: Myriad Pro;
}
.modelo-numbers li h4 {
  font-size: 20px;
  line-height: 20px;
  margin: 75px 0 15px;
}
.modelo-numbers li p {
  font-size: 15px;
  line-height: 24px;
}
.modelo-numbers li p a {
  color: #fff;
  text-decoration: underline;
}
/* Nosotros
================================*/
.about-us {
  max-width: 550px;
  margin: 170px auto 100px;
  padding: 0 10px;
}
.about-us h2 {
  text-align: center;
}
.about-us h2 span {
  display: inline-block;
  background: #314f71;
  color: #fff;
  padding: 16px 35px;
  font-size: 30px;
  line-height: 1.17;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}
.about-us h2 span:before {
  position: absolute;
  content: '';
  left: -1px;
  bottom: -8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 5px 200px;
  border-color: transparent transparent transparent #ffffff;
  transform: rotate(1.5deg);
}
.about-us h2 span:after {
  position: absolute;
  content: '';
  right: -1px;
  bottom: -8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 200px 5px 0;
  border-color: transparent #ffffff transparent transparent;
  transform: rotate(-1.5deg);
}
.about-us p {
  color: #545859;
  font-size: 20px;
  line-height: 36px;
  margin: 80px 0 0 0;
  text-align: justify;
}
.nosotros-main {
  padding: 0;
}
.Soluciones {
  padding: 170px 0 300px;
  background-image: asset-url("img_banner01.png") no-repeat scroll 0 0 / 100% 100%;
}
.Soluciones h2 {
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  color: #fff;
  font-width: bolder;
  text-transform: uppercase;
  margin: 0 0 90px
}
.nosotros-main {
  padding: 160px 0 0 0;
}
.nosotros-main h2 {
  font-size: 30px;
  line-height: 1.17;
  color: #000;
  font-weight: bold;
  text-align: center;
  margin: 0 0 50px;
  text-transform: capitalize;
}
.three-section-parts ul li {
  float: left;
  width: 25%;
  text-align: center;
  transition: all 0.6s;
  position: relative;
}
.three-section-parts ul li img { 
  position: absolute;
  width: auto;
  left: 50%;
  top: 0;
  margin: 0 0 0 -44px;
  opacity: 0;
  transition: all 0.6s;
}
.part-two img , .part-four img {
  top: auto !important;
  bottom: 0 !important;
  margin: 0 0 0 -50px !important;
}
.three-section-parts ul li .arrow-direction {
  text-align: left;
  min-height: 280px;
  padding: 200px 40px 140px 40px;
  transition: all 0.6s;
}
.three-section-parts ul li .arrow-direction h4 {
  font-size: 22px;
  line-height: 22px;
  margin: 0 0 20px;
  color: #545859;
  font-weight: bold;
  transition: all 0.6s;
}
.three-section-parts ul li .arrow-direction p {
  color: #545859;
  font-size: 15px;
  line-height: 24px;
  text-align: justify;
  opacity: 0;
  transition: all 0.6s;
}
.part-one .arrow-direction {
  background-image: asset-url("img_arrow01.png") no-repeat scroll 0 140px;
}
.part-one:hover .arrow-direction {
  background-image: asset-url("img_arrow_hover01.png") no-repeat scroll 0 140px;
}
.three-section-parts ul li:hover img {
  opacity: 1;
}
.three-section-parts ul li:hover .arrow-direction h4 {
  color: #EC7B5E;
}
.three-section-parts ul li:hover .arrow-direction p {
  opacity: 1;
}
.part-two .arrow-direction {
  background: url(../img/img_arrow02.png) no-repeat scroll -40px 140px;
}
.part-two:hover .arrow-direction {
  background: url(../img/img_arrow_hover02.png) no-repeat scroll -40px 140px;
}
.part-three .arrow-direction {
  background: url(../img/img_arrow03.png) no-repeat scroll -48px 140px;
}
.part-three:hover .arrow-direction {
  background: url(../img/img_arrow_hover03.png) no-repeat scroll -48px 140px;
}
.part-four .arrow-direction {
  background: url(../img/img_arrow04.png) no-repeat scroll -48px 140px;
}
.part-four:hover .arrow-direction {
  background: url(../img/img_arrow_hover04.png) no-repeat scroll -48px 140px;
}
/* mis-pedodos
==================================*/
.nombre {
  float: left;
  width: 70%;
}
.mis-pedodos {
  margin: 50px auto 0 !important;
}
.h3-basic {
  font-size: 18px;
  line-height: 25px;
  color: #152024;
  font-weight: bold;
  padding: 0 0 10px;
  box-sizing: border-box;
  /*border-bottom: 1px solid #121d33;*/
  margin: 0 0 26px;
}
.nombre-list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.nombre-list ul li {
  position: relative;
  width: 47%;
  background: #f9f9f9;
  box-shadow: 2px 2px 5px -4px #000;
  padding: 14px 10px;
  margin: 0 0 32px;
  display: flex;
  align-items: center;
  border: 1px solid #f5f5f5;
}
.pro-selected {
  float: left;
}
.pro-selected input {
  height: 18px;
  width: 18px;
}
.pro-img {
  float: left;
  margin: 0 15px 0 6px;
}
.pro-img a {
  transition: all 0.3s;
}
.pro-img a img {
  width: 144px;
}
.pro-img a p {
  height: 22px;
  line-height: 22px;
  text-align: center;
  border-top: 1px solid #fff;
  background: #ec7b5e;
  color: #fff;
  font-size: 12px;
  transition: all 0.3s;
}
.pro-img a:hover p {
  background: #5081bc;
}
.pro-name {
  float: left;
  color: #152024;
  font-size: 12px;
  line-height: 18px;
}
.pro-name h4 {
  font-size: 16px;
  line-height: 14px;
  margin: 0 0 6px;
}
.pro-name p {
  font-size: 20px;
  color: #5081bc;
  line-height: 20px;
  margin: 4px 0;
}
.pro-name p span {
  float: left;
  display: inline-block;
  margin: 2px 0 0 0;
}
.pro-name p .fa {
  float: left;
  font-size: 12px;
  line-height: 17px;
  font-weight: normal;
  height: 20px;
  width: 20px;
  margin: 0 0 0 2px;
  border: 2px solid #ec7b5e;
  color: #ec7b5e;
  text-align: center;
  display: inline-block;
  border-radius: 25px;
}
.close-btn {
  position: absolute;
  right: -10px;
  top: -8px;
  height: 21px;
  line-height: 21px;
  width: 21px;
  text-align: center;
  border-radius: 25px;
  border: 2px solid #c6c6c7;
  color: #949697;
  background: #f9f9f9;
  box-shadow: 2px 2px 5px -4px #000;
  cursor: pointer;
}
.close-btn .fa {
  line-height: 18px;
  font-size: 12px;
}
.h2-basic {
  color: #314f71;
  font-size: 18px;
  line-height: 18px;
  margin: 0 0 14px 0;
  padding: 0 0 0 30px;
}
.preguntas {
  padding: 0 0 0 30px;
}
.preguntas ul li {
  font-size: 14px;
  line-height: 34px;
  margin: 0 0 16px;
}
.preguntas ul li h2 {
  color: #152024;
}
.preguntas ul li p {
  color: #545859;
  padding: 0 0 0 34px;
}
.preguntas ul li a {
  color: #5081bc;
  font-size: 12px;
  font-weight: bold;
}
.contestar-link {
  font-size: 13px;
  line-height: 13px;
  font-weight: bold;
  text-align: right;
  padding: 0 21% 4px 0 !important;
}
.contestar-link a {
  color: #314f71 !important;
  text-decoration: underline;
}
.list-input {
  padding: 0 0 0 30px;
}
.list-input input {
  height: 43px;
  line-height: 43px;
  display: block;
  float: left;
  width: 80%;
  border: 1px solid #ec7b5e;
  box-sizing: border-box;
  padding: 0 10px;
  color: #ec7b5e;
}
.list-input button {
  float: left;
  width: 19.5%;
  margin: 0 0 0 0.5%;
  background: #5081bc;
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 42px;
  box-sizing: border-box;
  border: 1px solid #5081bc;
}
.terms-condition p {
  font-size: 12px;
  margin: 0 0 40px;
  line-height: 18px;
  text-align: center;
}
.terms-condition p a {
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #314f71 !important;
  text-decoration: underline;
}
.Ver-más {
  padding: 6px 0 0 0 !important;
  border-top: 2px dotted #616465;
  max-width: 650px;
  margin: 0 auto 40px !important;
}
.Cotizaciones {
  float: left;
  width: 27%;
  margin: 0 0 0 3%;
}
.table-responsive {
  border: none;
}
.inner-bill {
  border: 1px solid #314f71;
}
.inner-bill h4 {
  background: #314f71;
  color: #fff;
  height: 20px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
}
.inner-bill ul {
  padding: 0 8px 12px;
}
.inner-bill ul li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #121d33;
  padding: 12px 0;
}
.cancel-product {
  float: left;
  width: 10%;
}
.cancel-product .fa {
  width: 10%;
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  height: 20px;
  width: 20px;
  margin: 0 0 0 2px;
  border: 2px solid #949697;
  color: #949697;
  text-align: center;
  display: inline-block;
  border-radius: 25px;
}
.add-pro-details {
  float: left;
  width: 80%;
  padding: 0 0 0 10px;
  box-sizing: border-box;
}
.add-pro-details h2 {
  font-size: 14px;
  line-height: 20px;
}
.add-pro-details p {
  font-size: 11px;
}
.add-pro-details p span {
  font-size: 16px;
  color: #5081bc;
  display: block;
  font-weight: bold;
}
.view-pro {
  float: left;
  width: 10%;
  text-align: right;
}
.view-pro a {
  color: #314f71;
  font-size: 20px;
}
.total-pricing {
  padding: 0 8px;
}
.total-pricing p {
  padding: 0 0 0 14%;
  font-size: 14px;
  line-height: 21px;
}
.total-pricing span {
  color: #5081bc;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}
.total-pricing button {
  height: 32px;
  line-height: 32px;
  background: #314f71;
  color: #fff;
  font-size: 16px;
  border: none;
  padding: 0 12px;
  margin: 20px 0;
}
.available {
  padding: 20px 0 0 0;
}
.available p {
  padding: 15px 10px 0;
  font-size: 11px;
  color: #545859;
}


/***************mis_vehiculospage********************/

.filter_icon img {
    margin: 0 6px 0 0;
}
.fiter_bdy {
    float: left;
    font-size: 11px;
    line-height: 15px;
    color: #5458590;
    font-weight: 800;
    text-transform: capitalize;
}
.fiter_bdy:hover {
   
    color: #414141;
   
}
.vehículos-list ul li {
    position: relative;
    width: 25.3%;
    background: #f9f9f9;
    box-shadow: 2px 2px 5px -4px #000;
    margin: 0 0 95px;
}
.vehículos-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.bmw-one{
  overflow: hidden;
    display: flex;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}
.bmw-one img{
  float: left;
}
.bmw-one h2{
    font-size: 20px;
    line-height: 20px;
    padding: 0 0 0 15px;
    box-sizing: border-box;
    font-weight: bold;
}
.bmw-one h2 span{
  display: block;
    font-size: 12px;
    overflow: hidden;
}
.bmw-one h2 span .blue_bm{
  color:#5081bc;
    display: inline;
    font-size: 14px;
    font-weight: bold;
}
.bmw-two{
  background: #e5e5e5;
    text-align: center;
    padding: 15px 0;
    box-sizing: border-box;
}
.two-detail p {
    font-size: 12px;
    line-height: 25px;
}
.two-detail h6 {
    font-size: 14px;
    font-weight: bold;
}
.ve_btn {
    background: #5081bc;
    font-size: 12px;
    color: #fff;
    line-height: 30px;
    display: block;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 3px;
}
.enquiry_form.modal-content {
    border-radius: 0px !important;
}
.editar {
  padding: 20px 0;
  border-bottom: 2px solid #4f81bc;
  margin: 0 0 40px 0;
  position: relative;
}
.editar h5{
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  line-height: 15px;
}
.popup {
  text-align: center;
}
.popup input[type=text], select, textarea {
  width: 245px;
  padding: 4px 5px;
  border: 1px solid #314455;
  border-radius: none;
  box-sizing: border-box;
  resize: vertical;
}
.popup label {
  margin-right: 15px;
}
.popup p {
   margin-bottom: 25px;
}
.my-model-body {
    width: 490px;
}
ul.model_inputs {
  margin: 0 0 30px 0;
  overflow: hidden;
}

ul.model_inputs li {
   
   float: left;

}
ul.model_inputs li:first-child{
  width: 35%;
  text-align: right;
  font-weight: bold;
}
ul.model_inputs li:nth-child(2){
  width: 65%;
  
}
.close-icon-top {
  opacity: 1;
}
.close-icon-top img {
  position: absolute;
  right: -15px;
  top: -15px;
  cursor: pointer;
}
.model-footer-btn {
  background: #5081bc;
  display: block;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
}
/****************middmenu css***************************/
.midd_menu {
    
    padding: 20px 0;
    box-sizing: border-box;
}
.midd_menu ul {
    margin: 0;
    padding: 0;
    
}
.midd_menu ul li {
        display: table-cell;
        width: 276px;
        border-bottom: 2px solid #314f6f;
}
li.active_org {
    border-bottom: 2px solid #ed7b5e!important;
}
.midd_menu ul li a {
    text-align: center;
    color: #000;
    font-weight: bold;
}
span.count_value {
    padding: 0px 30px;
}
.midd_menu ul li a i {
    font-weight: bold;
}

.back_btn {
    padding: 20px 20px 16px;
}
.back_btn a {
    color: #ed7b5e;
    font-weight: bold;
}
.back_btn a i {
    margin-right: 5px;
    font-weight: bold;
}
/************************************/

/***************mis comras**************/
.comras_list {
    background: #f9f9f9;
    box-shadow: 2px 1px 1px #ccc;
    padding: 2px 0px 38px 0px;
    box-sizing: border-box;
     margin-bottom: 30px;
}
.comras_list h3 {
    font-size: 20px;
    line-height: 30px;
}
.comras_desk {
    float: left;
}
.btn_box {
    float: right;
}
.comras_desk p {
    font-size: 12px;
    line-height: 23px;
}
.comras_desk p span {
    color: #5081bc;
    font-size: 16px;
    font-weight: bold;
}
a.btn_view_mr {
    display: inline-block;
    font-size: 15px;
    color: #fff;
    background: #5081bc;
    line-height: 30px;
    text-align: center;
    width: 118px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-right: 25px;
    text-transform: uppercase;
}
.btn_footer_slide {
    background: #04204a;
    color: #fff;
    border: 1px solid #04204a;
    border-bottom: none;
    padding: 4px 12px;
   /* padding: 10px 12px;*/
    border-radius: 2px;
    text-transform: uppercase;
    outline: none;
    /*position: absolute;*/
   /* left: 46%;
    bottom: 100%;*/
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    font-size: 12px;
    letter-spacing: 0.8;
}
.footer_fixed{
  width: 100%;
    margin-top: 280px;
}
.footer-card__image__icon {
    color: #ff6600;
     font-size: 14px !important; 
}
#main{
  margin-bottom: 66px;
}
.cart_ex_mr{
   margin-right: 14px !important;
}
.btn_footer_slide i {
    font-size: 17px;
    font-weight: 600;
}
.button_body_down {
    background: transparent;
    text-align: center;
}
/* Responsive
================================*/
@media screen and (max-width: 1350px){
.modelo-content {
  margin: 184px auto 0;
}
}
@media screen and (max-width: 1200px){
  .function-banner-img, .function-banner-img01 {
    display: none;
  }
  .inner-como-function {
    position: static;
    background: url('../img/img_how_its_banner01_sp.png') no-repeat scroll center center / cover;
    padding: 0 0 80px;
    height: auto;
    margin: 0 0 40px;
  }
  .function-bars h2 {
    margin: 0px 0 30px 0;
    padding: 50px 0 34px;
  }
  .beneficios h2 {
    margin: 50px 0 30px;
  }
  .inner-modelo {
    height: auto;
    position: static;
  }
  .modelo-content {
    margin: 0;
    padding: 40px 0;
  }
  .modelo-content h3 {
    padding: 0 0 0 40px;
    margin: 0 0 40px;
  }
  .modelo-content h3 span {
    margin: 16px 0 0 34px;
  }
  .modelo-numbers {
    max-width: 100%;
  }
  .modelo-numbers ul li {
    width: 33.33%;
    margin: 0;
  }
  .modelo-numbers ul li + li, .li-des-margin {
    margin: 10px 0 30px !important;
  }
}
@media screen and (max-width: 1150px){
  .ventas-text p {
    width: 100%;
  }
  .nombre {
    float: none;
    width: 100%;
  }
  .Cotizaciones {
    float: none;
    width: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 1100px){
  .inner-footer {
    padding: 30px 0 0;
    display: block;
  }
  .inner-footer .foot-box:nth-child(2) {
    width: 20%;
  }
  .inner-footer .foot-box:nth-child(3) {
    width: 50%;
  }
  .inner-footer .foot-box:nth-child(4) {
    width: 30%;
  }
  .foot-logo {
    width: 100% !important;
    margin: 0 0 20px;
  }
}
@media screen and (max-width: 1024px){
  #header, .banner-text, .contect-link, #footer {
    padding: 0 12px;
  }
  #main {
    padding: 30px 12px 0;
  }
  .banner-text, .section-heading {
    font-size: 26px;
    line-height: 26px;
  }
  .section-heading img {
    margin: 0 14px 0 0;
    width: 15px;
  }
  .section-heading {
    margin: 0 0 20px;
  }
  .ventas {
    float: left;
    width: 60%;
  }
  .ventas-form ul {
    float: none;
    width: 100%;
    font-weight: normal;
  }
  .ventas-form ul li {
    margin: 0 0 16px;
  }
  .ventas-form ul li .label-head {
    font-size: 14px;
    line-height: 14px;
    margin: 0;
    font-weight: normal;
  }
  .ventas-form ul li input[type="text"] {
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #707070;
  }
  .ventas-form ul:nth-child(2) {
    margin: 0;
  }
  .otros {
    width: 40%;
    padding: 0 0 0 20px;
  }
  .otros .section-heading {
    margin: 0px 0 20px;
  }
  .otros ul li {
    margin: 0 0 14px;
  }
  .otros ul li a {
    height: 50px;
    font-size: 20px;
    border: 1px solid #ec7b5e;
    line-height: 48px;
  }
  .ventas-form ul li p {
    float: left;
    width: 50%;
    padding: 10px 0 0 12px;
    line-height: 26px;
    font-size: 14px;
    font-weight: normal;
  }
  .ventas-form ul li p label {
    font-weight: normal;
  }
  .ventas-form ul li input[type="radio"] {
    margin: 7px 10px 0 0;
    float: left;
  }
  .ventas-text p {
    font-size: 13px;
    line-height: 21px;
  }
  .contact-banner {
    margin: 0px 0 2px;
  }
  .three-section-parts {
    margin: 0 0 40px;
  }
}
.logo-sp, .menu-sp, .benef-image-sp {
  display: none;
}
.header-log ul li a .fa {
  display: none;
}
.benef-image-pc {
  display: block;
}
@media screen and (max-width: 991px){
  .cart_ex_mr{
   margin-right: 0px !important;
}
  .logo-sp {
    display: block;
    float: left;
  }
  .benef-image-sp {
    display: block;
    width: 100%;
  }
  .logo, .benef-image-pc {
    display: none;
  }
  .header-log ul li a {
    background: #000;
    border-radius: 50px;
    width: 24px;
    color: #fff ;
    height: 24px;
    text-align: center;
    transition: all 0.2s;
  }
  .header-log ul li a img {
        margin: 0 6px 0 0;
  }
  .header-log ul li a span {
    display: none;
  }
  .header-log ul li + li {
    margin: 0 0 0 12px;
  }
  .header-log ul li a .fa {
    display: block;
    font-size: 14px;
    line-height: 23px;
  }
  .menu-sp {
    display: block;
  }
  .contect-link a {
    height: 45px;
    line-height: 44px;
    font-size: 16px;
  }
  .logo-head {
    display: none;
    padding: 0;
    position: absolute;
    left: 0;
  top: 100%;
  width: 100%;
  background: #fff;
  z-index: 99999;
  }
  .logo-head nav {
    float: none;
    padding: 0 12px;
  }
  .logo-head nav ul li {
    float: none;
    border-bottom: 1px solid #eaeaea;
  }
  .logo-head nav ul li + li {
    margin: 0;
  }
  .logo-head nav ul li a {
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
  }
  
  .logo-head nav ul li a:hover {
    letter-spacing: 2px;
  }
  .inner-footer .foot-box h3 {
    font-size: 16px;
    line-height: 16px;
    margin: 0 0 10px;
  }
  .foot-line-one li {
    margin: 0 0 10px;
  }
  .inner-como-function{
    padding: 0 0 5px;
    margin: 0;
  }
  .function-text {
    margin: 30px 0px;
    font-size: 14px;
    line-height: 22px;
    padding: 0 10px;
    font-weight: bold;
  }
  .function-list ul {
    padding: 0 10px;
  }
  .function-list ul li {
    width: 97%;
    margin: 0 1.5% 10%;
  }
  .beneficios ul {
    margin: 0;
  }
  .beneficios ul li {
    width: 100%;
    padding: 0;
    margin: 0 0 15px;
  }
  .function-list ul li p {
    margin: 10px 0 0 0;
    font-size: 16px;
    line-height: 30px;
    font-weight: bold;
  }
  .function-list ul li p span {
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
  }
  .beneficios ul li:hover a .transparent .inner-trans {
    bottom: 0;
    top: auto;
  }
  .modelo {
    background: #ec7b5e;
    padding: 20px 0 0 0;
  }
  .platform-heading h2, .function-bars h2, .modelo-content h3, .beneficios h2 {
    text-align: center;
    line-height: 26px;
    margin: 0;
    padding: 10px 0px;
    font-size: 20px;
  }
  .beneficios h2 {
    margin: 20px 0 0 0;
  }
  .function-bars h2 {
    padding: 10px 0px;
    font-size: 20px;
  }
  .platform-heading p {
    font-size: 13px;
    line-height: 20px;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
  }
  .platform-heading p a {
      margin: 20px 10px 0;
  }
  .contact-first p {
    font-size: 14px;
  }
  .modelo-content {
    padding: 20px 0;
  }
  .modelo-content h3 {
    padding: 0;
    margin: 0 0 40px;
  }
  .modelo-content h3 span {
    margin: 16px 0 0;
  }
  .modelo-numbers ul {
    padding: 0 0 10px;
  }
  .modelo-numbers ul li, .modelo-numbers ul li + li, .li-des-margin {
    width: 100%;
    margin: 0px 0 30px !important;
    min-height: auto;
  }
  .modelo-numbers li span {
    width: 60px;
    height: 60px;
    line-height: 57px;
    font-size: 36px;
    border: 2px solid #fff;
  }
  .modelo-numbers li h4 {
    margin: 10px 0 6px;
  }
  .all-product{
    padding: 0 0 20px;
  }
  .about-us {
    max-width: 550px;
    margin: 20px auto;
  }
  .about-us h2 span {
    padding: 10px 20px 15px;
    font-size: 18px;
  }
  .about-us p {
    font-size: 15px;
    line-height: 24px;
    margin: 10px 0 0 0;
  }
  .three-section-parts {
    margin: 0;
  }
  .nosotros-main h2 {
    font-size: 30px;
    margin: 20px 0;
  }
  .Soluciones {
    padding: 30px 0;
    background: url(../img/img_banner_sp01.png) no-repeat scroll 0 0 / 100% 100%;
  }
  .Soluciones h2 {
    font-size: 26px;
    line-height: 26px;
    margin: 0 0 30px;
  }
  .Soluciones .function-list ul li {
    width: 100%;
    margin: 0 0 3%;
  }
  .three-section-parts ul li img {
    position: static;
    opacity: 1;
    float: left;
    margin: 0 10px;
    width: 70px;
  }
  .part-two img, .part-four img {
    margin: 12px 10px 0 20px !important;
  }
  .three-section-parts ul li {
    width: 50% !important;
    margin: 0 0 20px;
  }
  .three-section-parts ul li .arrow-direction {
    padding: 10px 0 0;
    overflow: hidden; 
    min-height: 100%;
  }
  .three-section-parts ul li .arrow-direction h4 {
    margin: 0 0 6px;
    font-size: 18px;
    line-height: 18px;
  }
  .three-section-parts ul li .arrow-direction p {
    opacity: 1;
    padding: 0 10px 0 0;
    font-size: 13px;
    line-height: 20px;
  }


  /************extracss**********/
  .header-log ul li {
    float: left;
    border-right: none;
}
.mydrop li {
    display: block !important;
    margin: 0 !important;
}
.mydrop li a {
    padding: 25px 13px !important;
    border-bottom: 1px solid #a7a5a7;
    box-sizing: border-box;
    border-bottom: 1px solid #a7a5a7;
    font-size: 12px !important;
    color: #314f71!important;
    background: transparent !important;
    width: auto!important;
    border-radius: 0!important;
    height: auto!important;
}
.mydrop li a img {
    margin: 0px 12px 0 0;
}
.mydrop:before {
    background: url(../img/try.png);
    content: "";
    background-repeat: no-repeat;
    width: 28px;
    height: 10px;
    position: absolute;
    top: -10px;
    left: 50%;
    margin: 0 0 0 -14px;
}
.inner-header-two {
  border-bottom: none !important;
  box-shadow: none !important;
}
}
.banner-pc {
  display: block;
}
.banner-sp {
  display: none;
}
@media screen and (max-width: 768px){
  .banner-pc {
    display: none;
  }
  .banner-sp {
    display: block;
  }
  #main {
    padding: 10px 12px 10px;
  }
  .ventas, .otros {
    float: none;
    width: 100%;
  }
  .otros {
    padding: 25px 0 0 0;
  }
  .otros ul li a {
    max-width:100%;
  }
  .contect-link {
    background: #EC7B5E;
    position: static;
    height: auto;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0;
    text-align: center;
  }
  .contect-link a {
    margin: 10px 16px;
    width: 260px;
  }
  .foot-logo {
    padding: 0 0 15px;
  }
  .inner-footer .foot-box {
    width: 100% !important;
    float: none;
    margin: 0 0 15px;
    border-bottom: 1px solid #a7a7a7;
  }
  .inner-footer .foot-box:nth-child(4) {
    border: none;
  }
  .mat-05 {
    margin: 5px 0 15px;
  }
  .contact-banner img {
    width: 100%;
    height: 140px;
  }
  .contact-number {
    right: 0;
    top: 0;
    width: 100%;
    height: 139px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.4);
  }
  .beneficios ul li a .transparent .inner-trans {
    padding: 20px;
  }
  .beneficios ul li:hover a .transparent .inner-trans {
    padding: 20px;
    height: 200px;
  }
  .beneficios ul li a .transparent .inner-trans h3 img {
    width: 22px;
    margin: 0 0 8px;
  }
  .beneficios ul li a .transparent .inner-trans h3 {
    font-size: 22px;
    line-height: 22px;
    font-weight: bold;
  }
  .beneficios ul li:hover a .transparent .inner-trans h3 {
    padding: 0px 0 10px;
  }
  .benef-text {
    margin: 10px 0 0 0;
    font-size: 14px;
    line-height: 21px;
  }
  .three-section-parts ul li {
    width: 100% !important;
    margin: 0 0 30px;
  }
  .three-section-parts ul li img {
    margin: 0 20px 0 10px;
  }
  .part-two img, .part-four img {
    margin: 12px 20px 0 10px !important;
  }
  .mis-pedodos {
    margin: 5px auto 0 !important;
  }
  .h3-basic {
    margin: 0 0 15px;
  }
  .nombre-list ul {
    flex-direction: column;
  }
  .nombre-list ul li {
    width: 100%;
    margin: 0 0 14px;
  }
  .pro-img {
    margin: 0 15px;
  }
  .h2-basic, .preguntas, .list-input {
    padding: 0;
  }
  .contestar-link {
    padding: 10px 0 !important;
  }
  .preguntas ul li p {
    padding: 10px 0 !important;
    margin: 0 0 0px;
  }
  .Ver-más {
    margin: 0 auto !important;
  }
  .benef-image-sp {
    height: 350px;
  }
  .beneficios ul li:hover a .transparent .inner-trans {
    height: 230px;
  }
  .pro-name h4 {
    font-size: 14px;
    font-weight: bold;
  }
  .pro-name p {
    font-size: 15px;
  }
  .nombre-list ul li {
    align-items: initial;
  }
  .pro-img a img {
    width: 100px;
  }
.vehículos-list ul li {
  width: 30%;
 }
 .my-model-body {
  margin: 70px auto !important;
 }
}
@media screen and (max-width: 480px){
  .list-input input, .list-input button {
    width: 100%;
    float: none;
    margin: 0;
    border: 2px solid;
  }
  .vehículos-list ul li {
  width: 100%;
  }
  .bmw-one h2 {
    font-size: 24px;
    line-height: 28px;
    padding: 0 0 0 19px;
    box-sizing: border-box;
    font-weight: bold;
    /* text-align: center; */
}
/************mis_vehiculous**********/
.bmw-one h2 span {
    display: block;
    font-size: 19px;
    overflow: hidden;
}
.bmw-one h2 span .blue_bm {
    color: #5081bc;
    display: inline;
    font-size: 20px;
    font-weight: bold;
}
.bmw-one img {
  width: 15%;
}
.two-detail p {
    font-size: 20px;
    line-height: 40px;
}
.two-detail h6 {
  font-size: 22px;
  line-height: 25px;
}
.ve_btn {
  font-size: 18px;
  line-height: 50px;
}
.vehículos-list ul li {
  margin: 0 0 50px;
}
.my-model-body {
  width: 95%;
 }
 ul.model_inputs li:first-child, ul.model_inputs li:nth-child(2), .popup input[type="text"], select, textarea {
  width: 100%;
  text-align: left;
 }
 span.count_value {
    padding: 0px 10px;
}
/****************/
.btn_footer_slide{
  left: 35%;
}
.btn_footer_slide i {
    font-size: 10px;
}
}
