h1, h2, h3, h4, h5, h6, ul, li, p {
	margin: 0;
	padding: 0;
}
.top-head-pedido {
	font-weight: bold;
	font-size: 14px;
	line-height: 35px;
	color: #171717;
	padding: 0  22px;
	box-sizing: border-box;
}
.top-head-pedido .fa {
	font-size: 15px;
	font-weight: bold;
	margin-right: 5px;
}
.detalle-compra-order {
	background: #f8f9fa;
	padding: 20px 15px !important;
	box-sizing: border-box;
	margin-bottom: 10px;
}
.detalle-compra-content {
	background: #fff;
	border: 2px solid #f2f2f2;
	margin-bottom: 20px;
}
table.a {
  table-layout: auto;
  width: 100%;  
}
table.a th {
	color: #7c7c7c;
	padding: 15px 0;
	box-sizing: border-box;
	border-bottom: 1px solid #f2f2f2;
	font-size: 12px;
}
table.a tr td{
	padding: 10px 0;
	box-sizing: border-box;
}
.table-responsive {

}
.text-right-design {
	text-align: right;
}
.tax-color {
	color: #2b89c3;
	font-weight: bold;
}
.pd-left {
	padding-left: 20px !important;
	box-sizing: border-box;
}
.pd-right {
	padding-right: 20px !important;
	box-sizing: border-box;
}
.border-bottom {
	border-bottom: 1px solid #f2f2f2;
}
.total-baclground {
	background: #f5f5f5;
	font-weight: bold;
	font-size: 16px;
}
/*second*/

.direccon-de {
	background: #fff;
	padding: 20px 0px 20px 20px;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
}
.direccon-de-content h3, .facturacion h3, .historial h3 {
	color: #1c1c1c;
	font-size: 16px;
	line-height: 16px;
	font-weight: bold;
	margin-bottom: 15px;
}
.direccon-de-content {
	width: 52%;
}
.direccon-de-content ul {
	display: flex;
	flex-wrap: wrap;
}
.direccon-de-content ul li {
	width: 50%;
	font-size: 12px;
	line-height: 25px;
}
.direccon-de-content ul li:nth-child(odd), .facturacion p {
 color: #6e777f;
 font-size: 12px;
}
.direccon-de-map {
	width: 48%;
}
.facturacion {
	margin-top: 22px;
}
/*historial*/
.historial {
	background: #fff;
	padding: 20px 20px 20px 20px;
	box-sizing: border-box;
	margin-top: 20px;
}
.full-dropdown .full-input .input-group-btn .btn {
	padding: 8px 12px;
	box-sizing: border-box;
	border: 1px solid #f4f4f4;
  background: #fff;
}
.full-dropdown .full-input .input-group-btn .btn .fa {
	font-size: 16px;
  font-weight: bold;
  color: #9d9d9d;
}
.date {
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	margin: 15px 0;
}
.historial-devide {
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
}
.historial-devide .historial-time {
 width: 23%;
 color: #b0b0b0;
 display: flex;
 align-items: center;
}
.historial-devide .historial-inputs {
	width: 77%;
}
.historial .form-control, .historial select {
	border: 1px solid #f4f4f4;
	box-shadow: none;
  -webkit-box-shadow: none;
   -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none; 
}
.historial .input-group-addon {
	border: 1px solid #f4f4f4;
	background: #fff;
}
.historial select {
	width: 100%;
	position: relative;
	color: #b0b0b0;
}
.historial select + i.fa-angle-down {
  float: right;
  margin-top: -22px;
  margin-right: 10px;
  pointer-events: none;
  background-color: transparent;
  color: #ccc!important;
  font-weight: bold;
  transform: translate(0, 0);
  cursor: pointer;
  font-size: 15px;
}
/*right*/
.detalle-compras-right, .info-de-pago {
	background: #fff;
	padding: 18px 16px;
	box-sizing: border-box;
	border: 2px solid #f2f2f2;
}
.detalle-compras-right h2 {
  font-size: 16px;
  line-height: 14px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #212121;
}
.detalle-compras-right p {
	font-size: 13px;
	line-height: 28px;
}
.detalle-compras-right p img {
	vertical-align: middle;
	padding-right: 10px;
}
.text-color {
	color: #2b89c3;
}
.info-de-pago {
	background: #fff;
	padding: 18px 16px;
	box-sizing: border-box;
	border: 2px solid #f2f2f2;
	margin-top: 20px;
}
.info-de-pago p {
	font-size: 12px;
	line-height: 22px;
}
.info-de-pago p img {
	margin-right: 10px;
	vertical-align: middle;
}
.right-text-pera {
	padding-left: 25px;
	box-sizing: border-box;
}
/*********************heading***************/
.heading_with_btn {
    border-top: 2px solid #272a2c;
    overflow: hidden;
}
.headin_in_left {
    float: left;
}
.headin_in_rigt {
    float: right;
    overflow: hidden;
}
ul.btn_group_bx> li {
    display: inline-block;
}
.heading_btn_green{
	background-color: #94b100;
	color:#fff;
}
.heading_btn_grey{
	background-color: #c3cad0;
	color:#fff;
}
/**********img frame*********/
img.img_fram {
    margin-right: 8px;
}
/**********chat**********/
.chat .chat-history {
  padding: 30px 30px 20px;
  /*border-bottom: 2px solid white;*/
}
.chat .chat-history .message-data {
  margin-bottom: 15px;
}
.chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
}
.chat .chat-history .message {
  color: white;
  padding: 18px 20px;
  line-height: 24px;
    font-size: 14px;
  border-radius: 5px;
  margin-bottom: 30px;
  width: 90%;
  position: relative;
}
.chat .chat-history .message:after {
   content: "";
    position: absolute;
    top: -15px;
    left: 20px;
    border-width: 0 15px 15px;
    border-style: solid;
    border-color: #86ba71 transparent;
    display: block;
    width: 0;
}
.chat .chat-history .you-message {
  background: #86ba71;
  color:#fff;
}
.chat .chat-history .me-message {
  background: #94c1ed;
}
.chat .chat-history .me-message:after {
  border-color: #94c1ed transparent;
    right: 20px;
    top: -15px;
    left: auto;
    bottom:auto;
}
.chat .chat-message {
  padding: 30px;
}
.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
  font-size: 16px;
  color: gray;
  cursor: pointer;
}

.chat-ul li{
    list-style-type: none;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.you {
  color: #86ba71;
}

.me {
  color: #93c1ed;
}
img.img_usr {
    width: 68px;
    height: 68px;
    border-radius: 100%;
    border: 3px solid #7cc88d;
}
.user_img_txt {
    float: left;
    margin-right: 20px;
}
h3.heading_name_chat {
    color: #373b46;
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
}
span.paragp_bt {
    font-size: 16px;
    color: #8b8f98;
}
.chat_desc {
    float: left;
}

.icon_str{
	font-size: 22px;
    line-height: 25px;
    color: #d7dade;
}
.right_star {
    float: right;
}
.modal-header.chat_popup {
    border-bottom: 2px solid #fff;
}
.enquiry_form.modal-content.grey_chat_pop {
    background-color: #f1f5f8;
}
.replay_box {
  
    padding-top: 20px;
}
.modal-body {
    position: relative;
    padding: 15px 0px!important;
}
.chat {
    border-bottom: 2px solid #fff!important;
}
.replay_box {
    /* padding-top: 20px; */
    padding: 20px;
    box-sizing: border-box;
}
.chat_btn_box_lft {
    float: left;
}
.chat_btn_box_right {
    float: right;
}
.chat_btn_box{
    margin-top: 10px;
}
.typing_div {
    padding: 0px 0px 0px 6px;
    box-sizing: border-box;
}
.you1{
	color:#aed1a6;
}
.you2{
	color:#d9e9da;
}
/********************/

/*click-btn*/
.dropbtn {
 background-color: #3498DB;
 color: white;
 padding: 16px;
 font-size: 16px;
 border: none;
 cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
 background-color: #2980B9;
}

.dropdown {
 position: relative;
 display: inline-block;
}

.dropdown-content {
 display: none;
 position: absolute;
 background-color: #f1f1f1;
 min-width: 160px;
 overflow: auto;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

.dropdown-content a {
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
/*end*/
.heading_div.rigt_align_div {
  float: right;
  padding: 7px;
  box-sizing: border-box;
}
.rigt_align_div .dropdown {
  padding: 0 !important;
  background: red;
}

.left_align_div {
    float: left;
}
.pop_btn_div {
    display: inline-block;
}
.div_full_align.clearfix {
    border-top: 2px solid #272a2c;
}
a.btn.heading_btn_green:hover{
	color:#fff;
}
button.dropbtn1.btn.btn_grey_hvr.heading_btn_grey {
    color: #000;
}
/************popup*********/
/*model green*/
.main-model-despacho {
	width: 650px;
}
.despacho-model {
	padding: 0 20px;
	box-sizing: border-box;
}
.despacho-model select {
	width: 100%;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #ccc;
	-webkit-box-shadow: none;
   -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none; 
}
.despacho-model select + i.fa-angle-down {
  float: right;
  margin-top: -22px;
  margin-right: 10px;
  pointer-events: none;
  background-color: transparent;
  color: #ccc!important;
  font-weight: bold;
  transform: translate(0, 0);
  cursor: pointer;
  font-size: 15px;
}
.fields-with-label {
	margin: 15px 0;
	width: 100%;
}
.fields-with-label label, .fecha label {
	font-size: 12px;
	color: #515151;
	font-weight: normal;
}
.fields-with-label small {
	padding: 5px 0;
	box-sizing: border-box;
	display: inline-block;
	color: #515151;
}
.fecha h2{
	font-size: 16px;
	line-height: 16px;
	font-weight: bold;
	color: #333;
	margin-bottom: 13px;
}
.fecha p {
	font-size: 12px;
	color: #515151;
	margin-bottom: 20px;
}
.fecha-devide form  {
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}
.fields-with-label textarea {
 width: 100%;
}
.fecha-devide .fecha-left {
	width: 47%;
}
.modal-title {
	text-align: left;
	font-weight: bold;
}
/*checkbox blue*/
.container {
  display: block;
  position: relative;
  padding-left: 27px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #eee;
  border-radius: 5px;
}
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 6px;
  top: 3px;
  width: 4px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
hr {
	margin: 5px 0;
}
/*end check*/
.confirmar-green-btn {
	text-align: right;
	padding: 15px 10px;
	box-sizing: border-box;
}
.confirmar-green-btn a {
	display: inline-block;
	width: 200px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	background: #94b100;
	border-radius: 5px;
	font-size: 14px;
}
.close-icon-top {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
	.main-model-despacho {
	 width: 400px;
  }
  .direccon-de-content, .direccon-de-map {
    width: 100%;
}
}
@media screen and (max-width: 480px) {
	.historial-devide .historial-time {
		width: 100%;
	}
	.historial-devide .historial-inputs {
		width: 100%;
	}
	ul.model_inputs2 li:first-child {
		width: 100%;
		text-align: center;
	}
	ul.model_inputs2 li:nth-child(2) {
		width: 100%;
	}
	ul.model_inputs2 li select, ul.model_inputs2 li input {
		width: 90% !important;
		margin-top: 15px;
	}
}
@media screen and (max-width: 430px) {
  .heading_div.rigt_align_div .pop_btn_div {
    margin-top: 10PX;
  }
}
	@media screen and (max-width: 360px) {
	.main-model-despacho {
	 width: 90%;
	 margin: 0 auto;
  }
  a.btn.heading_btn_green {
    font-size: 10px;
}
button.dropbtn1.btn.btn_grey_hvr.heading_btn_grey {
    font-size: 10px;
}
img.img_fram {
    margin-right: 7px;
    display: block;
}
}