.logo-head nav ul li.active {
	background: #314f70;
}
.logo-head nav ul li.active a {
	color: #fff;
}
.mi-cuenta {
	overflow: hidden;
}
.mi-h3-basic {
	font-size: 18px;
  line-height: 25px;
  color: #152024;
  font-weight: bold;
  padding: 0 0 10px;
  box-sizing: border-box;
/*  border-bottom: 1px solid #121d33;*/
}
.mi-cuenta-inner {
	/*background: #f9f9f9;*/
	padding: 10px 20px;
	margin: 0 0 20px 0;
	box-sizing: border-box;
}
.edit-btns {
	overflow: hidden;
}
.edit-btns-inner {
	float: right;
}
.edit-btns-inner a {
	display: flex;
  border: 1px solid #204fa1;
  line-height: 45px;
  width: 200px;
  color: #204fa1;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}
.edit-btns-inner a .edit-icon {
	float: left;
}
.edit-btns-inner a .edit-text {
	float: right;
}
.first-block {
	overflow: hidden;
	background: #fff;
	border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  box-sizing: border-box;
  display: flex;
  margin-top: 10px;
}
.first-block .left-img-section {
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 34%;
}
.first-block-detail {
	width: 66%;
	border-left: 1px solid #ccc;
  padding-left: 15px;
}
.border-remove {
	border-bottom: none !important;
}
.first-block-detail .details {
} 
.first-block-detail .details .profile {
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
	box-sizing: border-box;
	font-size: 15px;
} 
.first-block-detail .details .profile span {
	color: #2a3e8d;
	font-weight: bold;
	margin-right: 20px;
}
.preferencias {
	margin: 20px 0 20px 20px;
	font-weight: bold;
	font-size: 18px;
}
.profile-check {
  padding: 15px 0 0 20px;
  box-sizing: border-box;
}
.profile-check h2 {
	color: #2a3e8d;
  font-weight: bold;
  margin-bottom: 15px;
}
/********blue box*********/
.full_box {
    width: 100%;
    background: #314f70;
    min-height: 62px;
}
/*check box css*/
.profile-check .container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 16px;
  color: #7b7b7b;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.profile-check .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.profile-check label {
	margin: 0;
}
.profile-check .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}
.profile-check .container:hover input ~ .checkmark {
  background-color: #ccc;
}
.profile-check .container input:checked ~ .checkmark {
  background-color: #2196F3;
  border-radius: 5px;
}
.profile-check .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.profile-check .container input:checked ~ .checkmark:after {
  display: block;
}
.profile-check .container .checkmark:after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*end check box css*/
/*radio box css*/
.profile .radio-box {
	padding: 10px 0;
	box-sizing: border-box;
}
.radio-box .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin: 12px 0;
  cursor: pointer;
  font-size: 16px;
  color: #7b7b7b;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.radio-box .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.radio-box .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}
.radio-box .container:hover input ~ .checkmark {
  background-color: #ccc;
}
.radio-box .container input:checked ~ .checkmark {
  background-color: #fcfcfc;
  border: 1px solid #ccc;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.radio-box .container input:checked ~ .checkmark:after {
  display: block;
}
.radio-box .container .checkmark:after {
 	top: 5px;
	left: 5px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #2196F3;
}
/*end radio box*/
.heading-edit {
	font-size: 20px;
	color: #003295;
	font-weight: bold;
	box-sizing: border-box;
	margin-bottom: 20px;
}
.full-width-table {

  padding: 10px 20px;
  box-sizing: border-box;
}
.table-inner {
  overflow: hidden;
}
.table-inner h1 {
  float: left;
  margin: 0;
  margin-top: 25px;
}
.main-table-section {
  overflow: hidden;
  padding: 10px 20px;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
}
.main-table-section table tr td {
  padding: 10px 10px 10px 45px;
  font-size: 18px;
  box-sizing: border-box;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.no-border-left {
  border-left: none !important;
}
.no-border-right {
  border-right: none !important;
}
.main-table-section table tr {
  background: #f6f6f6;
  box-shadow: 0px 1px 3px #ccc;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #e2e2e2;
}
.main-table-section table {
  border-collapse:separate; 
  border-spacing: 0 10px;
}
/*.table-inner .full-editar-btn .edit-btns-inner a {
  width: 340px;
  line-height: 75px;
  font-size: 20px;
}*/
/*media queries*/
@media screen and (max-width: 991px) {
  .main-table-section table tr td {
    width: 100% !important;
  }
}
@media screen and (max-width: 600px) {
	.first-block {
		display: block;
	}
	.first-block .left-img-section, .first-block-detail{
		float: none;
		border: none;
		width: 100%;
	}
}
@media screen and (max-width: 540px) {
  .heading-edit {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
	.profile-check {
		padding: 15px 0 0 0px;
	}
	.profile-check h2 {
		margin-bottom: 10px;
		font-size: 12px;
	}
	.edit-btns-inner {
		float: none;
	}
	.edit-btns-inner a {
		width: 100%;
		line-height: 35px;
	}
  .main-table-section table tr td {
    font-size: 14px;
    padding: 10px 10px 10px 10px;
  }
  .table-inner h1 {
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
  }
}
/********extra*********/
.body_mainn {
    background: #f6f6f6;
    margin-bottom: 10px;
    border-radius: 14px;
}
.main_head_se{
    padding: 10px 10px 10px 45px;
    font-size: 18px;
    box-sizing: border-box;
    border:none;
    border-left: none;
    border-right: none;
}
.body_mainn_left{
  width: 50%;
  float: left;
  overflow:hidden;
  border:none;
  background: #f6f6f6;
  border-radius: 10px 0px;
}
.body_mainn_right{
  width: 50%;
  float: left;
  overflow:hidden;
  border:none;
  background: #f6f6f6;
  border-radius: 0px 10px;
}
.extra-check {
    padding: 4px 0 0 1px;
    box-sizing: border-box;
}
.extra-check .container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 16px;
    color: #7b7b7b;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.extra-check .container input {
    /* position: absolute; */
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.extra-check .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}
.extra-check .container .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.extra-check .container input:checked ~ .checkmark:after {
    display: block;
}
.extra-check .container input:checked ~ .checkmark {
    background-color: #2196F3;
    border-radius: 5px;
}
.popextra-check {
    padding: 5px 0 0 30px;
    box-sizing: border-box;
}
.popextra-check .container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 16px;
    color: #7b7b7b;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.popextra-check .container input {
    /* position: absolute; */
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.popextra-check .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}
.popextra-check .container .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.popextra-check .container input:checked ~ .checkmark:after {
    display: block;
}
.popextra-check .container input:checked ~ .checkmark {
    background-color: #2196F3;
    border-radius: 5px;
}