
.vehículos {
    padding: 20px 0;
    border-bottom: 2px solid #4f81bc;
    margin: 0 0 40px 0;
    position: relative;
}
.vehículos h5 {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 15px;
}
.close-icon-top {
    opacity: 1;
}
.close-icon-top img {
    position: absolute;
    right: -15px;
    top: -15px;
    cursor: pointer;
}
.second_pop ul li a span {
    color: #152024;
    font-size: 14px;
    /* line-height: 21px; */
}
.second_pop ul li {
    line-height: 30px;
}
.second_pop ul li a img {
    vertical-align: middle;
    margin-right: 10px;
}
.second_pop {
    margin-bottom: 200px;
}
.enquiry_form.modal-content.mis_pop {
    /* vertical-align: -webkit-baseline-middle; */
    margin-top: 214px;
}
/*********popup therd****************/
.therd_pop p img {
    vertical-align: middle;
}
.therd_pop p {
    font-size: 14px;
    line-height: 21px;
    color: #152024;
}
.therd_pop_list ul li {
    display: inline-block;
    width: 59%;
    
}
.therd_pop_list ul li:first-child{
    padding-left: 8px;

}
.therd_pop_list ul li:last-child {
    width: 40%;
}
.therd_pop_list ul li a img {
    vertical-align: middle;
}
.therd_pop_list ul li a{
    color: #152024;
    font-size: 14px;
    line-height: 21px;
}
.therd_pop_list {
    margin-top: 62px;
    margin-bottom: 130px;
}

@media screen and (max-width: 480px){

    .therd_pop_list ul li:first-child{
    padding-left: 0px;

}
.therd_pop_list ul li:last-child {
    width: 100%;
}
.therd_pop_list ul li {
    display: inline-block;
    width: 100%;
    
}
.therd_pop_list {
    margin-top: 24px;
    margin-bottom: 130px;
}
}

.quotes_pad{
    padding: 0px !important;
}
.env_btn{
    width: 100%;
    border: none;
}
.modal{
    padding-top: 20px !important;
}
.extra_select_width{
  width: 245px !important;
}