

.comras_list_detail {
    background: #f9f9f9;
    box-shadow: 2px 1px 1px #ccc;
    padding: 2px 0px 38px 0px;
    box-sizing: border-box;
    margin-bottom: 30px;
}
.comras_list_detail h3 {
    font-size: 20px;
    line-height: 30px;
}
.comrasdetail_desk {
    float: left;
}
.comrasdetail_desk p {
    font-size: 12px;
    line-height: 23px;
}
.comrasdetail_desk p span {
    color: #5081bc;
    font-size: 16px;
    font-weight: bold;
}
.comrasdetailbtn_box {
    float: right;
}
.comrasdetailbtn_view_mr {
    display: inline-block;
    font-size: 15px;
    color: #fff;
    background: #ed7b5e;
    line-height: 30px;
    text-align: center;
    width: 220px;
    height: 33px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-right: 0px;
    /*margin-right: 25px;*/
    text-transform: uppercase;
}
.volvor_icon {
 color: #ec7b5e;
 font-size: 16px;
 line-height: 25px;
}
.volvor_icon i{
 color: #ec7b5e;
 margin-right: 3px;
 font-weight: bold;
}
.comras_list_detail_btn_b {
    width: 30%;
    float: left;
    padding: 52px 0px;
}
.comras_list_detail_box {
    width: 70%;
    float: left;
}
.comras_list_detail_body {
    margin-bottom: 0px;
}
.comras_d p span {
    color: #5081bc;
    font-size: 16px;
    font-weight: bold;
}
.comras_d h3 {
    display: inline-block;
}
.comras_d h3 {
    display: inline-block;
}
.comras_d p {
    display: inline-block;
    margin-left: 24px;
}
.truck_box_right {
    width: 48%;
    float: left;
}
.truck_box_left {
    width: 50%;
    float: left;
}
p.btm_trucktxt span {
    color: #5081bc;
    font-size: 16px;
    line-height: 25px;
    font-weight: bold;
}
span.truck_img img {
    margin-bottom: 10px;
}

span.loc_img img{
 margin-bottom: 10px;
}
.truckp-10{
	padding:15px 0px;
}
span.truck_img {
    
    line-height: 37px;
}
span.truck_img img {
    margin-right: 4px;
}
span.loc_img {
	 line-height: 32px;
}
span.loc_img img {
    margin-right: 4px;
}
.loc_truck span{
	padding-left: 14px;
}
@media screen and (max-width: 768px){
	.comras_list_detail_box {
    width: 100%;
    float: none;
}
.comras_list_detail_btn_b {
    width: 100%;
    float: none;
    padding: 0px 0px;
    overflow: hidden;
}
.comrasdetailbtn_box {
    float: none;
}
.comras_list_detail_btn_b {
    width: 100%;
    float: none;
    padding: 0px 0px;
    overflow: hidden;
}
.h3-basic {
    font-size: 15px;
    line-height: 25px;
    color: #152024;
    font-weight: bold;
    padding: 0 0 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #121d33;
    margin: 0 0 26px;
}
.comras_list_detail h3 {
    font-size: 16px;
    line-height: 24px;
}
.comras_list_detail_body {
    margin-bottom: 10px;
}
.comrasdetailbtn_view_mr {
   
    margin-bottom: 10px;
}
.comras_d p {
    display: inline;
    margin-left: 8px;
}
}
@media screen and (max-width: 480px){
	.comras_d p {
    display: inline-block;
    margin-left: 0px;
}
p.btm_trucktxt span {
    color: #5081bc;
    font-size: 12px;
    line-height: 18px;
    font-weight: bold;
}
span.truck_img img {
    margin-right: 0px;
    display: block;
    margin-bottom: 0px;
}
span.loc_img img {
    margin-right: 0px;
    display: block;
    margin-bottom: 0px;
}
.truck_box_left {
    width: 100%;
    float: none;
    margin-bottom: 20px;
}
.truck_box_right {
    width: 100%;
    float: none;
}
.truckp-10 {
    padding: 5px 0px;
}

.loc_truck span {
    padding-left: 0px;
}
}