.notification-sections {
  position: absolute;
  top: 50%;
  right: 11%;
  transition: height 500ms;
  height: 0%;
  margin: auto;
  display: none;
  z-index: 9999; 
}
.notification-inner {
  background: #eee;
  overflow: hidden;
  width: 350px;
  border: 1px solid #ccc;
}
.notification-sections:before {
  background: url(try-1.png);
  content: "";
  background-repeat: no-repeat;
  width: 28px;
  height: 10px;
  position: absolute;
  top: -10px;
  left: 95%;
  margin: 0 0 0 -14px;
}
/*.notification-hover img {
  width: 20px;
  height: 20px;
}*/

/*.notification-hover:hover + #notification {
  border-top: none;
  top: 0%;
  height: 300px;
  background: red;
}*/
.title {
  overflow: hidden;
  padding: 10px;
  box-sizing: border-box;
}
.title h4 {
  font-size: 16px;
  font-weight: bold;
  float: left;
}
.title h4 span {
  font-weight: normal;
}
.title p {
  float: right;
}
.title p .fa {
  font-size: 18px;
  color: #333;
}
.cart {
  background: #eee;
}
.cart-inner {
  background: #fff;
  padding: 15px 15px 0 15px;
  box-sizing: border-box;
  overflow: auto;
  height: 160px;
}
.cart-inner a.hover-section:hover.hover-section h5 {
  color: #337ab7;
} 
.cart-inner a.hover-section:hover.hover-section p {
  color: #337ab7;
}
.cart img {
  float: left;
  overflow: hidden;
}
.cart-detail a {
  display: block;
}
.cart-inner a.hover-section {
  overflow: hidden;
}
.img-with-text {
  margin-bottom: 10px;
}
.cart-detail {
  padding: 0 0 0 20px;
  box-sizing: border-box;
  position: relative;
}
.cart-detail h5 {
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 16px;
  margin-left: 20px !important;
}
.cart-detail p {
  font-size: 12px;
  color: #333;
  line-height: 20px;
  margin-left: 20px !important;
}
.cart-detail a.icon {
  text-align: right;
  display: block;
  padding-top: 20px;
  box-sizing: border-box;
}
.cart-detail a .fa {
  font-size: 22px;
  color: #848484;
  text-align: right;
  display: inline-block;
  position: absolute;
  top: -16%;
  right: -7px;
}
.cart-detail a .fa:hover {
  color: red;
}
.sub-total {
  background-color: #f8f8f8;
  box-shadow: 0 -2px 3px 0 hsla(0,0%,60%,.2);
  box-sizing: border-box;
  color: #2d2d2d;
  padding: 1em;
  width: 100%;
  height: 50px;
  font-size: 1rem;
}
.sub-total .total {
  font-size: 15px;
  color: #333;
  float: left;
}
.sub-total .price {
  font-size: 15px;
  color: #333;
  float: right; 
}
.cart .btns {
  align-items: center;
  -ms-flex-item-align: end;
  align-self: flex-end;
  color: #2d2d2d;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 12px 16px;
  text-align: center;
  width: 100%;
  border-top: 1px solid #ddd;
  height: 70px;
}
.btns {
  box-sizing: border-box;
  float: left;
  padding: 10px;
  width: 100%;
  overflow: hidden;
}
.btns .view-bag {
  background-color: #fff;
  border-color: #ddd;
  color: #333;
}
.btns .checkout {
  background-color: #00aa5b;
  border-color: #00aa5b;
  color: #fff;
}
.btns a {
  font-family: futura-pt,sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 12px;
  background-color: #fff;
  border: 2px solid #ddd;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  height: 44px;
  letter-spacing: .8px;
  line-height: 17px;
  padding: 3px 12px;
  text-align: center;
  text-decoration: none;
  width: 100%;
  position: relative;
}
.btns div:first-child {
  padding-right: 10px;
  box-sizing: border-box;
}
.btn-one, .btn-two {
  float: left;
  padding: 0;
  width: 50%;
}
.bottom {
  align-items: center;
  -ms-flex-item-align: end;
  align-self: flex-end;
  color: #2d2d2d;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 12px;
  text-align: center;
  width: 100%;
  border-top: 1px solid #ddd;
  box-sizing: border-box;
  height: 60px;
}
.bottom .bot-text1 {
  font-size: 13px;
  display: block;
  padding-bottom: 4px;
}
.bottom .bot-text2 {
  font-size: 11px;
  color: #333;
}
.bottom .bot-text2 a {
  text-decoration: underline;
  color: #333;
}
.bottom .bot-text2 a:hover {
  text-decoration: underline;
  color: #337ab7;
}
.header-log ul li {
  position: relative;
}

.border_none{
  border-right : none !important;
}
/*media queries*/
@media screen and (max-width: 991px) {
  .notification-sections {
    top: 85%;
  }
  .notification-hover img {
    margin: 3px 1px 0 0px !important;
    width: 16px;
    height: 15px;
  }
  .notification-sections {
    right: 0;
  }
}
@media screen and (max-width: 991px) {
.notification-inner {
  width: 345px;
  }
.notification-sections:before {
  background: url(try-1.png);
  content: "";
  background-repeat: no-repeat;
  width: 28px;
  height: 10px;
  position: absolute;
  top: -10px;
  left: 72%;
  margin: 0 0 0 -14px;
  }
}
.cart_empty_box{
  background-color: #f8f8f8;
  box-shadow: 0 -2px 3px 0 hsla(0,0%,60%,.2);
  box-sizing: border-box;
  color: #2d2d2d;
  padding: 1em;
  width: 100%;
  height: 50px;
  font-size: 1rem;
}
.btns.empty_bg .btn-one {
  width: 100% !important;
}
.not_found_msg {
  color: #314f70;
  text-align: center;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
}