.full_box .navigatoins-list ul li.active {
    background: #ed7c5e;    
}
.view-table {
	display: block;
	background: #5081bc;
	text-align: center;
	font-size: 14px;
	width: 120px;
	color: #fff !important;
	margin-top: 2px;
	line-height: 23px;
	cursor: pointer;
}
.close-icon-table-list {
	position: relative;
	padding: 0 10px;
	box-sizing: border-box;
}
.close-icon-table {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 999;
}
.producto-table-view tr td {
	border-top: none !important;
}
table tr .producto-table h2 {
	font-size: 18px;
	font-weight: bold;
}
table tr .producto-table h3 {
	font-size: 15px;
	color: #314f70;
	font-weight: bold;
	line-height: 30px;
}
table tr .producto-table p {
	font-size: 14px;
	color: #333;
	line-height: 30px;
}
.producto-table-view tr {
	margin-bottom: 30px;
	position: relative;
}
/*.producto-table-view tr td + td {
	width: 177px;
}*/
.table-inner-details {
	/*padding: 20px 20px;*/
	box-sizing: border-box;
}
.table-sec {
	padding-top: 53px !important;
	text-align: center;
}
.table-sec img {
	vertical-align: middle;
	box-shadow: 2px 2px 5px #ccc;
  border-radius: 50%;
}
.total-value {
	font-size: 18px !important;
	color: #5a91d2 !important;
	font-weight: normal;
}
.td-remove {
	background: transparent !important;
	box-shadow: none !important;
}
/*19-march*/
/*bredcrumb css here*/
.breadcrumb {
  float: left;
  overflow: hidden;
  border-radius: 5px; 
  counter-reset: flag; 
  padding: 10px 0 0 0;
  box-sizing: border-box;
  margin: 0;
  background: transparent;
}

.breadcrumb a {
  text-decoration: none;
  outline: none;
  display: block;
  float: left;
  font-size: 12px;
  line-height: 36px;
  color: white;
  padding: 0 10px 0 60px;
  background: #666;
  background: linear-gradient(#5080bc, #0c1f4a);
  position: relative;
}
/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
.breadcrumb a:first-child {
  padding-left: 46px;
  border-radius: 5px 0 0 5px; /*to match with the parent's radius*/
}
.breadcrumb a:first-child:before {
  left: 14px;
  text-align: center;
}
.breadcrumb a:last-child {
  border-radius: 0 5px 5px 0; /*this was to prevent glitches on hover*/
  padding-right: 20px;
}

/*hover/active styles*/
.breadcrumb a.active, .breadcrumb a:hover{
  color: #fff;
  background: linear-gradient(#ec9077, #d06146);
}
.breadcrumb a.active:after, .breadcrumb a:hover:after {
  background: #333;
  background: linear-gradient(#ec9077, #d06146);
}
.breadcrumb a:after {
  content: '';
  position: absolute;
  top: 0; 
  right: -18px; /*half of square's length*/
  width: 36px; 
  height: 36px;
  transform: scale(0.707) rotate(45deg);
  z-index: 1;
  background: #666;
  background: linear-gradient(135deg, #5080bc, #0c1f4a);
  /*stylish arrow design using box shadow*/
  box-shadow: 2px -2px 0 2px rgb(21, 47, 92), 3px -3px 0 2px rgb(66, 108, 165);
  border-radius: 0 5px 0 50px;
}
/*we dont need an arrow after the last link*/
.breadcrumb a:last-child:after {
  content: none;
}
/*we will use the :before element to show numbers*/
.breadcrumb a:before {
  content: counter(flag);
  counter-increment: flag;
  text-align: center;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin: 8px 0;
  position: absolute;
  top: 0;
  left: 30px;
  background: #444;
  background: linear-gradient(#db745a, #98351c);
  font-weight: bold;
}


/*footer*/
.footer-card__image__icon {
  color: #ff6600;
  font-size: 30px;
}
.fa-envelope:before {
  content: "\f0e0";
}
.fa-envelope:before {
  content: "";
}
.contact-first .fa {
  float: left;
}
.inner-footer .foot-box h3 {
  font-size: 15px;
  margin: 0 0 25px;
}
.inner-footer .foot-box {
  float: left;
  width: 25%;
}
.inner-footer .foot-box:nth-child(2) {
  width: 25%;
}
.inner-footer .foot-box:nth-child(3) {
  width: 30%;
}
.inner-footer .foot-box {
  float: left;
  width: 25%;
}
.inner-footer {
  padding: 60px 0;
  box-sizing: border-box;
}
.foot-line-one li {
  margin: 0 0 10px;
}
.contact-first {
  margin: 0 0 10px;
}
.copyright {
  font-size: 11px;
  padding: 15px 0;
  box-sizing: border-box;
}
.foot-line-one li a {
  font-size: 13px;
}
.foo-bottom {
  
  max-width: 1150px;
  margin: 0 auto;
}
.copyright {
  border: none;
}
/*19-march-changes*/
.h4-heading {
	text-transform: uppercase;
	font-size: 18px;
	line-height: 25px;
	padding-top: 10px;
	box-sizing: border-box;
}
.table>tbody>tr>td {
	padding: 15px 8px 15px 20px !important;
	background: #f9f9f9;
	box-shadow: 2px 1px 1px #ccc;
}
.left-padding {
	padding-left: 20px !important;
}
.top-close-cion {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 999;
}


/***************cart details**************/

.car_dt.nombre {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 60.6382978723%;
}
.cart_detail_box {
    /* display: inline-block; */
    /* vertical-align: top; */
    /* position: relative; */
    background-color: #fff;
    display: inline-block;
    padding: 0;
    vertical-align: top;
    width: 100%;
}
.holder_cart {
    padding: 26px 30px 16px;
    border-bottom: 1px solid #ddd;
    margin: 0px 28px 10px 28px;
}
.holder_cart .text_title_cart{
    display: inline-block;
    margin: 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 27px;
}

.holder_cart .text_desc_cart {
    margin: 0;
    float: right;
    line-height: 2.7em;
    font-size: .88em;
    letter-spacing: .6px;
}
.cart_list_item ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cart_item_holder{
    padding: 0 30px;
    font-size: 1.2em;
    list-style: none;
    margin: 0;
    overflow: hidden;
    position: relative;
   }
.border_box_cart_top{
	border-top: 1px solid #eee;
}
.bg_grey_new{
	background-color: #eee;
}

.cart_body_new_list ul li {
    padding: 0 30px;
}
.image_holder {
   
    top: 0;
    vertical-align: top;
    width: 110px;
    float: left;
}
.des_cart_list {
    float: left;
    padding: 0px 20px;
}
.close_cat_btn i {
    font-size: 20px;
    font-weight: 100;
}
.bag-subtotal-subtotal {
    font-style: normal;
    font-weight: 700;
}
.bag-subtotal-price {
    font-style: normal;
    font-weight: 700;
    display: inline-block;
    min-width: 95px;
}
.cart_footer-subtotal {
    letter-spacing: 2px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: .9em;
    text-align: right;
    margin: 10px 0 14px;
    padding: 0 30px;
}
.abt_cart > p{
	color: #2d2d2d;
    letter-spacing: .5px;
    opacity: .9;
    overflow: hidden;
    padding: 0 25px 8px 0;
}
.abt_cart > p > a{
	    color: #2d2d2d;
    text-decoration: none;
        letter-spacing: .3px;
}
.prc{
	    color: #2d2d2d;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
}
.cart_price{
	line-height: .7em;
    padding: 0 0 10px;
}
.close_cat_btn button {
    background: transparent;
    border: none;
    position: absolute;
    right: 19px;
}
.free_shiping {
    font-style: normal;
    font-weight: 400;
    background: #fff;
    margin: 11px 0 0;
    padding: 19px 19px 15px 25px;
    position: relative;
    display: block;
}
.icon_cart {
    float: left;
}
.heading_txt{
    font-style: normal;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0 0 3px;
    text-transform: uppercase;
}
.des_cart {
    padding: 10px 48px;
    box-sizing: border-box;
    margin: 0 0 0 3%;
}
.btn_more{
	text-decoration: underline;
	color:#000;
}
.btn_more:hover{
	color:#000!important;
}
.Cotizaciones.count_right {
    width: 35.3617021277%;
}
.count_inner {
    padding: 20px 20px 16px;
    background-color: #fcfcfc;
    display: inline-block;
    box-shadow: -1px 2px 11px #ddd;
    
    /* padding: 0; */
    vertical-align: top;
    width: 100%;
}
.count_head {
   padding: 8px 30px 16px 0px;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    
}
.text_count {
    display: block;
    margin: 0;
    font-size: 1.15em;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    /* letter-spacing: 2.5px; */
    /* line-height: 2em; */
}
.sub_price{
    font-style: normal;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 6px;
}
.count-total-title {
    font-style: normal;
    font-weight: 700;
}
.count-total-price {
    float: right;
    letter-spacing: 2px;
    font-weight: 400;
}
.delivery_sel {
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 6px;
}
.delivery_sel select{
	width:100%;
}
.delivery_sel select {
    width: 100%;
    border: none;
    border-bottom: 1px solid #848282;
    outline: none;
    background: transparent;
}
.btn_checkout {
    margin: 25px 0 0 0;
}
.btn_ch {
    max-width: 100%;
    background:#00aa5b;
    color: #fff;
    font-style: normal;
    font-weight: 700;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    cursor: pointer;
    display: block;
    /* font-size: .875em; */
    letter-spacing: .0857142857em;
    /* line-height: 1em; */
    margin: 0 auto;
    /* max-width: 20.5714285714em; */
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}
.checkout_btm {
    /* padding: 0 30px 10px; */
    margin-top: 6px;
}
h6.btm_ch_txt {
    text-transform: uppercase;
    font-size: .875em;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 2px;
}
.checkout_btm img {
    max-width: 100%;
    max-height: 20px;
    margin-top: 10px;
}

@media screen and (max-width: 1150px){
	/***************cart details**************/
.car_dt.nombre {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 100%;
}
.Cotizaciones.count_right {
    /* width: 39.361702%; */
    width: 100%;
    margin: 18px 0px 14px 0;
}
	/***************cart details**************/
}
@media screen and (max-width: 600px){
	.finalizer-inner ul li {
		width: 49%;
		margin-bottom: 10px;
	}
}
@media screen and (max-width: 480px){
	.finalizer-inner ul li {
		width: 100%;
		margin-bottom: 10px;
	}
	.details-finalizer .ingrasar {
		width: 100%;
	}
}

/**********************cart_detail***************/
 .holder_cart .text_desc_cart {
    margin: 0;
    float: right;
    line-height: 2.7em;
    font-size: 12px;
    /* letter-spacing: .6px; */
}
.des_cart_list {
    float: left;
    padding: 3px 0px;
    margin-bottom: 20px;
}
@media screen and (max-width: 360px){
	.holder_cart {
    padding: 0px;
    border-bottom: 1px solid #ddd;
    margin: 0px 12px 10px 23px;
	}

}

@media screen and (max-width: 600px){
	.entrega-page ul li {
		width: 50%;
	}
}
@media screen and (max-width: 480px){
	.full_box .navigatoins-list ul li a {
		padding: 15px 15px;
		box-sizing: border-box;
		text-align: center;
		font-size: 14px;
	}
}
@media screen and (max-width: 480px){
	.entrega-page ul li {
		width: 100%;
		margin-bottom: 10px;
	}
}




















@media screen and (max-width: 600px){
	
}