/*table input*/
thead.ant-table-thead.table_inptinput[type=text],input[type=date],input[type=number],select,textarea {
  width: 100%;
}
.table_inpt tr th{
  font-weight: bold;
  color:#fff ;
}
.tb_leftp{
  padding-left: 6px !important;
}
thead.table_inpt {
  background: #314f70;
}