/*blue-top-btn css*/
h1, h2, h4, h5, h6, p{
  margin: 0 !important;
}
.doller-btn {
  color: #fff !important;
  background: #5081bc !important;
  border: none;
}
.doller-test {
  color: #fff;
  font-size: 10px;
  display: inline-block;
  word-break: break-word;
  width: 80px;
  height: auto;
  line-height: 12px;
  padding: 3px 10px 3px 3px;
  box-sizing: border-box;
  text-transform: uppercase;
}
/*icon-section*/
.referidos ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.referidos ul li {
  position: relative;
  width: 32.5%;
  float: left;
  text-align: center;
  padding: 18px 5px;
  box-sizing: border-box;
}
.referidos ul li + li {
  margin: 0 0 0 1.25%;
}
.referidos ul li img {
  margin-bottom: 15px;
}
.referidos ul li h4 {
  padding: 17px 0;
  box-sizing: border-box;
  color: #314f71;
  font-weight: bold;
  font-size: 16px;
}
.referidos ul li p {
  font-size: 12px;
  line-height: 20px;
}
/*subscribe form*/
.subscribe-blue {
  background: #5081bc;
  padding: 20px 90px;
  box-sizing: border-box; 
  text-align: center;
  color: #fff;
  border-radius: 30px;
  margin: 35px 0; 
}
.subscribe-blue h2 {
  font-size: 30px;
  font-weight: bold;
  padding: 22px 0;
  box-sizing: border-box;
  color: #fff !important;
  margin: 0;
}
.subscribe-blue p {
  font-size: 12px;
  line-height: 18px;
  margin: 0;
}
.subscribe-inner {
  padding: 0 60px;
  box-sizing: border-box;
  text-align: center;
}
.subscribe-form {
  overflow: hidden;
  padding: 36px 0 16px 0;
  box-sizing: border-box;
}
.subscribe-form input {
  width: 79%;
  height: 35px;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  float: left;
  color: #000;
}
.invitar-btn {
  background: #ec7b5e;
  width: 20%;
  display: inline-block;
  font-size: 14px;
  line-height: 35px;
  text-align: center;
  color: #fff;
  box-shadow: none;
  border: none;
}
/*counts css*/
.counts {
  margin: 40px 0;
}
.counts ul {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin: 42px 0;
}
.counts ul li {
  padding: 22px;
  box-sizing: border-box;
  background: #eef0f1;  
  text-align: center;
  width: 30.1%;
  float: left;
}
.counts ul li + li {
  margin: 0 0 0 4.85%;
}
.counts ul li h1 {
 font-size: 48px;
 font-weight: bold;
 color: #334357;
 line-height: 50px;
 padding: 12px 0;
 box-sizing: border-box;  
}
.counts ul li h4 {
  font-size: 16px;
  color: #314f71;
  font-weight: bold;
  padding: 12px 0;
  box-sizing: border-box;
  line-height: 20px;
}
.counts ul li p {
  font-size: 12px;
  color: #333;
}
.referidos-filter {
  font-size: 12px;
  color: #333;
}
.blue-text {
  color: #5081bc;
}
/*table*/
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 0 0 3px 0;
}

#customers td, #customers th {
  border: 2px solid #fff;
  padding: 8px;
  text-align: center;
}
#customers tr:nth-child(even){background-color: #f9f9f9;}
#customers tr:nth-child(odd){background-color: #f7f5f5;}
#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #121d33;
  color: white;
}
/*footer*/
.footer-card__image__icon {
  color: #ff6600;
  font-size: 30px;
}
.fa-envelope:before {
  content: "\f0e0";
}
.fa-envelope:before {
  content: "";
}
.contact-first .fa {
  float: left;
}
.inner-footer .foot-box h3 {
  font-size: 15px;
  margin: 0 0 25px;
}
.inner-footer .foot-box {
  float: left;
  width: 25%;
}
.inner-footer .foot-box:nth-child(2) {
  width: 25%;
}
.inner-footer .foot-box:nth-child(3) {
  width: 30%;
}
.inner-footer .foot-box {
  float: left;
  width: 25%;
}
.inner-footer {
  padding: 60px 0;
  box-sizing: border-box;
}
.foot-line-one li {
  margin: 0 0 10px;
}
.contact-first {
  margin: 0 0 10px;
}
.copyright {
  font-size: 11px;
  padding: 15px 0;
  box-sizing: border-box;
}
.foot-line-one li a {
  font-size: 13px;
}
.foo-bottom {
  
  max-width: 1150px;
  margin: 0 auto;
}
.copyright {
  border: none;
}
.notification_counting{
  background: #314f70;
  border-radius: 50%;
  color: #fff;
  padding: 0px 5px;
  font-size: 12px;
  text-align: center;
  position: absolute;
  top: -7px;
  right: 6px;
}
/*media queries css*/
@media screen and (max-width: 600px) {
  .counts ul li h1 {
    font-size: 30px;
  }
  .subscribe-blue {
    padding: 30px;
  }
  .referidos ul li, .counts ul li {
    width: 100%;
  }
  .counts ul li + li {
    margin: 10px 0 0 0;
  }
  .subscribe-inner {
    padding: 0;
  }
}
@media screen and (max-width: 480px) {
  .subscribe-form input {
    width: 100%;
    float: none;
    font-size: 12px;
  }
  .invitar-btn {
    width: 100px;
    margin: 20px 0 0 0;
  }
}