
.mydro_user {
    margin: 0 !important;
    padding: 0 4px !important;
    border-radius: 0px !important;
    border: 1px solid #a7a5a7;
    top: 36px !important;
    left: -49px !important;
    min-width: 170px;
}
.mydro_user:before {
    background: url(try.png);
    content: "";
    background-repeat: no-repeat;
    width: 28px;
    height: 10px;
    position: absolute;
    top: -10px;
    left: 50%;
    margin: 0 0 0 -14px;
}
.user_drop_body {
       width: 170px;
}
a.color01.dropdown-toggle.active {
    background-color: transparent !important;
}
span.user_name {
    font-size: 14px;
    color: #545859;
    border-bottom: 2px solid #c0c1c1;
    line-height: 36px;
}
.mydro_user li{
  float: none!important;
    text-align: center;
    display: block;
}
.user_drop_body img {
    display: block;
    margin: 20px 0px 11px 52px;
}
a.btn_usrdrop {
    float: none!important;
    display: block;
    background: #5081bc !important;
    overflow: hidden;
    color: #fff!important;
    width: 146px;
    height: 24px;
    margin: 12px 15px;
    /* text-align: center; */
    font-size: 14px !important;
    line-height: 21px!important;
}
.mydrop_single {
    margin: 0 !important;
    padding: 0 4px !important;
    border-radius: 0px !important;
    border: 1px solid #a7a5a7;
    top: 36px !important;
    left: -70px !important;
    min-width: 190px;
    height: 200px;
}
.mydrop_single:before {
    background: url(try.png);
    content: "";
    background-repeat: no-repeat;
    width: 28px;
    height: 10px;
    position: absolute;
    top: -10px;
    left: 50%;
    margin: 0 0 0 -14px;
}
.mydrop_single li {
    display: block !important;
    margin: 0 !important;
}
.mydrop_single li a {
    padding: 25px 13px !important;
    border-bottom: 1px solid #a7a5a7;
    box-sizing: border-box;
    border-bottom: 1px solid #a7a5a7;
    font-size: 12px !important;
}
.mydrop_single li a img {
    margin: 0px 12px 0 0;
}
@media screen and (max-width: 991px){
    .mydrop_single li {
    display: block !important;
    margin: 0 !important;
    }
    .mydrop_single li a {
    padding: 25px 13px !important;
    border-bottom: 1px solid #a7a5a7;
    box-sizing: border-box;
    border-bottom: 1px solid #a7a5a7;
    font-size: 12px !important;
    color: #314f71!important;
    background: transparent !important;
    width: auto!important;
    border-radius: 0!important;
    height: auto!important;
}
  .mydro_user li .user_drop_body > a.btn_usrdrop {
    float: none!important;
    display: block;
    background: #5081bc !important;
    overflow: hidden;
    color: #fff!important;
    width: 146px;
    height: 24px;
    margin: 12px 15px;
    /* text-align: center; */
    font-size: 14px !important;
    line-height: 21px!important;
    border-radius: none!important;
    border-radius: 0px;
}
}
@media screen and (max-width: 768px){
  .mydro_user li .user_drop_body > a.btn_usrdrop {
    float: none!important;
    display: block;
    background: #5081bc !important;
    overflow: hidden;
    color: #fff!important;
    width: 146px;
    height: 24px;
    margin: 12px 15px;
    /* text-align: center; */
    font-size: 14px !important;
    line-height: 21px!important;
    border-radius: 0px;
}
.mydro_user {
    margin: 0 !important;
    padding: 0 4px !important;
    border-radius: 0px !important;
    border: 1px solid #a7a5a7;
    top: 36px !important;
    left: -79px !important;
    min-width: 170px;
}
}
.mydro_user li a {
  float: none !important;
}
a.color01.dropdown-toggle.active font {
    color: #e47f68;
}
.button-dropdown.top_drop:hover .dropdown-menu.mydro_user{
    display:block !important;
}