<div id="page-container" class="main-content-boxed">
  <main id="main-container">
    <div class="bg-image bg_style_img">
      <div class="row mx-0 bg-black-op">
        <div class="hero-static col-md-6 col-xl-8 d-none d-md-flex align-items-md-end">
          <div class="p-30 invisible" data-toggle="appear">
            <p class="font-size-h3 font-w600 text-white">
              QUE EL REPUESTO TE ENCUENTRE A TI
            </p>
          </div>
        </div>
        <div class="hero-static col-md-6 col-xl-4 d-flex align-items-center bg-white invisible" data-toggle="appear" data-class="animated fadeInRight">
          <div class="content content-full">
            <%= devise_error_messages! %>
            <div class="px-30 py-10">
              <%= link_to landing_index_path, class: "link-effect font-w700" do %>
                <%= image_tag('inparts_updated-logo.png')%>
              <% end %>
              <h1 class="h3 font-w700 mt-30 mb-10">Bienvenidos a tu escritorio</h1>
              <h2 class="h5 font-w400 text-muted mb-0">Por favor ingresa con tus datos</h2>
            </div>
            <%= form_for :user, url: user_session_path, method: :post, html: {class: "js-validation-signin px-30"} do |f| %>
              <div class="form-group row">
                <div class="col-12">
                  <div class="form-material floating">
                    <%= f.email_field :email, class: "form-control", id: "login-username", required: true %>
                    <%= f.label :email, 'Usuario' %>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-12">
                  <div class="form-material floating">
                    <%= f.password_field :password, class: "form-control", id: "login-password", required: true %>
                    <%= f.label :password, 'Contraseña' %>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-12">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="login-remember-me" name="login-remember-me">
                    <label class="custom-control-label" for="login-remember-me">Recuerdame</label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <%#= f.button :submit ,class: "btn btn-sm btn-hero btn-alt-primary" do %>
                  <!-- <i class="fa fa-sign-in mr-10"></i> Ingresar -->
                <%# end %>

                <%= f.button :Ingresar, class: "btn btn-sm btn-hero btn-alt-primary", type: "submit" %>
                
                <div class="mt-30">
                  <%= link_to "javascript:void(0)", class: "btn btn-sm btn-hero btn-alt-primary" do %>
                    <i class="fa fa-google mr-10"></i> Ingresa con Google
                  <% end %>
                </div>
                
                <div class="mt-30">    
                  <%= link_to "javascript:void(0)", class: "btn btn-sm btn-hero btn-alt-primary" do %>
                    <i class="fa fa-facebook mr-10"></i> Ingresa con Facebook
                  <% end %>
                </div>
                
                <div class="mt-30">
                  <%= link_to new_user_registration_path, class: "link-effect text-muted mr-10 mb-5 d-inline-block" do %>
                    <i class="fa fa-plus mr-5"></i> Crear Cuenta
                  <% end %>
                  
                  <%= link_to new_user_password_path, class: "link-effect text-muted mr-10 mb-5 d-inline-block" do %>
                    <i class="fa fa-warning mr-5"></i> Olvidé mi contraseña
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<style type="text/css">
  .bg-image.bg_style_img {
    background-color: #f8f9fa;
    background-size: 70% 100%;
    background-repeat: no-repeat;
    background-position: unset !important;
}
</style>