<table >
  <thead>
    <tr>
      <th></th>
      <th>Email</th>
      <th>Total Purchasing</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <%= form_tag assign_all_path(params[:coupon_id]), method: :post do |f| %>
      <%@users.each do |user|%>
        <tr>
          <td>
            <% unless user.coupons.present? && user.coupons.last.id == params['coupon_id'].to_i %>
              <%= check_box_tag 'user_ids[]', user.id%>
            <%end%>
          </td>
          <td align="center">
            <%= user.email%>
          </td>

          <td align="center">
            <%= user.total_purchasing%>
          </td>
          <td align="center">
            <%if user.user_coupons.pluck(:coupon_id).include?(params[:coupon_id].to_i)%>
              <%= link_to "Remove Coupon", remove_coupon_user_path(params[:coupon_id], user_id: user.id), method: :delete, :data => {:confirm => '¿Estás seguro?', title: "Alerta de confirmación!"} %>

            <%else%>
              <%= link_to "Assign Coupon", add_user_path(params[:coupon_id], user_id: user.id), method: :post%>
            <%end%>
          </td>
        </tr>
      <%end%>
     <%= submit_tag "Assign All", class: "btn btn-lg btn-primary" %>
    <%end%>
  </tbody>
</table>