<div class="footer">
  <div class="wrapper__container">
    <div class="footer__content">
      <div class="footer__row">
        <div class="footer__row__col">
          <div class="footer__brand">INPARTS</div>
        </div>

        <div class="footer__row__col">
          <div class="footer__title">ENLACES</div>  
          <div class="footer__list">
            <div class="footer__list__item"><a href="#" class="footer__list__item__action">Acerca de nosotros</a></div>
            <div class="footer__list__item"><a href="#" class="footer__list__item__action">Cómo funciona</a></div>
            <div class="footer__list__item"><a href="#" class="footer__list__item__action">Proveedores</a></div>
            <div class="footer__list__item"><a href="#" class="footer__list__item__action">Contacto</a></div>
          </div>
        </div>
        
        <div class="footer__row__col">
          <div class="footer__title">CONTACTO</div>
          <div class="footer-card">
            <div class="footer-card__image">
              <%= fa_icon "phone", class: "footer-card__image__icon" %>
            </div>

            <div class="footer-card__content">
              <div class="footer-card__content__title">Teléfono:</div>
              <div class="footer-card__content__value">+569 9 8505 1046</div>
            </div>
          </div>

          <div class="footer-card">
            <div class="footer-card__image">
              <%= fa_icon "envelope", class: "footer-card__image__icon" %>
            </div>

            <div class="footer-card__content">
              <div class="footer-card__content__title">Email:</div>
              <div class="footer-card__content__value">contacto@inparts.cl</div>
            </div>
          </div>
        </div>

        <div class="footer__row__col">
          <div class="footer__title">SÍGUENOS</div>
            <div class="footer-social">
              <div class="footer-social__image">
                <a href="#"><div class="footer-social__image__facebook"></div></a>
                <a href="#"><div class="footer-social__image__tweeter"></div></a>
                <a href="#"><div class="footer-social__image__google"></div></a>
                <a href="#"><div class="footer-social__image__instagram"></div></a>
              </div>
            </div>
            <div class="footer-social">
              <div class="footer-social__webpay"></div>
            </div>
          </div>
        </div>
      </div>
    <div class="footer__bottom">
      © 2018. TODOS LOS DERECHOS RESERVADOS.
    </div>
  </div>

  <div id="footer-scroll"></div>
</div>
