<div class="header">
  <div class="header__container wrapper__container">
    <div class="header__left">
      <div class="header__brand brand">INPARTS</div>
      <div class="header__toggle"></div>
    </div>
    
    <div class="header__right">
      <div class="header__nav">
        <div class="header__nav__item"><%= link_to 'NOSOTROS', about_us_path, class: "header__nav__item__link"%></div>
        <div class="header__nav__item"><%= link_to 'CÓMO FUNCIONA', how_its_works_path, class: "header__nav__item__link"%></div>
        <div class="header__nav__item"><a class="header__nav__item__link" href="">PROVEEDORES</a></div>
        <div class="header__nav__item"><%= link_to 'CONTÁCTANOS', contacts_path(), class: "header__nav__item__link" %></div>
      </div>
    </div>
  </div>
</div>
