<%if flash %>
  <% flash.each do |key, value| %>
    <div class="<%= flash_class(key) %>">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%= value %>
    </div>
  <% end %>
<% end %>