<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inparts Chile</title>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'employee', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div id="wrapper" class="wrapper">
    <div class="wrapper__header">
      <%= render "layouts/employee/preheader" %>
      <%= render "layouts/employee/header" %>
    </div>
    <div class="wrapper__content">
      <%if flash %>
        <% flash.each do |key, value| %>
          <% if key=='success' %>    
            <div class="alert alert-success alert-dismissible">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <strong>Success!</strong> <%=value%>.
            </div>
          <% end %>
          <% if key=='error' %>
            <div class="alert alert-danger alert-dismissible">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <strong>Error!</strong> <%=value%>.
            </div>
          <% end %>  
        <% end %>
      <% end %>
      <%= yield %>
    </div>
    <div class="wrapper__footer">
      <%= render "layouts/employee/footer" %>
    </div>
  </div>
</body>
</html>