<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inparts Chile</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'employee_dashboard', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="layout__header header">
      <div class="header__container">
        <%= link_to employee_dashboard_path do %>
          <div class="header__brand">INPARTS</div>
        <% end %>
        <div class="header__menu">
          <div class="header__menu__item mobile-hidden dropdown" style="padding-right: 0px;">
            <%= link_to edit_employee_registration_path do %>
              <i class="fa fa-user"></i>
              <span class=""><%=current_employee.email%></span>
            <% end %>
            |
          </div>
          <div class="header__menu__item mobile-hidden" style="padding-top: 20px;padding-left: 10px;">
            <%= active_link_to destroy_employee_session_path class: "header__menu__item__action" do%>
              <i class="anticon anticon-logout"></i> Salir
            <%end%>
          </div> 

          <div class="header__menu__item header__menu__item--mobile-only">
            <a class="header__menu__item__action"><i class="fa fa-bars"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="sidenav">
      <ul id="accordion" class="accordion">
        <li>
          <%= active_link_to employee_dashboard_path, active: :exclusive, wrap_tag: :li, class: 'link active', data: { turbolinks: false } do %>
            <i class="fa fa-pie-chart icons"></i>Dashboard
          <%end%>
        </li>
        <li>
          <%= link_to employees_quotation_requests_path, class: 'link', data: { turbolinks: false } do %>
            <i class="fa fa-cart-arrow-down icons"></i>Pedidos Realizados
          <% end %>
        </li>
      </ul>
    </div>
    <div class="layout">
      <div class="main">
        <div class="layout__body__content__screen">
          <div class="screen">
            <%if flash %>
              <% flash.each do |key, value| %>
                <% if key=='success' %>    
                  <div class="alert alert-success alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Success!</strong> <%=value%>.
                  </div>
                <% end %>
                <% if key=='error' %>    
                  <div class="alert alert-danger alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Error!</strong> <%=value%>.
                  </div>
                <% end %>  
              <% end %>
            <% end %>
           <%= yield %>
          </div>
        </div>
        <div class="layout__body__content__footer">
          <div class="ant-row">
            <div class="ant-col-12">Términos y condiciones • Políticas de privacidad • Ayuda</div>
            <div class="ant-col-12 text-right">Desarrollado por <a href="http://www.requies.cl" target="_blank">Requies SpA</a></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>