<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag 'mailer' %>
  </head>

  <body>
    <div class="wrapper">
      <div class="wrapper__logo">INPARTS</div>
      <div class="wrapper__content">
        <%= yield %>  
      </div>
      <div class="wrapper__footer">
        inparts.cl <br>
        Las Condes, Santiago de Chile <br>
        ¿Te molestan nuestros emails? <a href="mailto:contacto@inparts.cl">Avísanos</a>
      </div>
    </div>    
  </body>
</html>
