<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inparts Chile</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KGFX9SJ');</script>
  <!-- End Google Tag Manager -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="manifest" href="/manifest.json" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <%if Rails.env.production?%>
    <%= analytics_init if GoogleAnalytics.valid_tracker? %>
  <%end%>
  <%= stylesheet_link_tag 'private', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KGFX9SJ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div id="wrapper">
    <!-- header menu block start-->
    <section>
      <header id="header">
        <div class="header-inner">
          <div class="inner-header-one">
            <div class="header-log clearfix">
              <h1 class="logo-sp">
                <%= link_to landing_index_path do %>
                  <a href="#"><img src="<%= image_path('new-logo.png')%>" alt="inparts"></a>
                <% end %>
              </h1>
              <h1 class="logo">
                <%= link_to landing_index_path do %>
                  <a href="#"><img src="<%= image_path('new-logo.png')%>" alt="inparts"></a>
                <% end %>
              </h1>
              <ul class="clearfix">
              <li class="dropdown2">
                <a href="#" class="dropdown-toggle color01" data-toggle="dropdown">
                  <i class="fa fa-user"></i><span class="right_border_style" id="notify2"><img src="<%= image_path('icon_user.png')%>" alt="User"> <%=current_user.name%></span>
                </a>
                <ul class="dropdown-menu  mydro_user">
                  <li>
                     <div class="user_drop_body">
                        <img src="<%= image_path('user-round.png')%>">
                        <%= link_to private_api_profile_show_path, :"data-turbolinks" => false do %>
                          <span class="user_name">
                            Mi Perfil
                          </span>
                        <% end %>
                        <%= active_link_to destroy_user_session_path, class: "btn_usrdrop" do %> 
                          <i class="fa fa-sign-out"></i>
                          SALIR
                        <% end %>
                      </div>
                  </li>
                </ul>
              </li>
              <li class="dropdown2">
                <a href="#" class="dropdown-toggle color01" data-toggle="dropdown">
                   <i class="fa fa-bell"></i>
                    <span class="right_border_style", id='notify'>
                      <img src="<%= image_path('icon_bell.png')%>" alt="notification" >
                    </span>
                    <span class="notification_counting">
                      <% if current_user.suppliers_users.pluck(:role).include?("Vendedor") %>
                        <% unread_notifications = get_unread_notification("quotation_request") %>
                        <% unread_messages = get_unread_messages("answer") %>
                        <% msg_count = unread_messages.count rescue 0%>
                        <% noti_count = unread_notifications.count%>
                        <%= noti_count+msg_count%>
                      <% else %>
                        <% unread_notifications = get_unread_notification("quote") %>
                        <% unread_messages = get_unread_messages("question") %>
                        <% msg_count = unread_messages.count rescue 0%>
                        <% noti_count = unread_notifications.count%>
                        <%= noti_count+msg_count%>
                      <% end %>
                    </span>
                </a>
                <ul class="dropdown-menu  <%= unread_notifications.empty? ? 'mydrop_single' : 'mydrop' %>" id='notify-drop-down'>
                  <% if current_user.suppliers_users.pluck(:role).include?("Vendedor") %>
                    <% if !unread_notifications.empty? || unread_messages.count != 0%>
                      <li>
                        <%= link_to private_api_suppliers_quotation_requests_path, :"data-turbolinks" => false do %>
                          <img src="<%= image_path('icon3.png')%>">Estado de envio
                        <%end%>
                      </li>
                      <li>
                        <%= link_to all_questions_path, :"data-turbolinks" => false do %>
                          <img src="<%= image_path('icon2.png')%>">Nuevo mensaje
                        <% end %>
                      </li>
                      <li>
                        <%= link_to 'javascript:void(0)', :"data-turbolinks" => false do %>
                          <img src="<%= image_path('icon2.png')%>">Envío
                        <% end %>
                      </li>
                    <%elsif unread_notifications.empty? %>
                      <li>
                        <h3 class = 'blank_notification'>No Notifications Available</h3>
                      </li>
                    <% end %>
                  <% else %>
                    <% if !unread_notifications.empty? || unread_messages.count != 0 %>
                      <li>
                        <%= link_to private_api_quotations_path, :"data-turbolinks" => false do %>
                          <img src="<%= image_path('icon3.png')%>">Estado de envio
                        <% end %>
                      </li>
                    <%elsif unread_notifications.empty? %>
                      <li>
                        <h3 class = 'blank_notification'>No Notifications Available</h3>
                      </li>
                    <% end %>

                    <% if !unread_messages.empty? %>
                      <% unread_messages.each do |message| %>
                        <% question = Question.find(message.notifiable_id) %>
                        <li>
                          <%= link_to all_questions_path(quotation_request_part_id: question.quotation_request_part_id), :"data-turbolinks" => false do %>
                            <img src="<%= image_path('icon2.png')%>">Nuevo mensaje
                          <% end %>
                        </li>
                      <% end %>
                    <% end %>
                    <% end %>
                </ul>
              </li>
                <% if current_user.suppliers_users.pluck(:role).include?("Vendedor") %>
                <% else %>
            
                  <li class="border_none">
                    <%= link_to user_cart_path(), class: "notification-hover", :"data-turbolinks" => false, remote: true do %>
                      <img src="<%= image_path('bag-1.png')%>">
                    <% end %>
                  </li>
                <% end %>
                <li class="border_none">
                  <a href="javascript:void(0)">
                    <span class="right_border_style ">ayuda</span>
                  </a>
                </li>
                <li class="menu-sp"><a href="javascript:void(0)"><i class="fa fa-bars"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="notification-sections popups clearfix" id="notification">
            <%=render 'carts/cart'%>
          </div>
          <div class="inner-header-two">
            <div class="logo-head clearfix">
              <nav>
                <ul class="clearfix" id="nav">
                  <li>
                    <%= active_link_to dashboard_index_path, :"data-turbolinks" => false, active: :exclusive do %>
                      <font>
                        <i class="fa fa-pie-chart icons"></i>Dashboard
                      </font>
                      <%end%>
                  </li>
                  <% if current_user.suppliers_users.pluck(:role).include?("Vendedor")%>
                    <li>
                      <%= active_link_to private_api_suppliers_quotation_requests_path, active: :exclusive, :"data-turbolinks" => false do %>
                        <font>
                          Buscar pedidos
                        </font>
                      <% end %>
                    </li>
                    <li>
                      <%= active_link_to orders_path, class: 'link', :"data-turbolinks" => false, active: :exclusive do %>
                        <font>Ventas</font>
                      <% end %>
                    </li>
                    <li>
                      <%= active_link_to courier_jobs_path, class: 'link', :"data-turbolinks" => false, active: :exclusive do %>
                        <font>Trabajos de mensajería</font>
                      <% end %>
                    </li>
                    <li>
                      <%= active_link_to private_api_suppliers_quotations_path, class: 'link', :"data-turbolinks" => false, active: :exclusive do %>
                        <font>
                          <i class="fa fa-paper-plane icons"></i>Quotes
                        </font>
                      <% end %>
                    </li>
                  <% else %>
                    <li>
                      <%= active_link_to vehicles_path, class: 'link', active: :exclusive, :"data-turbolinks" => false do %>
                        <font>
                          <i class="fa fa-car icons"></i>Mis vehículos
                        </font>
                      <% end %>
                    </li>
                    <li>
                      <%= active_link_to private_api_quotation_requests_path, active: :exclusive, :"data-turbolinks" => false do %>
                        <font>
                          Mis Pedidos
                        </font>
                      <% end %>
                    </li>
                    <li>
                      <%= active_link_to orders_path, :"data-turbolinks"=> false do %>
                        <font>
                          Mis Compras
                        </font>
                      <% end %>
                    </li>
                    <!-- <li>
                      <%#= active_link_to my_shoppings_path, active: :exclusive, :"data-turbolinks" => false do %>
                          My Orders
                        <font>
                        </font>
                      <%#end%>
                    </li> -->
                    <li>
                      <%= active_link_to referral_links_path, :"data-turbolinks"=> false do %>
                        <font>
                          <i class="fa fa-users icons"></i>My Referrals
                        </font>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </header>
    </section>
    <!-- header menu block end-->
    <!-- content block start-->
    <section>
      <contents>
        <div class="full_box">
          <div class="full_box_in clearfix">
            <% if @button == 'new_quotation' %>
              <%= link_to new_private_api_quotation_request_path, class: "nw-btn ", :"data-turbolinks"=> false, :"data-remote"=> true, remote: true do %>
                <i class="fa fa-plus"></i> Nuevo pedido
              <% end %>
            <% elsif @button == 'my_vehicle' %>
              <%= link_to new_vehicle_path, class: "nw-btn ", :"data-turbolinks"=> false, :"data-remote"=> true, remote: true do %>
                <i class="fa fa-plus"></i> Agregar Auto
              <% end %>
            <% elsif @button == 'referral' %>
              <small class="doller-test">total crédito disponible</small>
              <a class="nw-btn doller-btn" type="button"  data-toggle="modal" data-target="#exampleModal">
                $<%= number_with_precision(@total_refer_amount, :precision => 2, :delimiter => '.', strip_insignificant_zeros: true)%>
              </a>
            <% end %>
          </div>  
        </div>
        <div id="main">
          <%= render "layouts/messages" %>
          <%= yield %>
        </div>
      </contents>
    </section>
    <!--content block end-->
    <section class="footer_fixed">
      <div class="button_body_down">
        <button id="display-hide" class="btn_footer_slide">Más información
        <i class="fa fa-angle-down footer-icon"></i></button>
      </div>
      <footer id="footer" class="">
        <div class="inner-footer clearfix my-footer">
          <div class="foot-box foot-logo">
            <a href="#"><img src="<%= image_path('new-logo.png')%>" alt="inparts"></a>
          </div>
          <div class="foot-box">
            <h3>ENLACES</h3>
            <ul class="foot-line-one">
              <li><a href="#">Acerca de nosotros</a></li>
              <li><a href="#">Cómo funciona</a></li>
              <li><a href="#">Proveedores</a></li>
              <li><a href="#">Contacto</a></li>
            </ul>
          </div>
          <div class="foot-box">
            <h3>CONTACTO</h3>
            <div class="contact-first clearfix">
              <i class="fa fa-phone footer-card__image__icon"></i>
              <p>
                <label>Teléfono:</label>
                +569 9 8505 1046
              </p>
            </div>
            <div class="contact-first clearfix">
              <i class="fa fa-envelope footer-card__image__icon"></i>
              <p>
                <label>Email:</label>
                icontacto@inparts.cl
              </p>
            </div>
          </div>
          <div class="foot-box">
            <h3>SÍGUENOS</h3>
            <ul class="social-icons clearfix">
              <li><a href="#"><img src="<%= image_path('icon_facebook.png') %>" alt="facebook"></a></li>
              <li><a href="#"><img src="<%= image_path('icon_twitter.png')%>" alt="twitter"></a></li>
              <li><a href="#"><img src="<%= image_path('icon_google.png') %>" alt="google"></a></li>
              <li><a href="#"><img src="<%= image_path('icon_instagram.png') %>" alt="instagram"></a></li>
            </ul>
            <a href="#"><img src="<%= image_path('icon_pay.png')%>" alt="img"></a><br>
            <a href="#" class="mat-05"><img src="<%= image_path('icon_cards.png')%>" alt="img"></a>
          </div>
        </div>
        <div class="foo-bottom">
          <div class="copyright">© 2018. TODOS LOS DERECHOS RESERVADOS.</div>
        </div>
      </footer>
    </section>
  </div>
</body>

<script type="text/javascript">
  $("#display-hide").click(function(){
    var ele = $(".my-footer")
    var i = $(".footer-icon");
    ele.slideToggle();
    $('html, body').animate({ scrollTop: $('.my-footer').offset().top }, 'slow');
    if (i.hasClass('fa fa-angle-down')) {
      i.removeClass("fa fa-angle-down");
      i.addClass("fa fa-angle-up");
    } else {
      i.removeClass("fa fa-angle-up");
      i.addClass("fa fa-angle-down");
    }
  });
  $('li.dropdown2').hover(function() {
    $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
  }, function() {
  $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
});
 
</script>
<script>

  $(".notification-hover").hover(function(){
    $('.notification-sections').show(500);
  })
  
  $('#notify').hover(function() {
    $('.popups').hide();
    $('#notify-drop-down').show(500);
  });

  $('#close_cart').click(function() {
    $('.popups').hide();
  });
  
  $(document).mouseup(function (e){
    var container = $(".notification-sections"); // YOUR CONTAINER SELECTOR
    if (!container.is(e.target) // if the target of the click isn't the container...
        && container.has(e.target).length === 0) // ... nor a descendant of the container
    {
      container.hide();
    }
  });

  $('#notify2').hover(function() {
    $('.popups').hide();
    $('#user_dropdown').show(500);
  });
  
  $(document).mouseup(function (e){
    var container = $(".notification-sections"); // YOUR CONTAINER SELECTOR
    if (!container.is(e.target) // if the target of the click isn't the container...
        && container.has(e.target).length === 0) // ... nor a descendant of the container
    {
      container.hide();
    }
  });


</script>

<script>
  function sendPush(){
    getKeys(false)
  }

  var vapidPublicKey = new Uint8Array(<%=Base64.urlsafe_decode64($vapid_public).bytes%>);
  function checkNotifs(obj){
     if (!("Notification" in window)) {                                             //1
          console.error("This browser does not support desktop notification");
        }
        // Let's check whether notification permissions have already been granted
        else if (Notification.permission === "granted") {                           //2
          console.log("Permission to receive notifications has been granted");
          getKeys()
        }
        // Otherwise, we need to ask the user for permission
        else if (Notification.permission !== 'denied') {                            //3
          Notification.requestPermission(function (permission) {                    
                // If the user accepts, let's create a notification
            if (permission === "granted") {                                         //4
              console.log("Permission to receive notifications has been granted");
              getKeys();
            } 
          });
       }
  }
  function getKeys(){
    navigator.serviceWorker.register('/serviceworker.js', {scope: './'})          //5
      .then(function(registration) {
        return registration.pushManager.getSubscription()
          .then(function(subscription) {
            if (subscription) {
              return subscription;
            }
            return registration.pushManager.subscribe({                           //6
              userVisibleOnly: true,
              applicationServerKey: vapidPublicKey
            });
          });
      }).then(function(subscription) {
          sendNo(subscription.toJSON())
      });
  }
  function sendNo(subscription){
  $.post('/sendNo', {
      subscription: subscription,
        message: 'You clicked a button!'
     });
  }
</script>

</html>

<style>
  .blank_notification{
    font-size: 13px;
    padding: 10px 5px;
    box-sizing: border-box;
    line-height: 20px;
  } 
</style>