<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inparts Chile</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'private', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="layout__header header">
      <div class="header__container">
        <%= link_to landing_index_path do %>
          <div class="header__brand">INPARTS</div>
        <% end %>
        <div class="header__menu">
          <div class="header__menu__item mobile-hidden dropdown" style="padding-right: 0px; margin-right: -36px !important; padding-right: 0px;">
            <%= link_to private_api_profile_show_path do %>
              <i class="fa fa-user"></i>
              <span class=""><%=current_user.name%></span>
            <% end %>
            |
          </div>
          <% if current_user.suppliers_users.pluck(:role).include?("Vendedor") %>
            <% unread_notifications = get_unread_notification("quotation_request") %>
            <div class="header__menu__item mobile-hidden dropdown" style="padding-right: 10px;">
              <a id="dLabel" role="button" class="btn-dual" data-toggle="dropdown" data-target="#" href="#">
              <i class="fa fa-bell"></i>
              <span class="badge badge-warning badge-pill"><%=unread_notifications.count%></span>
              </a>
              <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel" style="top: 18px;">
                <div class="notification-heading">
                  <h4 class="menu-title">Notifications</h4>
                </div>
                <li class="divider"></li>
                <div class="notifications-wrapper">
                  <% unread_notifications.each do |notification| %>
                    <%= link_to private_api_suppliers_quotation_request_path(notification.notifiable_id), class: "content" do %>
                      <div class="notification-item">
                        <h4 class="item-title"><%= time_tag notification.created_at %></h4>
                        <p class="item-info">You have one quotaion request!</p>
                      </div>
                    <% end %>
                  <% end %>  
                </div>
                <li class="divider"></li>
                <% if unread_notifications.count>0%>  
                  <div class="notification-footer">
                    <h4 class="menu-title">View all<i class="glyphicon glyphicon-circle-arrow-right"></i></h4>
                  </div>
                <% else %>
                  <div class="notification-footer">
                    <h4 class="menu-title">No notifications found!</h4>
                  </div>
                <% end %>
              </ul>
            </div>
            <div class="header__menu__item mobile-hidden" style="margin-left: -43px;">
              <% unread_messages = get_unread_messages("question") %>
              <div class="header__menu__item mobile-hidden dropdown" style="padding-right: 0px;">
                <a id="dLabel" role="button" class="btn-dual" data-toggle="dropdown" data-target="#" href="#">
                <i class="fa fa-envelope"></i>
                <span class="badge badge-warning badge-pill"><%=unread_messages.count%></span>
                </a>
                <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel" style="top: 18px;">
                  <div class="notification-heading">
                    <h4 class="menu-title">Notifications</h4>
                  </div>
                  <li class="divider"></li>
                  <div class="notifications-wrapper">
                    <% unread_messages.each do |message| %>
                      <%= link_to question_replies_path(message.notifiable_id), class: "content" do %>
                        <div class="notification-item">
                          <h4 class="item-title"><%= time_tag message.created_at %></h4>
                          <p class="item-info">You have one question regarding quotes!</p>
                        </div>
                      <% end %>
                    <% end %>  
                  </div>
                  <li class="divider"></li>
                  <% if unread_messages.count>0%>  
                    <div class="notification-footer">
                      <h4 class="menu-title">View all<i class="glyphicon glyphicon-circle-arrow-right"></i></h4>
                    </div>
                  <% else %>
                    <div class="notification-footer">
                      <h4 class="menu-title">No message found!</h4>
                    </div>
                  <% end %>
                </ul>
              </div>
              |
            </div>
          <% else %>
            <% unread_notifications = get_unread_notification("quote") %>
            <div class="header__menu__item mobile-hidden dropdown" style="padding-right: 10px;">
              <a id="dLabel" role="button" class="btn-dual" data-toggle="dropdown" data-target="#" href="#">
              <i class="fa fa-bell"></i>
              <span class="badge badge-warning badge-pill"><%=unread_notifications.count%></span>
              </a>
              <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel" style="top: 18px;">
                <div class="notification-heading">
                  <h4 class="menu-title">Notifications</h4>
                </div>
                <li class="divider"></li>
                <div class="notifications-wrapper">
                  <% unread_notifications.each do |notification| %>
                    <%= link_to private_api_quotation_path(notification.notifiable_id), class: "content" do %>
                      <div class="notification-item">
                        <h4 class="item-title"><%= time_tag notification.created_at %></h4>
                        <p class="item-info">You have got quote on your quotation request!</p>
                      </div>
                    <% end %>
                  <% end %>  
                </div>
                <li class="divider"></li>
                <% if unread_notifications.count>0%>  
                  <div class="notification-footer">
                    <h4 class="menu-title">View all<i class="glyphicon glyphicon-circle-arrow-right"></i></h4>
                  </div>
                <% else %>
                  <div class="notification-footer">
                    <h4 class="menu-title">No notifications found!</h4>
                  </div>
                <% end %>
              </ul>
            </div>
            <div class="header__menu__item mobile-hidden" style="margin-left: -43px;">
              <% unread_messages = get_unread_messages("answer") %>
              <div class="header__menu__item mobile-hidden dropdown" style="padding-right: 0px;">
                <a id="dLabel" role="button" class="btn-dual" data-toggle="dropdown" data-target="#" href="#">
                <i class="fa fa-envelope"></i>
                <span class="badge badge-warning badge-pill"><%=unread_messages.count%></span>
                </a>
                <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel" style="top: 18px;">
                  <div class="notification-heading">
                    <h4 class="menu-title">Notifications</h4>
                  </div>
                  <li class="divider"></li>
                  <div class="notifications-wrapper">
                    <% unread_messages.each do |message| %>
                      <% answer = Reply.find(message.notifiable_id) %>
                      <% question = Question.find(answer.question_id) %>
                      <%= link_to my_shopping_questions_path(question.quotation_part_id), class: "content" do %>
                        <div class="notification-item">
                          <h4 class="item-title"><%= time_tag message.created_at %></h4>
                          <p class="item-info">You have one reply to your question regarding quotes!</p>
                        </div>
                      <% end %>
                    <% end %>  
                  </div>
                  <li class="divider"></li>
                  <% if unread_messages.count>0%>  
                    <div class="notification-footer">
                      <h4 class="menu-title">View all<i class="glyphicon glyphicon-circle-arrow-right"></i></h4>
                    </div>
                  <% else %>
                    <div class="notification-footer">
                      <h4 class="menu-title">No message found!</h4>
                    </div>
                  <% end %>
                </ul>
              </div>
              |
            </div>
          <% end %>
          <div class="header__menu__item mobile-hidden" style="padding-top: 20px;padding-left: 10px;">
            <%= active_link_to destroy_user_session_path class: "header__menu__item__action" do%>
              <i class="anticon anticon-logout"></i> Salir
            <%end%>
          </div> 

          <div class="header__menu__item header__menu__item--mobile-only">
            <a class="header__menu__item__action"><i class="fa fa-bars"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="sidenav">
      <ul id="accordion" class="accordion">
        <li>
          <%= active_link_to dashboard_index_path, active: :exclusive, wrap_tag: :li, class: 'link active', :"data-turbolinks" => false do %>
            <i class="fa fa-pie-chart icons"></i>Dashboard
          <%end%>
        </li> 
        <% if current_user.suppliers_users.pluck(:role).include?("Vendedor")%>
          <li>
            <a href="javascript:void(0)" class="link link-drop"><i class="fa fa-shopping-cart icons"></i>Proveedor<i class="fa fa-chevron-down"></i></a>
            <ul class="submenu">
              <li>
                <%= active_link_to private_api_suppliers_quotation_requests_path, active: :exclusive, wrap_tag: :li, :"data-turbolinks" => false do %>
                  Buscar pedidos
                <% end %>
              </li>
              <!-- <li>
                <%#= link_to private_api_suppliers_brands_path do %>
                  Marcas
                <%# end %>
              </li> -->
            </ul>
          </li>
          <li>
            <%= link_to messages_path, class: 'link', :"data-turbolinks" => false do %>
              <i class="fa fa-envelope icons"></i>Messages
            <%end%>
          </li>
          <li>
            <%= link_to private_api_suppliers_quotations_path, class: 'link', :"data-turbolinks" => false do %>
              <i class="fa fa-paper-plane icons"></i>Quotes
            <%end%>
          </li>
        <%else%>
          <li>
            <%= active_link_to vehicles_path, class: 'link', active: :exclusive, wrap_tag: :li, :"data-turbolinks" => false do %>
              <i class="fa fa-car icons"></i>Mis vehículos
            <%end%>
          </li>
          <li>
            <a href="javascript:void(0)" class="link link-drop"><i class="fa fa-shopping-cart icons"></i>Cotizaciones<i class="fa fa-chevron-down"></i></a>
            <ul class="submenu">
              <li>
                <%= active_link_to private_api_quotation_requests_path, active: :exclusive, wrap_tag: :li, :"data-turbolinks" => false do %>
                Mis Pedidos
                <% end %>
              </li>
              <li>
                <%= link_to my_shoppings_path, active: :exclusive, wrap_tag: :li, :"data-turbolinks" => false do %>
                  Mis Compras
                <%end%>
              </li>
            </ul>
          </li>
        <%end%>
        <li>
          <a href="javascript:void(0)" class="link link-drop"><i class="fa fa-setting icons"></i>Configuración<i class="fa fa-chevron-down"></i></a>
          <ul class="submenu">
            <li>
              <%= link_to private_api_profile_show_path do %>
                Mi cuenta
              <% end %>
            </li>
            <li><a href="javascript:void(0)">Notificaciones</a></li>
            <li>
              <%= link_to referral_links_path do %>
                <i class="fa fa-users icons"></i>My Referrals
              <%end%>
            </li>
          </ul>
        </li>

      </ul>
    </div>
    <div class="layout">
      <div class="main">
        <div class="layout__body__content__screen">
          <div class="screen">
            <%if flash %>
              <% flash.each do |key, value| %>
                <% if key=='success' %>    
                  <div class="alert alert-success alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Success!</strong> <%=value%>.
                  </div>
                <% end %>
                <% if key=='error' %>    
                  <div class="alert alert-danger alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Error!</strong> <%=value%>.
                  </div>
                <% end %>  
              <% end %>
            <% end %>
           <%= yield %>
          </div>
        </div>
        <div class="layout__body__content__footer">
          <div class="ant-row">
            <div class="ant-col-12">Términos y condiciones • Políticas de privacidad • Ayuda</div>
            <div class="ant-col-12 text-right">Desarrollado por <a href="http://www.requies.cl" target="_blank">Requies SpA</a></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>