<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inparts Chile</title>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KGFX9SJ');</script>
  <!-- End Google Tag Manager -->
  <link rel="manifest" href="/manifest.json" />
  <meta name="apple-mobile-web-app-capable" content="yes"></head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'public', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%if Rails.env.production?%>
    <%= analytics_init if GoogleAnalytics.valid_tracker? %>
  <%end%>
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KGFX9SJ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div id="wrapper" class="wrapper">
    <%if (params["controller"] != "public/sessions") &&  (params["controller"] != "public/registrations") && (params["controller"] != "public/passwords")%>
      <div class="wrapper__header">
        <%= render "layouts/public/preheader" %>
        <%= render "layouts/public/header" %>
      </div>
    <%end%>
    <div class="wrapper__content">
      <%= render "layouts/messages" %>
      <%= yield %>
    </div>
    <%if (params["controller"] != "public/sessions") &&  (params["controller"] != "public/registrations") && (params["controller"] != "public/passwords")%>
      <div class="wrapper__footer">
        <%= render "layouts/public/footer" %>
      </div>
    <%end%>
  </div>
</body>

<script>

  function sendPush(){
    getKeys(false)
  }

  var vapidPublicKey = new Uint8Array(<%=Base64.urlsafe_decode64($vapid_public).bytes%>);
  function checkNotifs(obj){
     if (!("Notification" in window)) {                                             //1
          console.error("This browser does not support desktop notification");
        }
        // Let's check whether notification permissions have already been granted
        else if (Notification.permission === "granted") {                           //2
          console.log("Permission to receive notifications has been granted");
          getKeys()
        }
        // Otherwise, we need to ask the user for permission
        else if (Notification.permission !== 'denied') {                            //3
          Notification.requestPermission(function (permission) {                    
                // If the user accepts, let's create a notification
            if (permission === "granted") {                                         //4
              console.log("Permission to receive notifications has been granted");
              getKeys();
            } 
          });
       }
  }
  function getKeys(){
    navigator.serviceWorker.register('/serviceworker.js', {scope: './'})          //5
      .then(function(registration) {
        return registration.pushManager.getSubscription()
          .then(function(subscription) {
            if (subscription) {
              return subscription;
            }
            return registration.pushManager.subscribe({                           //6
              userVisibleOnly: true,
              applicationServerKey: vapidPublicKey
            });
          });
      }).then(function(subscription) {
          sendNo(subscription.toJSON())
      });
  }
  function sendNo(subscription){
  $.post('/sendNo', {
      subscription: subscription,
        message: 'You clicked a button!'
     });
  }
</script>
</html>